<div id="persons-help" class="help-content">
	<div class="dialog-title hidden">Persons and visa support</div>
	<p>
		If visa support is specified in registration form, please, fill in all 
		fields using <img src="/img/add24_green.gif" width="24" height="24" alt="Add/edit info" /> button or upload 
		a copy of passport using <img src="/img/upload24.gif" width="24" height="24" alt="Upload" /> button.
	</p>
	<br />
	<p>
		If visa support was not specified in registration form but you need it, 
		please, contact us ("Contact us" inlay) and fill in all fields using 
		<img src="/img/add24_green.gif" width="24" height="24" alt="Add/edit info" /> 
		button or upload a copy of passport using 
		<img src="/img/upload24.gif" width="24" height="24" alt="Upload" />  button.
	</p>
	<p>
		If you need to cancel all services ordered for a particular person, please, click 
		<img src="/img/delete24.gif" width="24" height="24" alt="Cancel" /> button.
	</p>
	<br />
	<p>
		If you have any questions, please, feel free to contact us at "Contact us" inlay.
	</p>
</div>