<?php $this->headTitle('Persons and Visa support'); ?>
<?php $this->inlineScript()->captureStart(); ?>
	$(window).load(function(){ ppc.persons.init(); });
<?php $this->inlineScript()->captureEnd(); ?>
<div id="ppc-persons">
	<?php echo $this->render('/persons/'.$this->lang.'/persons-visa-help.phtml'); ?>
	<div id="person-delete-dialog" class="ppc-modal-dialog">
		<?php echo $this->translate('Your request is accepted. It will be processed soon.'); ?>
	</div>
	<h2 class="center-block-header">
		<?php echo $this->translate('Personal information for visa support'); ?>
		<span class="info-link link" title="<?php echo $this->translate('Click here to receive information'); ?>" onclick="showInfo('persons');">
			<img src="/img/info32.gif" alt="<?php echo $this->translate('Click here to receive information'); ?>" />
		</span>
	</h2>
	<div class="persons-list-actions clearfix">
		<span title="Add new person" id="person-add-link" class="add-link-green-32 link"><?php echo $this->translate('Add new person'); ?></span>
	</div>
	<div id="person-doc-template" class="hidden">
		<div id="person-doc#docId" class="person-doc clearfix">
			<div class="person-doc-link">
				<span class="person-doc-file-name">#docName</span>
			</div>
			<span title="Delete file" class="person-doc-delete-link delete-link-16 link"></span>
			<div class="person-doc-date-text">(<?php echo $this->translate('Uploaded'); ?> #docDate)</div>
		</div>
	</div>	
	<div class="persons-list">
		<table id="persons-list-table" class="ppc-base-table">
			<thead>
				<tr>
					<th><?php echo $this->translate('First name'); ?></th>
					<th><?php echo $this->translate('Last name'); ?></th>
					<th<?php if ($this->personTypeCh == 0) echo ' class="hidden"'; ?>><?php echo $this->translate('Form of Attendance'); ?></th>
					<th><?php echo $this->translate('Birthday'); ?></th>
					<th><?php echo $this->translate('Citizenship'); ?></th>
					<th><?php echo $this->translate('Passport №'); ?></th>
					<th><?php echo $this->translate('Passport expired date'); ?></th>
					<?php if (!$this->visaDisabled) : ?>
						<th><?php echo $this->translate('Passport scanned copies'); ?></th>
					<?php endif; ?>
					<th><?php echo $this->translate('Personal info'); ?></th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($this->personsList as $person) : ?>
					<tr id="person-list-line<?php echo $person['id']; ?>" class="person-list-line">
						<td class="persons-list-fname"><?php echo $person['fname']; ?></td>
						<td class="persons-list-lname"><?php echo $person['lname']; ?></td>
						<td class="persons-list-pers-type<?php if ($this->personTypeCh == 0) echo ' hidden'; ?>"><?php echo $person['personTypeName']; ?></td>
						<td class="persons-list-birthday">
							<?php if (trim($person['birthday'])!='') : ?>
								<?php echo Welt_Functions::dateFromMysql($person['birthday']); ?>
							<?php endif; ?>
						</td>
						<td class="persons-list-citizenship">
							<span class="citizenship-name"><?php echo $person['citizenship']; ?></span>
							<span class="citizenship-id hidden"><?php echo $person['citizenship_id']; ?></span>
						</td>
						<td class="persons-list-passport"><?php echo $person['passport_number']; ?></td>
						<td class="persons-list-pasp-exp-date">
							<?php if (trim($person['passport_exp_date'])!='') : ?>
								<?php echo Welt_Functions::dateFromMysql($person['passport_exp_date']); ?>
							<?php endif; ?>
						</td>
						<?php if (!$this->visaDisabled) : ?>
						<td class="persons-list-docs">
							<div id="person-docs<?php echo $person['id']; ?>" class="person-docs">
								<?php if(is_array($person['docs']) && sizeof($person['docs'])>0) : ?>
									<?php foreach($person['docs'] as $doc) : ?>
										<div id="person-doc<?php echo $doc['id'];?>" class="person-doc clearfix">
											<div class="person-doc-link">
												<span class="person-doc-file-name"><?php echo $doc['id'].'.'.$doc['extension']; ?></span>
											</div>
											<span title="<?php echo $this->translate('Delete file'); ?>" class="person-doc-delete-link delete-link-16 link"></span>
											<div class="person-doc-date-text">(<?php echo $this->translate('Uploaded'); ?> <?php echo Welt_Functions::dateFromMysql($doc['upload_date'],1); ?> )</div>
										</div>
									<?php endforeach; ?>
								<?php endif; ?>
							</div>
							<span class="person-visa-flag hidden"><?php echo $person['visa']; ?></span>
							<?php if ($person['visa']==1) : ?>
								<div class="uploader-link-block-outer">
									<div id="persons-docs-loader<?php echo $person['id']; ?>" class="persons-docs-loader ajax-loader-small">
										<div class="ajax-loader-small-content">
											<?php echo $this->translate('Saving data');?>&nbsp;<img src="/img/loader_s.gif" />
										</div>
									</div>
									<div id="uploader-link-block-inner<?php echo $person['id']; ?>" class="uploader-link-block-inner">
										<span id="docs-uploader<?php echo $person['id']; ?>" class="upload-link-32 link person-docs-uploader" title="<?php echo $this->translate('Upload file'); ?>"><?php echo $this->translate('Upload file'); ?></span>
									</div>
								</div>
							<?php endif; ?>
						</td>
						<?php endif; ?>
						<td class="pcc-base-table-actions">
							<span title="<?php echo $this->translate('Add/edit personal info'); ?>" class="link add-link-green-32 person-edit-link" id="person-edit-link<?php echo $person['id']; ?>"></span>
						</td>
						<td class="pcc-base-table-actions">
							<span title="<?php echo $this->translate('Delete person'); ?>" class="link delete-link-32 person-delete-link" id="person-delete-link<?php echo $person['id']; ?>"></span>
						</td>
					</tr>
				<?php endforeach; ?>
			</tbody>
		</table>
	</div>
</div>
<?php $this->placeholder('modal')->captureStart(); ?>
	<div id="persons-form-container" class="main-form modal">
		<form name="persons-form" id="persons-form" method="get" action="">
			<input type="hidden" name="person-id" id="person-id" />
			<div class="main-form-block">
				<div class="main-form-block-header">
					<h2></h2>
				</div>
				<div class="block-body-outer">
					<div class="block-body-inner">
						<div class="main-form-block-line">
							<label for="person-fname"><?php echo $this->translate('First name'); ?>: <span class="required">*</span>:</label>
							<input type="text" id="person-fname" class="main-form-input-text" name="person-fname" />
						</div>
						<div class="main-form-block-line">
							<label for="person-lname"><?php echo $this->translate('Last name'); ?>: <span class="required">*</span></label>
							<input type="text" id="person-lname" class="main-form-input-text" name="person-lname" />
						</div>
						<div class="main-form-block-line">
							<label for="person-citizenship"><?php echo $this->translate('Select citizenship'); ?>:</label>
							<select id="person-citizenship" class="main-form-select" name="person-citizenship">
								<option value="">&lt;<?php echo $this->translate('Select citizenship'); ?>&gt;</option>
								<?php foreach($this->countriesList as $country) : ?>
									<option value="<?php echo $country['id']; ?>"><?php echo $country['name']; ?></option>
								<?php endforeach; ?>
							</select>	
						</div>
						<div class="clearer"></div>
						<div id="person-citizenship-spec-line" class="main-form-block-line hidden">
							<label for="person-citizenship-spec">&nbsp;</label>
							<input type="text" id="person-citizenship-spec" class="main-form-input-text" name="person-citizenship-spec" />
						</div>
						<div class="clearer"></div>
						<div class="main-form-block-line">
							<label for="person-birthday"><?php echo $this->translate('Birthday'); ?>:</label>
							<input type="text" id="person-birthday" class="main-form-input-text datepicker" name="person-birthday" />
						</div>
						<div class="clearer"></div>
						<div id="person-type-line" class="main-form-block-line<?php if ($this->personTypeCh == 0) echo ' hidden'; ?>">
							<label for="person-type"><?php echo $this->translate('Person type'); ?> <span class="required">*</span>:</label>
							<select id="person-type" class="main-form-select" name="person-type">
								<?php foreach($this->personsTypes as $type) : ?>
									<option value="<?php echo $type['id']; ?>"><?php echo $type['name']; ?></option>
								<?php endforeach; ?>
							</select>	
						</div>
						<div class="main-form-block-line">
							<label for="person-passport"><?php echo $this->translate('Passport №'); ?>:</label>
							<input type="text" id="person-passport" class="main-form-input-text" name="person-passport" />
						</div>
						<div class="main-form-block-line">
							<label for="person-passport-exp-date"><?php echo $this->translate('Passport expired date'); ?>:</label>
							<input type="text" id="person-passport-exp-date" class="main-form-input-text  datepicker" name="person-passport-exp-date" />
						</div>
					</div>
				</div>
			</div>
		</form>
		<div id="persons-form-links" class="main-form-links-outer">
			<div id="persons-form-links-inner" class="main-form-links-inner clearfix">
				<span class="form-clear-link link" title="<?php echo $this->translate('Clear form'); ?>"><?php echo $this->translate('Clear'); ?></span>
				<span class="form-add-link hidden-imp link" title="<?php echo $this->translate('Add person'); ?>"><?php echo $this->translate('Add'); ?></span>
				<span class="form-save-link hidden-imp link" title="<?php echo $this->translate('Save data'); ?>"><?php echo $this->translate('Save'); ?></span>
				<span class="form-cancel-link main-form-link-last link" title="<?php echo $this->translate('Cancel'); ?>"><?php echo $this->translate('Cancel'); ?></span>
			</div>
			<div id="persons-loader" class="ajax-loader-small">
				<div class="ajax-loader-small-content">
					<?php echo $this->translate('Saving data'); ?>&nbsp;<img src="/img/loader_s.gif" />
				</div>
			</div>
		</div>	
	</div>
<?php $this->placeholder('modal')->captureEnd() ?>