<tr id="person-list-line<?php echo $this->person['id']; ?>" class="person-list-line">
	<td class="persons-list-fname"><?php echo $this->person['fname']; ?></td>
	<td class="persons-list-lname"><?php echo $this->person['lname']; ?></td>
	<td class="persons-list-pers-type<?php if ($this->personTypeCh == 0) echo ' hidden'; ?>"><?php echo $this->person['personTypeName']; ?></td>
	<td class="persons-list-birthday">
		<?php if (trim($this->person['birthday'])!='') : ?>
			<?php echo Welt_Functions::dateFromMysql($this->person['birthday']); ?>
		<?php endif; ?>
	</td>
	<td class="persons-list-citizenship">
		<span class="citizenship-name"><?php echo $this->person['citizenship']; ?></span>
		<span class="citizenship-id hidden"><?php echo $this->person['citizenship_id']; ?></span>
	</td>
	<td class="persons-list-passport"><?php echo $this->person['passport_number']; ?></td>
	<td class="persons-list-pasp-exp-date">
		<?php if (trim($this->person['passport_exp_date'])!='') : ?>
			<?php echo Welt_Functions::dateFromMysql($this->person['passport_exp_date']); ?>
		<?php endif; ?>
	</td>
	<?php if (!$this->visaDisabled) : ?>
	<td class="persons-list-docs">
			<div id="person-docs<?php echo $this->person['id']; ?>" class="person-docs">
				<?php if(isset($this->person['docs'])) : ?>
				<?php if(is_array($this->person['docs']) && sizeof($this->person['docs'])>0) : ?>
					<?php foreach($this->person['docs'] as $doc) : ?>
						<div id="person-doc<?php echo $doc['id'];?>" class="person-doc clearfix">
							<div class="person-doc-link">
								<span class="person-doc-file-name"><?php echo $doc['id'].'.'.$doc['extension']; ?></span>
							</div>
							<span title="<?php echo $this->translate('Delete file'); ?>" class="person-doc-delete-link delete-link-16 link"></span>
							<div class="person-doc-date-text">(<?php echo $this->translate('Uploaded'); ?> <?php echo Welt_Functions::dateFromMysql($doc['upload_date'],1); ?> )</div>
						</div>
					<?php endforeach; ?>
				<?php endif; ?>
				<?php endif; ?>
			</div>
			<?php if ($this->person['visa']==1) : ?>
				<div class="uploader-link-block-outer">
					<div id="persons-docs-loader<?php echo $this->person['id']; ?>" class="persons-docs-loader ajax-loader-small">
						<div class="ajax-loader-small-content">
							<?php echo $this->translate('Saving data'); ?>&nbsp;<img src="/img/loader_s.gif" />
						</div>
					</div>
					<div id="uploader-link-block-inner<?php echo $this->person['id']; ?>" class="uploader-link-block-inner">
						<span id="docs-uploader<?php echo $this->person['id']; ?>" class="upload-link-32 link person-docs-uploader" title="<?php echo $this->translate('Upload file'); ?>"><?php echo $this->translate('Upload file'); ?></span>
					</div>
				</div>
			<?php endif; ?>
		</td>
		<?php endif; ?>
		<td class="pcc-base-table-actions">
			<span title="<?php echo $this->translate('Add/edit personal info'); ?>" class="link add-link-green-32 person-edit-link" id="person-edit-link<?php echo $this->person['id']; ?>"></span>	
		</td>
		<td class="pcc-base-table-actions">
			<span title="<?php echo $this->translate('Delete person'); ?>" class="link delete-link-32 person-delete-link" id="person-delete-link<?php echo $this->person['id']; ?>"></span>
		</td>	
</tr>