<div>
	<p>Dear <b><?php echo $this->fio ?></b>!</p>
	<p>
		Your requested password recovery for Personal Participant Cabinet.
	</p>
	<p>
		<b>Your email:</b>&nbsp;&nbsp;<?php echo $this->email ?><br />
		<b>Your password:</b>&nbsp;&nbsp;<?php echo $this->password ?>
	</p>
	<p>
		<a href="<?php echo Zend_Registry::get('settings')->system->path; ?>ppc">
			<?php echo Zend_Registry::get('settings')->system->path;?>ppc
		</a>
	</p>
	<?php echo $this->render('footer.phtml'); ?>
</div>