<application id="<?php echo $this->data['id'];?>">
 	<application_info>
    <!--Добавлено поле status -->
    <status><?php echo $this->data['status'];?></status>
    <!--Добавлено поле summ -->
    <summ><?php echo $this->data['summ']; ?></summ>
     <!--Добавлено поле is_paid: признак полной оплаченности заявки (0-не оплачена полностью, 1-полностью оплачена)  -->
    <is_paid><?php echo $this->data['is_paid']; ?></is_paid>
     <!--Добавлено поле paid_summ: оплаченная клиентом сумма  -->
    <paid_summ><?php echo $this->data['paid_summ']; ?></paid_summ>
		<created><?php echo $this->data['created'];?></created>
		<!--Добавлено поле updated:дата последнего обновления записи (формат mysql timestamp) -->
		<updated><?php echo $this->data['user']['updated']; ?></updated>
 	</application_info>
 	<user id="<?php echo $this->data['user']['id'];?>">
 		<email><?php echo $this->data['user']['email'];?></email>
		<password><?php echo $this->data['user']['password'];?></password>
		<keystring><?php echo $this->data['user']['keystring'];?></keystring>
		<fname><?php echo Welt_Functions::xmlTextNodeEscape($this->data['user']['fname']);?></fname>
		<lname><?php echo Welt_Functions::xmlTextNodeEscape($this->data['user']['lname']);?></lname>
		<title><?php echo $this->data['user']['title'];?></title>
		<company><?php echo Welt_Functions::xmlTextNodeEscape($this->data['user']['company']);?></company>
		<!--Добавлено поле company_address вместо address - адрес компании --> 
		<company_address><?php echo Welt_Functions::xmlTextNodeEscape($this->data['user']['address']);?></company_address>
		<phone><?php echo Welt_Functions::xmlTextNodeEscape($this->data['user']['phone']);?></phone>
		<fax><?php echo Welt_Functions::xmlTextNodeEscape($this->data['user']['fax']);?></fax>
		<!--Добавлено поле payment: приходит в виде числа, расшифровку см. в справочнике "Способы оплаты" --> 
		<payment><?php echo $this->data['user']['payment']; ?></payment>
		<!--Добавлено поле browser -->
		<browser><?php echo Welt_Functions::xmlTextNodeEscape($this->data['user']['browser']); ?></browser>
		<!--Добавлено поле ip -->
		<ip><?php echo Welt_Functions::xmlTextNodeEscape($this->data['user']['ip']); ?></ip>
		<!--ВАЖНО: Добавлено поле lang - язык, на котором была заполнена заявка, расшифровку см. в справочнике "Языки" -->
		<lang><?php echo $this->data['user']['lang']; ?></lang>
		<!--Добавлено поле pdn_delete_request: поставил ли участник галочку "Прошу удалить мои персональные данные после завершения мероприятия" -->
		<pdn_delete_request><?php echo $this->data['user']['pdn_delete_request']; ?></pdn_delete_request>
		<!--Добавлено поле updated:дата последнего обновления записи (формат mysql timestamp) -->
		<updated><?php echo $this->data['user']['updated']; ?></updated>
		<created><?php echo $this->data['user']['created'];?></created>
 	</user>
	<persons>
		<?php foreach ($this->data['persons'] as $person) : ?>
			<person id="<?php echo $person['id'];?>">
         <!--Добавлено поле status -->
        <status><?php echo $person['status'];?></status>
				<!-- Список форм участия в справочнике "Формы участия" -->
				<type id="<?php echo $person['person_type_id'];?>"><?php echo Welt_Functions::xmlTextNodeEscape($person['personTypeName']);?></type>
				<name><?php echo Welt_Functions::xmlTextNodeEscape($person['name']);?></name>
				<sex><?php echo $person['sex'];?></sex>
				<created><?php echo $person['created'];?></created>
				<!--Добавлено поле updated:дата последнего обновления записи (формат mysql timestamp) -->
        		<updated><?php echo $person['updated']; ?></updated>
				<!-- Далее идёт ряд добавленных новых полей. При регистрации они будут пустыми. Могут заполняться участником в ЛК. -->
				<!--Добавлено поле birthday: дата роджения (формат mysql date) -->
				<birthday><?php echo Welt_Functions::xmlTextNodeEscape($person['birthday']);?></birthday>
				<!--Добавлено поле citizenship: гражданство (текст в зависимости от языка)-->
				<citizenship><?php echo Welt_Functions::xmlTextNodeEscape($person['citizenship']);?></citizenship>
				<!--Добавлено поле country: страна, от которой едет участник (текст в зависимости от языка) -->
				<country><?php echo Welt_Functions::xmlTextNodeEscape($person['country']);?></country>
				<!--Добавлено поле passport_number: номер паспорта -->
				<passport_number><?php echo Welt_Functions::xmlTextNodeEscape($person['passport_number']);?></passport_number>
				<!--Добавлено поле passport_exp_date: номер паспорта -->
				<passport_exp_date><?php echo Welt_Functions::xmlTextNodeEscape($person['passport_exp_date']);?></passport_exp_date>
			</person>
		<?php endforeach; ?>
	</persons>
	<services>
		<reg_fee_orders>
			<?php if (is_array($this->data['services']['reg_fee']) && sizeof($this->data['services']['reg_fee'])>0) : ?>
			<?php foreach ($this->data['services']['reg_fee'] as $service) : ?>
				<service id="<?php echo $service['id'];?>">
          <!--Добавлено поле status -->
          <status><?php echo $service['status'];?></status>
					<order_date><?php echo $service['order_date']; ?></order_date>
					<reg_fee_name id="<?php echo $service['reg_fee_type_id'];?>"><?php echo $service['regFeeTypeName']; ?></reg_fee_name>
					<persons>
						<?php foreach($service['persons'] as $person) : ?>
							<person id="<?php echo $person['id'];?>"><?php echo Welt_Functions::xmlTextNodeEscape($person['name']);?></person>
						<?php endforeach;?>
					</persons>
					<!--Добавлено поле updated:дата последнего обновления записи (формат mysql timestamp) -->
          <updated><?php echo $service['updated']; ?></updated>
          <!--Добавлено поле summ -->
          <summ><?php echo $service['summ']; ?></summ>
				</service>
			<?php endforeach;?>
			<?php endif; ?>
		</reg_fee_orders>
		<visa_orders>
			<?php if (is_array($this->data['services']['visa']) && sizeof($this->data['services']['visa'])>0) : ?>
			<?php foreach ($this->data['services']['visa'] as $service) : ?>
				<service id="<?php echo $service['id'];?>">
          <!--Добавлено поле status -->
          <status><?php echo $service['status'];?></status>
					<order_date><?php echo $service['order_date']; ?></order_date>
					<visa_type_id><?php echo $service['visa_type_id']; ?></visa_type_id>
					<summ><?php echo $service['summ']; ?></summ>
					<persons>
						<?php foreach($service['persons'] as $person) : ?>
							<person id="<?php echo $person['id'];?>"><?php echo Welt_Functions::xmlTextNodeEscape($person['name']);?></person>
						<?php endforeach;?>
					</persons>
					<!--Добавлено поле updated:дата последнего обновления записи (формат mysql timestamp) -->
					<updated><?php echo $service['updated']; ?></updated>
				</service>
			<?php endforeach;?>
			<?php endif; ?>
		</visa_orders>
		<hotel_orders>
			<?php if (is_array($this->data['services']['hotel']) && sizeof($this->data['services']['visa'])>0) : ?>
			<?php foreach ($this->data['services']['hotel'] as $service) : ?>
				<service id="<?php echo $service['id'];?>">
          <!--Добавлено поле status -->
          <status><?php echo $service['status'];?></status>
					<order_date><?php echo $service['order_date']; ?></order_date>
					<hotel id="<?php echo $service['hotel_id']; ?>"><?php echo $service['hotelName']; ?></hotel>
					<room id="<?php echo $service['room_id']; ?>"><?php echo $service['roomName']; ?></room>
					<accommodation><?php echo $service['accommodation']; ?></accommodation>
					<breakfast><?php echo $service['breakfast']; ?></breakfast>
					<extra_bed><?php echo $service['extraBed']; ?></extra_bed>
					<is_extra_bed><?php echo $service['is_extra_bed']; ?></is_extra_bed>
					<bed_type><?php echo $service['bedType']; ?></bed_type>
					<start_date><?php echo $service['start_date']; ?></start_date>
					<end_date><?php echo $service['end_date']; ?></end_date>
					<summ><?php echo $service['summ']; ?></summ>
					<comment><?php echo Welt_Functions::xmlTextNodeEscape($service['comment']); ?></comment>
					<persons>
						<?php foreach($service['persons'] as $person) : ?>
							<person id="<?php echo $person['id'];?>"><?php echo Welt_Functions::xmlTextNodeEscape($person['name']);?></person>
						<?php endforeach;?>
					</persons>
					<!--Добавлено поле updated:дата последнего обновления записи (формат mysql timestamp) -->
					<updated><?php echo $service['updated']; ?></updated>
				</service>
			<?php endforeach;?>
			<?php endif; ?>
		</hotel_orders>
		<transport_orders>
			<?php if (is_array($this->data['services']['transport']) && sizeof($this->data['services']['transport'])>0) : ?>
			<?php foreach ($this->data['services']['transport'] as $service) : ?>
				<service id="<?php echo $service['id'];?>">
          <!--Добавлено поле status -->
          <status><?php echo $service['status'];?></status>
					<order_date><?php echo $service['order_date']; ?></order_date>
					<transp_type id="<?php echo $service['transp_type_id']; ?>"><?php echo $service['transpTypeName']; ?></transp_type>
					<transp_service id="<?php echo $service['transp_service_id']; ?>"><?php echo $service['transpServiceName']; ?></transp_service>
					<date><?php echo $service['date']; ?></date>
					<time><?php echo Welt_Functions::xmlTextNodeEscape($service['time']); ?></time>
					<station><?php echo Welt_Functions::xmlTextNodeEscape($service['station']); ?></station>
					<number><?php echo Welt_Functions::xmlTextNodeEscape($service['number']); ?></number>
					<train_car><?php echo Welt_Functions::xmlTextNodeEscape($service['train_car']); ?></train_car>
					<summ><?php echo $service['summ']; ?></summ>
					<comment><?php echo Welt_Functions::xmlTextNodeEscape($service['comment']); ?></comment>
					<persons>
						<?php foreach($service['persons'] as $person) : ?>
							<person id="<?php echo $person['id'];?>"><?php echo Welt_Functions::xmlTextNodeEscape($person['name']);?></person>
						<?php endforeach;?>
					</persons>
					<!--Добавлено поле updated:дата последнего обновления записи (формат mysql timestamp) -->
					<updated><?php echo $service['updated']; ?></updated>
				</service>
			<?php endforeach;?>
			<?php endif; ?>
		</transport_orders>
		<excursion_orders>
			<?php if (is_array($this->data['services']['excursion']) && sizeof($this->data['services']['excursion'])>0) : ?>
			<?php foreach ($this->data['services']['excursion'] as $service) : ?>
				<service id="<?php echo $service['id'];?>">
          <!--Добавлено поле status -->
          <status><?php echo $service['status'];?></status>
					<order_date><?php echo $service['order_date']; ?></order_date>
					<excursion id="<?php echo $service['excursion_id']; ?>"><?php echo $service['name']; ?></excursion>
					<start_date><?php echo $service['start_date']; ?></start_date>
					<end_date><?php echo $service['end_date']; ?></end_date>
					<!-- Убраны поля accommodation, extra_bed, bed_type -->
					<summ><?php echo $service['summ']; ?></summ>
					<comment><?php echo Welt_Functions::xmlTextNodeEscape($service['comment']); ?></comment>
					<persons>
						<?php foreach($service['persons'] as $person) : ?>
							<person id="<?php echo $person['id'];?>"><?php echo Welt_Functions::xmlTextNodeEscape($person['name']);?></person>
						<?php endforeach;?>
					</persons>
					<!--Добавлено поле updated:дата последнего обновления записи (формат mysql timestamp) -->
					<updated><?php echo $service['updated']; ?></updated>
				</service>
			<?php endforeach;?>
			<?php endif; ?>
		</excursion_orders>
		<meal_orders>
			<?php if (is_array($this->data['services']['meal']) && sizeof($this->data['services']['meal'])>0) : ?>
			<?php foreach ($this->data['services']['meal'] as $service) : ?>
				<service id="<?php echo $service['id'];?>">
          <!--Добавлено поле status -->
          <status><?php echo $service['status'];?></status>
					<order_date><?php echo $service['order_date']; ?></order_date>
					<meal id="<?php echo $service['meal_id'];?>"><?php echo $service['mealName'];?></meal>
					<meal_type id="<?php echo $service['meal_type_id'];?>"><?php echo $service['mealTypeName'];?></meal_type>
					<persons>
						<?php foreach($service['persons'] as $person) : ?>
							<person id="<?php echo $person['id'];?>"><?php echo Welt_Functions::xmlTextNodeEscape($person['name']);?></person>
						<?php endforeach;?>
					</persons>
					<!--Добавлено поле updated:дата последнего обновления записи (формат mysql timestamp) -->
					<updated><?php echo $service['updated']; ?></updated>
				</service>
			<?php endforeach;?>
			<?php endif; ?>
		</meal_orders>
	</services>
</application>