<h2>Registration for the event finished</h2>
<p> 
	Registration for the event "<?php echo $this->eventParams->eventNameLng; ?>" finished. 
	Event Period: <?php echo $this->eventParams['event_sdate']; ?> - <?php echo $this->eventParams['event_edate']; ?>.
</p>
<br />
<p>
	If you have any questions please write to us: <a href="mailto:<?php echo $this->eventParams['coord_email'].'?subject='.$this->eventParams->eventNameLng; ?>"><?php echo $this->eventParams['coord_email']; ?></a>.
</p>
