<p>
	Gracias por completar el formulario electrónico de pedido! Inmediatamente recibirás un correo electrónico con un enlace a Su cuenta Personal, así como la Confirmación de la reserva de habitaciones en el hotel.
</p>
<br />
<p>
	<span class="bolder">
		La confirmación de los servicios adicionales Le llegará en un plazo de 24 horas (excepto fines de semana y días festivos).
	</span>
</p>
<br />
<p>
	Los especialistas de la Paxport Corporate harán todo lo posible para que Usted quede satisfecho con el servicio!
</p>