<?php echo $this->headTitle('#login_form_header'); ?>
<?php echo $this->errorMessages(); ?>
<div class="auth-form-outer">
	<?php //Если тип регистрации - предварительная, отображаем приветствие ?>
	<?php if ($this->settings->reg->type == 1) : ?>
		<div id="auth-form-into-text">
			<?php echo $this->render('/user/'.$this->lang.'/introduce.phtml'); ?>
		</div>	
	<?php endif; ?>
	<div class="auth-form-inner login-form-inner">
		<?php if($this->langSwLogin) : ?>
			<div id="auth-form-lang">
				<?php if ($this->lang == 'en') : ?>
					<a href="<?php echo $this->myBaseUrl(); ?>syslang/ru/">Русская версия</a>
				<?php else : ?>
					<a href="<?php echo $this->myBaseUrl(); ?>syslang/en/">English version</a>
				<?php endif; ?>
			</div>
		<?php endif; ?>
		<h2><?php echo $this->translate('#login_form_header'); ?></h2>
		<?php echo $this->loginForm; ?>
	</div>
</div>