<?php $this->headTitle('Profile'); ?>
<?php $this->inlineScript()->captureStart(); ?>
	$(window).load(function(){ ppc.user.profile.init(); });
<?php $this->inlineScript()->captureEnd(); ?>
<div id="user-profile">
	<h2 class="center-block-header"><?php echo $this->translate('Profile'); ?></h2>
	<div id="user-profile-details" class="center-block-bordered-content">
		<span id="user-profile-edit" class="edit-link-48 link" title="<?php echo $this->translate('Profile edit'); ?>"></span>
		<table id="user-profile-details-table">
			<tr>
				<td class="detail-name">Email:</td>
				<td class="detail-value"><?php echo $this->userDetails['email']; ?></td>
			</tr>
			<tr>
				<td class="detail-name"><?php echo $this->translate('First name'); ?>:</td>
				<td class="detail-value detail-value-editable" id="profile-details-fname"><?php echo $this->userDetails['fname']; ?></td>
			</tr>
			<tr>
				<td class="detail-name"><?php echo $this->translate('Last name'); ?>:</td>
				<td class="detail-value detail-value-editable" id="profile-details-lname"><?php echo $this->userDetails['lname']; ?></td>
			</tr>
			<tr>
				<td class="detail-name"><?php echo $this->translate('Phone'); ?>:</td>
				<td class="detail-value detail-value-editable" id="profile-details-phone"><?php echo $this->userDetails['phone']; ?></td>
			</tr>
			<? if ($this->lang == 'en') : ?>
				<tr>
					<td class="detail-name"><?php echo $this->translate('Title'); ?>:</td>
					<td class="detail-value detail-value-editable" id="profile-details-title"><?php echo $this->userDetails['title']; ?></td>
				</tr>
			<?php endif; ?>
			<tr>
				<td class="detail-name"><?php echo $this->translate('Affiliation'); ?>:</td>
				<td class="detail-value detail-value-editable" id="profile-details-company"><?php echo $this->userDetails['company']; ?></td>
			</tr>
			<tr>
				<td class="detail-name"><?php echo $this->translate('Company address'); ?>:</td>
				<td class="detail-value detail-value-editable" id="profile-details-address"><?php echo $this->userDetails['address']; ?></td>
			</tr>
			<tr>
				<td class="detail-name"><?php echo $this->translate('Fax'); ?>:</td>
				<td class="detail-value detail-value-editable" id="profile-details-fax"><?php echo $this->userDetails['fax']; ?></td>
			</tr>
		</table>
	</div>
</div>	
<?php $this->placeholder('modal')->captureStart(); ?>
	<div id="profile-edit-form-container" class="main-form modal">
		<form name="profile-edit-form" id="profile-edit-form" method="get" action="">
			<div class="main-form-block">
				<div class="main-form-block-header">
					<h2><?php echo $this->translate('Profile edit'); ?></h2>
				</div>
				<div class="block-body-outer">
					<div class="block-body-inner">
						<input type="hidden" id="user-id" name="user-id" value="<?php echo $this->getAuthData('userId');?>" />
						<div class="main-form-block-line">
							<label for="fname"><?php echo $this->translate('First name'); ?> <span class="required">*</span>:</label>
							<input type="text" id="user-fname" class="main-form-input-text" name="fname" />
						</div>
						<div class="main-form-block-line">
							<label for="lname"><?php echo $this->translate('Last name'); ?>: <span class="required">*</span></label>
							<input type="text" id="user-lname" class="main-form-input-text" name="lname" />
						</div>
						<div class="main-form-block-line">
							<label for="phone"><?php echo $this->translate('Phone'); ?>: <span class="required">*</span></label>
							<input type="text" id="user-phone" class="main-form-input-text" name="phone" />
						</div>
						<? if ($this->lang == 'en') : ?>
							<div id="user-title-block" class="main-form-block-line">
								<label for="title">Title: </label>
								<input type="radio" value="Mr." name="title" />
								<span>Mr.</span>
								<input type="radio" value="Ms." name="title" />
								<span>Ms.</span>
								<input type="radio" value="Mrs." name="title" />
								<span>Mrs.</span>
							</div>
						<?php endif; ?>
						<div class="main-form-block-line">
							<label for="company"><?php echo $this->translate('Affiliation'); ?>: </label>
							<input type="text" id="user-company" class="main-form-input-text" name="company" />
						</div>
						<div class="main-form-block-line">
							<label for="address"><?php echo $this->translate('Company address'); ?>: </label>
							<input type="text" id="user-address" class="main-form-input-text" name="address" />
						</div>
						<div class="main-form-block-line">
							<label for="fax"><?php echo $this->translate('Fax'); ?>: </label>
							<input type="text" id="user-fax" class="main-form-input-text" name="fax" />
						</div>
					</div>
				</div>
			</div>
		</form>
		<div id="profile-edit-form-links" class="main-form-links-outer">
			<div id="profile-edit-form-links-inner" class="main-form-links-inner clearfix">
				<span class="form-clear-link link" title="<?php echo $this->translate('Clear form'); ?>"><?php echo $this->translate('Clear'); ?></span>
				<span class="form-save-link link" title="<?php echo $this->translate('Save data'); ?>"><?php echo $this->translate('Save'); ?></span>
				<span class="form-cancel-link main-form-link-last link" title="<?php echo $this->translate('Cancel'); ?>"><?php echo $this->translate('Cancel'); ?></span>
			</div>
			<div id="profile-edit-loader" class="ajax-loader-small">
				<div class="ajax-loader-small-content">
					<?php echo $this->translate('Saving data'); ?>&nbsp;<img src="/img/loader_s.gif" />
				</div>
			</div>
		</div>	
	</div>
<?php $this->placeholder('modal')->captureEnd() ?>