<?php echo $this->headTitle('Password recovery'); ?>
<?php echo $this->errorMessages(); ?>
<div class="auth-form-outer">
	<div class="auth-form-inner remind-form-inner">
		<?php if($this->langSwLogin) : ?>
			<div id="auth-form-lang">
				<?php if ($this->lang == 'en') : ?>
					<a href="<?php echo $this->myBaseUrl(); ?>syslang/ru/">Русская версия</a>
				<?php else : ?>
					<a href="<?php echo $this->myBaseUrl(); ?>syslang/en/">English version</a>
				<?php endif; ?>
			</div>
		<?php endif; ?>
		<h2><?php echo $this->translate('Password recovery'); ?></h2>
		<?php echo $this->remindForm; ?>
		<div class="auth-form-bottom-link">
			<a href="/ppc"><?php echo $this->translate('To main page'); ?></a>
		</div>
	</div>
</div>