<div class="result-message-outer">
	<div class="result-message-inner remind-success">
		<?php echo $this->translate('The password has been sent to your email'); ?>.
		<div class="remind-success-main-link">
			<a href="/ppc/login">
				<?php echo $this->translate('To main page'); ?>
			</a>
		</div>
	</div>
</div>	
