<?php 
/* Шаблон для формирования запроса на редактирование услуги, который затем будет отправлен письмом из 1c. В связи 
с этим стили не используются, вертска табличная. */ 
$eventParams = Zend_Registry::get('eventParams');
?>
<p>&nbsp;<br></p>
<table cellpadding="0" cellspacing="0" border="1" width="600">
	<tr>
		<td style="font-weight:bolder;padding:5px 15px 5px 5px;">Название мероприятия:</td>
		<td style="padding:5px;"><?php echo $eventParams->eventNameLng; ?></td>
	</tr>
	<tr>
		<td style="font-weight:bolder;padding:7px;">Номер тура:</td>
		<td><?php echo $this->requestData['tourNumber']; ?></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>	
	<tr>
		<td style="font-weight:bolder;">Название услуги:</td>
		<td><?php echo $this->requestData['serviceCaption']; ?></td>
	</tr>
	<?php foreach($this->requestData['fields'] as $field) : ?>
		<tr>
			<td style="font-weight:bolder;"><?php echo $field['caption']; ?></td>
			<td><?php echo $field['value']; ?></td>
		</tr>
	<?php endforeach; ?>
	<tr>
		<td style="font-weight:bolder;">Персоны:</td>
		<td>
			<?php foreach($this->requestData['persons'] as $person) : ?>
				<div><?php echo $person; ?></div>
			<?php endforeach; ?>
		</td>
	</tr>
	<tr>
		<td style="font-weight:bolder;">Комментарий:</td>
		<td><?php echo $this->requestData['comment']; ?></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td style="font-weight:bolder;">Запрос отправлен</td>
		<td><?php echo $this->requestData['requestDate']; ?></td>
	</tr>
</table>	
