<form name="service-edit-form" id="service-edit-form" action="">
<div id="service-edit-caption">
	<?php echo $this->translate('To make changes please print new data in appropriate lines (only those you wish to change)'); ?>
</div>
<table id="service-edit-table">
	<tr class="service-edit-static-row">
		<td style="padding-right:1em;"><?php echo $this->translate('Cultural program'); ?>:</td>
		<td class="bolder"><?php echo $this->serviceDetails['name']; ?></td>
	</tr>
	<tr class="service-ordered-content-row">
		<td>&nbsp;</td>
		<td>
			<?php if ($this->serviceDetails['start_date']==$this->serviceDetails['end_date']) : ?>	
				<?php echo Welt_Functions::dateFromMysql($this->serviceDetails['start_date']); ?>
			<?php else : ?>
				<?php echo Welt_Functions::dateFromMysql($this->serviceDetails['start_date']); ?>-
				<?php echo Welt_Functions::dateFromMysql($this->serviceDetails['end_date']); ?>
			<?php endif; ?>
		</td>
	</tr>
	<tr class="service-edit-content-row">
		<td class="service-edit-param"><?php echo $this->translate('Date/period'); ?>:</td>
		<td>
			<select name="date">
				<?php foreach($this->serviceDetails['excursionPeriods'] as $period) : ?>
					<?php if ($period['start_date']==$period['end_date'])
					{
						$periodText = Welt_Functions::dateFromMysql($period['start_date']);
						if ($period['start_date']==$this->serviceDetails['start_date'])
						{
							$selected = 'selected="selected"';
						}
						else
						{
							$selected = '';
						}
					}
					else
					{
						$periodText = Welt_Functions::dateFromMysql($period['start_date']).' - ';
						$periodText .= Welt_Functions::dateFromMysql($period['end_date']);
						if ($period['start_date']==$this->serviceDetails['start_date'] && $period['end_date']==$this->serviceDetails['end_date'])
						{
							$selected = ' selected="selected"';
						}
						else
						{
							$selected = '';
						}
					}
					?>
					<option value="<?php echo $periodText; ?>"<?php echo $selected; ?>><?php echo $periodText; ?></option>
				<?php endforeach; ?>
			</select>
		</td>
	</tr>
	<tr class="service-edit-content-row persons-line">
		<td class="service-edit-param"><?php echo $this->translate('Persons'); ?>:</td>
		<td>
			<?php foreach($this->appPersons as $person) : ?>
				<?php (in_array($person['id'],$this->servicePersonsIds)) ? $checked = 'checked="checked"' : $checked = ''; ?>
				<div class="service-edit-person">
					<input type="checkbox" name="persons" value="<?php echo $person['name']; ?>" <?php echo $checked; ?> />
					<span><?php echo $person['name']; ?></span>
				</span>
			<?php endforeach; ?>
		</td>
	</tr>
	<tr class="service-edit-content-row comment-line">
		<td class="service-edit-param"><?php echo $this->translate('Comment'); ?>:</td>
		<td>
			<textarea type="text" id="service-edit-comment" name="service-edit-comment" value="" />
		</td>
	</tr>
</table>	
</form>
