<form name="service-edit-form" id="service-edit-form" action="">
<div id="service-edit-caption">
	<?php echo $this->translate('To make changes please print new data in appropriate lines (only those you wish to change)'); ?>
</div>
<table id="service-edit-table">
	<tr class="service-edit-static-row">
		<td><?php echo $this->translate('Hotel'); ?>:</td>
		<td class="bolder"><?php echo $this->serviceDetails['hotelName']; ?></td>
	</tr>
	<tr class="service-edit-static-row">
		<td><?php echo $this->translate('Room'); ?>:</td>
		<td class="bolder"><?php echo $this->serviceDetails['hotelRoomName']; ?></td>
	</tr>
	<tr class="service-ordered-content-row">
		<td>&nbsp;</td>
		<td><?php echo Welt_Functions::dateFromMysql($this->serviceDetails['start_date']); ?></td>
	</tr>
	<tr class="service-edit-content-row">
		<td class="service-edit-param"><?php echo $this->translate('Check-in date'); ?>:</td>
		<td>
			<input type="text" name="start-date" value="" />
		</td>
	</tr>
	<tr class="service-ordered-content-row">
		<td>&nbsp;</td>
		<td><?php echo Welt_Functions::dateFromMysql($this->serviceDetails['end_date']); ?></td>
	</tr>
	<tr class="service-edit-content-row">
		<td class="service-edit-param"><?php echo $this->translate('Check-out date'); ?>:</td>
		<td>
			<input type="text" name="start-date" value="" />
		</td>
	</tr>
	<tr class="service-ordered-content-row">
		<td>&nbsp;</td>
		<td class="service-edit-param">
			<?php if ($this->serviceDetails['accommodation']==1) : ?>
				<?php echo $this->translate('Single'); ?>
			<?php else : ?>
				<?php echo $this->translate('Double'); ?>
				<?php if ($this->serviceDetails['extra_bed']==1) : ?> 
					(<?php echo $this->translate('with extra bed'); ?>)
				<?php endif; ?>
			<?php endif; ?>	
		</td>
	</tr>
	<tr class="service-edit-content-row">
		<td class="service-edit-param"><?php echo $this->translate('Accommodation'); ?>:</td>
		<td>
			<?php if ($this->serviceDetails['accommodation']==1) {
					$selected = array(0=>' selected="selected"',1=>'',2=>'');
				}
				elseif($this->serviceDetails['accommodation']==2)
				{
					if ($this->serviceDetails['extra_bed']==1)
					{
						$selected = array(0=>'',1=>'',2=>' selected="selected"');
					}
					else
					{
						$selected = array(0=>'',1=>' selected="selected"',2=>'');
					}
				}
			?>
			<select name="accommodation">
				<option value="<?php echo $this->translate('Single'); ?>"<?php echo $selected[0];?>><?php echo $this->translate('Single'); ?></option>
				<option value="<?php echo $this->translate('Double'); ?>"<?php echo $selected[1];?>><?php echo $this->translate('Double'); ?></option>
				<option value="<?php echo $this->translate('Double with extra bed'); ?>"<?php echo $selected[2];?>><?php echo $this->translate('Double with extra bed'); ?></option>
			</select>
		</td>
	</tr>
	<?php if ($this->serviceDetails['accommodation']!=1) : ?>
		<tr class="service-ordered-content-row">
			<td>&nbsp;</td>
			<td><?php echo $this->serviceDetails['bed_type']; ?></td>
		</tr>
		<tr class="service-edit-content-row">
			<td class="service-edit-param"><?php echo $this->translate('Bed type'); ?>:</td>
			<td>
				<?php if($this->serviceDetails['bed_type']=='King size')
					{
						$selected = array(0=>' selected="selected"',1=>'');
					}
					elseif($this->serviceDetails['bed_type']=='Twin')
					{
						$selected = array(0=>'',1=>' selected="selected"');
					}
				?>
				<select name="bed-type">
					<option value="King size"<?php echo $selected[0];?>>King size</option>
					<option value="Twin"<?php echo $selected[1];?>>Twin</option>
				</select>
			</td>
		</tr>
	<?php endif; ?>
	<tr class="service-edit-content-row persons-line">
		<td class="service-edit-param"><?php echo $this->translate('Persons'); ?>:</td>
		<td>
			<?php foreach($this->appPersons as $person) : ?>
				<?php (in_array($person['id'],$this->servicePersonsIds)) ? $checked = 'checked="checked"' : $checked = ''; ?>
				<div class="service-edit-person">
					<input type="checkbox" name="persons" value="<?php echo $person['name']; ?>" <?php echo $checked; ?> />
					<span><?php echo $person['name']; ?></span>
				</span>
			<?php endforeach; ?>
		</td>
	</tr>
	<tr class="service-edit-content-row comment-line">
		<td class="service-edit-param"><?php echo $this->translate('Comment'); ?>:</td>
		<td>
			<textarea type="text" id="service-edit-comment" name="service-edit-comment" value="" />
		</td>
	</tr>
</table>	
</form>