<form name="service-edit-form" id="service-edit-form" action="">
<div id="service-edit-caption">
	<?php echo $this->translate('To make changes please print new data in appropriate lines (only those you wish to change)'); ?>
</div>
<table id="service-edit-table">
	<tr class="service-ordered-content-row">
		<td>&nbsp;</td>
		<td><?php echo $this->serviceDetails['mealTypeName']; ?></td>
	</tr>
	<tr class="service-edit-content-row">
		<td class="service-edit-param"><?php echo $this->translate('Meal type'); ?>:</td>
		<td>
			<select name="meal-type">
				<?php foreach($this->serviceDetails['mealTypes'] as $mealType) : ?>
					<?php
						if($mealType['name']==$this->serviceDetails['mealTypeName'])
						{
							$selected = ' selected="selected"';
						}
						else
						{
							$selected = '';
						}
					?>
					<option value="<?php echo $mealType['name']; ?>"<?php echo $selected;?>>
						<?php echo $mealType['name']; ?>
					</option>
				<?php endforeach; ?>
			</select>	
		</td>
	</tr>
	<tr class="service-edit-content-row persons-line">
		<td class="service-edit-param"><?php echo $this->translate('Persons'); ?>:</td>
		<td>
			<?php foreach($this->servicePersons as $servicePerson) : ?>
				<div class="service-edit-person">
					<input type="checkbox" name="persons" value="<?php echo $servicePerson['name']; ?>" checked="checked" disabled="true" />
					<span><?php echo $servicePerson['name']; ?></span>
				</span>
			<?php endforeach; ?>
		</td>
	</tr>
	<tr class="service-edit-content-row comment-line">
		<td class="service-edit-param"><?php echo $this->translate('Comment'); ?>:</td>
		<td>
			<textarea type="text" id="service-edit-comment" name="service-edit-comment" value="" />
		</td>
	</tr>
</table>	
</form>