<form name="service-edit-form" id="service-edit-form" action="">
<div id="service-edit-caption">
	<?php echo $this->translate('To make changes please print new data in appropriate lines (only those you wish to change)'); ?>
</div>
<table id="service-edit-table">
	<tr class="service-edit-static-row">
		<td><?php echo $this->translate('Service'); ?>:</td>
		<td class="bolder"><?php echo $this->serviceDetails['transpServiceName']; ?></td>
	</tr>
	<?php if($this->serviceDetails['summ'] != 0) : ?>
		<tr class="service-ordered-content-row">
			<td>&nbsp;</td>
			<td><?php echo $this->serviceDetails['transpTypeName']; ?></td>
		</tr>
		<tr class="service-edit-content-row">
			<td class="service-edit-param"><?php echo $this->translate('Transport type'); ?>:</td>
			<td>
				<select name="transport-type">
					<?php foreach($this->serviceDetails['transportTypes'] as $transpType) : ?>
						<?php 
							if ($transpType['name']==$this->serviceDetails['transpTypeName'])
							{
								$selected = ' selected="selected"';
							}
							else
							{
								$selected = '';
							}
						?>
						<option value="<?php echo $transpType['name']; ?>"<?php echo $selected;?>>
							<?php echo $transpType['name']; ?>
						</option>
					<?php endforeach; ?>
				</select>
			</td>
		</tr>
		<tr class="service-ordered-content-row">
			<td>&nbsp;</td>
			<td><?php echo Welt_Functions::dateFromMysql($this->serviceDetails['date']); ?></td>
		</tr>
		<tr class="service-edit-content-row">
			<td class="service-edit-param"><?php echo $this->translate('Date'); ?>:</td>
			<td>
				<input type="text" name="date" value="" />
			</td>
		</tr>
	<?php endif; ?>
	<tr class="service-ordered-content-row">
		<td>&nbsp;</td>
		<td><?php echo $this->serviceDetails['time']; ?></td>
	</tr>
	<tr class="service-edit-content-row">
		<td class="service-edit-param"><?php echo $this->translate('Time'); ?>:</td>
		<td>
			<input type="text" name="time" value="" />
		</td>
	</tr>
	<?php if ($this->serviceDetails['transport_category']==2) : ?>
		<tr class="service-ordered-content-row">
			<td>&nbsp;</td>
			<td>
				<?php if($this->serviceDetails['route']!='') : ?>
					<?php echo $this->serviceDetails['route']; ?>
				<?php else : ?>
					-
				<?php endif; ?>
			</td>
		</tr>
		<tr class="service-edit-content-row">
			<td class="service-edit-param">
				<?php echo $this->translate('Route'); ?>:
			</td>
			<td>
				<input type="text" name="route" value="" />
			</td>
		</tr>
	<?php endif; ?>
	<tr class="service-ordered-content-row">
		<td>&nbsp;</td>
		<td><?php echo $this->serviceDetails['number']; ?></td>
	</tr>
	<tr class="service-edit-content-row">
		<td class="service-edit-param">
			<?php if ($this->serviceDetails['transport_category']==2) : ?>
				<?php echo $this->translate('Train number (carriage number)'); ?>:
			<?php else : ?>
				<?php echo $this->translate('Flight number'); ?>:
			<?php endif; ?>
		</td>
		<td>
			<input type="text" name="number" value="" />
		</td>
	</tr>
	<tr class="service-edit-content-row persons-line">
		<td class="service-edit-param"><?php echo $this->translate('Persons'); ?>:</td>
		<td>
			<?php foreach($this->appPersons as $person) : ?>
				<?php (in_array($person['id'],$this->servicePersonsIds)) ? $checked = 'checked="checked"' : $checked = ''; ?>
				<div class="service-edit-person">
					<input type="checkbox" name="persons" value="<?php echo $person['name']; ?>" <?php echo $checked; ?> />
					<span><?php echo $person['name']; ?></span>
				</span>
			<?php endforeach; ?>
		</td>
	</tr>
	<tr class="service-edit-content-row comment-line">
		<td class="service-edit-param"><?php echo $this->translate('Comment'); ?>:</td>
		<td>
			<textarea type="text" id="service-edit-comment" name="service-edit-comment" value="" />
		</td>
	</tr>
</table>	
</form>