<ul id="payment-invoices">
	<?php if(is_array($this->docs) && sizeof($this->docs)>0) : ?>
		<?php foreach($this->docs as $doc) : ?>
			<li class="payment-doc clearfix">
				<div class="payment-doc-name">
					<a href="/ppc/docs/download/id/<?php echo $doc['id'];?>/type/invoice/" title="<?php echo $this->translate('Download'); ?>">
						<?php echo $this->translate('Invoice'); ?> <?php echo $doc['number']; ?>
					</a>
				</div>
				<div class="payment-doc-caption">
					<span class="payment-doc-caption-date"><?php echo $this->translate('Date'); ?>: <?php echo Welt_Functions::dateFromMysql($doc['date']); ?></span>
					<?php echo $this->translate('Sum'); ?>: <?php echo $doc['summ']; ?> (<?php echo $this->translate('RUR'); ?>)
				</div>
			</li>
		<?php endforeach; ?>
	<?php else : ?>
		<li><?php echo $this->translate('No requested invoices'); ?></li>
	<?php endif; ?>
</ul>
<div onclick="paymentsObj.updateDocsList('invoice');" class="payment-docs-refresh-link link">
	<img src="/img/refresh24_blue.gif" />
	<span><?php echo $this->translate('Refresh list'); ?></span>
</div>
<div id="invoices-loader" class="inline-ajax-loader payment-docs-loader">
	<div class="inline-ajax-loader-content">
		<?php echo $this->translate('Loading'); ?>&nbsp;<img src="/img/loader_s2.gif" />
	</div>
</div>
<div class="clearer"></div>