<div class="flash-messages">
	<ul class="flash-messages-list">
	    <?php foreach ($this->messages as $message) : ?>
	        <li>
	        	<?php echo $this->translate($message); ?>
			</li>
	    <?php endforeach;?>
	</ul>
</div>