/* 
    Document   : screen
    Created on : 15-Feb-2013, 10:09:54
    Author     : chris
    Description:
        Purpose of the stylesheet follows.
*/

/** General **/
div.view {
    width: 222px;
    float:left;
    background: #F7F7F7;
    margin-right: 20px;
    min-height: 200px;
    position: relative;
    border: 1px solid #F3D5BD;
}
div.view h2 {
    margin: 0px;
}
div.view p {
    margin-bottom: 5px;
    font-size: 10px;
}
a {
    color: #628B61;
}
/** form elements **/
div.row label {
    text-align: left;
    float:left;
    padding-right: 30px;
    min-width: 70px;
    line-height: 30px;
}
 div.row input {
	test-align: left;
    min-width: 70px;
    line-height: 30px;
}
 div.row textarea {
 width: auto;
 }
div.form div.saved {
    background: #E6EFC2;
    border: 1px solid #628B61;
    padding: 20px;
}
div.form div.failure {
    background: #FEE;
    border: 1px solid  #C00;
    padding: 20px;
}

/** buttons and widgets **/
.button {
    background: white url(/css/bg.gif) repeat-x left top;
    color: #FFF;
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 4px;
}
.button:hover {
    color: #FFF;
    text-shadow: 1px 1px 1px #265774;
}
#thesis_form input {
    width: 350px !important;
}

.textIcon {
    padding: 0px 4px;
    font-size: 10px;
    border: 1px solid #CECECE;
    display: block;
    float: left;
    margin-top: 5px;
    text-decoration: none
}

/** Photo _view **/
.imgWrap {
    width: 100%;
    margin:0 auto;
    text-align: center;
    min-height: 175px;
}
.caption {
    display: none;
    width: 100%;
    margin: 0 ;
    height: 40px;
    position: absolute;
    bottom: 35px;
    left: 0px;
    background: url(../images/bg.png);
    text-align: center;
}
.list-view .pager {
    clear:both;
}
/**CB-5.5**/
.imgComment {
    text-align: center;
    padding-top: 2px;
    font-size: 10px;
}
/** Photo view **/

div.photo {
    width: 100%;
    position: relative;
    background: #F7F7F7;
    }
div.photo .caption {
    width: 100%;
    margin: 0 auto;
    display: inherit ;
    top: 0px;
    padding-top: 15px;
    font-size: 20px;
}
#comments , .comments-wrap {
    margin: 0 auto;
    margin-top: 20px;
    width: 85%;
    border: 1px solid #C9E0ED;
    padding: 20px;
}


.fullscreen {
    width: 16px;
    height: 16px;
    background: url(../images/icons.png) no-repeat no-repeat;
    background-position: 0px -16px;
    display: block;
    margin: 4px;
    float: left;
}
.fullscreen:Hover {
    background-position: -16px -16px;
}

/** comment view **/
div.comment {

    width: 85%;
    float: none;
    font-size: 100%;
    font-style: italic;
    background: #F7F7F7;
    margin: 20px 10px;
    padding: 10px;
    border: 1px solid #CECECE;
}
div.commentContent {
    min-height: 45px;
}
div.commentFooter {
    margin-top: 10px;
    border-bottom: 1px solid #EFFDFF;
    font-size: 10px;
}
.By {
    font-wight: bold;
    margin-right: 10px;
    font-size: 10px;
}
.Date {
    color: #CECECE;
}

div.block {
    float:left;
    margin-right: 20px;
}

div.search{margin-top: -48px;display:none}
div.search input[type="text"]{font-size: 10px; height: 14px; width: 100px;}
div.search input[type="submit"] { margin-right: 10px;}

div.abstract-info{
    border: 1px solid #cccccc;
    padding: 10px;
    margin-bottom:20px;
}

.errorMessage{
    color:red;
    border:1px solid red;
}

.accepted-green, .accepted-green-single {
    text-align: center;
    background: #499249;
    font-size:20px;
    color:white;
}

.conflict-yellow, .conflict-yellow-single {
    text-align: center;
    background: #fff6bf;
    font-size:14px;
    color: #628B61;
}

.rejected-red, .rejected-red-single {
    text-align: center;
    background: #da4f49;
    font-size:14px;
    color:white;
}

.accepted-green-single, .rejected-red-single , .conflict-yellow-single {

    margin-bottom:-20px;
    heigtht:25px;
    padding:5px;
    font-size:14px;
}

.conflict-yellow-single {
    font-size:10px;
}

#overall-rating{
    font-size:30px;
    font-weight:bold;
    color: #da4f49;
}

#interest-rating, #quality-rating, #result-rating, #conclusion-rating
{

    color: #499249;
    margin-top:20px;
    font-size:70px;
}

.fix-column{
    width:170px

}

.deadline{
    margin-top:20px;
    background: #62788c;
    color:white;
    padding:10px;
    border: 1px solid #8c7762;
}

.nopad{
    padding:0;

}

.lasti{
    margin-left:0px;
}

.side-review{
   background: #F2EAE9;
   color:black;
   padding:10px;
   border: 1px solid #8c7762;
    margin-top:15px;
}

.side-review table td{
    padding:0 0 0 11px;
    font-size:10px;
}

.side-review table td.status{
    font-weight: bold;
    width:105px;
    font-size:12px;
    padding:0px;
}

.complete-review{
    color:green;
    font-weight: bold;
}

.dash{
    text-align: center;
}

.small-caps{
    margin-left:-12px;
    font-size:10px;
}
