<?php $this->placeholder('953970f6-cadc-11da-8d0d-505054503030')->captureStart(); ?>
	<div class="excursion-help-item">
		<div class="excursion-help-item-header">Обзорная экскурсия по Москве</div>
		<div class="excursion-help-item-body">
			<p class="bolder">Время экскурсии - 3 часа</p>
			<p class="bolder">Маршрут:</p>
			<p>
				Красная Площадь, Замоскворечье, Софийская набережная, Храм Христа Спасителя, Набережная Москвы реки, Памятник 300-летия Российского флота, Церковь Николы в Хамовниках, ул. Льва Толстого, ул, Большая Пироговская, Новодевичий монастырь, Смотровая площадка Воробьевых Гор, Университет, Мосфильмовская улица, Посольский городок, Минская улица, Поклонная Гора, Триумфальная Арка, мост Багратион, Белый Дом, Новый Арбат, Арбатская Площадь, Бульварное Кольцо, Тверская улица, Манежная площадь.
			</p>
			<p class="bolder">Описание:</p>
			<p>
				Москва, столица России, - один из крупнейших городов мира. Датой основания города считается 1147 год. Исторический центр Москвы - Кремль и его соборы, монастыри, крепости и укрепленные боярские хоромы – демонстрируют уникальную культуру и искусство Руси позднего средневековья. Москва принадлежит к тому редкому сорту городов, чья красота сохраняется на протяжении веков, какие бы катаклизмы ни происходили. Сити тур по городу позволит Вам узнать много интересного об истории Москвы. Во время обзорной экскурсии Вы увидите наиболее интересные архитектурные и исторические памятники города: Красную площадь, Собор Василия Блаженного, Мавзолей Ленина, Храм Христа Спасителя, Новодевичий Монастырь.
			</p>
		</div>
	</div>
<?php $this->placeholder('953970f6-cadc-11da-8d0d-505054503030')->captureEnd(); ?>


<?php $this->placeholder('a55408ff-cae7-11da-8d0d-505054503030')->captureStart(); ?>
	<div class="excursion-help-item">
		<div class="excursion-help-item-header">Третьяковская Галерея</div>
		<div class="excursion-help-item-body">
			<p class="bolder">Время экскурсии - 3 часа</p>
			<p class="bolder">Описание:</p>
			<p>
				История Государственной Третьяковской Галереи насчитывает уже 150 лет. Коллекция музея начала собираться силами московского купца и мецената Павла Третьякова. Он приобретал на личные средства произведения русских живописцев, завещав создать на их основе общественно доступную галерею. 
			</p>
			<p>
				Коллекционер обладал прекрасным вкусом и чутьем, и многие художники за честь считали продать ему свое полотно. Наиболее полно в собрании представлены передвижники – художники, входившие в Товарищество передвижных художественных выставок и тяготевшие к реалистичному изображению русской жизни. Они демонстрировали свои работы в провинции, приобщая народ к высокому искусству. Именно на этих передвижных выставках Третьяков приобрел такие шедевры, как «Христос в пустыне» Крамского, «Грачи прилетели» Саврасова и «Петр I допрашивает царевича Алексея в Петергофе» художника Ге. Среди других приобретений мецената – «Неравный брак» Пукирева, «Сельский крестный ход на Пасхе» Перова, «Княжна Тараканова» Флавицкого, «Московский дворик» Поленова, «Утро стрелецкой казни» Сурикова, множество работ Верещагина. Еще одной задумкой Третьякова было создание портретной галереи русских писателей, композиторов и других деятелей искусств. Он не только приобретал подобные портреты, но и способствовал созданию новых. Так в коллекции появились полотна из-под кисти Перова (портреты Даля, Достоевского, Майкова, Островского, Тургенева), Крамского (портреты Некрасова и Льва Толстого). Несмотря на нежелание самого Терьякова позировать, в галерее есть и два его портрета – работы Репина и Крамского.
			</p>
			<p>
				Свое собрание живописи семья Третьяковых сначала размещала в собственном доме в Лаврушинском переулке. Однако позднее для картин было построено специальное двухэтажное здание, примыкающее к хозяйскому дому и церкви Святого Николая в Толмачах. В дальнейшем здание еще больше расширялось и надстраивалось.
			</p>
			<p>
				Третьяков не боялся пойти против общественного мнения и приобрести работы, которые негативно принимались критиками, или картины никому не известных художников. Именно благодаря этому редкому чутью и смелости достоянием галереи стали «Осенний день. Сокольники» «После дождя. Плес» и многие другие работы Исаака Левитана, «Девушка, освещенная солнцем» Серова, «Видение отроку Варфоломею» и «Пустынник» Нестерова.
			</p>
			<p>
				В 1904 году у дома Третьяковых появился новый фасад «в русском стиле», созданный по проекту Васнецова. Он до сих пор остается «визитной карточкой» галереи. Коллекция перешла под попечение специально созданного попечительского Совета, который продолжил приобретение новых картин. Особое внимание уделялось современному искусству – москвичам из Союза русских художников, молодым петербуржцам из «Мира искусства», участникам экспозиции «Голубая роза». Тогда же в галерее появились древнерусские иконы, переданные потомками Третьякова. При Грабаре, известном отечественном художнике, который в 1913-1925 годах был сначала попечителем, а затем и директором музея, были обновлены принципы построения экспозиции. После революции благодаря национализации и поступлению картин из частных собраний коллекция Государственной Третьяковской галереи, как она стала именоваться уже тогда, удвоилась. Например, в 1925 году в нее вошел шедевр Иванова «Явление Христа народу» вместе с этюдами, который поместили в отдельный зал. Несмотря на трудные годы, которые галерея пережила в 1930-е годы и особенно во время Великой Отечественной войны, ее коллекция продолжала сохраняться и пополняться. На сегодняшний день в залах галереи представлено огромное число живописных работ русских художников и скульпторов XVIII-XX веков, большое собрание древнерусского искусства, графика, появилась «Сокровищница», где демонстрируются предметы прикладного древнерусского искусства, миниатюры, иконы в драгоценных окладах. Были построены новые залы для работ Врубеля, Куинджи, Брюллова, Иванова, Крамского. В отделении музея на Крымском Валу работает постоянная экспозиция «Искусство 20 века», где можно познакомиться с работами таких гениев, как Дейнека, Кандинский, Филонов, Шагал и других.
			</p>
			<p>
				Работники музея бесконечно благодарны дарителям, благодаря которым в коллекции появляются все новые и новые работы. В галерее проходят конференции, тематические и авторские выставки, идет издательская работа. В первом зале второго этажа галереи, с которого обычно начинается осмотр экспозиции, представлены портреты первой половины XVIII века. По соседству располагаются работы художников второй половины XVIII века, в том числе картины Рокотова, Левицкого, Боровиковского, скульптуры Шубина. 
			</p>
			<p>
				В следующих залах можно увидеть портреты Кипренского и пейзажи его современников. В небольших помещениях расположились работы Тропинина, Венецианова, Федотова и их учеников и современников. В более просторных залах Вы насладитесь шедеврами Брюллова, Александра Иванова. 
			</p>
			<p>
				Далее Вас ждут работы членов Академии художеств, Куинджи, жанровая живопись передвижников. Особое место уделяется замечательному художнику Крамскому. Искусство второй половины XIX века с блеском представляют реалисты (Клодт, Прянишников, Пукирев, Флавицкий), великие картины Перова, Васильева, Саврасова, Айвазовского. Очень популярны у посетителей залы Шишкина, Васнецова, Верещагина, Репина (для его работ выделено два помещения), Сурикова, Ге.
			</p>
			<p>
				Завершают экспозицию второго этажа Третьяковской галереи недавно обновленные залы Врубеля и Рериха. Полотно Врубеля «Принцесса Греза» поражает своими размерами и заслуженно венчает коллекцию. Экспозицию на первом этаже начинают работы реалистов конца XIX века – Левитана и Поленова. Рядом расположились авторы из Союза русских художников, скульптурные работы рубежа веков, залы Нестерова, Серова, Коровина, Борисова-Мусатова. Далее следует зал «Мир искусства» (это такие художники, как Кустодиев и Сомов), «Голубая роза» (Сапунов, Крымов и другие). Завершается анфилада комнат экспозицией работ Сергея Конёнкова. В конце экскурсии туристы смогут увидеть интересную коллекцию графики, а также заглянуть в Сокровищницу, где хранятся шедевры древней Руси, в том числе бесценные иконы.
			</p>
		</div>
	</div>
<?php $this->placeholder('a55408ff-cae7-11da-8d0d-505054503030')->captureEnd(); ?>


<?php $this->placeholder('2dd03a30-d582-11dd-b386-0015170f33dc')->captureStart(); ?>
	<div class="excursion-help-item">
		<div class="excursion-help-item-header">Кремль + Оружейная палата</div>
		<div class="excursion-help-item-body">
			<p>Время экскурсии: 4 ч.</p>
			<p>
				Сеансы работы Оружейной палаты: 10:00, 12:00, 14:30, 16:30.
			</p>
			<p>
				<span class="bolder">Московский Кремль</span> – один из крупнейших и красивейших архитектурных ансамблей мира. На его территории находится Государственный историко-культурный Музей заповедник Московский Кремль.
			</p>
			<p>
				Первые стены Кремля были заложены в середине 12 столетия. Двумя веками позже Москва становится столицей маленького княжества, и с тех пор Кремль является резиденцией русских правителей. Сегодня часть помещений Кремля занимают президентские кабинеты; эта территория закрыта для посетителей. Но во время экскурсии вы посетите величественные белокаменные соборы – Благовещенский Собор, Архангельский Собор, воздвигнутый в честь архангела Михаила и Успенский Собор, в котором короновались все русские цари и императоры, а также церковь Ризположения, Патриаршие палаты с церковью Двенадцати апостолов и ансамбль колокольни Ивана Великого.
			</p>
			<p>
				У всех соборов изумительная архитектура и великолепное внутреннее убранство. Вы, несомненно, будете так же поражены размером и весом 200 тонн Царь-колокола. Литейное мастерство было высоко развито в Москве многие века назад; Царь-пушка – еще одно подтверждение искусства древних мастеров.
			</p>
			<p>
				<span class="bolder">Успенский собор</span>, возведенный в 1475 – 1479 годах архитектором Аристотелем Фиораванти, был главным храмом страны, в котором венчались на царство и короновались все российские государи. Его интерьер украшают ансамбль настенных росписей и иконостас середины XVII века. Здесь хранятся подлинные шедевры древнерусской иконописи.
			</p>
			<p>
				<span class="bolder">Архангельский собор</span>, построенный в 1505 – 1508 годах архитектором Алевизом Новым, до начала XVIII служил усыпальницей великих московских и удельных князей и русских царей.
			</p>
			<p>
				<span class="bolder">Благовещенский собор</span> являлся домовым храмом великих московских князей, а затем – русских царей. Собор возвели в 1484 – 1489 годах псковские мастера.
			</p>
			<p>
				<span class="bolder">Церковь Ризоположения</span>, построенная в 1484 – 1485 годах псковскими мастерами, была домовым храмом русских митрополитов, а позднее патриархов.
			</p>
			<p>
				<span class="bolder">Патриаршие палаты</span> с церковью Двенадцати апостолов были построены в 1653 – 1655 годах для патриарха Никона.
			</p>
			<p>
				<span class="bolder">Ансамбль колокольни Ивана Великого</span> (Звонницы Московского Кремля) складывался на протяжении XVI – XVII веков. В 1505 – 1508 годах архитектор Бон Фрязин возвел колокольню Ивана Великого; через столетие она получила еще один ярус звона, и ее высота составила 81 метр. Рядом с колокольней в 1532 – 1552 годах построили по проекту Петрока Малого церковь, преобразованную в конце XVII века в Успенскую Звонницу. Сейчас на первом этаже Успенской Звонницы располагается выставочный зал музея.
			</p>
			<p>
				Вы также посетите Оружейную палату и Алмазный Фонд.
			</p>
			<p>
				Оружейная палата – всемирно известный музей – сокровищница, в котором собраны памятники декоративно – прикладного искусства России, стран Европы и востока IV-XX веков. Оружейная палата занимает здание, построенное специально для нее в 1844 – 1851 годах архитектором Константином Тоном.
			</p>
			<p>
				Сейчас экспозиция состоит из девяти залов и расположена на двух этажах:
			</p>
			<p>
				на первом этаже представлена одежда высшего духовенства из драгоценных тканей, коллекция тронов российских государей, парадное конское убранство, коллекция экипажей и карет, древнерусская одежда 16-17 веков, коронационные платья русских императриц;
			</p>
			<p>
				на втором этаже находятся залы золотых и серебряных изделий русских мастеров 12-20 века, российского, восточного и западноевропейского оружия и парадных доспехов, зал посольских подарков и западноевропейского серебра.
			</p>
		</div>
	</div>
<?php $this->placeholder('2dd03a30-d582-11dd-b386-0015170f33dc')->captureEnd(); ?>


<?php $this->placeholder('a55408cd-cae7-11da-8d0d-505054503030')->captureStart(); ?>
    <div class="excursion-help-item">
        <div class="excursion-help-item-header">Кремль + Оружейная Палата + Алмазный фонд</div>
        <div class="excursion-help-item-body">
            <p>Время экскурсии: 4 ч.</p>
            <p>
                Сеансы работы Оружейной палаты: 10:00, 12:00, 14:30, 16:30.
            </p>
            <p>
                Сеансы работы Алмазного фонда: 10:00, 12:00, 14:30, 16:30.
            </p>
            <p>
                Для русскоговорящих групп и индивидуальных туристов, стоимость экскурсионного обслуживания рассчитывается по запросу.
            </p>
            <p>
                Московский Кремль – один из крупнейших и красивейших архитектурных ансамблей мира. На его территории находится Государственный историко-культурный Музей заповедник Московский Кремль.
            </p>
            <p>
                Первые стены Кремля были заложены в середине 12 столетия. Двумя веками позже Москва становится столицей маленького княжества, и с тех пор Кремль является резиденцией русских правителей. Сегодня часть помещений Кремля занимают президентские кабинеты; эта территория закрыта для посетителей. Но во время экскурсии вы посетите величественные белокаменные соборы – Благовещенский Собор, Архангельский Собор, воздвигнутый в честь архангела Михаила и Успенский Собор, в котором короновались все русские цари и императоры, а также церковь Ризположения, Патриаршие палаты с церковью Двенадцати апостолов и ансамбль колокольни Ивана Великого.
            </p>
            <p>
                У всех соборов изумительная архитектура и великолепное внутреннее убранство. Вы, несомненно, будете так же поражены размером и весом 200 тонн Царь-колокола. Литейное мастерство было высоко развито в Москве многие века назад; Царь-пушка – еще одно подтверждение искусства древних мастеров.
            </p>
            <p>
                Успенский собор, возведенный в 1475 – 1479 годах архитектором Аристотелем Фиораванти, был главным храмом страны, в котором венчались на царство и короновались все российские государи. Его интерьер украшают ансамбль настенных росписей и иконостас середины XVII века. Здесь хранятся подлинные шедевры древнерусской иконописи. 
            </p>
            <p>
                Архангельский собор, построенный в 1505 – 1508 годах архитектором Алевизом Новым, до начала XVIII служил усыпальницей великих московских и удельных князей и русских царей.
            </p>
            <p>
                Благовещенский собор являлся домовым храмом великих московских князей, а затем – русских царей. Собор возвели в 1484 – 1489 годах псковские мастера.
            </p>
            <p>
                Церковь Ризоположения, построенная в 1484 – 1485 годах псковскими мастерами, была домовым храмом русских митрополитов, а позднее патриархов.
            </p>
            <p>
                Патриаршие палаты с церковью Двенадцати апостолов были построены в 1653 – 1655 годах для патриарха Никона.
            </p>
            <p>
                Ансамбль колокольни Ивана Великого (Звонницы Московского Кремля) складывался на протяжении XVI – XVII веков. В 1505 – 1508 годах архитектор Бон Фрязин возвел колокольню Ивана Великого; через столетие она получила еще один ярус звона, и ее высота составила 81 метр. Рядом с колокольней в 1532 – 1552 годах построили по проекту Петрока Малого церковь, преобразованную в конце XVII века в Успенскую Звонницу. Сейчас на первом этаже Успенской Звонницы располагается выставочный зал музея.
            </p>
            <p>
                Вы также посетите Оружейную палату и Алмазный Фонд.
            </p>
            <p>
                Оружейная палата – всемирно известный музей – сокровищница, в котором собраны памятники декоративно – прикладного искусства России, стран Европы и востока IV-XX веков. Оружейная палата занимает здание, построенное специально для нее в 1844 – 1851 годах архитектором Константином Тоном.
            </p>
            <p>
                Сейчас экспозиция состоит из девяти залов и расположена на двух этажах:
            </p>
            <p>
                на первом этаже представлена одежда высшего духовенства из драгоценных тканей, коллекция тронов российских государей, парадное конское убранство, коллекция экипажей и карет, древнерусская одежда 16-17 веков, коронационные платья русских императриц;
            </p>
            <p>
                на втором этаже находятся залы золотых и серебряных изделий русских мастеров 12-20 века, российского, восточного и западноевропейского оружия и парадных доспехов, зал посольских подарков и западноевропейского серебра.
            </p>
            <p>
                Алмазный Фонд был создан гораздо позже Оружейной палаты и является ее логичным дополнением. Экспозиция включает в себя два зала:
            </p>
            <p>
                Исторический зал содержит предметы, принадлежащие членам российской императорской семьи, царские регалии, всемирно знаменитую корону Российской Империи, созданную специально для коронации русской императрицы Екатерины Второй, дореволюционные российские и иностранные ордена.
            </p>
            <p>
                В современном зале представлены самые большие слитки золота и платины, найденные в России, алмазы – гиганты и современные ювелирные изделия.
            </p>
        </div>
    </div>
<?php $this->placeholder('a55408cd-cae7-11da-8d0d-505054503030')->captureEnd(); ?>


<?php $this->placeholder('cb778d3a-d0b3-11dc-a7e1-0015170f33dc')->captureStart(); ?>
	<div class="excursion-help-item">
		<div class="excursion-help-item-header">Кремль: территория + соборы + Патриарший дворец</div>
		<div class="excursion-help-item-body">
			<p>Время экскурсии: 3 ч.</p>
			<p>
				Московский Кремль, расположенный в самом сердце столицы России, включен в список всемирного культурного и природного наследия ЮНЕСКО. Его могучие стены и башни, златоглавые храмы и древние терема горделиво возвышаются над Москвой-рекой, образуя неповторимый по своему величию архитектурно-художественный ансамбль. Сегодня в Кремле располагается резиденция президента РФ, а также государственный историко-культурный музей-заповедник «Московский Кремль».
			</p>
			<p>
				На территории Кремля расположены такие знаменитые памятники культуры, как музей-сокровищница «Оружейная палата», храмы Соборной площади, Патриаршие палаты с церковью Двенадцати апостолов. Всему миру известны Царь-пушка и Царь-колокол, ставшие почти символами Москвы, а на Сенатской площади можно увидеть здание Арсенала, памятника архитектуры времен Петра Великого, и Сенат. На Дворцовой площади располагается ансамбль Большого Кремлевского дворца, который был резиденцией русских царей и императоров, а в настоящее время является резиденцией президента России.
			</p>
			<p>
				История Кремля тесно связано с историей Москвы и Русского государства в целом.
			</p>
			<p>
				Во второй половине XV века Великий Князь Всея Руси Иван III Васильевич разворачивает в столице молодой и быстро крепнущей державы грандиозное строительство. В первую очередь, конечно, перестраивается Кремль. Крупнейшие западноевропейские архитекторы, приглашенные в Москву, разрабатывают проекты реконструкции княжеской и митрополичьей резиденции. В 1485-1495 годах возводятся существующие и поныне зубчатые кирпичные стены протяженностью более 2 км и высотой от 5 до 19 метров, одновременно сооружаются 18 больших и малых башен, строят Успенский собор (1475-1479 гг.), Благовещенский собор (1484-1489 гг.), Каменный государев дворец с Грановитой палатой (1487-1491 гг.), закладывается княжеская усыпальница – Архангельский собор (1505 г.).
			</p>
			<p>
				На главной площади Кремля – Соборной площади - итальянец Бон Фрязин поставил первую в России церковь-башню. Верх, начиная с ожерелья кокошников, достроили при Борисе Годунове в 1600 году: В тот год был неурожай, и стройку затеяли, чтобы дать работу голодному люду. В нижнем этаже колокольни был создан храм Иона Лествичника, отчего вся колокольня стала называться Иван Великий. Позже к ней пристроили еще две звонницы. Иван Великий объединил все здания Кремля в единый ансамбль. Он и сейчас служит колокольней для трех соборов. На нем находятся 34 колокола.
			</p>
			<p>
				 У подножия Ивана Великого поставлен Царь-колокол, самый большой из русских колоколов. Его изготовили в 1737 году для колокольни Ивана Великого. Когда колокол был готов, но еще находился в литейной яме под деревянным шатром, в Кремле начался пожар. На колокол упали горящие деревянные конструкции, на них стали лить воду, и от колокола откололся кусок весом 11, 5 тонны. После войны 1812 года в Кремле стали наводить порядок и вспомнили о колоколе. Поднять его поручили А.А. Монферрану. В 1836 году с помощью канатов и воротов махину поставили на место, где он и стоит сейчас. 
			</p>
			<p>
				Еще один образец литейного мастерства - Царь-пушка - стоит на Ивановской площади. Она была отлита в 1586 году и поставлена для обороны переправы через Москву-реку в Китай-городе. Затем ее перевезли во двор кремлевского Арсенала, а с 1960-х - к собору Двенадцати Апостолов в Патриаршем доме.
			</p>
			<p>
				К концу XV - началу XVI вв. Московский Кремль становится самым значительным фортификационным сооружением в Европе. Причем его башни, соборы, гражданские постройки совершенны не только по своей архитектуре, но и по интерьерам и отделке. В XVII веке кремлевские башни, кроме Никольской, украшаются многоярусными шатрами, выполненными в традициях древнерусского зодчества. Ярко-зеленая черепица, белокаменные грани, золоченые флюгера - все это создавало впечатление праздничности, нарядности. Возводятся также гражданские и культовые постройки: Теремный дворец (1635-1635 гг.), Потешный дворец (1651-1652 гг.), Патриаршие палаты с церковью Двенадцати апостолов (1642-1656 гг.). В 30-40 гг. XIX века меняется планировка территории Кремля: убираются старые обветшалые постройки, на их месте по проекту К.Тона возводится Большой Кремлевский Дворец (1838-1849 гг.) и здание Оружейной палаты (1844-1851 гг.).
			</p>
			<p>
				Архитектурный ансамбль Соборной площади включает в себя Успенский, Благовещенский и Архангельский соборы, каждый из которых вносит свой собственный вклад в историю нашего государства. В  Успенском соборе происходило венчание на царство русских царей и поставление глав русской православной церкви, на протяжении 400 лет он был главным храмом государства. Благовещенский собор когда-то служил домовой церковью московских великих князей и царей и был частью великокняжеского дворца. Собор предназначался для церемоний семейного характера. Протопоп Благовещенского собора был, как правило, духовником великого князя и хранителем Государевой печати. В храме также традиционно хранилась великокняжеская и царская казна. В последние годы на праздник Благовещения Пресвятой Богородицы в этом соборе Кремля совершает богослужение патриарх московский Алексий II. Архангельский  - это родовая усыпальница великих московских правителей, здесь гробницы династий Рюриковичей и Романовых, усыпальницы Ивана Калиты, Дмитрия Донского, Ивана Грозного.
			</p>
			<p>
				Патриаршие палаты, возведенные в 1633-1635 гг., служили резиденцией патриарха. Здесь также проходили заседания Священного Собора, пиры в честь царя и иноземных гостей. Сейчас это музей, где хранятся ценные образцы истории и культуры XVII века: драгоценная посуда, ювелирные украшения, предметы царской охоты, старинная мебель, памятники лицевого и орнаментального шитья. 
			</p>
			<p>
				Все соборы Московского кремля отличаются изумительной архитектурой и великолепным внутренним убранством. Интерьер Успенского собора, возведенного в 1475-1479 годах итальянским архитектором Аристотелем Фиораванти, украшает ансамбль настенных росписей и иконостас середины XVII века, состоящий из 69 икон. Здесь хранятся подлинные шедевры древнерусской иконописи XII-XVII веков. Изящный девятиглавый Благовещенский собор построен псковскими мастерами в традициях раннемосковского зодчества, а Архангельский собор воздвигнут в 1505-1509 годах приглашенным из Италии архитектором Алевизом Новым в традициях русского зодчества, однако его богатая отделка носит черты итальянского Возрождения.
			</p>
		</div>
	</div>
<?php $this->placeholder('cb778d3a-d0b3-11dc-a7e1-0015170f33dc')->captureEnd(); ?>


<?php /* ------------------------- SPB ----------------------------------------------------------------------------------------------------- */ ?>

<?php $this->placeholder('138fad2e-caec-11da-8d0d-505054503030')->captureStart(); ?>
	<div class="excursion-help-item">
		<div class="excursion-help-item-header">ОБЗОРНАЯ ЭКСКУРСИЯ ПО САНКТ-ПЕТЕРБУРГУ</div>
		<div class="excursion-help-item-body">
			<p>Время экскурсии: 3 ч.</p>
			<p>
				Санкт-Петербург - второй по величине город России после Москвы, ее столицы. По сравнению со многими европейскими городами Санкт-Петербург - молодой город. Он был основан почти 300 лет назад, в 1703 году, Петром Первым Великим, и на протяжении почти всех этих лет был известен как Санкт-Петербург. В 1712 году столица России была перенесена сюда из Москвы, что способствовало быстрому развитию города. Городу присуще неповторимое очарование.
			</p>
			<p>
				Санкт-Петербург еще называют Северной Венецией: город расположен на 42 островах, соединенных 360 мостами, пересекающими Неву и ее 65 рукавов и естественных каналов.
			</p>
			<p>
				Во время сити тура по городу наши гости увидят наиболее интересные здания и всемирно известные архитектурные ансамбли: Петропавловскую крепость, стрелку Васильевского Острова, Исаакиевский Собор, Сенатскую площадь и многие другие.
			</p>
		</div>
	</div>
<?php $this->placeholder('138fad2e-caec-11da-8d0d-505054503030')->captureEnd(); ?>


<?php $this->placeholder('8c20af28-caee-11da-8d0d-505054503030')->captureStart(); ?>
	<div class="excursion-help-item">
		<div class="excursion-help-item-header">ПЕТРОПАВЛОВСКАЯ КРЕПОСТЬ</div>
		<div class="excursion-help-item-body">
			<p>Время экскурсии: 3 ч.</p>
			<p>
				Город Санкт-Петербург был основан Петром Великим, когда на маленьком островке в 1703 году для защиты материка и укрепления выхода России к Балтийскому морю была заложена первая крепость. Крепость, однако, никогда не использовалась как военное укрепление. Вскоре после ее основания, она стала первой политической тюрьмой в России, в которой содержались самые важные заключенные. Первым здесь был заключен царевич Алексей (сын Петра Первого). Позднее в крепости содержались известные российские писатели и общественные деятели - Радищев, Достоевский и Горький. В декабре 1917 года, после роспуска Временного Правительства, крепость потеряла статус политической тюрьмы. Наиболее важной архитектурной деталью крепости является Петропавловский Собор, построенный в 1712 году Доменико Трезини.
			</p>
			<p>
				Возвышающийся над Невой золотой шпиль собора (отличающийся от куполов православных церквей допетровской России) стал символом Петербурга. После правления Петра Великого собор стал усыпальницей для российских императоров.
			</p>
		</div>
	</div>
<?php $this->placeholder('8c20af28-caee-11da-8d0d-505054503030')->captureEnd(); ?>


<?php $this->placeholder('138fad3d-caec-11da-8d0d-505054503030')->captureStart(); ?>
	<div class="excursion-help-item">
		<div class="excursion-help-item-header">ЭРМИТАЖ</div>
		<div class="excursion-help-item-body">
			<p>Время экскурсии: 3 ч.</p>
			<p>
				Весь музейный комплекс - Зимний Дворец, Малый Эрмитаж, Старый Эрмитаж, Новый Эрмитаж и Эрмитажный театр - известен как «Государственный Эрмитаж».
			</p>
			<p>
				Великолепная и пышная обстановка выставочных залов, отделанных малахитом, агатом, мрамором, является превосходным фоном для экспонатов. В Эрмитаже собрана одна из крупнейших коллекций, насчитывающая около трех миллионов произведений искусства и памятников мировой культуры, начиная с каменного века и до нашего столетия.
			</p>
			<p>
				В Эрмитаже Вы сможете посмотреть замечательную коллекцию картин, гравюр и скульптур, а также гобеленов, ковров, предметов искусства, археологических находок, старинной мебели и ювелирных изделий. Чтобы осмотреть все залы выставки, необходимо пройти почти 20 км. 
				Среди жемчужин коллекции картин Эрмитажа две знаменитые картины Леонардо да Винчи - «Мадонна с Младенцем» (Мадонна Бенуа) и «Мадонна с Младенцем» (Мадонна Литта); две картины Рафаэля; 25 полотен Рембрандта, в том числе портрет его жены Саскии ван Эйленбурх («Флора») и «Возвращение блудного сына»; а также замечательные произведения французских импрессионистов.
			</p>
		</div>
	</div>
<?php $this->placeholder('138fad3d-caec-11da-8d0d-505054503030')->captureEnd(); ?>

