<div id="transport-help" class="help-content">
	
</div>
<?php if (!empty($this->excsIds)) : ?>
<div id="excursion-help" class="help-content">
	<h1 style="text-align: center; font-size: 18px; ">Мастер-класс в мастерской "Дымов-керамика" и обзорная тематическая экскурсия "Под сенью монастырских стен.."</h1>
    <p style="text-align: center;">18.05.2015  18:00 – 20:00</p>
    <p style="text-align: center;">Стоимость 1200 руб.</p>
    <br/>
    <br/>
    <p><b>Программа:</b><br/>
    <ul>
    <li>17:45 Встреча у ресепшн ГТК «Суздаль»</li>
    <li>18:00 Отправление от гостиницы.</li>
    <li>18:00-19:00 Экскурсия с мастер-классом в мастерскую «Дымов-керамика».</li>
    <li>19:00-20:00 Обзорная тематическая экскурсия «Под сенью монастырских стен...»</li>
    <li>20:00 Трансфер в отель.</li>
    </ul>
    </p>
    <br/>
    <p><b>Мастерская «Дымов-керамика»:</b><br/>
        Мастер познакомит с керамическим производством, расскажет об истории керамики, покажет и поможет сделать шедевр на гончарном круге или расписной тарелке. Гости увозят с собой не только впечатления о собственных возможностях, но и свой личный маленький шедевр.
    </p>
    <br/>
    <p><b>Обзорная тематическая экскурсия «Под сенью монастырских стен...»</b><br/>
        Былинно-древний Суздаль появился на страницах летописей в начале XI века и надолго определил целый период в истории, именуемый Суздальской Русью.
        Гости города услышат рассказ об истории и тайнах многочисленных обителей древнего города: Покровский монастырь-место заточения особ царски х кровей и таинственного происхождения атамана Кудеяра, Ризоположенский монастырь-призрак, Спасо-Евфимиевская обитель и узница от Авеля до фельдмаршала Паулюса...
    </p>
    <div>
        <div style="float: left"><img src="../img/suzdal1.jpg" width="300" /></div>
        <div style="float: left"><img src="../img/suzdal3.png" width="300" /></div><div style="clear: both"></div>
        <div style="float: left"><img src="../img/suzdal4.png" width="300" /></div>
        <div style="float: left"><img src="../img/suzdal2.jpg" width="300" /></div>
    </div>
    <div style="clear: both"></div>
   <br/> <h2 style="text-align: center; font-size: 16px;">Условия</h2>
   <p> <ul>
    <li>Для бронирования экскурсии, пожалуйста, воспользуйтесь электронной формой бронирования услуг.</li>
    <li>Стоимость указана в рублях на 1 человека, включая: транспорт и услуги гида. </li>
    <li>Стоимость действительна для группы от 20 человек. Если группа будет менее 20 человек, то стоимость может измениться.</li>
    <li>Аннуляция экскурсии без применения штрафных санкций до 30.04.2015 до 11:00.</li>
    <li>В случае поздней аннуляции стоимость не возвращается.</li>
    <li>В случае не поступления оплаты до 30.04.2015 услуга будет отменена и компания «Райзебюро ВЕЛЬТ» не гарантирует возможность добавления данной экскурсии после указанной даты.</li>
    </ul></p>
</div>
<?php endif; ?>