<div id="payment-help" class="help-content">
	<p class="bolder">Информация об оплате:</p>
	<p>
		<span class="bolder">Банковский перевод:</span> вместе с подтверждением бронирования мы направим Вам счет для оплаты по безналичному расчету на организацию.
	</p>
	<p>
		<span class="bolder">Авторизационное письмо:</span> вместе с подтверждением бронирования мы направим Вам счет с квитанцией для оплаты в любом отделении Сбербанка РФ.
	</p>
	<p>
		<span class="bolder">Онлайн оплата:</span> вы можете оплатить заказанные Вами услуги онлайн кредитной картой или с помощью системы Web Money.
	</p>
</div>