<div id="payment-help" class="help-content">
	<div class="dialog-title hidden"><?php echo $this->translate('Payment'); ?></div>
	<p>
		В этом разделе можно выбрать способ оплаты заказанных услуг.
	</p>
	<p>
		После выбора подходящего метода оплаты, пожалуйста, нажмите кнопку "Продолжить".
	</p>
	<p>
		После этого Вы сможете получить все необходимые документы для оплаты.
	</p>
	<p>
		Нажмите «Получить для отмеченных» в случае, если Вы хотите выбрать способ оплаты услуг, которые Вы выделили.
	</p>
	<p>
		Нажмите "Получить для всех" в случае, если Вы хотите выбрать способ оплаты для всех заказанных услуг.
	</p>
	<br />
	<p>
		Описание:
	</p>
	<p>
		Кредитная карта (авторизационное письмо) – пожалуйста, выберите язык и нажмите кнопку "Продолжить". Через несколько минут будет сформирован бланк Авторизационного письма. Пожалуйста, заполните письмо, поставьте подпись и отправьте его нам вместе в двухсторонней копией кредитной карты. 
	</p>
	<p>
		Банковский перевод - пожалуйста, выберите язык счета и укажите название Компании, на которую должен быть выставлен счет.
	</p>
	<p>
		Онлайн оплата - пожалуйста, выберите способ оплаты и нажмите кнопку "Продолжить". 
	</p>
	<p>
		Все документы для оплаты, созданные Вами можно открыть или распечатать в Windows: <br />
		Счет - оплата по безналичному расчету<br />
		Авторизационное письмо - кредитной картой по авторизационному письму
	</p>
	<p>
		Если у вас есть какие-либо вопросы, пожалуйста, обращайтесь к нам (раздел «Контакты»), и мы с радостью Вам поможем.
	</p>
</div>