﻿.hotel_container {
    padding: 3px;
    border: 1px solid gainsboro;
    margin: 5px 2px;

}


.form-style-2-heading{
    font-weight: bold;
  /*  font-style: italic;*/
    border-bottom: 2px solid #ddd;
    margin: 0px 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-2 label{
    display: block;
   /* margin: 0px 0px 15px 0px;*/
}
.form-style-2 label > span{
    width: 100px;
    /*   font-weight: bold;
       float: left;*/
    /*padding-top: 8px;*/
    padding: 5px;
}
.form-style-2 span.required{
    color:red;
}
.form-style-2 .tel-number-field{
    width: 40px;
    text-align: center;
}
.form-style-2 input.input-field,
.form-style-2 .select-field{
    width: 70%;
    /* margin-left: 15%; */
   
}

.form-style-2 input.input-field-2 {
    width: 100%;
    outline: none;
    border: 0px;
    border-bottom: 1px solid black;
    line-height: 35px;
}

.form-style-2 input.input-field,
.form-style-2 .tel-number-field,
.form-style-2 .textarea-field,
 .form-style-2 .select-field{
    box-sizing: border-box;
    border-bottom: 1px solid #696666;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 15px;
    outline: none;
    color: #000;
}
.form-style-2 .input-field:focus,
.form-style-2 .tel-number-field:focus,
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
    border-bottom: 1px solid #000;
}

.form-style-2 input:hover,
.form-style-2 select:hover,
.form-style-2 textarea:hover{
    border-bottom: 1px solid #000;
    
    transition: all 0.3s;
    
}


.form-style-2 .textarea-field{
    height:40px;
    width: 55%;
}
/*
.form-style-2  table input[type=submit],
.main-form-block-line input[type=button],
.form-style-2 table input[type=button],
#tabs-3 input[type=button]
{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-style-2 table input[type=submit]:hover,
.form-style-2 table input[type=button]:hover,
.main-form-block-line input[type=button]:hover,
#tabs-3 input[type=button]:hover
{
    cursor: pointer;
    background: #EA7B00;
    color: #fff;
}
*/

/*Таблица с отелями 2 шаг*/
#hotels_info_table {
    
    width: 95%;
    margin: 0 auto;
}

#hotels_info_table td, #hotels_info_table th {
  /*  border: 1px solid #808080; */
}

#hotels_info_table th{
    font-weight: bold;
    border: 1px solid #808080;
    
    padding: 4px;
    text-align: center;

}

#hotels_info_table td{
    padding: 3px ;
    text-align: left;
}

#hotels_info_table .hotel_tr:hover{
    background-color: rgba(115, 255, 113, 0.13);
}

#hotels_info_table .hotel_order_button {
    cursor: pointer;
}

.get_hotel_info {
    color: blue;
    cursor: pointer;
}
#hotel-details-caption img {
    float: left;
    margin: 10px 10px 10px 0px;
}

/*
#step0commands, #step1commands, #step2commands {
    text-align: center;
}


fieldset legend {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 0 0;

}
*/

 

.service-comment label {
    float: left;
    width: 150px;
    margin-right: 1.5em;
    text-align: right;
}

/*показать на карте*/
#map-show-link {
    margin: 10px;
    padding-right: 23px;
    background: transparent url("../img/map16.gif") no-repeat scroll right center;
}

/*ЧУВАКИ*/


.persons-select-block-inner img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.actions_td img:hover {
    opacity: 0.7;
}

.link-btn {
    display: inline-block;
    position: relative;
    text-align: left;
    color: #9d1034;
    border: 1px solid #555;
    padding: 5px;
    cursor: pointer;
    font-weight: normal;
}

.link-btn:hover {
	background-color:#fff;
}

.hotel_tr .button {
    padding: 5px;
}

.link-btn {
    padding-left: 28px;
}
.link-btn .icon {
    position: absolute;
    left: 8px;
    top: 5px;
}

.show-info .icon {
    width: 13px;
    height: 16px;
    background: transparent url("../img/sprite.png") no-repeat scroll -16px -45px;
}
.link-btn .text {
    padding-right: 10px;
}
.show-map .icon {
    width: 16px;
    height: 16px;
    background: transparent url("../img/compas2.png") ;
}

.show-photo .icon {
    width: 16px;
    height: 16px;
    background: transparent url("../img/sprite.png") no-repeat scroll -29px -45px;
}



/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {
    cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkbox:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
    background: #9FD468;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
    left: 26px;
}
/* Показываем получение фокуса. */
.checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

.checkbox:disabled + label:before {
    background: #eee;
}
.radio:disabled + label:before {
    background: #eee;
}