/*################################## Общее #########################################################*/
* {
	margin:0; 
	padding:0;
}

html, body {
	margin:0;
	padding:0;
	background: transparent;
}
html{
    margin:0;
    padding:0;
     background: transparent;
    /*background: url("images/main_bg.jpg");*/
}

html {
	font-size:100.01%;
	line-height: 1.8em;
	overflow-x: hidden;
}
body {
	font-size: 1.2em;
	font-size: 62.5%;
	font-family:arial,helvetica,clean,sans-serif;
	color:#000000;
}
div.app-error {
	text-align:center;
	margin-top:5em;
	font-size:1.2em;
}
div.app-error h1 {
	margin-bottom:1.5em;
	font-weight:bolder;
	font-size:1.4em;
}
/*################################## Container ###############################################*/
#container {
	text-align:left;
	font-size: 1.2em;
}
#container a,.link {
	cursor:pointer;
	/*color:#0000e6;*/
	text-decoration:none;
}
#container a:visited,.link {
	text-decoration:none;
}
#container a:hover,.link {
	text-decoration:none;
}
/**
 * Ссылки с изображениями на фоне
 */
.delete-link-32,.delete-link-32-hidden {
	display:block;
	width:32px;
	height:32px;
	line-height:32px;
}
.delete-link-32 {
	background:url('../img/delete32.gif') no-repeat transparent 0 0;
}
.delete-link-32-hidden {
	background:url('../img/delete32_hidden.gif') no-repeat transparent 0 0;
}
.delete-link-16 {
	display:block;
	width:16px;
	height:16px;
	line-height:16px;
	background:url('../img/delete16.gif') no-repeat transparent 0 0;
}
.edit-link-32,.edit-link-32-hidden {
	display:block;
	line-height:32px;
	height:32px;
	padding-left:3.2em;
	background:url('../img/edit32.gif') no-repeat transparent left center;
}
.edit-link-32 {
	background:url('../img/edit32.gif') no-repeat transparent left center;
}
.edit-link-48 {
	display:block;
	width:48px;
	line-height:48px;
	height:48px;
	background:url('../img/edit48.gif') no-repeat transparent left center;
}
.edit-link-32-hidden {
	background:url('../img/edit32_hidden.gif') no-repeat transparent left center;
}
.print-link-32,.print-link-32-hidden {
	display:block;
	line-height:32px;
	height:32px;
	padding-left:3.2em;
}
.print-link-32 {
	background:url('../img/print32.gif') no-repeat transparent left center;
}
.print-link-32-hidden {
	background:url('../img/print32_hidden.gif') no-repeat transparent left center;
}
.upload-link-32 {
	display:block;
	line-height:32px;
	height:32px;
	padding-left:3.2em;
	background:url('../img/upload32.gif') no-repeat transparent left center;
}
.download-link-16 {
	display:block;
	width:16px;
	line-height:16px;
	height:16px;
	background:url('../img/download16.gif') no-repeat transparent left center;
}
.add-link-green-32 {
	display:block;
	line-height:32px;
	height:32px;
	padding-left:2.2em;
	background:url('../img/add32_green.gif') no-repeat transparent left center;
}
.toggle-opened,.toggle-closed {
	display:block;
	float:right;
	line-height:16px;
	height:16px;
	padding-right:20px;
}
.toggle-opened {
	background:url('../img/toggle_minus.gif') no-repeat transparent right center;
}
.toggle-closed {
	background:url('../img/toggle_plus.gif') no-repeat transparent right center;
}
.details-small {
	display:block;
	float:right;
	line-height:16px;
	height:16px;
	padding-right:20px;
	background:url('../img/details-small.gif') no-repeat transparent right center;
}
.result-message-outer {
	margin-top:50px;
	width:100%;
}
.result-message-inner {
	width:40em;
	margin:0 auto;
	padding:2em 2em 2em 2em;
	border:1px solid #515151;
	background:#ececff;
	font-size:1.2em;
}
#mask { 
	position:absolute;  
	z-index:9000;  
	background-color:#000;  
	display:none;  
}
/*################################## Ajax прелоадеры ###############################################*/
.loader {
	display:none;
	width:27em;
	height:7em;
	position:absolute;
	top:60%;
	left:40%;
	border:1px solid #808080;
	z-index:999;
	text-align:center;
	background:#ffffff;
}
.loader .loader_content {
	margin-top:2.7em;
}
.ajax-loader-small {
	display:none;
	position:absolute;
	top:40%;
	width:100%;	
	z-index:999;
	text-align:center;
}
.ajax-loader-small .ajax-loader-small-content {
	font-size:1.2em;
	width:10em;
	height:2.5em;
	margin:0 auto;
	padding: 0.5em;
	background:#ffffff;
	border:1px solid #808080;
}
.ajax-loader-small .ajax-loader-small-content img{
	margin:0em 0em -0.7em 1em;
}
div.inline-ajax-loader {
	display:none;
	width:90%;
}
div.inline-ajax-loader-content {
	width:6em;
	margin:0 auto;
}
div.inline-ajax-loader-content img {
	margin:0em 0em -0.3em 0.3em;
}
.transparent {
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
/*################################## Main form ###############################################*/
.main-form {
	width:100%;
	height:auto;
	min-height:80%;
	margin:0 auto;
	margin-top:2em;
}
.main-form-block {
	width: 60em;
	margin:0 auto;
	margin-bottom:2em;
}
.main-form-block-header h2 {
	font-size: 1.9em;
	height:2.5em;
	text-align:center;
	margin:0em 0em 0.5em 0em;
	font-family: Georgia,serif;
}
.block-body-inner {
	width:auto;
}
.info-link {
	display:inline;
	margin-left:0.3em;
}
.info-link-small {
	display:inline;
	margin-left:0.5em;
}
.info-link-small img {
	margin-bottom:-0.6em;
}
.info-link img {
	margin-bottom:-0.3em;
}
.info-img {
	margin-bottom:-0.4em;
}

.block-body-inner {
	overflow: hidden;
	padding: 1.5em 0 1em 0; 
	

	/*
	background:#f2f2f2;
	background:#F2F2F2;
	border:2px solid #808080;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-opera-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;
	*/
}

.main-form-block .toogle-form-header {
	padding: 0 0 0.3em 1.5em;
}
.main-form-block .toogle-form-header span {
	float: none;
	display: inline-block;
	text-align:left;
	font-size: 1.2em;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none; 
}
.main-form-block .toogle-form-header span.hidden {
	display: none;
}
.main-form-block .toogle-form-header .toggle-closed, .main-form-block .toogle-form-header .toggle-opened {
	padding: 0px 0px 0px 20px;
	background-position: left center;
}
/*
.main-form-block .toogle-form-body {
	clear:both;
	margin-top:1em;
	padding-top:1.5em;
	border-top: 1px solid #808080;
}
*/
.block-body-inner .main-form-block-line {
	float: left; 
	width: 100%;
	margin-bottom: 7px; 
}
.main-form-block-line label {
	float: left;
	width: 20em;
	/* text-align: right; */
	position: relative;
	top: 2px;
	margin-right: 2.5em;
	font-size:1.1em;
	white-space:nowrap;
}
.main-form-block-line .main-form-input-text {
	width: 20em;
	padding: 1px 2px 1px 2px;
	background: #fff; 
	border: 1px solid #7f9db9;
	height: 20px;
	font-size:1.25em;
}
/*
.main-form-block-line select {
	width: 20em;
	float: left;
	padding: 1px 2px 1px 2px;
	height: 23px;
	background: #fff; 
	border: 1px solid #7f9db9;
	font-size:1.25em;
}
*/
.main-form-block-line textarea {
	/*width:25.5em;*/
    /*для прототипа*/
    width:250px;

	float: left;
	height:5em;
	padding: 1px 2px 1px 2px;
	background: #fff; 
	border: 1px solid #7f9db9;
}
.main-form-block-line .main-form-input-checkbox {
	float: left;
	height: 20px;
}
.main-form-block-line .without-input {
	top: 0px;
}
.block-body-inner .two-cell-line {
	margin: 10px 0px 10px 0px;
}
.two-cell-line label {
	width:12.5em;
	margin-right: 1em;
}
.two-cell-line .main-form-input-text, .two-cell-line img {
	/*float:right;
    /*для прототипа*/


}

.actions {
    float: right;
    position: relative;
    bottom: 17px;
}


.form-calendar {
	margin-left:0.5em;
	margin-top:0.25em;
}
.main-form-submit-block {
	text-align:center;
}
.main-form-table {
	width:95%;
	margin:10px auto;
}
.main-form tr.empty-order-row td.empty-order-row-msg {
	font-size:1.3em;
	color:red;
}
.main-form-table caption {
	padding-bottom:1em;
	text-align:center;
	font-weight:bolder;
	font-size:1.2em;
}
.main-form-table th {
	font-weight:bolder;
}
.main-form-table th, .main-form-table td {
	border:1px solid #CCC8C8;
	padding:0.5em;
	text-align:center;
}
.main-form .table-note-line {
	width:90%;
	margin:0 auto;
}
.main-form .left-align {
	text-align:left;
}

.main-form .add-line {
	text-align:center;
	margin:1.5em 0em 1.5em 0em;
	height:24px;
}
.main-form .submit-block {
	position:relative;
	width:60em;
	margin:15px auto 0 auto;
	text-align:right;
	margin-bottom:2em;
}
#main-form-step1 .submit-block,#main-form-step2 .submit-block, #main-form-step3 .submit-block,#main-form-step4 .submit-block {
	width:70em;
}
.main-form img.ui-datepicker-trigger {
    margin-left: 0.5em;
    margin-top: 0.25em;
}
.main-form .required {
	color:#ff0000;
}
.main-form .result-message-inner h2 {
	font-weight:bolder;
	margin-bottom:1.5em;
	text-align:center;
}
.main-form .main-form-links {
	margin-top:1.5em;
	width:100%;
}
.main-form-links-inner {
	display:inline-block;
	width:auto;
	margin:0 auto;
	white-space:nowrap;
	text-align:center;
}
.main-form .main-form-links-inner span {
	display:inline-block;
	float:none;
	margin-right:3em;
	font-size:1.4em;
	color:#0000E6;
}
.main-form .main-form-links-inner .main-form-link-last {
	margin-right:0;
}
.main-form .main-form-links-inner .form-clear-link {
	line-height:32px;
	padding-left:2.3em;
	background:url('../img/blank32.gif') no-repeat transparent left center;
}
.main-form .main-form-links-inner .form-add-link {
	line-height:32px;
	padding-left:2.3em;
	background:url('../img/add32_green.gif') no-repeat transparent left center;
}
.main-form .main-form-links-inner .form-save-link {
	line-height:32px;
	padding-left:2em;
	background:url('../img/save32.gif') no-repeat transparent left center;
}
.main-form .main-form-links-inner .form-cancel-link {
	line-height:32px;
	padding-left:1.8em;
	background:url('../img/cancel32.gif') no-repeat transparent left center;
}
.main-form #prev-step,.main-form .submit-block-left-link {
	float:left;
}
.main-form .orders-line {
	margin-top:1em;
}

/*################################## Main form persons select ###############################################*/
div.persons-select-line {
/*	margin-top:2em;*/
}

div.persons-select-block-inner label {
	text-align:left;
}
div.persons-select-block-outer div.persons-select-caption {
	font-weight:bolder;
}
div.persons-select-block-inner {

/*	border:1px dashed #808080;*/
	line-height:1.7em;
}
/*################################## Main form service comment ###############################################*/
div.service-comment-inner {
	width:25em;
	margin:0 auto;
	margin-top:1em;
	text-align:center;
}
div.service-comment-inner div.service-comment-header {
	font-weight:bolder;
	margin-bottom:0.5em;
}

.modal {
	display:none;
	z-index:9999;
	position:fixed;
	padding-top:3em;
	width:60em;
	min-height:30em;
	/* background:#ffffff; */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-opera-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;
}
/*################################## Help ###############################################*/
#hotel-help img {
	margin-right:1em;
}
.help-content {
	display:none;
	margin-top:1em;
	text-align:left;
	font-size:1.1em;
	max-height:500px;
}
.help-content p {
	margin-bottom:1em;
}
.help-content ul,.help-content ol {
	margin-left:3em;
}
.help-content ul, .help-content ul li {
	list-style:disc;
}
.help-content ol,.help-content ol li {
	list-style:decimal;
}
/*################################## Helpers ###############################################*/
.red {
	color:#ff0000;
}
.italic {
	font-style:italic;
}
.underliner {
	text-decoration: underline;
}
.relativier {
   position: relative;
}
.clearer {
	clear:both;
}
.centerer {
    text-align: center;
}
.left-align {
    text-align: left;
}
.justify {
	text-align:justify;
	text-indent: 1.5em;
}
.left {
	text-align:left;
}
.borderer {
    border: 1px solid #f00;
}
.no-border {
	border:none !important;
}
.hidden {
    display: none;
}
.hidden-imp {
    display: none !important;
}

.blocker {
    display: block;
}

.inliner {
    display: inline;
}

.nobrer {
    white-space: nowrap;
}

.overflover {
    overflow: hidden;
}

.smaller {
    font-size: 90%;
}
.bolder {
	font-weight:bolder;
}

.grayer {
    color: #a3a3a3;
}

.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow:hidden;

}
.clearfix {
   display: block;

}
.clearfix {
//display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.floater {
   float: left;
   _clear: right;
}

.floater-right {
   float: right;
   _clear: left;
} 


/* Clear */
.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.clear {display: inline-block;}

.clear {display: block;}

#ui-datepicker-div {
	display: none;
}
/*TRANSFORMS*/

/*--------*/
#new-persons, .block-body-inner{
    position:relative;
	background: #fff;

}
#new-persons:before, #new-persons:after
{
    content:"";
    position:absolute;
    z-index:-1;

    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);

    left:0;
    right:0;

}