/*################################################### Макет #####################################################*/
html, body {
	height: 100%;
}
div.ppc-container {
	min-width:1000px;
	height: 100%;
}
/**
 * Шапка
 */
div.top-block {
	height:11em;
	padding:1em;
	min-width:900px;
}
div.top-block .nologo {
	border-right: none;
}
div.top-block-logo {
	position:absolute;
	top:0;
	left:265px;
	top: 10px;
	width:210px;
	text-align:left;
}
div.top-block-textlogo {
	float:left;
	position:relative;
	font-size:1.2em;
	padding-top:0;
	margin-left:5px;
	width:300px;
	border-right:1px solid #d3d3d3;
}
div.top-block-textlogo .main-text {
	margin-bottom:0.8em;
}
div.top-block #top-blcok-text-dates {
	font-size:0.9em;
}
div.top-block-right {
	width:450px;
	position:relative;
	float:right;
	margin-right:1.5em;
}
div.top-block-right-user {
	width:250px;
	float:left;
	margin-right:2em;
	padding:1em 1em 1em 1.5em;
	border:1px solid #d3d3d3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-opera-border-radius:8px;
	-khtml-border-radius:8px;
	border-radius:8px;
	background:url('../img/user48.gif') no-repeat transparent 220px center;
}
#ppc-user-lang {
	text-align:center;
	margin-bottom:0.7em;
}
#ppc-user-lang a {
	border-bottom: 1px dashed #32548D;
    color: #32548D;
    font-size: 1.1em;
}
div.top-block-right-user div.top-block-right-links {
	margin-top:1.5em;
}
div.top-block-right-user div.top-block-right-text {
	width:200px;
}
div.top-block-right-user div.top-block-right-links a {
	text-decoration:underline !important;
}
div.top-block-right-user div.top-block-right-links span.delimiter {
	padding:0em 1em 0em 1em;
	color:#0000CC !important;
}
div.top-block-right-logo {
	float:right;
}
div.top-block-right-logo div.top-block-right-logo-text {
	margin-top:1em;
	font-weight:bolder;
}
/**
 * Меню
 */
div.navigation-block-wrapper {
	width:100%;
	height:40px;
	position:relative;
	left:0px;
	top:-1em;
	background:#efefef;
	border-top:1px solid #808080;
	border-bottom:1px solid #808080;
	font-size:1.3em;
	font-family:Tahoma,Arial,Lucida;
}
div.navigation-block-outer {
	float:left;
  	left:50%;
 	position:relative;
}
div.navigation-block-inner {
	left:-50%;
  	position:relative;
}
.navigation li {
	display:block;
	float:left;
	position:relative;
}
.navigation .main-menu-link {
	display:block;
	float:left;
	line-height:40px;
	padding:0px 15px 0px 15px;
	margin:0px 5px 0px 5px;
	border-right:1px solid #EFEFEF;
	border-left:1px solid #EFEFEF;
	color:#0000E6;
	cursor:pointer;
}
.navigation li:hover .main-menu-link {
	border-right:1px solid #808080;
	border-left:1px solid #808080;
	background:#ffffff;
}
.navigation .sub-menu-link {
	position:relative;
	width:8.1em;
}
.navigation ul {
	display:none;
	position:absolute;
	top:40px;
	left:5px;
	width:10em;
	border:1px solid #808080;
	background:#efefef;
	z-index:800;
}
.navigation ul li {
	display:block;
	float:none;
}
.navigation ul li a {
	float:none;
	display:block;
	padding-left:1em;
	height:2em;
	line-height:2em;
	color:#000000 !important;
}
.navigation li:hover ul {
	display:block !important;
}
.navigation ul .sub-menu-elem:hover {
	background:#ffffff;
}
/**
 * Центральный блок
 */
div.center-block {
	min-width:1000px;
	min-height:100%;
}
div.clear-center {
	height: 5.5em;
}
div.center-block .center-block-header {
	display:block;
	margin-top:2.5em;
	margin-bottom:1em;
	font-family:Georgia,serif;
	font-size:1.9em;
	text-align:center;
}
div.center-block div.center-block-bordered-content {
	margin:0 auto;
	padding:2em;
	border:1px solid #808080;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-opera-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;
}
/**
 * Footer
 */
div.bottom-block-outer {
	height: 5.5em;
	background:#F2F2F2 url('/img/footer-bg.gif') repeat-x 0 0;
}
div.bottom-block-inner {
	width:40em;
	height:2.5em;
	margin:0 auto;
	padding:1.5em 0em 1em 0em;
	font-size:1.1em;
}
div.bottom-block-inner ul li {
	float:left;
	line-height:2em;
}
div.bottom-block-inner ul li.bottom-list-center {
	border-left:1px solid #000000;
	border-right:1px solid #000000;
	margin:0em 2em 0em 2em;
	padding:0em 2em 0em 2em;
}
/*############################################# Общее ####################################################*/
.base-submit {
	border:1px solid #535353;
	padding:0.3em 1.5em 0.3em 1.5em;
	//padding:0.3em 1em 0.3em 1em;
	background:#d3d3d3;
	font-size:1.2em;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-opera-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
}
.base-submit:hover {
	background:#c8c8c8;
}
div.ppc-container .add-link-green-32 {
	font-size:1.4em;
	float:right;
}
/**
 * Виджеты
 */
div.base-widgets-outer {
	width:950px;
	margin:0 auto;
}
div.base-widget-container {
	height:7em;
	width:20em;
	float:left;
	padding:1em 0.5em 1em 0.5em;
	border:1px solid #d3d3d3;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-opera-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;
}
div.first-widget {
	margin-right:6em;
}
div.base-widget {
	width:16em;
	margin:0 auto;
	font-size:1.1em;
}
div.base-widget div.base-widget-header {
	text-align:center;
	font-weight:bolder;
}
div.base-widget ul {
	line-height:1.8em;
}
div.base-widget .base-widget-left {
	float:left;
	margin-right:2em;
}
#order-info-payment-widget {
	width:14em;
}
/**
 * Оформление таблиц
 */
table.ppc-base-table {
	width:100%;
}
tr.active-row td {
	background:#ffe0a7;
}
tr.even-row td {
	background:#f6f6f4;
}
tr.odd-row td {
	background:#ffffff;
}
table.ppc-base-table td, table.ppc-base-table th {
	padding:0.5em;
}
table.ppc-base-table th {
	border:1px solid #808080;
}
table.ppc-base-table td {
	border:1px solid #808080;
}
table.ppc-base-table th {
	text-align:center;
	background:#d3d3d3;
	font-weight:bolder;
}

table.ppc-base-table .pcc-base-table-actions {
	padding-left:1.5em;
}
table.ppc-base-table td.pcc-base-table-action {
	width:32px;
	padding:0.5em 1em 0.5em 1em;
	white-space:nowrap;
	vertical-align:middle;
}
table.ppc-base-table .pcc-base-table-actions span,table.ppc-base-table .pcc-base-table-actions a {
	float:left;
	margin-right:0.2em;
}
table.ppc-base-table .pcc-base-table-persons div {
	line-height:1.5em;
	white-space:nowrap;
}
table.ppc-base-table .pcc-base-table-summ,table.ppc-base-table .pcc-base-table-date {
	text-align:center;
}
div.center-block .no-records {
	margin-top:2.5em;
	padding:1em 0em 1em 0em;
	border:1px solid #808080;
	text-align:center;
	color:red;
	font-size:1.3em;
}
table.ppc-base-table tr.canceled-service-line td {
	background-color:#ffcece;
}
/**
 * Диалоги
 */
.ppc-modal-dialog {
	display:none;
	font-size:1.1em;
	margin-top:1.5em;
}
/**
 * Блок с предупреждением
 */
div.attention-block {
    margin: 0 auto;
    padding: 1em 2em 0.5em 75px;
	background:url("../../img/alert48_yellow.gif") no-repeat scroll 10px center #F6F6F4;
	border: 1px solid #808080;
    font-size: 1.1em;
	text-align: justify;
}
div.attention-block p {
	padding-bottom:0.5em;
}
/*################################# Формы авторизации и восстановления пароля ####################################*/
.auth-form-outer {
	width:100%;
	margin-top:4em;
}
.auth-form-inner {
	width:20em;
	margin:0 auto;
	position:relative;
}
.login-form-inner {
	width:27em;
}
.remind-form-inner {
	width:32em;
}
#auth-form-into-text {
	width:60em;
	margin:0 auto;
	margin-bottom:5em;
	padding:1em 1.5em 1em 1.5em;
	border:1px solid #808080;
}
#auth-form-into-text p {
	padding-bottom:0.5em;
	text-indent:1em;
	text-align:justify;
}
#auth-form-into-text p.centerer {
	text-align:center;
}
#auth-form-into-text p.first-p {
	text-indent:0px;
}
#auth-form-into-text img {
	float:right;
	padding:0em 0em 0.5em 1.5em;
}
#auth-form-lang {
	position:absolute;
	right:0px;
	top:-30px;
}
#auth-form-lang a {
	display:inline-block;
	border-bottom: 1px dashed #32548D;
    color: #32548D;
    font-size: 1.1em;
}
.auth-form-inner form {
	border:1px solid #808080;
	padding:2em 2em 1.5em 2em;
	background:#f2f2f2;
}
.auth-form-inner h2 {
	font-size:1.8em;
	font-family:Georgia,serif;
	margin-bottom:1.5em;
	text-align:center;
}
.auth-form-line {
	height:2.5em;
}
.captcha-line {
	height:5em;
	text-align:right;
}
.captcha-refresh img {
	margin-bottom:1.2em;
}
.auth-form-submit-line {
	text-align:right;
	margin-top:1.2em;
}

.auth-form-line label {
	position:relative;
	top:2px;
	display:block;
	width:5em;
	float:left;
	text-align:right;
	padding-right:1.3em;
	//padding-right:1em;
}
.remind-form-inner label{
	width:10em;
}
.auth-form-line .auth-form-text-input {
	width:13em;
	padding:0.1em 0em 0.1em 0em;
	font-size:1.2em;
	border:1px solid #7F9DB9;
	background:#ffffff;
	float:right;
}
.auth-form-bottom-link {
	text-align:center;
	margin-top:1em;
	font-size:1.3em;
	//padding-bottom:5px;
}
.auth-form-bottom-link a:hover {
	border-bottom:1px dashed #808080;
}

.remind-success {
	width:30em;
	padding:1em;
	text-align:center;
}
.remind-success .remind-success-main-link {
	margin-top:1em;
}
.remind-success .remind-success-main-link a {
	font-size:1.2em;
}
.remind-success .remind-success-main-link a:hover {
	border-bottom:1px dashed #0000E6;
}
.flash-messages {
	width:100%;
	margin-top:2em;
	padding:1em 0em 1em 0em;
	text-align:center;
	font-size:1.2em;
	color:#ff0000;
	background:#ffecec;
	border-top:1px solid #808080;
	border-bottom:1px solid #808080;
}
/*################################## Order info ###############################################*/
#ppc-order-info div.base-widgets-inner {
	width:600px;
	margin:0 auto;
}
#ppc-order-info div.order-info-widget-payment {
	text-align:center;
}
#ppc-order-info .payment-link {
	font-size:1.1em;
}
#ppc-order-info .payment-link img {
	margin:0em 0em -0.2em 0.5em;
}
#order-info-help #order-info-help-actions {
	margin:1em 0em 2em 2em;
}
#order-info-help #order-info-help-actions li {
	display:block;
	height:4em;
	list-style:none;
}
#order-info-help #order-info-help-actions li img {
	margin-bottom:-0.8em;
}
/*################################## Services ###############################################*/
/**
 * Список услуг
 */
div.order-info-services {
	margin:3em 0em 3em 0em;
}
div.services-list h2{
	display:block;
	font-family:Georgia,serif;
	font-size:1.6em;
	margin-bottom:1em;
	text-align:center;
}
div.services-list-actions {
	margin-bottom:1.5em;
}
div.services-list div.services-list-body {
	width:90%;
	min-width:950px;
	margin:0 auto;
}
div.services-list #service-add-persons-link {
	margin-right:3em;
}
#services-list-table td {
	vertical-align:middle;
	height:3em;
}
#services-list-table td.pcc-base-table-name {
	width:20em;
}
#services-list-table td.pcc-base-table-summ {
	width:9em;
}
#services-list-table td.pcc-base-table-details {
	width:10em;
}
#services-list-table td.pcc-base-table-date {
	width:7em;
}
#services-list-table td.pcc-base-table-period {
	width:10em;
	text-align:center;
}
div.service-details-link-block {
	width:100%;
	clear:both;
}
#services-list-table div.service-details-link-block {
	width:auto;
	margin:0 auto;
	white-space:nowrap;
	text-align:center;
}
#services-list-table div.service-details-link-block span {
	display:inline-block;
	float:none;
	text-align:center;
}
#services-list-table div.service-details {
	display:none;
}
ol.service-list-persons {
	margin-left:2em;
	line-height:1.5em;
}
ol.service-list-persons li{
	list-style:disc;
}
#service-details-loader {
	font-size:1.3em;
} 
#services-details-dialog-content {
	width:90%;
	margin:0 auto;
}
/**
 * Детали по услуге
 */
table.service-details-table {
	margin:1em 0em 1em 0em;
	font-size:1.1em;
	line-height:1.6em;
}
table.service-details-table td {
	background:#ffffff;
	text-align:left;
	vertical-align:top;
}
table.service-details-table td.service-details-caption-cell {
	width:11em;
	font-weight:bolder;
}
table.transport-details-table td.service-details-caption-cell {
	width:14em;
}
table.reg-fee-details-table td.service-details-caption-cell {
	width:14em;
}
table.meal-details-table td.service-details-caption-cell {
	width:16em;
	padding-right:1em;
}
table.service-details-table td.service-details-comment-cell {
	font-style:italic;
}
/**
 * Страница с формой заказа услуг
 */
#ppc-reg-form {
	width:100%;
	margin:0 auto;
	margin-top:3em;
}
#ppc-reg-form iframe {
	width:100%;
	height: 4000px;
	margin:0;
	pading:0;
	border:0;
}
/**
 * Диалог с параметрами для редактирования услуги
 */
#services-edit-dialog-content {
	margin:1em 1em 1em 2em;
	font-size:1.1em;
	max-height:30em;
}
#services-edit-dialog-content #service-edit-caption {
	margin-bottom:1.5em;
	text-align:left;
}
#services-edit-dialog-content #service-edit-table tr.service-ordered-content-row {
	font-size:1em;
	color:#808080;
}
#service-edit-table {
	text-align:left;
}
#service-edit-table td.service-edit-param {
	padding-right:1em;
}
#service-edit-table tr.service-edit-static-row td {
	padding-top:0.5em;
	padding-bottom:1.5em;
}
#service-edit-table tr.service-edit-content-row td {
	padding-top:0.5em;
	padding-bottom:1.5em;
}
#service-edit-table tr.service-edit-content-row input,#service-edit-table tr.service-edit-content-row textarea {
	width:30em;
}
#service-edit-table tr.service-edit-content-row select {
	width:30.2em;
	padding:0.3em 0em 0.3em 0em;
}
#service-edit-table div.service-edit-person input {
	width:auto;
}
#services-edit-dialog div.services-edit-dialog-success {
	display:none;
	font-size:1.1em;
	margin-top:1.5em;
}
/*################################## Persons ###############################################*/
/**
 * Формы добавления и удаления
 */
#persons-form div.main-form-block {
	width:50em;
	margin-bottom:2em;
}
#persons-form div.block-body-inner {
	width:48.7em;
}
#persons-form div.main-form-block-line {
	height:3em;
}
#persons-form label {
	width:16em;
	white-space:normal;
}
#persons-form .main-form-input-text {
	width:18em;
	float:left;
}
#persons-form .main-form-select {
	width:18.4em;
}
#persons-form #person-birthday,#persons-form #person-passport-exp-date {
	width:16.5em;
}
#persons-form .form-calendar {
	float:left;
}
/**
 * Список персон
 */
#ppc-persons div.persons-list {
	width:900px;
	margin:0 auto;
}
#ppc-persons h2 {
	margin-bottom:1.5em;
}
#persons-list-table td {
	vertical-align:top;
	padding-top:1em;
}
#persons-list-table td.persons-list-pers-type {
	width:18%;
	text-align:center;
}
#persons-list-table td.pcc-base-table-actions {
 	width:8%;
	text-align:center;
	padding-left:0.5em;
}
#persons-list-table td.pcc-base-table-actions span {
	width:32px;
	float:none;
	margin:0 auto;
	padding-left:0px;
}
#persons-list-table td.persons-list-docs {
	width:26%;
	padding:1em;
}
#persons-docs-loader {
	top:-6px;
	left:0px;
}
#persons-docs-loader .ajax-loader-small-content{
	padding:0.2em 0.5em 0.2em 0.5em;
}
#persons-list-table div.person-doc {
	margin-bottom:1em;
}
#persons-list-table div.person-doc span {
	float:left;
	line-height:16px;
}
#persons-list-table div.person-doc .download-link-16 {
	margin-left:0.5em;
}
#ppc-persons div.persons-list-actions {
	width:900px;
	margin:0 auto;
	margin-bottom:1.5em;
	display:none;
}
#persons-list-table div.person-doc div.person-doc-link {
	float:left;
	margin-bottom:0.3em;
	color:#0000E6;
}
.person-doc-date-text {
	float:left;
	white-space:nowrap;
}
#persons-form-container .main-form-block-header {
	height:4.5em;
}
#persons-form-links {
	width:100%;
	position:relative;
}
#persons-form-links div.main-form-links-inner{
	height:5em;
	position:relative;
}
/**
 * Прелоадер
 */
#persons-loader {
	position:static;
	white-space:nowrap;
	margin-bottom:2em;
}
#persons-loader div.ajax-loader-small-content {
	width:13em;
}
/**
 * Upload
 */
#persons-list-table div.uploader-link-block-outer {
	position:relative;
}
#persons-list-table div.uploader-link-block-inner span{
	width:8em;
	margin:0 auto;
}
#persons-list-table div.person-doc {
	padding:0.5em 0.5em 0.5em 1em;
	border:1px dashed #aaaaaa;
	border-bottom:1px dashed #aaaaaa;
}
#persons-list-table div.person-doc .delete-link-16 {
	float:right;
}
#persons-list-table div.persons-docs-loader {
	top:-7px;
	left:0px;
}
#persons-list-table div.persons-docs-loader .ajax-loader-small-content {
	width:13em;
	padding:0.2em 0.5em 0.2em 0.5em;
}
#persons-help p img{
	margin-bottom:-0.6em;
}
/*############################################### Payment ####################################################*/
#payment-attention {
	width:465px;
	margin-bottom:3em;
}
#payment-docs {
	width:600px;
	margin:0 auto;
	margin-bottom:3.5em;
}
#payment-docs a.tab-links {
	color:#626262;
}
#payment-docs li.payment-doc {
	display:block;
	padding:0.5em 1em 0.5em 1em;
	margin-bottom:1em;
	border:1px dashed #AAAAAA;
}
#payment-docs div.payment-doc-name {
	float:left;
	margin-right:2em;
}
#payment-docs div.payment-doc-name a {
	display:block;
	padding-right:1.6em;
	background:url('../img/download16.gif') no-repeat transparent right center;
}
#payment-docs span.payment-doc-caption-date {
	margin-right:1.5em;
}
#payment-docs div.payment-docs-refresh-link {
	width:11.5em;
	height:1.5em;
	margin:0 auto;
	margin-top:1.5em;
	font-size:1.1em;
	color:#1A3DC1;
	white-space:nowrap;
}
#payment-docs div.payment-docs-refresh-link span {
	border-bottom:1px dashed #1A3DC1;
}
#payment-docs div.payment-docs-refresh-link img {
	margin-bottom:-0.5em;
}
#payment-docs div.payment-docs-loader {
	text-align:right;
	width:15em;
	float:right;
	margin-top:-1.3em;
	white-space:nowrap;
}
/**
 * Таблицы выбора методов оплаты для услуг и непосредственно оплаты
 */
#payment-request-dialog {
	display:none;
}
#services-payment div.services-payment-body {
	width:80%;
	min-width:850px;
	margin:0 auto;
}
#services-payment div.services-payment-select-body {
	width:830px;
	margin:0 auto;
}
#services-payment td.pcc-base-table-name {
	width:30%;
	padding:1em 0.5em 1em 0.5em;
}
#services-payment td.pcc-base-table-summ {
	width:7em;
}
#services-payment-select-table td.pcc-base-table-payment-method {
	width:7em;
}
#services-payment td.pcc-base-table-payment-method {
	text-align:center;
}	
#services-payment td.pcc-base-table-persons {
	white-space:nowrap;
}
#services-payment span.services-payment-select-all {
	font-size:1.1em;
}
#services-payment div.services-payment-action {
	clear:both;
	float:right;
	margin-top:2em;
	margin-bottom:2em;
}
#payment-reset-link {
	display:inline-block;
	width:auto;
	line-height:32px;
	height:32px;
	font-size:1.4em;
	border:1px solid #808080;
	padding:0.2em 0.5em 0.2em 0.5em;
	color:#0000E6;
}
#payment-reset-link:hover {
	background:#f4f4f4;
}
#payment-reset-link img {
	margin-bottom:-0.7em;
	//margin-bottom:-0.8em;
}
#services-payment .service-payment-get-link {
	display:block;
	color:#1A3DC1;
}
#services-payment-table-actions-row th {
	background:#ffffff;
	font-weight:normal;
	white-space:nowrap;
	text-align:center;
}
#services-payment-table th.payment-table-method-actions {
	width:11.5em;
	text-align:center;
}
#services-payment-table th.payment-table-method-actions span {
	display:block;
	margin:0 auto;
	text-align:center;
	margin:0.4em 0.4em 0.4em 0.4em;
	text-decoration:underline;
	font-size:1.2em;
}
#services-payment-table div.payment-method-select {
	position:absolute;
	left:170px;
	//left:150px;
	top:-1.5em;
	width:7em;
	height:32px;
	width:32px;
	line-height:32px;
	font-size:1.3em;
}
/**
 * Диалог отправки запроса на документ
 */
#payment-request-dialog #payment-dialog-body {
	width:95%;
	margin-top:1em;
	font-size:1.2em;
}
#payment-request-dialog #payment-dialog-body-elements {
	width:32em;
	margin:0 auto;
}
#payment-request-dialog div.payment-dialog-line {
	height:2em;
	line-height:1.4em;
	margin-bottom:1em;
}
#payment-request-dialog div.payment-dialog-line label {
	width:14em;
	margin-right:1em;
	float:left;
	text-align:right;
}
#payment-request-dialog #payment-dialog-summ {
	float:left;
}
#payment-request-dialog div.payment-dialog-line input,#payment-request-dialog div.payment-dialog-line select {
	width:15em;
	float:left;
}
#payment-request-dialog #payment-dialog-online-method-line {
	width:33em;
	height:auto;
	margin:0 auto;
	margin-top:1.5em;
	margin-bottom:2.5em;
}
#payment-request-dialog #payment-dialog-online-method-line p {
	margin-bottom:1em;
	font-weight:bolder;
}
#payment-request-dialog #payment-dialog-online-method-line table {
	width:29em;
	margin:0 auto;
	border:1px dashed #AAAAAA;
}
#payment-dialog-online-method-line table td {
	padding:1em;
}
#payment-request-dialog #payment-dialog-online-method-line input{
	width:auto;
	float:none;
	display:inline;
}
#payment-request-dialog #payment-dialog-attention-line {
	width:100%;
	margin:0 auto;
	padding:0.5em 1em 0.5em 0em;
	font-size:0.9em;
}
#payment-request-dialog #payment-dialog-attention-line a {
	color:#1A3DC1;
}
#payment-request-dialog #payment-dialog-loader {
	width:100%;
	margin-top:2em;
	font-size:1.1em;
}
#payment-request-dialog div.inline-ajax-loader-content {
	width:8em;
}
/*
 * Диалог с предупреждением об ограничении суммы при онлайн-оплате
 */
#payment-online-warning {
	display:none;
	margin-top:1em;
	font-size:1.1em;
	text-align:left;
}
#payment-online-warning p.first {
	font-weight:bolder;
	text-align:center;
}
#payment-online-warning p {
	padding-bottom:1em;
}
/*############################################### Профиль ####################################################*/
/**
 * Просмотр профиля
 */
#user-profile {
	width:900px;
	margin:0 auto;
}
#user-profile-details {
	position:relative;
}
#user-profile #user-profile-edit {
	position:absolute;
	top:15px;
	left:90%;
}
#user-profile-details {
	width:600px;
}
#user-profile-details #user-profile-details-table {
	width:500px;
	margin:0 auto;
	font-size:1.2em;
}
#user-profile-details #user-profile-details-table td {
	height:2em;
}
#user-profile-details #user-profile-details-table td.detail-name {
	width:40%;
	text-align:right;
	padding-right:3em;
}
#user-profile-details #user-profile-details-table td.detail-value {
	color:#454545;
}
#profile-edit-form div.main-form-block {
	width:50em;
	margin-bottom:2em;
}
#profile-edit-form div.block-body-inner {
    width: 48.7em;
}
#profile-edit-form .main-form-block-header h2 {
	height:2em;
}
#profile-edit-form div.main-form-block-line {
	height:3em;
}
#profile-edit-form label {
    width:16em;
}
#profile-edit-form .main-form-input-text {
    width:16em;
}
#profile-edit-form #user-title-block span {
	padding-right:1em;
	//padding-right:0.4em;
}
#profile-edit-form-links {
	width:100%;
	position:relative;
}
#profile-edit-form-links div.main-form-links-inner {
	height:5em;
	position:relative;
}
#profile-edit-form-links #profile-edit-loader {
	position:static;
	margin-bottom:2em;
    left: 0;
    top: -7px;
}
#profile-edit-loader div.ajax-loader-small-content {
	width:15em;
}
/*############################################### Contacts ####################################################*/
#ppc-contacts {
	margin:3em 2em 0em 2em;
}
#ppc-contacts p {
	font-size:1.2em;
	margin-bottom:1em;
}
#ppc-contacts #ppc-contacts-body {
	width:550px;
	margin:0 auto;
}
