<div id="order-info-help" class="help-content">
	<div class="dialog-title hidden">Service information</div>
	<p>In this inlay you can see all the services ordered.</p>
	<p>
		Description:
		<ul id="order-info-help-actions">
			<li>
				<img src="/img/print32.gif" alt="Print" width="32" height="32" />  
				- click it in case of printing confirmation of services ordered
			</li>
			<li>
				<img src="/img/edit32.gif" alt="Edit" width="32" height="32" />
				 – click it in case of changes
			</li>
			<li>
				<img src="/img/delete32.gif" alt="Cancel" width="32" height="32" />
				– click it in case of cancellation
			</li>
		</ul>
	</p>
	<p class="bolder">
		Please consider!
	</p>
	<p>
		If you need to cancel all services ordered for a particular person, please, proceed to the inlay "Persons and visa support".
		If you have any questions or you would like to book  additional services, please, contact us proceeding to the inlay "Contact us".
	</p>
</div>