<form id="login-form" action="<?php echo $this->element->getAction()?>" method="<?php echo $this->element->getMethod()?>">
	<div class="auth-form-line">
		<label for="email"><?php echo $this->element->email->getLabel()?>:</label>
		<?php echo $this->element->email ?>
	</div>
	<div class="auth-form-line">
		<label for="password"><?php echo $this->element->password->getLabel()?>:</label>
		<?php echo $this->element->password ?>
	</div>
	<div class="auth-form-line auth-form-submit-line">
		<?=$this->element->smbt ?>
	</div>
</form>
<div class="auth-form-bottom-link">
	<a href="<?php echo $this->url(array(''), 'ppc-remind') ?>"><?php echo $this->translate('Password recovery'); ?></a>
</div>