<form id="remind-form" action="<?=$this->element->getAction()?>" method="<?=$this->element->getMethod()?>">
	<div class="auth-form-line">
		<label for="email"><?=$this->element->email->getLabel()?>:</label>
		<?= $this->element->email ?>
	</div>
	<div class="auth-form-line captcha-line">
		<img src="/kcaptcha/captcha/" id="kcaptcha" class="captcha-image">
		<a onclick="$('#kcaptcha').attr('src','/kcaptcha/captcha/rand/'+Math.random()+'/')" class="captcha-refresh" title="<?php echo $this->translate('Refresh image'); ?>">
			<img src="/img/refresh.gif" alt="Refresh" />
		</a>
	</div>
	<div class="auth-form-line">
		<label for="keystring"><?=$this->element->keystring->getLabel()?>:</label>
		<?= $this->element->keystring ?>
	</div>
	<div class="auth-form-line auth-form-submit-line">
		<?=$this->element->smbt ?>
	</div>
</form>