<p class="pdn-first">
	I, hereby, grant my consent to my personal data processing for the following purposes:
</p>
<ol>
	<li>to conclude and execute and agreement concerning rendering of services to me by the Company;</li>
	<li>to conduct marketing surveys, to inform me about new Company’s services and changes of cooperation conditions,  to update the Company’s services information, to analyze a client’s satisfaction and to send me the Company’s offers;</li>
	<li>to monitor the Company’s activities and maintain quality management of the Company;</li>
	<li>to maintain accountancy records and financial control files of the Company;</li>
	<li>to give me access to Internet sources of the Company;</li>
	<li>to contact with me hereafter.</li>
</ol>
<p>
I, herewith, also give the Company my consent to make all actions with my personal data, including: 
collection, systematization, accumulation, holding, up-dating, alteration, correction, application, 
depersonalization, disclosure, blocking, and deletion for achieving the above-mentioned aims. The Company has 
the right to process my personal data by including it into the Company’s electronic data base and into reports. 
</p>
<p>
I acknowledge that I understand and agree that my personal data may be disclosed to any third party if that is 
necessary for the purposes specified. The Company has the right to process my personal data by means of mixed 
processing (including computer-aided) and to pass my data via Internet and use transboundary transmission to any 
country needed. Hereby I acknowledge that according to the Federal Law dated July, 27, 2006 # 152-FL "Concerning 
Personal Data" I’m informed about my rights as the personal data owner. 
</p>
<p>
Hereby I also acknowledge that I can withdraw my consent at any time by sending a written note to the Company’s address by e-mail.
</p>
