<p>
	Thank you for filling Electronic Order Form! After processing your request, you will get a confirmation letter via email address.
</p>
<br />
<p>
	<span class="bolder">
		Within 24 hours (except weekends and holidays) you’ll be sent the Confirmation of the services including all the necessary information and terms of payment.
	</span>
</p>
<br />
<p>
	Specialists of Paxport Corporate will make the best to leave you satisfied with our services!
</p>