<?php
if (isset ($_GET['form']) and $_GET['form']!=='') {
	$mode = $_GET['form'];
} else {
	$mode = 'simple';
}

if ($mode=='simple') {$link='/step11/';}
else if ($mode=='hidden') {$link='/step11/';}
else $link='/step11/';

?>
<form  name="main-form-step0" id="main-form-step0" action="" method="post" xmlns="http://www.w3.org/1999/html">
	<div id="reg-info-block" class="main-form-block">
	<?php if ($this->settings->event->only_booking_form == 1) : ?>
		<?php $this->stepTitle = 'Information'; ?>
	<?php else : ?>
		<?php $this->stepTitle = 'Registration information'; ?>
	<?php endif; ?>	
	<?php echo $this->render('/index/tpl/menu-top.phtml'); ?>
	<div class="block-body-outer">
	<div class="block-body-inner">
		<div id="intro-text" class="main-form-block-line">
			<?php echo $this->showText($this->introText); ?>
		</div>
	</div>
	</div>
	</div>

</form>
<div class="submit-block">
    <button  class="large color green button" id="next-step-btn" > <?php echo $this->translate('Proceed to booking'); ?></button>
</div>


<script type="text/javascript" >
    $(document).ready(function(){
        $('#next-step-btn').click(function(){

           window.location='<?php echo 'http://'.$_SERVER['HTTP_HOST'].'/step1/'; ?>';
        });
    });
</script>
