<div class="result-message-outer res-msg">
	<div class="result-message-inner">
		<h2><?php echo $this->translate('Your application is accepted'); ?></h2>
		<?php echo $this->render('/index/' . $this->lang . '/result.phtml'); ?>
	</div>
	<?php
	/*
	<div class="res-msg" id="result-payment">
		<div class="link-cont clearfix">
			<a target="_blank" href="https://bs.welt.ru/?r=payment/index/index&lang=<?php echo $this->lang; ?>" class="payment-link">
				<?php echo $this->translate('Go to online<br>payment'); ?>
			</a>
			<img width="220" height="45" alt="<?php echo $this->translate('Go to online payment'); ?>" src="/img/online_logo.png">
		</div>
		<div class="note"><?php echo $this->translate('You can pay online for your booking within 3-5 minutes (technical processing needed)'); ?>.</div>
	</div>
	*/
	?>
</div>	
