<form name="main-form" id="main-form-step4" action="" method="post">
	<div id="summary-block" class="main-form-block">
		<?php $this->stepTitle = 'Summary Order'; ?>
		<?php echo $this->render('/index/tpl/menu-top.phtml'); ?>
		<div class="block-body-outer">
		<div class="block-body-inner">
			<div style="" id="summary-information">
				<?php echo $this->translate('#summary-note'); ?>
			</div>	
			<?php if ($this->stepData['reg_fee']['available'] == 1) : ?>
			<div class="summary-table-container">
				<table id="reg-fee-table" class="summary-table main-form-table">
					<caption><?php echo $this->translate('Registration fee'); ?></caption>	
					<thead>
						<tr>
							<th><?php echo $this->translate('Person'); ?></th>
							<th><?php echo $this->translate('Sum').' ('.$this->translate('RUR').')'; ?></th>
						</tr>
					</thead>
					<tbody>
						<?php if (is_array($this->stepData['reg_fee']) && sizeof($this->stepData['reg_fee'])>0 && isset($this->stepData['reg_fee']['orders'])) : ?>
						<?php foreach($this->stepData['reg_fee']['orders'] as $order) : ?>
							<tr>
								<td>
									<?php echo $this->escape($order['persons'][0]['name']); ?>
								</td>
								<td class="price-cell">
									<?php echo $order['summ']; ?>
								</td>
							</tr>
						<?php endforeach; ?>
						<?php else : ?>
							<tr class="empty-order-row">
								<td colspan="3" class="empty-order-row-msg"><?php echo $this->translate('You have no orders'); ?></td>
							</tr>
						<?php endif; ?>
					</tbody>
				</table>
			</div>
			<?php endif; ?>
			<?php if (isset($this->stepData['visa'])) : ?>
			<div class="summary-table-container">
				<table id="visa-table" class="summary-table main-form-table">
					<caption><?php echo $this->translate('Visa support'); ?></caption>	
					<thead>
						<tr>
							<th><?php echo $this->translate('Person'); ?></th>
							<th><?php echo $this->translate('Visa support'); ?></th>
						</tr>
					</thead>
					<tbody>
						<?php if ($this->stepData['personsVisaDeletedSize']==1) : ?>
							<?php foreach($this->stepData['personsVisaDeleted'] as $personVisaDeleted) : ?>
								<tr>
									<td class="summary-table-persons">
										<?php echo $this->escape($personVisaDeleted['name']); ?>
									</td>
									<td class="visa-attention">
										<?php echo $this->translate('#summary_visa_attention'); ?>:
										<a href="mailto:<?php echo $this->eventParams['coord_email'].'?subject='.$this->eventParams->eventNameLng; ?>"><?php echo $this->eventParams['coord_email']; ?></a> (<?php echo $this->eventParams->coordNameLng; ?>).
									</td>
								</tr>
							<?php endforeach; ?>
						<?php endif; ?>
						<?php if (is_array($this->stepData['visa']) && sizeof($this->stepData['visa'])>0) : ?>
						<?php foreach($this->stepData['visa'] as $order) : ?>
							<tr>
								<td class="summary-table-persons">
									<?php foreach($order['persons'] as $person) : ?>
										<div class="summary-table-person"><?php echo $this->escape($person['name']); ?></div>
									<?php endforeach; ?>
								</td>
								<td>
									<?php $personVisaData = array('name' => $order['visaTypeName'], 'price' => round($order['summ']), 'is_free' => $order['is_free']); ?>
									<?php echo $this->translate('Required') .' ' . $this->displayVisaName($personVisaData, 2); ?>
									<?php $visaStr = '('.strtolower($order['visaTypeName']).' - ';
									?>
								</td>
							</tr>
						<?php endforeach; ?>
						<?php else : ?>
							<?php if ($this->stepData['personsVisaDeletedSize']!=1) : ?>
								<tr class="empty-order-row">
									<td colspan="2" class="empty-order-row-msg"><?php echo $this->translate('You have no orders'); ?></td>
								</tr>
							<?php endif; ?>
						<?php endif; ?>
					</tbody>
				</table>
			</div>
			<?php endif; ?>
			<div id="hotel-summary" class="summary-table-container">
				<table id="ordered-hotel" class="summary-table main-form-table">
					<caption><?php echo $this->translate('Hotel orders'); ?></caption>	
					<?php if (isset($this->stepData['hotel']['ordersContent']) && trim($this->stepData['hotel']['ordersContent'])!='') : ?>
						<?php echo $this->stepData['hotel']['ordersContent'];?>
					<?php else : ?>
						<tbody>
							<tr class="empty-order-row hotel-order-capt-row">
								<td class="hotel-details-cell"><?php echo $this->translate('Hotel, room, type of accommodation'); ?></td>
								<td class="guests-cell"><?php echo $this->translate('Guests'); ?></td>
								<td class="dates-cell"><?php echo $this->translate('Dates'); ?></td>
								<td class="price-day-cell"><?php echo $this->translate('Room price a day'); ?></td>
								<td class="days-cell"><?php echo $this->translate('Quantity of days'); ?></td>
								<td class="price-breakf-cell"><?php echo $this->translate('Breakfast price a day'); ?></td>
								<td class="price-cell"><?php echo $this->translate('Sum').' ('.$this->translate('RUR').')'; ?></td>
							</tr>
							<tr class="empty-order-row">
								<td class="empty-order-row-msg" colspan="7"><?php echo $this->translate('You have no orders'); ?></td>
							</tr>

						</tbody>

					<?php endif; ?>
				</table>
                <br/>
			</div>
			<?php if ($this->stepData['transport']['available'] == 1) : ?>
			<div class="summary-table-container">
				<table id="transport-table" class="summary-table main-form-table">
					<caption><?php echo $this->translate('Transport'); ?></caption>	
					<thead>
						<tr>
							<th><?php echo $this->translate('Service'); ?></th>
							<th><?php echo $this->translate('Transport type'); ?></th>
							<th><?php echo $this->translate('Date'); ?></th>
							<th><?php echo $this->translate('Time'); ?></th>
							<th><?php echo $this->translate('Railway station'); ?></th>
							<th><?php echo $this->translate('Flight\Train number, train carriage number'); ?></th>
							<th><?php echo $this->translate('Persons'); ?></th>
							<th><?php echo $this->translate('Sum').' ('.$this->translate('RUR').')'; ?></th>
						</tr>
					</thead>
					<tbody>
						<?php if (isset($this->stepData['transport']['ordersContent']) && trim($this->stepData['transport']['ordersContent'])!='') : ?>
						<?php echo $this->stepData['transport']['ordersContent'];?>
					<?php else : ?>
						<tr class="empty-order-row">
							<td class="empty-order-row-msg" colspan="8"><?php echo $this->translate('You have no orders'); ?></td>
						</tr>
					<?php endif; ?>
					</tbody>
				</table>
			</div>
			<?php endif; ?>
			<?php if ($this->stepData['meal']['available'] == 1) : ?>
			<div class="summary-table-container">
				<table id="meal-table" class="summary-table main-form-table">
					<caption><?php echo $this->translate('Meals'); ?></caption>	
					<thead>
						<tr>
							<th><?php echo $this->translate('Meal'); ?></th>
							<th><?php echo $this->translate('Date'); ?></th>
							<th><?php echo $this->translate('Meal type'); ?></th>
							<th><?php echo $this->translate('Persons'); ?></th>
							<th><?php echo $this->translate('Sum').' ('.$this->translate('RUR').')'; ?></th>
						</tr>
					</thead>
					<tbody>
						<?php if (isset($this->stepData['meal']['ordersContent']) && trim($this->stepData['meal']['ordersContent'])!='') : ?>
						<?php echo $this->stepData['meal']['ordersContent'];?>
					<?php else : ?>
						<tr class="empty-order-row">
							<td class="empty-order-row-msg" colspan="5"><?php echo $this->translate('You have no orders'); ?></td>
						</tr>
					<?php endif; ?>
					</tbody>
				</table>
			</div>
			<?php endif; ?>
			<?php if ($this->stepData['other']['available'] == 1) : ?>
            <div class="summary-table-container">
                <table id="other-table" class="summary-table main-form-table">
                    <caption><?php echo $this->translate('Other services'); ?></caption>
                    <thead>
                        <tr>
                            <th><?php echo $this->translate('Service'); ?></th>
                            <th><?php echo $this->translate('Date/period'); ?></th>
                            <th><?php echo $this->translate('Persons'); ?></th>
                            <th><?php echo $this->translate('Sum').' ('.$this->translate('RUR').')'; ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php if (isset($this->stepData['other']['ordersContent']) && trim($this->stepData['other']['ordersContent'])!='') : ?>
                        <?php echo $this->stepData['other']['ordersContent'];?>
                    <?php else : ?>
                        <tr class="empty-order-row">
                            <td class="empty-order-row-msg" colspan="4"><?php echo $this->translate('You have no orders'); ?></td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
            </div>
            <?php endif; ?>
			<?php if ($this->stepData['excursion']['available'] == 1) : ?>
			<div class="summary-table-container">
				<table id="excursion-table" class="summary-table main-form-table">
					<caption><?php echo $this->translate('Cultural programs'); ?></caption>	
					<thead>
						<tr>
							<th><?php echo $this->translate('Cultural program'); ?></th>
							<th><?php echo $this->translate('Date/period'); ?></th>
							<th><?php echo $this->translate('Persons'); ?></th>
							<th><?php echo $this->translate('Sum').' ('.$this->translate('RUR').')'; ?></th>
						</tr>
					</thead>
					<tbody>
						<?php if (isset($this->stepData['excursion']['ordersContent']) && trim($this->stepData['excursion']['ordersContent'])!='') : ?>
						<?php echo $this->stepData['excursion']['ordersContent'];?>
					<?php else : ?>
						<tr class="empty-order-row">
							<td class="empty-order-row-msg" colspan="4"><?php echo $this->translate('You have no orders'); ?></td>
						</tr>
					<?php endif; ?>
					</tbody>
				</table>
			</div>
			<?php endif; ?>
		</div>
		</div>
	</div>
	<div class="submit-block">
        <input id="prev-step" class="color green button" value="<?php echo $this->translate('Previous step'); ?>" type="button">

        <button id="next-step-btn" style="margin-left: 54%;" class="color green button" onclick="$('#main-form-step4').submit();"><?php echo $this->translate('Next step'); ?></button>

	</div>
</form>
<script type="text/javascript">
    $(document).ready(function(){

        $('#prev-step').click(function() {
            window.location='<?php echo 'http://'.$_SERVER['HTTP_HOST'].'/step2/'; ?>';
        });

    });

</script>