<?php $this->inlineScript()->captureStart(); ?>
	curCityId = <?php echo Zend_Json::encode($this->stepData['cityId']); ?>;
	$(window).load(function(){ reg.step3.init(); });
<?php $this->inlineScript()->captureEnd(); ?>
<div id="transport-help-tooltip">
	<?php echo $this->translate('#transport-help-tooltip'); ?>
</div>
<div id="meal-help-tooltip">
	<?php echo $this->translate('#meal-help-tooltip'); ?>
</div>
<div id="excursion-help-tooltip">
	<?php echo $this->translate('#excursion-help-tooltip'); ?>
</div>
<form id="lang-sw-form" method="get">
	<input type="hidden" name="city" />
</form>
<form name="main-form" id="main-form-step3" class="form-style-2" action="" method="post">
	<?php if (is_array($this->stepData['transport']) && sizeof($this->stepData['transport'])>0) : ?>
	<div class="main-form-block transport-block">
			<?php 
				$this->stepTitle = 'Transport';
				//Определяем дату по умолчанию, а также доступность выбра типа транспорта и даты на основе данных о том, бесплатная ли 1 услуга в списке
				if ($this->stepData['transport']['transportServices'][0]['is_free'] == 1)
				{ 
					$defDate = $this->stepData['transport']['transportServices'][0]['fix_date'];
					$dateDisabled = ' disabled="true"';
					$transportTypeDisplay = 'display:none;';
				}
				else
				{
					$defDate = $this->startDate;
					$dateDisabled = '';
					$transportTypeDisplay = '';
				}
				//Формируем в DOM скрытые списки с дополнительными параметрами по транспортным услугам 
				$transpServicesCategoryList = '';
				$transpServicesStSelectList = '';
				$transpServicesIsFreeList = '';
				$transpServicesFixDatesList = '';
				foreach($this->stepData['transport']['transportServices'] as $transportService)
				{
					$transpServicesCategoryList .= '<option value="'.$transportService['id'].'">'.$transportService['transport_category'].'</option>';
					$transpServicesStSelectList .= '<option value="'.$transportService['id'].'">'.$transportService['station_select'].'</option>';						
					$transpServicesIsFreeList .= '<option value="'.$transportService['id'].'">'.$transportService['is_free'].'</option>';	
					$transpServicesFixDatesList .= '<option value="'.$transportService['id'].'">'.$transportService['fix_date'].'</option>';
				}
			?>
			<?php if ($this->settings->form->multi_city == 1 && isset($this->stepData['cities'])) : ?>		
				<?php $this->placeholder('city_ch')->captureStart(); ?>
				<div class="city-ch main-form-block-line">
					<select name="city">
						<?php foreach($this->stepData['cities'] as $city) : ?>
							<?php ($this->stepData['cityId'] == $city['id']) ? $selected = ' selected="selected"' : $selected = ''; ?>
							<option value="<?php echo $city['id']; ?>"<?php echo $selected; ?>>
								<?php echo $city['name']; ?>
							</option>
						<?php endforeach; ?>
					</select>
				</div>
				<?php $this->placeholder('city_ch')->captureEnd(); ?>
			<?php endif; ?>
			<?php echo $this->render('/index/tpl/menu-top.phtml'); ?>
			<div class="block-body-outer">
			<div class="block-body-inner">

			<div class="toogle-form-body<?php if ($this->settings->form->order_blocks_display->transport == 0) echo ' hidden'; ?>">
				<div id="transport-desc" class="hidden"></div>

				<h3 class="centerer"><?php echo $this->translate('Transport services prices'); ?></h3>
				
                <table class="transport-table main-form-table orders-table">
					<thead>
						<tr >
							<th class="transport-table-service"><?php echo $this->translate('Service'); ?></th>
							<?php foreach($this->stepData['transport']['transportTypes'] as $transportType) : ?>
								<th class="transport-table-type">
									<?php echo $transportType['name']; ?>
									<?php if($transportType['cars']!='') :?>
										(<?php echo $transportType['cars']; ?>)
									<?php endif; ?>
								</th>
							<?php endforeach; ?>
                            <th class="transport-table-type">
                                <?php echo $this->translate('Order'); ?>
                            </th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($this->stepData['transport']['transportServices'] as $transportService) : ?>
							<?php if ($transportService['is_free']!=1) : ?>
								<tr transfer_type_id = "<?php echo $transportService['id'];?>">
									<td class="transport-table-service left-align"><?php echo $transportService['name']; ?></td>
									<?php foreach($transportService['prices'] as $transportPrice) :
                                        if($transportPrice['price'] == 0){
                                            $transportPrice['price'] = $this->translate('By request');
                                        } ?>
										<td class="transport-table-type"><?php echo $transportPrice['price']; ?></td>
									<?php endforeach; ?>
                                    <td>
                                        <input class="color green button transfer_order_button" type="button"  value=" <?php echo $this->translate('Book a transfer'); ?>" />
                                    </td>
								</tr>
							<?php endif; ?>
						<?php endforeach; ?>
					</tbody>
				</table>
				<div class="info-text table-note-line">
					<?php /*
					if ($this->stepData['transport']['note'] != '')
					{
						echo $this->showText($this->stepData['transport']['note']);
					}
					else
					{
						echo $this->translate('#transport_notes');
					}
				*/	?>
					<p style="text-align: center; font-size: 10px;"><?php echo $this->translate('All rates are quoted in Rubles per vehicle, excluding of VAT'); ?></p>


				</div>
                <div id="transfer_form_cont" style="display: none">
				<div class="main-form-block-line big-line" style="margin:1em 0em 1em 0em;">
					<label for="transfer-type"><?php echo $this->translate('Service'); ?>:</label>
					<select class="select-field" name="transfer-type" id="transfer-type">
						<?php $i=0; ?>
						<?php foreach($this->stepData['transport']['transportServices'] as $transportService) : ?>
							<?php if((int)$transportService['order_available']==1) : ?>
								<option value="<?php echo $transportService['id']; ?>">
									<?php echo $transportService['name']; ?>
								</option>
							<?php endif; ?>
							<?php $i++; ?>
						<?php endforeach; ?>
					</select>
				</div>

				<div class="main-form-block-line " style="text-align: left;">
					<label style="margin-right: 1.5em; width: 150px;" for="transport-date"><?php echo $this->translate('Date'); ?>:</label>
					<input title="<?php echo $this->translate('Please specify train/plane departure/arrival date'); ?>" type="text" value="<?php echo $defDate; ?>" class="input-field datepicker" id="transport-date" name="transport-date"<?php echo $dateDisabled; ?> />
				</div>
                <div class="main-form-block-line " style="text-align: left;">
				<label style="display: inline; margin-right: 1.5em; width: 150px;" for="transport-time"><?php echo $this->translate('Time'); ?>:</label>
                <input style="" title="<?php echo $this->translate('Please specify train/plane departure/arrival time'); ?>" type="text" value="00:00" class="input-field right-input " id="transport-time" name="transport-time"  />
				</div>
				<div class="main-form-block-line ">
					<label style="display: inline; margin-right: 1.5em; width: 150px;" for="transport-number"><?php echo $this->translate('Flight details'); ?>:</label>
					<input class="input-field" type="text" value=""  id="transport-number" name="transport-number"  />
					<?php ($this->stepData['transport']['transportServices'][0]['transport_category']==2) ? $trainCarClass = '' :  $trainCarClass = ' hidden'; ?>

				</div>
				<div id="transport-station-line" class="main-form-block-line two-cell-line<?php if ($this->stepData['transport']['transportServices'][0]['station_select']!=1) echo ' hidden';?>">
					<label for="transport-station"><?php echo $this->translate('Railway station'); ?>:</label>
					<select class="select-field" id="transport-station" name="transport-station" style="width:225px">
						<?php foreach ($this->stepData['transport']['trainStations'] as $station) : ?>
							<option value="<?php echo $station['id']; ?>"><?php echo $station['name']; ?></option>
						<?php endforeach; ?>
					</select>
				</div>
                    <div id="transport-types-line" class="main-form-block-line big-line" style=" margin-bottom:1.5em;">
                        <label for="transport-type"><?php echo $this->translate('Transport type'); ?>:</label>
                        <select class="select-field" name="transport-type" id="transport-type">

                            <?php foreach($this->stepData['transport']['transportTypes'] as $transportType) : ?>
                                <option value="<?php echo $transportType['id']; ?>">
                                    <?php echo $transportType['name']; ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                        <select name="transport-types-max-persons" id="transport-types-max-persons" class="select-field hidden">
                            <?php foreach($this->stepData['transport']['transportTypes'] as $transportType) : ?>
                                <option value="<?php echo $transportType['id']; ?>"><?php echo $transportType['max_persons']; ?></option>
                            <?php endforeach; ?>
                        </select>
                        <select name="transport-services-category" id="transport-services-category" class="select-field hidden">
                            <?php echo $transpServicesCategoryList; ?>
                        </select>
                        <select name="transport-services-station-select" id="transport-services-station-select" class="select-field hidden">
                            <?php echo $transpServicesStSelectList; ?>
                        </select>
                        <select name="transport-services-isfree" id="transport-services-isfree" class="select-field hidden">
                            <?php echo $transpServicesIsFreeList; ?>
                        </select>
                        <select name="transport-services-fixdate" id="transport-services-fixdate" class="select-field hidden">
                            <?php echo $transpServicesFixDatesList; ?>
                        </select>
                        <input type="hidden" name="transport-services-def-date" id="transport-services-def-date" value="<?php echo $this->startDate; ?>" />
                    </div>
				<div class="clearer"></div>
                    <div id="transport-persons-block" class="main-form-block-line persons-select-line">
                        <div class="persons-select-block-outer">
                            <div class="persons-select-caption">
                                <?php echo $this->translate('Choose persons for this service'); ?>
                                (<?php echo $this->translate('maximum'); ?> <span id="transport-max-persons-span"><?php echo $this->stepData['transport']['transportTypes'][0]['max_persons']; ?></span>):
                            </div>
                            <div class="persons-select-block-inner clearfix">
                                <?php foreach ($this->stepData['persons'] as $person) : ?>
                                    <label>
                                        <input id="transport-persons<?php echo $person['id'];?>" name="hotel-persons" type="checkbox" value="<?php echo $person['id'];?>" />
                                        <span class="transport-persons-person-name"><?php echo $this->escape($person['name']);?></span>
                                    </label>
                                <?php endforeach; ?>
                            </div>
                        </div>
                    </div>


				<div class="clearer"></div>
				<div id="comment_div" class="main-form-block-line " style="">
                    <label style="display: inline; margin-right: 1.5em; width: 150px;" for="transport-comment"><?php echo $this->translate('Comment'); ?>:</label>


							<textarea style="width: 350px; height: 60px;" id="transport-comment" name="transport-comment" class="textarea-field service-comment-field"></textarea>


				</div>
				<div class="clearer"></div>
                    <div id="add_div"  class="main-form-block-line add-line" style="">
                        <?php if (isset($this->stepData['transport']['ordersContent']) && trim($this->stepData['transport']['ordersContent'])!='') : ?>
                            <input id="transport-add-text" type="button" class="color green button" onclick="addTransport();" value="<?php echo $this->translate('Book transfer'); ?>" />

                        <?php else : ?>
                            <input id="transport-add-text" type="button" class="color green button" onclick="addTransport();" value="<?php echo $this->translate('Book transfer'); ?>" />

                        <?php endif; ?>
                    </div>
                </div>

				<div class="clearer"></div>
				<div class="main-form-block-line relativier">
					<div id="transport-loader" class="ajax-loader-small">
						<div class="ajax-loader-small-content" align="center">
							<?php echo $this->translate('Loading'); ?>&nbsp;<img src="/img/loader_s.gif" />
						</div>
					</div>
					<table id="ordered-transport" class="transport-table main-form-table orders-table">
						<caption>
							<?php echo $this->translate('Transfer orders list'); ?>
						</caption>
						<thead>
							<tr>
								<th><?php echo $this->translate('Service'); ?></th>
								<th><?php echo $this->translate('Transport type'); ?></th>
								<th><?php echo $this->translate('Date'); ?></th>
								<th><?php echo $this->translate('Time'); ?></th>
								<th><?php echo $this->translate('Railway station'); ?></th>
								<th><?php echo $this->translate('Flight\Train number, train carriage number'); ?></th>
								<th><?php echo $this->translate('Persons'); ?></th>
								<th><?php echo $this->translate('Sum').' ('.$this->translate('RUR').')'; ?></th>
								<th width="35">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<?php if (isset($this->stepData['transport']['ordersContent']) && trim($this->stepData['transport']['ordersContent'])!='') : ?>
								<tr class="empty-order-row hidden">
									<td colspan="9" class="empty-order-row-msg"><?php echo $this->translate('You have no orders'); ?></td>
								</tr>
								<?php echo $this->stepData['transport']['ordersContent']; ?>
							<?php else : ?>
								<tr class="empty-order-row">
									<td colspan="9" class="empty-order-row-msg"><?php echo $this->translate('You have no transfer orders'); ?></td>
								</tr>	
							<?php endif; ?>
						</tbody>
					</table>
				</div>
			</div>
			</div>
			</div>
		</div>
		<?php endif; ?>
		<?php if (is_array($this->stepData['meal']) && sizeof($this->stepData['meal'])>0) : ?>
		<div class="main-form-block meal-block">
			<div class="main-form-block-header">
				<h2>
					<?php echo $this->translate('Meals'); ?>
				</h2>
			</div>
			<div class="block-body-outer">
			<div class="block-body-inner">

			<div class="toogle-form-body<?php if ($this->settings->form->order_blocks_display->meal == 0) echo ' hidden'; ?>">
				<table class="main-form-table orders-table">
					<thead>
						<tr>
							<th width="20%" ><?php echo $this->translate('Meal'); ?></th>
							<th><?php echo $this->translate('Date'); ?></th>
							<th><?php echo $this->translate('Price'); ?></th>
							<th><?php echo $this->translate('Book'); ?></th>
						</tr>
					</thead>
					<tbody>
						<?php
                        $for_table_meals = $this->stepData['meal']['meals'];
                        unset ($for_table_meals[2]);
                        unset ($for_table_meals[4]);
                        unset ($for_table_meals[5]);

                        foreach($for_table_meals as $meal) : ?>
							<tr>
								<td class="meal-name"><?php echo $meal['name']; ?></td>
								<td><?php

                                    
                                            echo $meal['date'];
                                    

                                    ?></td>
								<td class="nobrer">
									<?php if ($meal['incl_reg_fee'] == 0) : ?>
										<?php echo round($meal['price']) . ' ' . $this->translate('RUR'); ?>
									<?php endif; ?>
								</td>
                                <td >
                                    <input class="color green button  meal_order_button" type="button"  value="<?php echo $this->translate('Book'); ?>" />
                                </td>
							</tr>
						<?php endforeach; ?>
					</tbody>
				</table>
				<?php if (1) : ?>
				<div class="table-note-line">

				</div>
                <?php endif; ?>
				<div class="clearer"></div>
                <div id="meal_form_cont" style="display: none">
                    <br>
				<div class="main-form-block-line big-line">
					<label style="width: 150px; margin-right: 1.5em;" for="meal-name"><?php echo $this->translate('Meal'); ?>:</label>
					<select class="select-field" name="meal-name" id="meal-name">
						<?php foreach($this->stepData['meal']['meals'] as $meal) : ?>
								<option value="<?php echo $meal['id']; ?>">
									<?php echo $meal['name'].' ('.$meal['date'].')';  ?>
								</option>
						<?php endforeach; ?>
					</select>
				</div>
				<div class="main-form-block-line hidden">
					<select name="meal-incl-reg-fee" id="meal-incl-reg-fee">
						<?php foreach($this->stepData['meal']['meals'] as $meal) : ?>
							<option value="<?php echo $meal['id']; ?>"><?php echo $meal['incl_reg_fee'];?></option>
						<?php endforeach; ?>
					</select>
				</div>
				<div id="meal-type-select-line" class="main-form-block-line<?php if ($this->stepData['meal']['meals'][0]['with_meal_types'] == 0) echo ' hidden'; ?>">
					<label for="meal-type"><?php echo $this->translate('Meal type'); ?>:</label>
					<select name="meal-type" id="meal-type">
						<?php if (is_array($this->stepData['meal']['firstMealTypes']) && sizeof($this->stepData['meal']['firstMealTypes']) > 0) : ?>
						<?php foreach($this->stepData['meal']['firstMealTypes'] as $mealType) : ?>
								<option value="<?php echo $mealType['id']; ?>">
									<?php echo $mealType['name']; ?>
								</option>
						<?php endforeach; ?>
						<?php endif; ?>
					</select>
				</div>

				<div class="clearer"></div>
                    <div id="meal-persons-block" class="main-form-block-line persons-select-line">
                        <div class="persons-select-block-outer">
                            <div class="persons-select-caption"><?php echo $this->translate('Choose persons for this service'); ?>:</div>
                            <div class="persons-select-block-inner clearfix">
                                <?php foreach ($this->stepData['persons'] as $person) : ?>
                                    <label>
                                        <input id="meal-persons<?php echo $person['id'];?>" name="meal-persons" type="checkbox" value="<?php echo $person['id'];?>" />
                                        <span class="meal-persons-person-name"><?php echo $this->escape($person['name']);?></span>
                                    </label><br/>
                                <?php endforeach; ?>
                            </div>
                        </div>
                    </div><br/>
				<div class="clearer"></div>
				<div class="main-form-block-line">
                    <label style="display: inline; margin-right: 1.5em; width: 150px;" for="meal-comment"><?php echo $this->translate('Comment'); ?>:</label>

							<textarea  style="width: 350px; height: 60px;" name="meal-comment" id="meal-comment" class="textarea-field service-comment-field"></textarea>


				</div>
				<div class="clearer"></div>
				<div class="main-form-block-line add-line" style="margin-top:2em;">
					<?php if (isset($this->stepData['meal']['ordersContent']) && trim($this->stepData['meal']['ordersContent'])!='') : ?>
                        <input id="meal-add-more-text" type="button" class="color green button " onclick="addMeal();" value="<?php echo $this->translate('Book meal'); ?>" />

                        <?php else : ?>
                        <input id="meal-add-more-text" type="button" class="color green button " onclick="addMeal();" value="<?php echo $this->translate('Book meal'); ?>" />

					<?php endif; ?>
				</div>
                <br/>
				<div class="clearer"></div>
                </div>
				<div class="main-form-block-line relativier">
					<div id="meal-loader" class="ajax-loader-small">
						<div class="ajax-loader-small-content" align="center">
							<?php echo $this->translate('Loading'); ?>&nbsp;<img src="/img/loader_s.gif" />
						</div>
					</div>
					<table align="center" id="ordered-meal" class="meal-table main-form-table orders-table">
						<caption>
							<?php echo $this->translate('Orders list'); ?>
						</caption>
						<thead>
							<tr>
								<th><?php echo $this->translate('Meal'); ?></th>
								<th><?php echo $this->translate('Date'); ?></th>
								<th><?php echo $this->translate('Meal type'); ?></th>
								<th><?php echo $this->translate('Persons'); ?></th>
								<th><?php echo $this->translate('Sum').' ('.$this->translate('RUR').')'; ?></th>
								<th width="35">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<?php if (isset($this->stepData['meal']['ordersContent']) && trim($this->stepData['meal']['ordersContent'])!='') : ?>
								<tr class="empty-order-row hidden">
									<td colspan="5" class="empty-order-row-msg"><?php echo $this->translate('You have no meal orders'); ?></td>
								</tr>
								<?php echo $this->stepData['meal']['ordersContent']; ?>
							<?php else : ?>
								<tr class="empty-order-row">
									<td colspan="6" class="empty-order-row-msg"><?php echo $this->translate('You have no meal orders');  ?></td>
								</tr>
							<?php endif; ?>
						</tbody>
					</table>
				</div>
			</div>
			</div>
			</div>
		</div>
		<?php endif; ?>
		<?php if (is_array($this->stepData['other']) && sizeof($this->stepData['other'])>0) : ?>
        <div class="main-form-block other-block">
            <div class="main-form-block-header">
                <h2>
                    <?php echo $this->translate('Tickets to theatre'); ?>
                    <a onclick="showInfo('other','<?php echo $this->translate('Information'); ?>');" title="<?php echo $this->translate('Click here to receive information'); ?>, {position : {my: 'center', at: 'center', of: $('.excursion-block .excursion-table')}});" class="info-link">
                        <img alt="<?php echo $this->translate('Click here to receive information'); ?>" class="info-img" src="/img/info32.gif">
                    </a>
                </h2>
            </div>
            <div class="block-body-outer">
            <div class="block-body-inner">
                <div class="toogle-form-header">
                    <span class="toggle-closed link hidden"><?php echo $this->translate('Show order form'); ?></span>
                    <span class="toggle-opened link"><?php echo $this->translate('Hide order form'); ?></span>
                    <?php echo $this->placeholder('city_ch'); ?>
                </div>
                <div class="toogle-form-body<?php if ($this->settings->form->order_blocks_display->other == 0) echo ' hidden'; ?>">
                    <table class="other-table main-form-table">
                    <thead>
                        <tr>
                            <th><?php echo $this->translate('Service'); ?></th>
                            <th><?php echo $this->translate('Date'); ?></th>
                            <th><?php echo $this->translate('Price') . ' ' . $this->translate('RUR'); ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->stepData['other']['services'] as $service) : ?>
                            <tr>
                                <td class="service-name">
                                    <?php
                                    $servName = $service['name'];
                                    echo $servName;
                                    ?>
                                </td>
                                <td>
                                    <?php echo $service['date']; ?>
                                </td>
                                <td class="nobrer">
                                    <?php
                                    if ($service['price'] != 0)
                                    {
                                        echo round($service['price']);
                                    }
                                    else
                                    {
                                        echo $this->translate('By request');
                                    }
                                    ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
                <div class="table-note-line">
                    
                </div>
                    <div class="clear"></div>
                    <div class="main-form-block-line">
                        <label for="other-service"><?php echo $this->translate('Service') . ':'; ?></label>
                        <select name="other-service" id="other-service">
                            <?php foreach($this->stepData['other']['services'] as $service) : ?>
                                <option value="<?php echo $service['id']; ?>">
                                    <?php echo $service['name']; ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                    <div class="clearer"></div>
                    <div id="other-persons-block" class="main-form-block-line persons-select-line">
                        <div class="persons-select-block-outer">
                            <div class="persons-select-caption"><?php echo $this->translate('Choose persons for this service'); ?>:</div>
                            <div class="persons-select-block-inner clearfix">
                                <?php foreach ($this->stepData['persons'] as $person) : ?>
                                    <label>
                                        <input id="other-persons<?php echo $person['id'];?>" name="other-persons" type="checkbox" value="<?php echo $person['id'];?>" />
                                        <span class="other-persons-person-name"><?php echo $this->escape($person['name']);?></span>
                                    </label>
                                <?php endforeach; ?>
                            </div>
                        </div>
                    </div>
                    <div class="clearer"></div>
                    <div class="main-form-block-line service-comment relativier">
                        <div class="service-comment-inner clearfix">
                            <div class="service-comment-header"><?php echo $this->translate('Comment'); ?>:</div>
                            <div class="service-comment-body">
                                <textarea id="other-comment" class="service-comment-field"></textarea>
                            </div>  
                        </div>
                    </div>
                    <div class="clearer"></div>
                    <div class="main-form-block-line add-line" style="margin-top:2em;">
                        <?php if (isset($this->stepData['other']['ordersContent']) && trim($this->stepData['other']['ordersContent'])!='') : ?>
                            <span id="other-add-more-text" class="add-link link" onclick="addOther();"><?php echo $this->translate('Book more service'); ?></span>
                            <span id="other-add-text" class="add-link link hidden-imp" onclick="addOther();"><?php echo $this->translate('Book service'); ?></span>
                        <?php else : ?>
                            <span id="other-add-more-text" class="add-link link hidden-imp" onclick="addOther();"><?php echo $this->translate('Book more service'); ?></span>
                            <span id="other-add-text" class="add-link link" onclick="addOther();"><?php echo $this->translate('Book service'); ?></span>
                        <?php endif; ?>
                    </div>  
                    <div class="clearer"></div> 
                    <div class="main-form-block-line relativier">
                        <div id="other-loader" class="ajax-loader-small">
                            <div class="ajax-loader-small-content" align="center">
                                <?php echo $this->translate('Loading'); ?>&nbsp;<img src="/img/loader_s.gif" />
                            </div>
                        </div>
                        <table align="center" id="ordered-other" class="main-form-table orders-table">
                            <caption>
                                <?php echo $this->translate('Orders list'); ?>
                            </caption>
                            <thead>
                                <tr>
                                    <th><?php echo $this->translate('Service'); ?></th>
                                    <th><?php echo $this->translate('Date/period'); ?></th>
                                    <th><?php echo $this->translate('Persons'); ?></th>
                                    <th><?php echo $this->translate('Sum').' ('.$this->translate('RUR').')'; ?></th>
                                    <th width="35">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php if (isset($this->stepData['other']['ordersContent']) && trim($this->stepData['other']['ordersContent'])!='') : ?>
                                    <tr class="empty-order-row hidden">
                                        <td colspan="5" class="empty-order-row-msg"><?php echo $this->translate('You have no orders'); ?></td>
                                    </tr>
                                    <?php echo $this->stepData['other']['ordersContent']; ?>
                                <?php else : ?>
                                    <tr class="empty-order-row">
                                        <td colspan="5" class="empty-order-row-msg"><?php echo $this->translate('You have no orders'); ?></td>
                                    </tr>
                                <?php endif; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
             </div>
        </div>
        <?php endif; ?>
		<?php if (is_array($this->stepData['excursion']) && sizeof($this->stepData['excursion'])>0) : ?>
		<div class="main-form-block excursion-block">
			<div class="main-form-block-header">
				<h2>
					<?php echo $this->translate('Cultural programs'); ?>
					
				</h2>
			</div>
			<div class="block-body-outer">
			<div class="block-body-inner">
		
			<div class="toogle-form-body<?php if ($this->settings->form->order_blocks_display->excursion == 0) echo ' hidden'; ?>">
				<?php
				/*
				<div id="excursions-attention"><?php echo $this->translate('#excursions_attention'); ?></div>
				 * 
				 */
				?>
				<h3 class="centerer"><?php echo $this->translate('Excursions prices'); ?></h3>
				<table class="excursion-table main-form-table orders-table">
					<thead>
						<tr>
							<th>
								<?php echo $this->translate('Events'); ?>
							</th>
							<th><?php echo $this->translate('Price'); ?></th>
							<th><?php echo $this->translate('Available dates/periods'); ?></th>
						</tr>
					</thead>
					<tbody>
						<?php foreach($this->stepData['excursion']['excursions'] as $excursion) : ?>
							<tr>
								<td class="excursion-name left-align">
									<?php echo $excursion['name']; ?>
									<?php if (trim($excursion['note'])!='') : ?>
										<?php echo '('.$excursion['note'].')'; ?>
									<?php endif; ?>
								</td>
								<td class="excursion-price">
									<?php if ($excursion['with_acc'] == 1) : ?>
									<div class="left-align">
										<ul>
											<li><?php echo $this->translate('At single accommodation') . ': ' . $excursion['price1']; ?></li>
											<li><?php echo $this->translate('At double accommodation') . ': ' . $excursion['price2']; ?></li>
											<li>
												<?php echo $this->translate('At double accommodation with extra bed') . ':' ?>
												<?php if ($excursion['price3'] == 0) : ?>
													<?php echo $this->translate('by request'); ?>
												<?php else : ?>
													<?php echo $excursion['price3']; ?>
												<?php endif; ?>
											</li>
										</ul>
									</div>
									<?php else : ?>
										<?php if ($excursion['price1'] != 0) : ?>
											<?php echo $excursion['price1']; ?>
										<?php else : ?>
											<?php echo $this->translate('By request'); ?>
										<?php endif; ?>
									<?php endif; ?>
								</td>
								<td class="excursion-periods" id="excursion-periods<?php echo $excursion['id'];?>">
									<?php foreach ($excursion['periods'] as $period) : ?>
										<div>
											<?php echo $this->displayOrderDates($period); ?>
										</div>
									<?php endforeach; ?>
								</td>
							</tr>
						<?php endforeach; ?>
					</tbody>
				</table>
				<div class="clearer"></div>
				<div class="info-text table-note-line">
					<?php
					echo $this->showText($this->stepData['excursion']['note']);
					?>
                
                </div>
				
				<div class="main-form-block-line hidden">
					<select class="select-field" name="excursion-with-acc" id="excursion-with-acc">
						<?php foreach($this->stepData['excursion']['excursions'] as $excursion) : ?>
							<option value="<?php echo $excursion['id']; ?>"><?php echo $excursion['with_acc']; ?></option>
						<?php endforeach; ?>
					</select>
				</div>
				<div class="main-form-block-line">
					<label for="excursion-name"><?php echo $this->translate('Optional program'); ?>:</label>
					<select name="excursion-name" id="excursion-name" class="excursion-select select-field" onchange="changeExcursionPeriods();">
						<?php foreach($this->stepData['excursion']['excursions'] as $excursion) : ?>
							<option value="<?php echo $excursion['id']; ?>">
								<?php echo $excursion['name']; ?>
							</option>
						<?php endforeach; ?>
					</select>
				</div>
				<div class="main-form-block-line">
					<label for="excursion-period"><?php echo $this->translate('Date/period'); ?>:</label>
					<select name="excursion-period" id="excursion-period" class="excursion-select select-field">
						<?php foreach($this->stepData['excursion']['excursions'][0]['periods'] as $period1) : ?>
								<option><?php echo $this->displayOrderDates($period, false); ?></option>
						<?php endforeach; ?>
					</select>
				</div>
				<div id="excursion-accommodation-line" class="main-form-block-line <?php if ($this->stepData['excursion']['excursions'][0]['with_acc']==0) echo 'hidden';?>">
					<label for="excursion-accommodation"><?php echo $this->translate('Accommodation'); ?>:</label>
					<select name="excursion-accommodation" id="excursion-accommodation" onchange="excursionAccUpdate();">
						<option value="1"><?php echo $this->translate('Single'); ?></option>
						<option value="2"><?php echo $this->translate('Double'); ?></option>
					</select>
				</div>
				<div id="excursion-hotel-bed-details" class="main-form-block-line two-cell-line <?php if ($this->stepData['excursion']['excursions'][0]['with_acc']==0) echo 'hidden';?>">
					<label id="excursion-bed-type-label" for="excursion-bed-type"><?php echo $this->translate('Bed type'); ?>:</label>
					<select name="excursion-hotel-bed-type" id="excursion-hotel-bed-type">
						<option value="King size">King size</option>
						<option value="Twin">Twin</option>
					</select>
					<label id="excursion-extra-bed-label" for="excursion-extra-bed"><?php echo $this->translate('Extra bed'); ?>:</label>
					<input type="checkbox" class="main-form-input-checkbox" id="excursion-extra-bed" name="excursion-extra-bed" value="1" />
				</div>	
				<div class="clearer"></div>
				<div id="excursion-persons-block" class="main-form-block-line persons-select-line">
					<div class="persons-select-block-outer">
						<div style="margin-top: 20px;" class="persons-select-caption"><?php echo $this->translate('Choose persons for this service'); ?>:</div>
						<div class="persons-select-block-inner clearfix">
							<?php foreach ($this->stepData['persons'] as $person) : ?>
								<label>
									<input id="excursion-persons<?php echo $person['id'];?>" name="meal-persons" type="checkbox" value="<?php echo $person['id'];?>" />
									<span class="excursion-persons-person-name"><?php echo $this->escape($person['name']);?></span>
								</label>
							<?php endforeach; ?>
						</div>
					</div>
				</div>
				<div class="clearer"></div>
				<div class="main-form-block-line service-comment relativier">
					<div class="service-comment-inner clearfix">
						<div class="service-comment-header"><?php echo $this->translate('Comment'); ?>:</div>
						<div class="service-comment-body">
							<textarea style="width: 300px; height: 60px;" id="excursion-comment" class="textarea-field"></textarea>
						</div>	
					</div>
				</div>
				<div class="clearer"></div>
				<div id="add_div" class="main-form-block-line add-line" style="">
					<input id="transport-add-text" class="color green button" onclick="addExcursion();" value="<?php echo $this->translate('Book excursion'); ?>" type="button">
				</div>
				<!--
				<div class="main-form-block-line add-line" style="margin-top:2em;">
					<?php if (isset($this->stepData['excursion']['ordersContent']) && trim($this->stepData['excursion']['ordersContent'])!='') : ?>
						<span id="excursion-add-more-text" class="add-link link" onclick="addExcursion();"><?php echo $this->translate('Book more event'); ?></span>
						<span id="excursion-add-text" class="add-link link hidden-imp" onclick="addExcursion();"><?php echo $this->translate('Book event'); ?></span>
					<?php else : ?>
						<span id="excursion-add-more-text" class="add-link link hidden-imp" onclick="addExcursion();"><?php echo $this->translate('Book more event'); ?></span>
						<span id="excursion-add-text" class="add-link link" onclick="addExcursion();"><?php echo $this->translate('Book event'); ?></span>
					<?php endif; ?>
				</div>	
				-->
				<div class="clearer"></div>	
				<div class="main-form-block-line relativier">
					<div id="excursion-loader" class="ajax-loader-small">
						<div class="ajax-loader-small-content" align="center">
							<?php echo $this->translate('Loading'); ?>&nbsp;<img src="/img/loader_s.gif" />
						</div>
					</div>
					<table align="center" id="ordered-excursion" class="excursion-table main-form-table orders-table">
						<caption>
							<?php echo $this->translate('Orders list'); ?>
						</caption>
						<thead>
							<tr>
								<th><?php echo $this->translate('Cultural program'); ?></th>
								<th><?php echo $this->translate('Date/period'); ?></th>
								<th><?php echo $this->translate('Persons'); ?></th>
								<th><?php echo $this->translate('Sum').' ('.$this->translate('RUR').')'; ?></th>
								<th width="35">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<?php if (isset($this->stepData['excursion']['ordersContent']) && trim($this->stepData['excursion']['ordersContent'])!='') : ?>
								<tr class="empty-order-row hidden">
									<td colspan="5" class="empty-order-row-msg"><?php echo $this->translate('You have no orders'); ?></td>
								</tr>
								<?php echo $this->stepData['excursion']['ordersContent']; ?>
							<?php else : ?>
								<tr class="empty-order-row">
									<td colspan="5" class="empty-order-row-msg"><?php echo $this->translate('You have no orders'); ?></td>
								</tr>
							<?php endif; ?>
						</tbody>
					</table>
				</div>
			</div>
			</div>
		</div>
	</div>
	<?php endif; ?>
	<div class="submit-block" style="margin: 5px auto 2em;">
        <input id="prev-step" class="color green button" value="<?php echo $this->translate('Previous step'); ?>" type="button">

		<?php if ($this->fromPpc==1) : ?>
			<div id="ppc-order-loader" class="ajax-loader-small">
				<div class="ajax-loader-small-content" align="center">
					<?php echo $this->translate('Loading'); ?>&nbsp;<img src="/img/loader_s.gif" />
				</div>
			</div>
			<span class="link base-btn" onclick="orderFromPpcComplete();"> 
				<span><?php echo $this->translate('Finish'); ?></span>
			</span>
		<?php else : ?>
            <button id="next-step-btn" style="margin-left: 54%;" class="color green button" onclick="$('#main-form-step3').submit();"><?php echo $this->translate('Next step'); ?></button>

		<?php endif; ?>
	</div>
</form>

<script type="text/javascript">
    $(document).ready(function(){

       

        $('.transfer_order_button').click(function() {
            var transfer_type_id= $(this).parent().parent().attr('transfer_type_id');

            $('#transfer-type option').removeAttr('selected');
            $('#transfer-type  option[value='+transfer_type_id+']').attr('selected', 'true');
            $('#transfer_form_cont').show();
        });

        $('.meal_order_button').click(function() {
            /*
            var transfer_type_id= $(this).parent().parent().attr('transfer_type_id');

            $('#transfer-type option').removeAttr('selected');
            $('#transfer-type  option[value='+transfer_type_id+']').attr('selected', 'true');
            */

            $('#meal_form_cont').show();
        });
/*
        $('#transport-type').change(function(){
            $('#comment_div').show();
            $('#add_div').show();
        });
*/
        $('#prev-step').click(function() {
            window.location='<?php echo 'http://'.$_SERVER['HTTP_HOST'].'/step2/'; ?>';
        });

    });

</script>