<?php $this->inlineScript()->captureStart(); ?>
	$(window).load(function(){ reg.step1.init(); });
<?php $this->inlineScript()->captureEnd(); ?>
<?php

if ($this->settings->event->only_booking_form == 1)
{
    $personsLabel = array('Persons');
}
else
{
    $personsLabel = array('Attendees');
}
?>
<?php echo $this->render('/index/helps/'.$this->lang.'/step1-helps.phtml'); ?>
<div class="main-form-block persons-block" xmlns="http://www.w3.org/1999/html">
	<?php $this->stepTitle = $personsLabel; ?>
	<?php echo $this->render('/index/tpl/menu-top.phtml'); ?>
	<?php if ($this->stepData['ptCh']) : ?>
	<div id="part-info" class="block-body-outer">
        <div class="block-body-inner">

            <div class="toogle-form-body<?php if (!$this->stepData['showPartInfo']) echo ' '; ?>">
                <div id="pt-info" class="main-form-block-line">
                <div class="form-style-2-heading"><?php echo $this->translate('Registration');?></div>
                    <br/><br/>
                    <table id="reg-fee-prices"  class="main-form-table">
                        <thead>
                            <tr>
                                <th style="background: #DBE6F0 none repeat scroll 0% 0%" ><?php echo $this->translate('Form of Attendance'); ?></th>
                                <th style="background: #DBE6F0 none repeat scroll 0% 0%"><?php echo $this->translate('Price') . ' (' . $this->translate('RUR') . ')'; ?></th>
                                <th style="background: #DBE6F0 none repeat scroll 0% 0%" width="250"><?php echo $this->translate('Registration fee includes'); ?></th>
                            </tr>
                        </thead>
                        <tbody>

                            <?php $i = 0;
                                $last = array_pop($this->stepData['personsTypes']);

                            ?>
                            <?php foreach ($this->stepData['personsTypes'] as $personType) : ?>
                            <tr>
                                <td class="type-name left-align">
                                    <?php echo $personType['name']; ?>
                                </td>
                                <?php foreach ($personType['prices'] as $key=>$typePrice) : ?>
                                    <td><?php echo $typePrice['price']; ?></td>
                                <?php endforeach; ?>
                                <?php if ($i == 0) : ?>
                                    <td rowspan="3" width="420px" class="left-align"><?php echo $this->translate('#reg_fee_incl'); ?></td>
                                <?php endif; ?>


                            </tr>

                            <?php $i++; ?>
                            <?php endforeach; ?>
                      
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
	<?php endif; ?>
	<div id="added-persons-cont" class="clearfix">
    <?php if ($this->stepData['personsExist']) : ?>
        <div id="added-persons" class="block-body-outer">
        <div class="block-body-inner">
        <div class="main-form-block-line persons-tourists-line">
            <table class="main-form-table orders-table">
                <caption class="nobrer">
                    <?php echo $this->translate('Persons list'); ?>
                </caption>
                <thead>

                </thead>
                <tbody<?php if ($this->lang=='ru') echo ' class="ru"'; ?>>
                    <?php foreach($this->persons as $person) : ?>
                        <tr id="added-person<?php echo $person['id']; ?>" class="added-person">
                            <td class="name">
                                <?php
                                $pName = $this->escape($person['fname']) . ' ' . $this->escape($person['lname']);
                                if ($this->stepData['ptCh'])
                                {
                                    $pName .= ' (' . $this->escape($person['personTypeName']) . ')';
                                }
                                echo $pName;
                                ?>
                            </td>
                            <?php if ($this->stepData['visaFlag'] == 1) : ?>
                            <td class="visa">
                                <?php 
                                    if ($person['visa']['status']==1)
                                    {
                                        $visaAddClass = ' hidden';
                                        $visaRefuseClass = '';
                                    }
                                    else
                                    {
                                        $visaAddClass = '';
                                        $visaRefuseClass = ' hidden';
                                    }
                                ?>
                                <?php if($person['status']==0) : ?>
                                    <div title="<?php echo $this->translate('Click here to refuse visa support'); ?>" class="persons-visa-refuse-link link<?php echo $visaRefuseClass; ?>" onclick="personRefuseVisa(<?php echo $person['id']; ?>);">
                                        <?php echo $this->translate('Refuse visa support'); ?>
                                    </div>
                                <?php endif; ?>
                                <?php foreach ($this->stepData['visaTypes'] as $visaType) : ?>
                                    <div title="<?php echo $this->translate('Click here to order visa support'); ?>" class="persons-visa-add-link link<?php echo $visaAddClass; ?>" onclick="personAddVisa(<?php echo $person['id'].','.$this->fromPpc.','.$visaType['id']; ?>);">
                                        <?php echo $this->translate('Add visa support') . ' ' . $this->displayVisaName($visaType, 2); ?>        
                                    </div>
                                <?php endforeach; ?>
                                <?php
                                    if($person['visa']['status'] == 1)
                                    {
                                        $personVisaData = array('name' => $person['visa']['details']['visaTypeName'], 'price' => round($person['visa']['details']['summ']), 'is_free' => $person['visa']['details']['is_free']);
                                    }
                                ?>
                                <?php if ($person['visa']['status']==1) : ?>
                                    <span class="persons-visa-required"><?php echo $this->translate('Required'); ?> <span class="person-visa-type-str"><?php echo $this->displayVisaName($personVisaData, 2); ?></span></span>  
                                    <span class="persons-visa-not-required hidden"><?php echo $this->translate('Not required'); ?></span>   
                                <?php else : ?>
                                    <span class="persons-visa-required hidden"><?php echo $this->translate('Required'); ?> <span class="person-visa-type-str"><?php echo $this->displayVisaName($personVisaData, 2); ?></span></span>   
                                    <span class="persons-visa-not-required"><?php echo $this->translate('Not required'); ?></span>  
                                <?php endif; ?>
                            </td>
                            <?php endif; ?>
                            <td class="actions_td" style="width: 40%; text-align: center;  ">
                                <?php if($person['status']==0) : ?>
                                    <a style="" title="<?php echo $this->translate('Delete person'); ?>" onclick="deletePerson(<?php echo $person['id']; ?>); "><img src="../img/delete_icon2.jpg"/></a>

                                  
                                <?php endif; ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        </div>
        </div>
    <div class="main-form-block-line person-add">
        <span class="person-loader">
            <img alt=" " src="/img/loader_s2.gif" width="16" height="16" />
        </span>
        <button class="small color blue button add-link link" value=""><?php echo $this->translate('One more guest...'); ?></button>

    </div>
    <div class="clearer"></div>
    </div>
    <?php endif; ?>
    <?php if ($this->stepData['formErrors']) : ?>
        <div class="attention-block" id="persons-attention">
            <?php echo $this->translate('#persons_attention'); ?>
        </div>
    <?php endif; ?>
    <!-- красивая форма обертка -->

    <div id="new-persons" class="form-style-2" align="center">
        <!-- Рег сборы-->

        <!-- начало формы -->
        <?php $ff = current($this->forms); ?>
        <form id="<?php echo $ff->getAttrib('id'); ?>" action="<?php echo $ff->getAttrib('action'); ?>" method="<?php echo $ff->getAttrib('method'); ?>" enctype="<?php echo $ff->getAttrib('enctype'); ?>" accept-charset="<?php echo $ff->getAttrib('accept-charset'); ?>">
            <?php if (!$this->stepData['personsExist'] || $this->stepData['formErrors']) : ?>
                <?php foreach($this->forms as $num => $form) : ?>
                    <?php echo $this->partial('/process/new-person.phtml', array('num' => $num, 'form' => $form)); ?>
                <?php endforeach; ?>
            <?php endif; ?>
            <?php echo $ff->smbt ?>
        </form>
    </div>
    <div id="new-person-add" class="main-form-block-line person-add<?php if ($this->stepData['personsExist'] && !$this->stepData['formErrors']) echo ' hidden'; ?>">
        <span class="person-loader">
            <img alt=" " src="/img/loader_s2.gif" width="16" height="16" />
        </span>
        <button class="color blue button add-link link" value=""><?php echo $this->translate('One more guest...'); ?></button>
    </div>
    <div class="clearer"></div>
</div>
<div id="persons-submit" class="submit-block">
    <button id="next-step-btn" class="color green button" onclick="$('#persons-form').submit();" value=""><?php echo $this->translate('Continue'); ?></button>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#new-person0 .actions').hide();
    });
</script>