<?php $this->inlineScript()->captureStart(); ?>
	$(window).load(function(){
	    priceNotes = <?php echo Zend_Json::encode($this->stepData['priceNotes']); ?>;
	    reg.step2.init();

	});


<?php
$this->inlineScript()->captureEnd(); ?>
<div id="hotel-help-tooltip">
	<?php echo $this->translate('#hotel-help-tooltip'); ?>
</div>

<div id="hotel-details-dialog">
	<span class="hidden" id="hotel-details-dialog-title"><?php echo $this->translate('Hotel information'); ?></span>
	<div id="hotel-details-loader" class="inline-ajax-loader">
		<div class="inline-ajax-loader-content">
			<?php echo $this->translate('Loading'); ?>&nbsp;<img alt="Loading" src="/img/loader_s2.gif" />
		</div>
	</div>
	<div id="hotel-details-dialog-content"></div>
	<div id="hotel-map"></div>
</div>
<form class="form-style-2" id="main-form-step2" action="" method="post">
	<div id="hotel-block" class="main-form-block hotel-block">
			<?php $this->stepTitle = 'Hotel booking'; ?>
			<?php echo $this->render('/index/tpl/menu-top.phtml'); ?>
			<div class="block-body-outer">
			<div class="block-body-inner">


				<?php if ($this->stepData['infoText'] != '') : ?>
					<div  style="font-weight: bold;" class="info-text attention">
						<?php
						echo $this->showText($this->stepData['infoText']);
						?>
					</div>
				<?php endif; ?>

			
				<div class="main-form-block-line big-input-line<?php if ($this->settings->form->multi_city != 1) echo ' hidden'; ?>">
					<label for="hotel-city"><?php echo $this->translate('City'); ?>:</label>
					<select id="hotel-city" name="hotel-city">
						<?php foreach ($this->stepData['cities'] as $city) : ?>
							<?php ($this->stepData['curCity'] == $city['id']) ? $selected=' selected="selected"' : $selected =''; ?>
							<option value="<?php echo $city['id']; ?>"<?php echo $selected;?>>
								<?php echo $this->escape($city['name']); ?>
							</option>
						<?php endforeach; ?>
					</select>
				</div>

                <!--начало нового представления -->

                <?php

                //print_r ($this->stepData['hotels']);

                //echo '<div style="margin: 10px 25px; width: 91%" id="accordion">';

                echo '<div>';
                echo '<table id="hotels_info_table"><thead><tr>';
                echo '<th width="65%">'.$this->translate('Hotel').'</th><th width="15%">'.$this->translate('Single accommodation').'</th><th width="15%">'.$this->translate('Double accommodation').'</th><th width="10%" >'.$this->translate('Book').'</th>';
                echo '</tr></thead><tbody>';

                $hotelsJS = array();

                foreach ($this->stepData['hotels'] as $hotel) {

                    echo '<tr hotel_id="'.$hotel['id'].'" class="hotel_tr">';
                    //echo '<h3><a href="#">'.$hotel['name'].'</a></h3>';
                    $img_src_parts = explode('-',$hotel['id']);
                    $img_src = $img_src_parts[0].'-'.$img_src_parts[1];
                    $short_id =$img_src;

                    $img_src = 'https://ea.paxport.tech/hotelimg/'.$img_src.'.jpg';
                    $outFile = '../public/uploads/'.$hotel['id'].'-cropped.jpg';
                  //  $imagick = new Imagick($img_src);
                  //  $imagick->thumbnailImage(500, 500);
                   // print_r($hotel['id']);
                    if($img_src_parts[0] == 'e6322105' || $img_src_parts[0] == '95e8b121')
                    {
                        $img_src = './'.$img_src_parts[0].'.jpg';
                    }
                    $width = '55px';
                    $marg = '2px';

                 //   $imagick->cropImage(50,50, 0,0);
                 //   $imagick->writeImage($outFile);


                    $table = new Welt_Hotels();
                    $hotel_info = $table->getHotelRoomsAndPrice($hotel['id'], $this->stepData['startDate'], $this->stepData['endDate'], 1);

                    $hotelsTable = new Welt_DbTable_Hotels();
                    $weltHotelTable = new Welt_DbTable_WeltHotels();
                    $hotelDetails2 = $weltHotelTable->getHotelDetails($hotel['id']);

                    $adress = $hotelDetails2['address'];
                    $google_coords = $hotelDetails2['google_coordinates'];
                    $stars = $hotel['stars'];

                    $hotelDetails = $hotelsTable->getHotelDetails($hotel['id']);
                    $WeltAdditionalsTable = new Welt_DbTable_WeltHotelsAdditionalServices();
                    $hotelDetails['additionals'] = $WeltAdditionalsTable->getHotelsAdditionals($hotel['id']);


                    if($img_src == 'https://ea.paxport.tech/hotelimg/090026d7-13c5.jpg'){
                        echo '<td style="padding-bottom: 5px;  vertical-align: middle; border: 1px solid #808080; "><img width="'.$width.'" style="float: left; margin-right: 7px; margin-top: 1%;" src="https://r-cf.bstatic.com/images/hotel/max1024x768/447/4472871.jpg" alt="'.$hotel['id'].'"/>';
                    } else {
                        echo '<td style="padding-bottom: 5px;  vertical-align: middle; border: 1px solid #808080; "><img width="'.$width.'" style="float: left; margin-right: 7px; margin-top: 1%;min-height: 70px;" src="'.$img_src.'" alt="'.$hotel['id'].'"/>';
                    }
                    echo '<h5 style="padding: 5px 0 2px 0; font-size: 16px; color: #387038; font-weight: bolder ">'.$hotelDetails['name'].' <span><img style="position: relative; bottom: 4px;" width="45px" src="../img/'.$hotelDetails['stars'].'stars.gif"/></span></h5>';


                    echo '<table class="actions_table" style="width: 40%; margin-top: '.$marg.';"><tr><td style="padding-left: 0;"><div class="show-info link-btn" ><span class="text">'.$this->translate('Details').'</span><span class="icon"></span></div></td><td ></td></td><td ></td></td></tr></table></td>'; //Ячейка название отеля
                    /*<div class="show-map link-btn" ><span class="text">Маршрут</span><span class="icon"></span></div>*/

                    echo '<td style="border: 1px solid #808080; text-align: center;">';
                    if($hotel['id'] == '8b741cac-26a5-11e8-b2eb-bcee7be14844'){
                        echo $this->translate('from') . ' 5880 ' . $this->translate('RUR');
                    } elseif($hotel['id'] == '315b30a8-c3ce-11da-8d0d-505054503030'){
                        echo $this->translate('from') . ' 7500 ' . $this->translate('RUR');
                    } elseif($hotel['id'] == '090026d7-13c5-11e4-8a77-00155d02b858'){
                        echo $this->translate('from') . ' 9500 ' . $this->translate('RUR');
                    } elseif($hotel['id'] == 'e323d35c-8eb9-11dd-897e-0015170f33dc'){
                        echo $this->translate('from') . ' 13500 ' . $this->translate('RUR');
                    } elseif(isset($hotel_info[0]['dayPriceText'])){
                        echo $hotel_info[0]['dayPriceText'];
                        } else {
                        echo $this->translate('by request');
                    }
                    echo '</td>'; //Ячейка одноместного номера

                    echo '<td style="text-align: center; border: 1px solid #808080;">';
						$hotel_info2m = $table->getHotelRoomsAndPrice($hotel['id'], $this->stepData['startDate'], $this->stepData['endDate'], 2);
//						echo '<div style="display:none;>';print_r($hotel_info);echo '</div>';
                    if($hotel['id'] == '8b741cac-26a5-11e8-b2eb-bcee7be14844'){
                        echo $this->translate('from') . ' 7570 ' . $this->translate('RUR');
                    } elseif($hotel['id'] == '315b30a8-c3ce-11da-8d0d-505054503030'){
                        echo $this->translate('from') . ' 8000 ' . $this->translate('RUR');
                    } elseif($hotel['id'] == '090026d7-13c5-11e4-8a77-00155d02b858'){
                        echo $this->translate('from') . ' 10100 ' . $this->translate('RUR');
                    } elseif($hotel['id'] == 'e323d35c-8eb9-11dd-897e-0015170f33dc'){
                        echo $this->translate('from') . ' 13500 ' . $this->translate('RUR');
                    } else {
                        echo $hotel_info2m[0]['dayPriceText'];
                    }
					   /*if (isset($hotel_info[2]['dayPriceText'])) {
                            echo $hotel_info[2]['dayPriceText'];
					   } else {
					   }*/
                    echo '</td>'; //Ячейка двухместного номера


                    echo '<td style=" text-align: center; border: 1px solid #808080; padding: 3px;">';
                    ECHO '<input class="color green button hotel_order_button" type="button"  value="'.$this->translate('book a room').'" />';
                    echo '</td>'; //Ячейка действий


                    echo '</tr>';

                    $hotelsJS[] = array('id'=>$short_id, 'full_id'=>$hotel['id'], 'name'=>$hotelDetails['name'], 'address'=>$adress, 'stars'=>$stars, 'google_coordinates'=>$google_coords,  'metro_stations'=>'', 'minPrice'=>'');


                }
                echo '</tbody></table>';

                /*фотки номеров*/
                echo '<div style="display: none" id="rooms_photos">';
                foreach ($this->stepData['hotels'] as $hotel) {

                    echo '<div id="gallery'.$hotel['id'].'">';
                    $rooms_table = new Welt_DbTable_HotelsRooms();
                    $rooms = $rooms_table->getHotelsRooms($hotel['id'], 1);
                    $photos_array = array();
                 //   print_r($rooms );
                    foreach ($rooms as $room) {
                        $room_id_parts = explode('-',$room['id']);
                        $room_short_id = $room_id_parts[0].'-'.$room_id_parts[1];

                        $gallery_table = new Welt_DbTable_WeltGallery();
                        $room_photos = $gallery_table->getRoomPhotos($room_short_id);

                        $photos_array[$room['name']] =$room_photos;
                    }

                    foreach ($photos_array as $room_name=>$room_photos) {
                        foreach ($room_photos as $room_photo) {
                            echo '<a class="gallery'.$hotel['id'].'" rel="hotel'.$hotel['id'].'" title="'.$room_name.'" href="https://images.welt.ru/'.$room_photo['id'].'.jpg" />';
                            echo '';
                            echo '</a>';
                        }

                    }

                   //echo '<hr>'; print_r($photos_array);
                    echo '</div>';
                }
                echo '</div>';


                //echo '</div >';
                ?>
                <br/>
                <div class="link-btn" style="padding: 5px 10px 5px 10px; text-align: center; margin: 0 33% 10px 33%; border: 1px solid #000000;">
                    <span style="color: #000000; font-weight: bold;" id="map-show-link" class="link"><?php echo $this->translate('Show hotels on map'); ?></span>
                </div>
                <!--конец нового представления -->
                <div id="order_form_cont" style="display: none;"> <!-- начало блока формой брони-->

                <div id="tabs-1">
                <a name="form_cont"></a>
				<div class="main-form-block-line big-input-line">
					<label for="hotel-name"><?php echo $this->translate('Hotel'); ?>:</label>
					<select class="select-field" id="hotel-name" name="hotel-name">
					    <?php
					    $curHotel = NULL;
                        ?>
						<?php foreach ($this->stepData['hotels'] as $hotel) : ?>
							<?php
							$hName = $this->escape($hotel['name']);
							if ($this->stepData['curHotelId']==$hotel['id'])
							{
								$selected=' selected="selected"';
								//$hName .= ' (' . $this->translate('venue') . ')';
								$curHotel = $hotel;
							}
							else
							{
								$selected ='';
							}
							?>
							<option value="<?php echo $hotel['id']; ?>"<?php echo $selected;?>>
								<?php echo $hName; ?>
							</option>
						<?php endforeach; ?>
						<?php
                        if (is_null($curHotel)) $curHotel = $this->stepData['hotels'][0]; ?>
                        ?>
					</select>


				</div>

				<div class="clearer"></div>
				<div id="cur-hotel-att">
				   <?php if ($curHotel['priceNote'] != '') echo $curHotel['priceNote']; ?>
				</div>
				<div class="main-form-block-line big-input-line">
					<label for="hotel-rooms"><?php echo $this->translate('Room'); ?>:</label>
					<select class="select-field" id="hotel-rooms" name="hotel-rooms">
						<?php foreach ($this->stepData['curHotelRooms'] as $room) : ?>
							<?php ($this->stepData['curRoom']['id']==$room['id']) ? $selected=' selected="selected"' : $selected =''; ?>
							<option value="<?php echo $room['id']; ?>"<?php echo $selected;?>>
								<?php echo $this->escape($room['name']); ?>
								(<?php echo $room['dayPriceText']; ?>)
							</option>
						<?php endforeach; ?>
					</select>
				</div>	
				<div class="main-form-block-line two-cell-line">
					<label for="hotel-sdate"><?php echo $this->translate('Check-in date'); ?>:</label>
					<input style="position: relative; right: 120px;"  type="text" value="<?php echo $this->stepData['startDate']; ?>" class="input-field datepicker" id="hotel-sdate" name="hotel-sdate"  />
					<label style="position: relative; left: 140px; width: 100px;"  for="hotel-edate"><?php echo $this->translate('Check-out date'); ?>:</label>
					<input type="text" value="<?php echo $this->stepData['endDate']; ?>" class="input-field datepicker"   id="hotel-edate" name="hotel-edate"  />
				</div>
				<div class="main-form-block-line two-cell-line">
					<label for="hotel-accommodation"><?php echo $this->translate('Type of accommodation'); ?>:</label>
					<span id="hotel-accommodation-2" class="hidden">
						<?php echo $this->translate('Double'); ?>
					</span>
					<select class="select-field" name="hotel-accommodation" id="hotel-accommodation" style="width:60%;">
                        <option value="1"><?php echo $this->translate('Single'); ?></option>
						<?php if ($this->stepData['curRoom']['accomodation'] != 1) :?>
							<option value="2"><?php echo $this->translate('Double'); ?></option>
						<?php endif; ?>
					</select>
				</div>
				<div id="hotel-bed-details" class="main-form-block-line two-cell-line hidden">
					<label id="hotel-bed-type-label" for="hotel-bed-type"><?php echo $this->translate('Bed type'); ?>:</label>
					<select style="margin-left: -315px;" class="select-field" name="hotel-bed-type" id="hotel-bed-type">
						<option value="King size">King size</option>
						<option value="Twin">Twin</option>
					</select>
					<label id="hotel-extra-bed-label" for="hotel-extra-bed"><?php echo $this->translate('Extra bed'); ?>:</label>
					<input type="checkbox" class="main-form-input-checkbox" id="hotel-extra-bed" name="hotel-extra-bed" value="1" />
				</div>
				<div id="hotel-breakfast-line" class="main-form-block-line two-cell-line">
					<label for="hotel-breakfast"><?php echo $this->translate('Breakfast'); ?>:</label>
					<?php 
						//Доступность заказа затрака
						if ($this->stepData['curRoom']['breakfastAv'] == 0)
						{
							$breakfElem1Class = ' class="hidden"';
							$breakfElem2Class = ' class="hidden"';
							$breakfElem3Class = '';
						}
						else
						{
							$breakfElem3Class = ' class="hidden"';
							if ($this->stepData['curRoom']['breakfastIncl']==1)
							{
								$breakfElem1Class = ' class="hidden"';
								$breakfElem2Class = '';
							}
							else
							{
								$breakfElem1Class = '';
								$breakfElem2Class = ' class="hidden"';
							}
						}
					?>
					<div id="hotel-breakfast-active"<?php echo $breakfElem1Class; ?>>
						<select class="select-field" id="hotel-breakfast" name="hotel-breakfast">
							<option value="0"><?php echo $this->translate('Not required'); ?></option>
							<option value="1"><?php echo $this->translate('Required'); ?></option>
						</select>
					</div>
					<div id="hotel-breakfast-not-active"<?php echo $breakfElem2Class; ?>>
						<?php echo $this->translate('Breakfast included into accommodation price'); ?>
					</div>
					<div id="hotel-breakfast-not-av"<?php echo $breakfElem3Class; ?>>
						<?php echo $this->translate('Breakfast is not available for this room'); ?>
					</div>
				</div>
				<div class="clearer"></div>
                </div>
			<div id="hotel-price-block" class="main-form-block-line">
						<?php echo $this->translate('The whole period price'); ?>:
					<?php 
						if ($this->stepData['curRoom']['summ']==0)
						{
							$priceElem1Class = ' class="hidden"';
							$priceElem2Class = '';
						}
						else
						{
							$priceElem1Class = '';
							$priceElem2Class = ' class="hidden"';
						}
					?>
					<span id="hotel-price-amount"<?php echo $priceElem1Class; ?>>
						<span><?php echo $this->stepData['curRoom']['summ']; ?></span> <?php echo $this->translate('RUR'); ?>
					</span>
					<span id="hotel-price-by-request"<?php echo $priceElem2Class; ?>>
						<?php echo $this->translate('by request'); ?>
					</span>
					<div id="hotel-price-note"<?php echo $breakfElem3Class; ?>>
						(<?php echo $this->translate('Excluding breakfast cost'); ?>)
					</div>
				</div>
                <div id="tabs-2">

				<div class="clearer"></div>
                    <div id="persons-block" style="margin-bottom: 15px;">
                        <div class="persons-select-block-outer">
						
                            <div style="width: 40px;  position: relative; right: 55px; top: 20px; text-align: left">
                                <?php echo '<b>'.$this->translate('Guests').': </b>'; ?>
                            </div>
							<!--
							<img src='../img/guests.png' width="30px" style="float: left; position: relative; bottom: 6px;right: 100px;" />
							-->
                            <div style="padding-top: 6px;">
                                <?php $i=1; foreach ($this->stepData['persons'] as $person) : ?>
                                    <input  class="" id="hotel-persons<?php echo $i;?>" name="hotel-persons" type="checkbox" value="<?php echo $person['id'];?>" />
                                    <label style="display: inline; width=150px; text-align: left !important;"  for="hotel-persons<?php echo $i;?>">  <?php echo '<b>'.$this->escape($person['name']).'</b>';?></label>
                                    <br/><br/>
                                <?php $i++;  endforeach; ?>
                            </div>
                        </div>
                    </div>
                    <!--

				<div id="hotel-persons-block" style="width: 300px; position: relative; right: 73px" class="main-form-block-line persons-select-line">
					<div class="persons-select-block-outer">


							<select name="hotel-persons-all" id="hotel-persons-all" class="select-field hidden">
								<option disabled="disabled" selected="selected" value="0"><?php echo $this->translate('Choose person'); ?></option>
								<?php foreach ($this->stepData['persons'] as $person) : ?>
									<option value="<?php echo $person['id'];?>">
										<?php echo $this->escape($person['name']);?>
									</option>
								<?php endforeach; ?>
							</select>
							<div id="hotel-persons-line1" class="main-form-block-line two-cell-line">
								<label for="hotel-persons1"><?php echo $this->translate('Person'); ?>1:</label>
								<select class="select-field" name="hotel-persons1" id="hotel-persons1">
									<option disabled="disabled" selected="selected" value="0"><?php echo $this->translate('Choose person'); ?></option>
									<?php foreach ($this->stepData['persons'] as $person) : ?>
										<option value="<?php echo $person['id'];?>">
											<?php echo $this->escape($person['name']);?>
										</option>
									<?php endforeach; ?>
								</select>
							</div>
							<div id="hotel-persons-line2" class="main-form-block-line two-cell-line hidden">
								<label for="hotel-persons2"><?php echo $this->translate('Person'); ?>2:</label>
								<select class="select-field" name="hotel-persons2" id="hotel-persons2">
									<option disabled="disabled" selected="selected" value="0"><?php echo $this->translate('Choose person'); ?></option>
									<?php foreach ($this->stepData['persons'] as $person) : ?>
										<option value="<?php echo $person['id'];?>">
											<?php echo $this->escape($person['name']);?>
										</option>
									<?php endforeach; ?>
								</select>
							</div>
							<div id="hotel-persons-line3" class="main-form-block-line two-cell-line hidden">
								<label for="hotel-persons3"><?php echo $this->translate('Person'); ?>3 (<?php echo $this->translate('extra bed'); ?>):</label>
								<select class="select-field" name="hotel-persons3" id="hotel-persons3">
									<option disabled="disabled" selected="selected" value="0">&lt;<?php echo $this->translate('Choose person'); ?>&gt;</option>
									<?php foreach ($this->stepData['persons'] as $person) : ?>
										<option value="<?php echo $person['id'];?>">
											<?php echo $this->escape($person['name']);?>
										</option>
									<?php endforeach; ?>
								</select>
							</div>

					</div>
				</div>
                    -->
				<div class="clearer"></div>
                </div>
                <div id="tabs-3">

				<div class="main-form-block-line service-comment">

                            <label for="hotel-comment"><?php echo $this->translate('Comment').': '; ?> </label>
							<textarea name="hotel-comment" id="hotel-comment" class="textarea-field" cols="20" rows="3"></textarea>


				</div>
				<div class="clearer"></div>
				<div style="" class="add-line" >
				<!--
				<div  style="margin: -10px 0 10px 0; color: red;" id="persons_alert"> Гости не выбраны! </div>
				-->
				
                        <input id="hotel-add-text" class="color green button" onclick="addHotelRoom();" type="button" value = "<?php echo $this->translate('Book room'); ?>" />

				</div>
                </div>

                </div> <!-- конец блока с формой брони-->




				<div class="main-form-block-line relativier orders-line">
					<div id="hotel-loader" class="ajax-loader-small">
						<div class="ajax-loader-small-content">
							<?php echo $this->translate('Loading'); ?>&nbsp;<img alt="Loading" src="/img/loader_s.gif" />
						</div>
					</div>
					<table id="ordered-hotel" class="hotel-table main-form-table orders-table">
						<caption>
							<?php echo $this->translate('Orders list'); ?>
						</caption>
						<?php if (isset($this->stepData['ordersContent']) && trim($this->stepData['ordersContent'])!='') : ?>
							<?php $emptyOrdersClass = 'class="hidden"'; ?>
							<?php echo $this->stepData['ordersContent'];?>
						<?php else : ?>
							<?php $emptyOrdersClass = ''; ?>
						<?php endif; ?>
						<tbody id="hotel-empty-order"<?php echo $emptyOrdersClass; ?>>
							<tr class="empty-order-row hotel-order-capt-row">
								<td class="hotel-details-cell"><?php echo $this->translate('Hotel, room, type of accommodation'); ?></td>
								<td class="guests-cell"><?php echo $this->translate('Guests'); ?></td>
								<td class="dates-cell"><?php echo $this->translate('Dates'); ?></td>
								<td class="price-day-cell"><?php echo $this->translate('Room price a day'); ?></td>
								<td class="days-cell"><?php echo $this->translate('Quantity of days'); ?></td>
								<td class="price-breakf-cell"><?php echo $this->translate('Breakfast price a day'); ?></td>
								<td class="price-cell"><?php echo $this->translate('Sum'); ?></td>
								<td class="action-cell">&nbsp;</td>
							</tr>
							<tr class="empty-order-row">
								<td class="empty-order-row-msg" colspan="9"><?php echo $this->translate('You have no orders for accommodation'); ?></td>
							</tr>
							<tr class="hotel-order-padding-row">
								<td colspan="9">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			</div>
		</div>
   
		<div class="submit-block" style="">
			<input id="prev-step" type="button" class="color green button" value="<?php echo $this->translate('Previous step'); ?>" />


			<?php if ($this->fromPpc == 1 && $this->stepData['step3Exist'] === false) : ?>
				<div id="ppc-order-loader" class="ajax-loader-small">
					<div class="ajax-loader-small-content" align="center">
						<?php echo $this->translate('Loading'); ?>&nbsp;<img src="/img/loader_s.gif" />
					</div>
				</div>
				<input id="finish-from-ppc-btn" type="button" style="margin-left: 54%;" class="color green button" value="<?php echo $this->translate('Finish'); ?>"/>
				
			<?php else : ?>
				<input id="next-step-btn" type="button" style="margin-left: 54%;" class="color green button" value="<?php echo $this->translate('Next step'); ?>"/>

			<?php endif; ?>
		</div>
</form>
<div id="rec-hotels-map" class="hidden"></div>


<script type="text/javascript" >

    $(document).ready(function(){

        reg.step2.init();
		
		/*Не даём перейти на следующий шаг, если не забронирован ни один номер*/
		$('#next-step-btn').click(function(){
           
		   if ($('#hotel-empty-order').is(':visible')) {
				alert ('<?php  echo $this->translate('Please, book any room');  ?>');
			} else {
				$('#main-form-step2').submit();
				
			}
		});
		
		/*Не даём завершить заказ из ЛК, если не забронирован ни один номер*/
		$('#finish-from-ppc-btn').click(function(){
           
		   if ($('#hotel-empty-order').is(':visible')) {
				alert ('<?php  echo $this->translate('Please, book any room');  ?>');
			} else {
				orderFromPpcComplete();
				
			}
		});


        $(".actions_table a").click(function(){
            var id = $(this).attr('class');
            $('div #'+id+ ' a').fancybox().trigger('click');
        });

        $('#map-show-link').click(function() {
            hotelObj = new Hotel();
            hotelObj.hotels = <?php  print_r(json_encode($hotelsJS)); ?>;
            hotelObj.showRecHotelsMap('hotelObj.recHotelsMapInit');

        });

        $('#persons-block input').change(function(){
            var checked = $('#persons-block input:checked').length;
			
            if (checked==3) {
                alert ('<?php  echo $this->translate('You can book a room only for 2 people');  ?>');
                $(this).attr('checked', false);
            }
        });

        $('#tabs-1 .ui-datepicker-trigger').eq(0).css('position', 'relative');
        $('#tabs-1 .ui-datepicker-trigger').eq(0).css('right', '120px');

        $('#prev-step').click(function() {

            window.location='<?php echo 'http://'.$_SERVER['HTTP_HOST'].'/step1/'; ?>';
        });

        $('.hotel_order_button').click(function() {

            var hotel_id= $(this).parent().parent().attr('hotel_id');
            $('#hotel-name option').removeAttr('selected');
            $('#hotel-name option[value='+hotel_id+']').attr('selected', 'true');
            $('#order_form_cont').show();
			 $('#hotel-name ').trigger('change');
            var pos = $('#order_form_cont').offset();
            $('html,body').animate({scrollTop: pos.top-100}, 400);
            //jQuery.scrollTo('#order_form_cont');
        });

        $('#hotel-accommodation').change(function(){
            $('#tabs-2').show();
        });

        $('.persons-select-block-outer input').change(function(){
            $('#tabs-3').show();
        });



   //     $('#tabs').tabs({selected: '0'});
    });

        //$('#accordion').accordion({active:false, collapsible:true, autoHeight:false});
        $('.main-form-block-line img').eq(1).css('position', 'relative');
        $('.main-form-block-line img').eq(1).css('right', '170px');
        $('.hotel-order-padding-row').hide();



</script>

<style>
