<?php $this->inlineScript()->captureStart(); ?>
	window.abstractDelConf = '<?php echo $this->translate('Вы действительно хотите удалить тезис для данного участника?'); ?>';
	$(window).load(function(){ reg.step22.init(); });
<?php $this->inlineScript()->captureEnd(); ?>
<div class="main-form-block abstracts-block">
    <?php //echo "<pre>";?>
    <?php //if($_SERVER['REMOTE_ADDR']=='192.168.2.98') print_r($this->docs);?>
    <?php //echo "</pre>";?>


	<?php $this->stepTitle = 'Тезисы'; ?>

	<?php echo $this->render('/index/tpl/menu-top.phtml'); ?>
	<form id="abstracts-form" action="" method="post" enctype="multipart/form-data">
	<?php if ($this->deadline) : ?>
		<div class="abstract-deadline attention-block">
			<p class="bolder">Приём тезисов завершён.</p>
			На данный момент приём тезисов завершён.
		</div>
	<?php elseif ($this->absFormsSize == 0) : ?>
		<div class="abstract-deadline attention-block">
			В заявке присутствуют только сопровождающие лица, для которых загрузка тезисов невозможна.
		</div>
	<?php else : ?>
		<form id="abstracts-form" action="" method="post">
			<?php foreach($this->persons as $person) : ?>
				<?php
				// Пропускаем сопровождающих
			//	if ($person['person_type_id'] == Welt_DbTable_PersonsTypes::ACCOMP_PERSON_TYPE)
			//	{
			//		continue;
			//	}
				echo $this->partial(
					'/index/tpl/abstract.phtml',
					array('person' => $person, 'form' => $person['abstractForm'])
				);
				?>
			<?php endforeach; ?>
 			<?php echo $this->abstractsHtml; ?>
 	<?php endif; ?>

	</form>
        <?php
        $prev_link = 'https://mice-audiology2015.welt.ru/step1/';


        if (isset($_SESSION['form']) and $_SESSION['form']=='simple') {
            $prev_link ='https://mice-audiology2015.welt.ru/step11/';
        } else {
            $prev_link ='https://mice-audiology2015.welt.ru/step1/';
        }

        ?>

</div>
<div id="abstracts-submit" class="submit-block" style="margin-top:4em">
	<a id="prev-step" class="link base-btn" href="<?php echo $prev_link?>">

		<span><?php echo $this->translate('Previous step'); ?></span>
	</a>
    <span id="next-step-btn" class="link base-btn" onclick="checkAndSubmit();"> 
        <span><?php echo $this->translate('Continue'); ?></span>
    </span>
</div>



<div class ="t-dnone" id="p-section">
    <p>Заполняется, если тезис / доклад может быть отнесен к другой теме</p>
</div>

<div class ="t-dnone" id="p-form">
    <p>Публикация тезиса (она выбрана сразу); устный доклад и публикация тезиса; только устный доклад</p>
</div>



<div class ="t-dnone" id="p-authors">
    <p>Авторы через запятую. Например: Иванов А.Я., Петров Б.В.</p>
</div>


<div class ="t-dnone" id="p-company">
    <p>Места работы через точку с запятой. Если необходимо указать связь с авторами, то в авторах (после инициалов) поставьте номер (через пробел) и перед местом работы укажите этот же номер, также через пробел</p>
</div>



<div class ="t-dnone" id="p-city">
    <p>Города, соответствующие местам работы. Если нужно, пишите несколько городов через точку с запятой и с номерами (соответствующим местам работы) перед названием города.</p>
</div>

<div class = "t-dnone" id ="tezis-help" style="font-size: 14px;text-align:left">
    <h2>Условия публикации тезисов в сборнике тезисов:</h2>
    <ol> <li><ul>1. Добавление тезиса возможно до 01.04.2015 одним из следующих способов:
    <li>&nbsp;&nbsp;&nbsp;Во время регистрации участника на мероприятие (при заполнении регистрационной формы)</li>
    <li>&nbsp;&nbsp;&nbsp;В личном кабинете участника, доступ к которому он получит после регистрации на мероприятие</li></ul></li>

    <li> 2. Тезис будет опубликован при условии оплаты регистрационного сбора до 01.04.2015</li>

    <li> 3. Изменение / удаление каких-либо полей тезиса после 01.04.2015 не допускается</li>

    <li> 4. До 30.04.2015 Вам будет прислано автоматическое уведомление о принятии Вашего тезиса.</li>

    </ol>
</div>

<span id="counter"></span>;
<script type="text/javascript">

    function checkAndSubmit() {
        var words_left = $('#counter').text().toString();

        if (words_left.indexOf('!')!==-1) {
      //  if (0) {
           alert ('Вы превысили допустимое количество слов в тексте тезиса.');
        } else {
            $('#abstracts-form').submit();
        }

    }

    $(document).ready(function(){
        $('textarea').parent().find('label').after($('#counter'));


        $('textarea').change(function(){
                var current_val =  this.value;
                var words = current_val.split(' ');
                var words_count =  parseInt(words.length);
                var left = 270 -words_count;
                if (left<0){
                    left = '<span style="color: red">превышение допустимого объема!</span>';
                } else {
                    left = '<span style="color: green">осталось '+left+'</span>';
                }

                $('#counter').html(left);

            });

    });
</script>










