<div class="app-error">
<h1><?php echo $this->translate('An error has occurred'); ?>!</h1>
<h2><?php echo $this->message ?></h2>
<?php if ('development' == $this->env): ?>
<h3>Информация об исключении:</h3>
<p>
    <b>Сообщение:</b> <?php echo $this->translate($this->exception->getMessage()); ?>
</p>
<h3>Стэк вызовов:</h3>
<pre><?php echo $this->exception->getTraceAsString() ?>
</pre>
<h3>Параметры запроса:</h3>
<pre><?php echo var_export($this->request->getParams(), 1) ?>
</pre>
<?php endif ?>
</div>