<p>
	Organizer committee offers you assistance in organization of your trip for the Conference «International Symposium on Information Theory (ISIT 2011)» by filling in Electronic Order Form presented below.
</p>
<p>
	Here you can book all necessary travel services: visa support, hotel accommodation, transportation and excursions. Please, follow all the steps of Electronic Order Form and book services at special price!
</p>
<p>
	On completing booking process you’ll get e-mail message with the link to your Personal Client Cabinet. 
</p>
<p>
	In Personal Client Cabinet you can get up-to-date information on your current orders, make alterations, additions or cancellations, make on-line payments and upload a copy of your passport for getting visa support and Application form (for Humanitarian visa).
</p>
<p>
	In case, you have incomplete information (e.g. flight or train number for transportation services, etc) you can add it in Personal Client Cabinet later. Information is immediately forwarded to our official in charge. 
</p>
<p class="bolder centerer">
	Welcome to Saint-Petersburg!
</p>