<?php 
/* echo '<pre>';

print_r($this->stepData);

echo '</pre>'; */
$thesis = array();
$thesis = $this->stepData['thesis'];
/* echo '<pre>';

print_r($thesis);

echo '</pre>'; */
if($thesis['is_verbal'] == '1')
{
    if($thesis['verbal_date'] != '0000-00-00 00:00:00')
    {
        $dateTime = explode(' ', $thesis['verbal_date']);
        $date = $dateTime[0];
        $time = $dateTime[1];
    } else {
        $date = 'not assigneted';
        $time = 'not assigneted';
    }
} else {
    $date = 'only for oral abstracts';
    $time = 'only for oral abstracts';
}
?>
<div class="popUpContainer">
				<form action="/ppc/thesis/index/" method="post"  enctype="multipart/form-data">
				<input type="hidden" name="editThesis" value="<?php echo $thesis['id'];?>" />
				<input type="hidden" name="person_id" value="<?php echo $thesis['person_id'];?>" />
					<div class="popUpAbstract">
						<h1 class="title">
							Abstract Submission # <?php echo $thesis['id'];?><span style="float:right;"><a href="/ppc/thesis/">back to abstract list</a></span>
						</h1>
						<h2>
							<a href="https://ecp2019.ru/registration/oral-poster-presentations/" target="_blank">Guidelines for abstract submission</a>
						</h2>
						<table>
							<tr>
								<td colspan="2">Type of presentation:</td>
								<td colspan="2">
									<select name="type" required>
										<?php foreach( $this->stepData['abstractTypes'] as $key => $value)
										{
										    if($thesis['type'] == $key)
										    {
										        $selected = 'selected';
										    } else {
										        $selected = '';
										    }
										    echo '<option value="'.$key.'" '.$selected.'>'.$value.'</option>';
										}
										?>
									</select>
								</td>
								<td colspan="2"></td>
							</tr>
							<tr>
								<td colspan="6">
									<table style="width:100%;">
										<tr>
											<td colspan="6"><i>Set by Scientific Commettee</i></td>
										</tr>
										<tr>
											<td></td>
											<td>Date:</td>
											<td colspan="2">Time:</td>
											<td>Payment:</td>
											<td>Status:</td>
										</tr>
										<tr>
											<td></td>
											<td><input type="date" readonly value="<?php echo $date;?>" /></td>
											<td colspan="2"><input type="time" readonly value="<?php echo $time;?>" /></td>
											<td><input type="text" readonly value="<?php if(!empty($thesis['payment']) && $thesis['payment'] == '1') { echo  'PAID';} else { echo 'NOT PAID';}?>"/></td>
											<td><input type="text" readonly value="<? if($thesis['is_ready'] == '1'){echo 'NEW';} elseif($thesis['is_ready'] == '2'){echo 'Edited';} elseif($thesis['is_ready'] == '3'){echo 'Changed';} elseif($thesis['is_ready'] == '4'){echo 'Accepted';}?>"/></td>
											
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>Title:</td>
								<td colspan="6"><input placeholder="maximum of 125 characters including spaces" name="thesis_name" maxlength="125" required value="<?php echo $thesis['name'];?>" />
								</td>
							</tr>
							<tr id="sym">
                                <?php $checked = ($thesis['sym'] > 0) ? 'checked="checked"':' ';?>
								<td>
									Attach Abstract to Symposium <input type="checkbox" id="addSymposium" <?php echo $checked; ?>/>
								</td>
								<td colspan="6">
								<?php if($this->stepData['symposiums'] != '') {?>
									<select name="sym" id="symSelect">
									<?php foreach ($this->stepData['symposiums'] as $symposium)
									{
									    if($thesis['sym'] != 0 && $symposium['id'] == $thesis['sym'])
									    {
									       $symsel = 'selected';   
									    } else {
									       $symsel = '';
									    }
									        
									    echo '<option value="'.$symposium['id'].'" '.$symsel.'>'.$symposium['name'].'</option>';
									}?>
									</select>
								<?php } else { echo 'No Symposiums for your account'; }?>
								</td>
							</tr>
							<?php foreach($thesis['authors'] as $author){
							          if ($author['is_main'] == '1'){
							    ?>
						<tbody class="presentingAuthor">
							<tr class="presentationAuthor head">
								<td rowspan="4">Presenting Author:<input type="hidden" name="mainAuthorId" id="mainAuthorId" value="<?php echo $author['id'];?>" /></td>
								

								<td colspan="2">Name</td>
								<td colspan="2">City</td>
							</tr>
							<tr class="presentationAuthor body">
								<td colspan="2">
									<span id="mainAuthorNames"><?php echo $author['lname'] . ' ' . $author['fname'] . ', ' . $author['country'];?> <a href="#" onclick="changePresenting(); return fasle;">(edit)</a></span>
                                    <select id="newPresenting" style="display:none;">
                                        <option>chose presenting author</option>
                                        <?php foreach($this->stepData['personsList'] as $person){?>
                                            <option value="<?php echo $person['id'] . ', ' . $person['lname'] . ', ' . $person['fname'] . ', ' . $person['citizenship'] . ', ' .$person['city']. ', ' .$person['workspace']. ', ' .$person['position'];?>"><?php echo $person['lname'] . ', ' . $person['fname'];?></option>
                                        <?php }?>
                                    </select>
									<input type="hidden" id="newMainAuthor" />
									<input type="hidden" name="oldMainAuthor" value="<?php echo $author['fname'] . ';' . $author['lname'];?>" />	
								</td>
								<td colspan="2"><input type="text" name="city0" value="<?php echo $author['city'];?>" required/></td>
							</tr>
							<tr class="presentationAuthor body">
								<td colspan="2">Name of the Organization</td>
								<td colspan="2">Position</td>
							</tr>
							<tr class="presentationAuthor body">
								<td colspan="2"><input type="text" name="company0" value="<?php echo $author['workspace'];?>" required/></td>
								<td colspan="2"><input type="text" name="position0" value="<?php echo $author['position']?>" required/></td>
							</tr>
							<?php if($author['cvs'] == '1'){?>
							<tr class="cvs" id="cvs<?php echo $author['id'];?>">
								<td colspan="2"><i>You have already uploaded CV file</i></td>
								<td colspan="2">
									<input type="hidden" value="<?php echo 'CVSPanelDiscussion_'.$author['fname'].'_'.$author['lname'];?>" id="filename<?php echo $author['id'];?>" />
									<a href="#" alt="Delete CV" onclick="deleteCV(<?php echo $author['id'];?>); return false;" style="color:red;">X</a>
								</td>
							</tr>
							<?php }?>
							<tr class="cvsUpload" id="fileUpload<?php echo $author['id'];?>" <?php if($author['cvs'] == '1'){ echo 'style="display:none;"';} elseif($thesis['type'] == 4 && $author['cvs'] == 0){}?>>
								<td colspan="2">Upload author CV</td>
								<td colspan="2">
									<input type="file" name="cvs<?php echo $author['id'];?>" />
								</td>
							</tr>
						</tbody>
							<?php } else {?>
							
						<tbody class="author" id="author_<?php echo $author['id'];?>">
							<tr class="presentationAuthor head">
								<td rowspan="4">Author:<br><a href="#" onClick="deleteAuthor(<?php echo $author['id'];?>,<?php echo $thesis['id'];?>); return false;">(X)</a></td>
								<td>Surname</td>
								<td>First Name</td>
								<td>Country</td>
								<td>City</td>
								
							</tr>
							<tr class="presentationAuthor body">
								<td><input type="text" name="sname<?php echo $author['id'];?>" value="<?php echo $author['lname'];?>" required/></td>
								<td><input type="text" name="fname<?php echo $author['id'];?>" value="<?php echo $author['fname'];?>" required/></td>
								<td><select name="country<?php echo $author['id'];?>" required>
										<?php foreach($this->stepData['countryList'] as $country)
										{
										    if($author['country'] == $country['name'])
										    {
										        $selected = 'selected="selected"';
										    } else {
										        $selected = '';
										    }
										    echo '<option value="' . $country['name'] . '" ' . $selected . '>' . $country['name'] . '</option>';
										}?>
								</select></td>
								<td><input type="text" name="city<?php echo $author['id'];?>" value="<?php echo $author['city'];?>" required/></td>
								
							</tr>
							<tr class="presentationAuthor body">
								<td colspan="2">Name of the Organization</td>
								<td colspan="2">Position</td>
								
							</tr>
							<tr class="presentationAuthor body">
								<td colspan="2"><input type="text" name="company<?php echo $author['id'];?>" value="<?php echo $author['workspace'];?>" required/></td>
								<td colspan="2"><input type="text" name="position<?php echo $author['id'];?>" value="<?php echo $author['position'];?>" required/></td>

							</tr>
							<?php if($author['cvs'] == '1'){?>
							<tr class="cvs" id="cvs<?php echo $author['id'];?>" <?php echo $filedisplay;?>>
							<td colspan="2"><i>You have already uploaded CV file</i></td>
								<td colspan="2">
									<input type="hidden" value="<?php echo 'CVSPanelDiscussion_'.$author['fname'].'_'.$author['lname'];?>" id="filename<?php echo $author['id'];?>" />
									<a href="#" alt="Delete CV" onclick="deleteCV(<?php echo $author['id'];?>); return fasle;" style="color:red;">X</a>
								</td>
							</tr>
							<?php }?>
							<tr class="cvsUpload" id="fileUpload<?php echo $author['id'];?>" <?php if($author['cvs'] == '1'){ echo 'style="display:none;"';} elseif($thesis['type'] == 4 && $author['cvs'] == 0){}?>>
								<td colspan="2">Upload author CV</td>
								<td colspan="2">
									<input type="file" name="cvs<?php echo $author['id'];?>" />
								</td>
							</tr>
						</tbody>
							<?php }
							}?>
						<tbody>
							<tr>
								<td>
									<a href="#" onclick="newAuthor(); return fasle;">Add Author</a>
								</td>
							</tr>
						</tbody>
						<?php for($i=1;$i<=4;$i++){?>
							<?php if($i >> 0){$display = 'style="display:none;"'; $disabled = 'disabled';}?>
						<tbody class="newAuthorIV" id="newAuthor_<?php echo $i;?>"  <?php echo $display;?>>
							<tr class="presentationAuthor head">
								<td rowspan="4">Author:<br><a href="#" onclick="removeAuthor(<?php echo $i;?>); return fasle;">Remove author</a></td>
								<td>Surname</td>
								<td>First Name</td>
								<td>Country</td>
								<td>City</td>
								
							</tr>
							<tr class="presentationAuthor body">
								<td><input type="text" name="sname<?php echo $i;?>" <?php echo $disabled;?> required/></td>
								<td><input type="text" name="fname<?php echo $i;?>" <?php echo $disabled;?> required/></td>
								<td><select name="country<?php echo $i;?>" required>
										<option value="no_country_selected">Select country...</option>
										<?php foreach($this->stepData['countryList'] as $country)
										{
										    echo '<option value="' . $country['name'] . '">' . $country['name'] . '</option>';
										}?>
								</select></td>
								<td><input type="text" name="city<?php echo $i;?>" <?php echo $disabled;?> required /></td>
								
							</tr>
							<tr class="presentationAuthor body">
								<td colspan="2">Name of the Organization</td>
								<td colspan="2">Position</td>
								
							</tr>
							<tr class="presentationAuthor body">
								<td colspan="2"><input type="text" name="position<?php echo $i;?>" <?php echo $disabled;?> required /></td>
								<td colspan="2"><input type="text" name="company<?php echo $i;?>" <?php echo $disabled;?> required/></td>
								
							</tr>
							<tr class="cvsUpload">
								<td colspan="2">Upload author CV</td>
								<td colspan="2">
									<input type="file" name="cvs<?php echo $i;?>" />
								</td>
							</tr>
							<?php if($i<<5){?>
							<tr class="presentationAuthor body">
								<td colspan="5"><a href="#" onclick="addAuthor(<?php echo $i+1;?>); return fasle;">Add Author</a></td>
							</tr>
							<?php }?>							
						</tbody>
							<?php }?>
							
						</table>
						<table class="abstractBody">
							<tbody>
							<tr>
								<td>
									<h1 class="title">Abstract body</h1>
								</td>
							</tr>
							<tr>
								<td><textarea rows="5" placeholder="<?php if($thesis['type'] == 4){echo 'maximum of 500 words';} else {echo 'maximum of 350 words';}?>" name="thesis_text" id="thesisText" "maxlength="3000" required><?php echo $thesis['text'];?></textarea>
								</td>
							</tr>
							</tbody>
							<tbody id="pressParagraph" <?php if($thesis['type'] == 3) { echo '';} else { echo 'style="display:none;"';}?>>
							<tr>
								<td>
									<h1 class="title">Press paragraph</h1>
								</td>
							</tr>
							<tr>
								<td><textarea rows="5" placeholder="maximum of 200 words" id="press" "maxlength="3000"  name="pressParagraph"><?php echo $thesis['press'];?></textarea>
								</td>
							</tr>
							</tbody>
							<tbody id="generalSummary" <?php if($thesis['type'] == 3) { echo '';} else { echo 'style="display:none;"';}?>>
							<tr>
								<td>
									<h1 class="title">General summary of the Symposium</h1>
								</td>
							</tr>
							<tr>
								<td><textarea rows="5" placeholder="maximum of 2000 letters" id="general" "maxlength="3000"  name="generalSummary"><?php echo $thesis['general'];?></textarea>
								</td>
							</tr>
							</tbody>
							<tbody id="requirementsOther" <?php if($thesis['type'] == 4) { echo '';} else { echo 'style="display:none;"';}?>>
							<tr>
								<td>
									<h1 class="title">Requirements & other information</h1>
								</td>
							</tr>
							<tr>
								<td><textarea rows="5" placeholder="" id="requirements" "maxlength="3000" name="requirements" ><?php echo $thesis['requirements'];?></textarea>
								</td>
							</tr>
							</tbody>
							
						</table>
						<div class="submissionFooter">
							<input type="submit" id="submitButton" value="Save and send to Scientific Committee" />
						</div>
					</div>



				</form>
			</div>
			
<script>
$(document).ready(function(){
	$('#submitButton').live('click',function(){
		alert('Message was send');
		});

	$('#thesisText').live('keypress', function(){
	var text = $('#thesisText').val();
	var textArr = text.split(' ');
	var type = $('select[name=type]').val();
	if(type == 3)
	{
		var words = 500;
	} else {
		var words = 350;
	}
	if(textArr.length >= words)
	{
		alert('Abstract text can not be more then 350 words');
		$('#submitButton').attr('disabled', 'disabled');
	} else {
		$('#submitButton').attr('disabled', '');
	}
	});
	$('#press').live('keypress', function(){
	var text = $('#press').val();
	var textArr = text.split(' ');
	if(textArr.length >= 200)
	{
		alert('Press paragraph can not be more then 200 words');
		$('#submitButton').attr('disabled', 'disabled');
	} else {
		$('#submitButton').attr('disabled', '');
	}
	});

	$('#addSymposium').live('change', function(){
		if($('#addSymposium').is(':checked', true) == true) {
			$('#symSelect').attr('name', 'sym');
		} else {
			$('#symSelect').attr('name', '');
		}
	});

    $('#newPresenting').live('change', function(){
        var selectarr = $('#newPresenting').val();
        if(selectarr != 'chose presenting author'){
            $('.submissionFooter').show();
        } else {
            $('.submissionFooter').hide();
            $('#citizenship0').attr('value', '');
            $('input[name=city0]').attr('value', '');
            $('input[name=company0]').attr('value', '');
            $('input[name=position0]').attr('value', '');
        }
        console.log(selectarr);
        var arr  = selectarr.split(", ");
        var citizenship = arr[3];
        var city = arr[4];
        var workspace = arr[5];
        var position = arr[6];
        $('#citizenship0').attr('value', citizenship);
        $('input[name=city0]').attr('value', city);
        $('input[name=company0]').attr('value', workspace);
        $('input[name=position0]').attr('value', position);
    });



if($('select[name=type]').val() != 1) {
	$('#sym').hide();
	$('#symSelect').attr('name', '');
}
	$('select[name=type]').live('change', function(){
		var type = $('select[name=type]').val();
		if( type == 3)
		{
			$('#pressParagraph').show();
			$('#press').attr('required', 'required').attr('name', 'pressParagraph');
			$('#generalSummary').show();
			$('#general').attr('required', 'required');
			$('#general').attr('name', 'generalSummary');
			$('#requirementsOther').hide();
			$('#sym').hide();
			$('#symSelect').attr('name', '');
			$.each('.fileUpload', function(){
				$('.cvsUpload').hide();
				});
			
		} else if (type == 4) {
			$('#requirementsOther').show();
			$('#requirements').attr('required', 'required').attr('name', 'requirements');
			$('#pressParagraph').hide();
			$('#generalSummary').hide();
			$('#sym').hide();
			$('#symSelect').attr('name', '');
			$.each('.fileUpload', function(){
				$('.cvsUpload').show();
				$('.cvs').show();
				});
		} else if (type == 1) {
			$('#sym').show();
			if($('#addSymposium').is(':checked', true) == true) {
				$('#symSelect').attr('name', 'sym');
			} else {
				$('#symSelect').attr('name', '');
				$.each('.fileUpload', function(){
					$('.cvsUpload').hide();
					});
			}
		} else {
			$('#pressParagraph').hide();
			$('#generalSummary').hide();
			$('#requirementsOther').hide();
			$('#sym').hide();
			$('#symSelect').attr('name', '');
			$.each('.fileUpload', function(){
				$('.cvsUpload').hide();
				});
		}
	});
});
function deleteAuthor(i, j){

    var removeConfirm = confirm("Remove Author action can't be undone");

    if( !removeConfirm )
        return false;

    // alert( isAdmin );
	$.ajax({
		type: 'POST',
		url: '/ppc/thesis/delatr/',
		data: 'authorId='+i,
		
		success: function(result)
		{
			window.location='/ppc/thesis/edit/?thesisId='+j;
		}
	});
}

function deleteCV(i)
{
	
	if(confirm("Delete CV file?")){
		var filename = $('#filename'+i).val();
		console.log(filename);
	$.ajax({
		type: 'POST',
		url: '/ppc/thesis/delcv/',
		data: 'filename='+filename,
		succses: function(result)
		{
			console.log(result);
			window.location='/ppc/thesis/edit/?thesisId='+j;
		}
		});
			$('#cvs'+i).hide();
			$('#fileUpload'+i).show();
	} else {
		alert('File was not deleted');
	}
}

function newAuthor()
{
	var a = $('.author').length; //авторов тезисов из БД
	var c = $('.newAuthor').length; //кол-во заготовок для авторов
	if((a+c) < 4)
	{
		console.log(a+c);
		for (i=1;i<=4;i++)
		{
			if($('#newAuthor_'+i).is(':hidden') == true)
			{
				$('#newAuthor_'+i).show();
				$('#newAuthor_'+i).removeClass('newAuthorIV');
				$('#newAuthor_'+i).addClass('newAuthor');
				var inputs = $('#newAuthor_'+i).children().children().children('input[type=text]');
				inputs.attr('disabled', false);
				inputs.attr('value', '');
				i = 5;
			}
		}
	} else {
		alert('You can not add more then 5 authors to thesis');
	}
}
function addAuthor(i)
{
 	var a = $('.author').length;
	var c = $('.newAuthor').length;
	if((a+c) < 4)
	{
		console.log(a+c);
		$('#newAuthor_'+i).show();
		$('#newAuthor_'+i).removeClass('newAuthorIV');
		$('#newAuthor_'+i).addClass('newAuthor');
		var inputs = $('#newAuthor_'+i).children().children().children('input[type=text]');
		inputs.attr('disabled', false);
		inputs.attr('value', '');
	}  else {
		alert('You can not add more then 5 authors to thesis');
	}
}
function removeAuthor(i)
{
    var removeConfirm = confirm("Remove Author action can't be undone");

    if( !removeConfirm )
        return false;

    $('#newAuthor_'+i).hide();
    $('#newAuthor_'+i).removeClass('newAuthor');
    $('#newAuthor_'+i).addClass('newAuthorIV');
    var inputs = $('#newAuthor_'+i).children().children().children('input[type=text]');
    inputs.attr('disabled', true);
    inputs.attr('value', ''); 
}
function changePresenting()
{
	$('#newPresenting').show().attr('name', 'mainAuthor');
	//$('#mainAuthorId').attr('value', '');
	$('#mainAuthorNames').hide();
	$('#newMainAuthor').attr('name', 'newMainAuthor').attr('value', '1');
	$('input[name=city0]').attr('value', '');
	$('input[name=company0]').attr('value', '');
	$('input[name=position0]').attr('value', '');
}
///$($('.author').is(':hidden')).length

</script>