<?

	include 'DBTable.php';
	//include 'mailer.php';
	$DB = new DB();
	
//use PHPMailer\PHPMailer\PHPMailer;
//use PHPMailer\PHPMailer\Exception;

require 'Exception.php';
require 'PHPMailer.php';
$mail = new PHPMailer(true);

	?>
			<script>
			function addAuthor() {
				for (i=1; i<=4; i++) {
					if($('#person'+i).is(":hidden")) {
							$('#person'+i).show();
							$('#fname'+i).attr('required', true);
							$('#sname'+i).attr('required', true);
							$('#lname'+i).attr('required', true);
							$('#workspace'+i).attr('required', true);
							$('#index'+i).attr('required', true);
							$('#country'+i).attr('required', true);
							$('#city'+i).attr('required', true);
							$('#personActive'+i).attr('value', '1');
							i = 5;
					}
					event.preventDefault();
				}
			}
			function deleteAuthor(k) {
				$('#person'+k).hide();
				$('#personActive'+k).attr('value', '0');
				$('#fname'+k).attr('required', false);
				$('#sname'+k).attr('required', false);
				$('#lname'+k).attr('required', false);
				$('#workspace'+k).attr('required', false);
				$('#index'+k).attr('required', false);
				$('#country'+k).attr('required', false);
				$('#city'+k).attr('required', false);
				event.preventDefault();
			}
			function submitForm(i) {
				$('#thesisStatus').attr('value', i);
				$('#submitThesis').click();
			}
		</script>
	<?
	// echo '<pre>';
	// print_r($_SESSION);
	// echo '</pre>';
	$email = $_SESSION['ppc']['storage']['email'];
	//$email = 'khimich@paxport.ru';
	$userId = $DB->getUserIdByEmail($email);
	$themes = $DB->getThemes();
	$thesisExist = mysqli_fetch_assoc($DB->checkThesis($userId['id']));
	if ($thesisExist == '') {

			/* echo '<pre>';
			print_r($_POST);
			echo '</pre>'; */
		if (!empty($_POST) &&  !empty($_POST['newThesis'])) {
			if (!empty($_POST['userId']) && isset($_POST['thesisStatus'])) {
				if($_POST['thesisStatus'] == '1') {
					$isReady = '2';
				} else {
					$isReady = '0';
				}				
				$thesisId = $DB->addThesis($_POST['userId'], $_POST['thesisStatus'], $isReady);
				$thesisId = $thesisId['id'];
				print_r($thesisId);
			
			}
			if(!empty($_POST['thesisThemeId']) && !empty($_POST['thesisName']) && !empty($_POST['thesisText']) && !empty($thesisId)) {
				$text = addslashes($_POST['thesisText']);
				$name = addslashes($_POST['thesisName']);
				$addThesisInfo = $DB->addThesisInfo ($thesisId, $_POST['thesisThemeId'], $name, $text);
				print_r($addThesisInfo);
				
			}
			for($i = 0; $i <=4; $i++) {
				if (!empty($thesisId) && !empty($_POST['fname' . $i]) && !empty($_POST['sname' . $i]) && !empty($_POST['lname' . $i]) && !empty($_POST['workspace' . $i])) {
					if (!empty($_POST['contact']) || !empty($_POST['publisher'])) {
						$is_main = (substr($_POST['publisher'], 9) == $i) ? 1 : 0;
					} else {
						$is_main = '0';
						
					}
					$workspace = addslashes($_POST['workspace' . $i]);
					$city = addslashes($_POST['city' . $i]);
					$addAuthor = $DB->addThesisAuthor($thesisId, $_POST['fname' . $i], $_POST['sname' . $i], $_POST['lname' . $i], $workspace, $_POST['index' . $i], $_POST['country' . $i], $city, $is_main);
					
				}
			}
			if ($_POST['thesisStatus'] == '1') {
				
				$message = '<html><head><title></title></head><body>
					<p>Уважаемый участник!</p>
					<br />
					<br />
					<p>Тезисы №'.$_POST['thesisId'].', сформированные Вами в личном кабинете, направлены организатору на рецензирование.</p>
					<br />
					<br />
					<br />
					<br />
					<p>С уважением,</p>
					<p>Организационный комитет</p>
					<p>Форум детских хирургов России – 2018</p>

					</body></html>
				';
				$subject = 'Отправка тезисов  №'.$_POST['thesisId'].' организатору. Форум детских хирургов России – 2018';
				$messageORG = '<html><head><title></title></head><body>
					<p>Тезисы №'.$_POST['thesisId'].'</p>
					<br />
					<br />
					<p><a href="http://mobmed.forms.paxport.tech/ppc/thesis/list/">Перейти для рецензирования в Личный Кабинет Организатора</a></p>
					<br />
					<br />
					<br />
					<br />
					<p>С уважением,</p>
					<p>Организационный комитет</p>
					<p>Форум детских хирургов России – 2018</p>

					</body></html>
				';
				$subjectORG = 'Новые тезисы №'.$_POST['thesisId'].' организатору. Форум детских хирургов России – 2018';
				if (!empty($subject)){
				try {
					$mail->SMTPDebug = 2;
					$mail->isSMTP();
					$mail->CharSet = 'UTF-8';
					$mail->Host = 'smtp.yandex.ru';
					$mail->SMTPAuth = true;
					$mail->Username = 'robot@paxport.ru';
					$mail->Password = 'liz567890';
					$mail->SMTPSecure = 'ssl';
					$mail->Port = 465;
					$mail->setFrom('vestnik@childsurgeon.ru', 'Форум детских хирургов России – 2018');
					$mail->addAddress($email, '');
					$mail->addCC('solodilov@paxport.ru');
					$mail->isHTML(true);
					$mail->Subject = $subject;
					$mail->Body    = $message;
					$mail->send();
					//echo 'Message has been sent';
				} catch (Exception $e) {
					//echo 'Message could not be sent. Mailer Error: ', $mail->ErrorInfo;
				}
				}
				try {
					$mail->SMTPDebug = 2;
					$mail->isSMTP();
					$mail->CharSet = 'UTF-8';
					$mail->Host = 'smtp.yandex.ru';
					$mail->SMTPAuth = true;
					$mail->Username = 'robot@paxport.ru';
					$mail->Password = 'liz567890';
					$mail->SMTPSecure = 'ssl';
					$mail->Port = 465;
					$mail->setFrom('robot@paxport.ru', 'Форум детских хирургов России – 2018');
					$mail->addAddress('vestnik@childsurgeon.ru', '');
					$mail->addCC('solodilov@paxport.ru');
					$mail->isHTML(true);
					$mail->Subject = $subjectORG;
					$mail->Body    = $messageORG;
					$mail->send();
					//echo 'Message has been sent';
				} catch (Exception $e) {
					//echo 'Message could not be sent. Mailer Error: ', $mail->ErrorInfo;
				}
				
					
			}
			if ($_POST['thesisStatus'] == '3') {
				$messageORG = '<html><head><title></title></head><body>
					<p>Тезисы №'.$_POST['thesisId'].'</p>
					<br />
					<br />
					<p><a href="http://mobmed.forms.paxport.tech/ppc/thesis/list/">Перейти для рецензирования в Личный Кабинет Организатора</a></p>
					<br />
					<br />
					<br />
					<br />
					<p>С уважением,</p>
					<p>Организационный комитет</p>
					<p>Форум детских хирургов России – 2018</p>

					</body></html>
				';
				$subjectORG = 'Исправленные тезисы №'.$_POST['thesisId'].' организатору. Форум детских хирургов России – 2018';
				try {
					$mail->SMTPDebug = 2;
					$mail->isSMTP();
					$mail->CharSet = 'UTF-8';
					$mail->Host = 'smtp.yandex.ru';
					$mail->SMTPAuth = true;
					$mail->Username = 'robot@paxport.ru';
					$mail->Password = 'liz567890';
					$mail->SMTPSecure = 'ssl';
					$mail->Port = 465;
					$mail->setFrom('robot@paxport.ru', 'Mailer');
					$mail->addAddress('vestnik@childsurgeon.ru', '');
					$mail->addCC('solodilov@paxport.ru');
					$mail->isHTML(true);
					$mail->Subject = $subjectORG;
					$mail->Body    = $messageORG;
					$mail->send();
					//echo 'Message has been sent';
				} catch (Exception $e) {
					//echo 'Message could not be sent. Mailer Error: ', $mail->ErrorInfo;
				}
			}
			?>
			<script>
			window.location = '/ppc/thesis/index/';
			</script>
			<?
		}
	}	
	//$phpWord = new \PhpOffice\PhpWord\PhpWord();
	if ($thesisExist != '') {
	$thesis = $DB->getThesisById($thesisExist['id']);
	$thesisAuthors = $DB->getThesisAuthorsById($thesisExist['id']);
	$thesisText = $DB->getThesisTextById($thesisExist['id']);
/* 	echo '<pre>';
	print_r($thesisAuthors);
	echo '</pre>'; */
	if (!empty($_POST['thesisId'])) {
			if(!empty($_POST['thesisThemeId']) && !empty($_POST['thesisName']) && !empty($_POST['thesisText']) && !empty($_POST['thesisId'])) {
				
				$text = addslashes($_POST['thesisText']);
				$name = addslashes($_POST['thesisName']);
				$update = $DB->updateThesisText ($_POST['thesisId'], $_POST['thesisThemeId'], $name, $text);
			}
			
			if (!empty($_POST['thesisStatus'])) {
				if ($_POST['thesisStatus'] == 0) {
					$isReady = '0';
				} else {
					$isReady = '2';
				}
				$update = $DB->updateThesis ($_POST['thesisId'], $isReady, $_POST['thesisStatus']);
				
			}
			for($i = 0; $i <=4; $i++) {
				if (!empty($_POST['thesisAuthorId' . $i]) && !empty($_POST['fname' . $i]) && !empty($_POST['sname' . $i]) && !empty($_POST['lname' . $i]) && !empty($_POST['workspace' . $i]) && !empty($_POST['index' . $i]) && !empty($_POST['country' . $i]) && !empty($_POST['city' . $i]) && !empty($_POST['publisher'])) {
					if (!empty($_POST['publisher'])) {
						$is_main = (substr($_POST['publisher'], 9) == $i) ? 1 : 0;
					} else {
						$is_main = '0';
						
					}
					//thesisAuthorId
					$update = $DB->updateThesisAuthor ($_POST['thesisAuthorId' . $i], $_POST['fname' . $i], $_POST['sname' . $i], $_POST['lname' . $i], $_POST['workspace' . $i], $_POST['index' . $i], $_POST['country' . $i], $_POST['city' . $i], $is_main);
					
					
				}
			}
			if ($_POST['thesisStatus'] == '1') {
				
				$message = '<html><head><title></title></head><body>
					<p>Уважаемый участник!</p>
					<br />
					<br />
					<p>Тезисы №'.$_POST['thesisId'].', сформированные Вами в личном кабинете, направлены организатору на рецензирование.</p>
					<br />
					<br />
					<br />
					<br />
					<p>С уважением,</p>
					<p>Организационный комитет</p>
					<p>Форум детских хирургов России – 2018</p>

					</body></html>
				';
				$subject = 'Отправка тезисов  №'.$_POST['thesisId'].' организатору. Форум детских хирургов России – 2018';
				if($thesis['is_applied'] != '1') {
					$messageORG = '';
					$subjectORG = '';
				} else {
				$messageORG = '<html><head><title></title></head><body>
					<p>Тезисы №'.$_POST['thesisId'].'</p>
					<br />
					<br />
					<p><a href="http://mobmed.forms.paxport.tech/ppc/thesis/list/">Перейти для рецензирования в Личный Кабинет Организатора</a></p>
					<br />
					<br />
					<br />
					<br />
					<p>С уважением,</p>
					<p>Организационный комитет</p>
					<p>Форум детских хирургов России – 2018</p>

					</body></html>
				';
				$subjectORG = 'Новые тезисы №'.$_POST['thesisId'].' организатору. Форум детских хирургов России – 2018';
				}
				/* try {
					$mail->SMTPDebug = 2;
					$mail->isSMTP();
					$mail->CharSet = 'UTF-8';
					$mail->Host = 'smtp.yandex.ru';
					$mail->SMTPAuth = true;
					$mail->Username = 'robot@paxport.ru';
					$mail->Password = 'liz567890';
					$mail->SMTPSecure = 'ssl';
					$mail->Port = 465;
					$mail->setFrom('robot@paxport.ru', 'Mailer');
					$mail->addAddress($email, '');
					$mail->addCC('solodilov@paxport.ru');
					$mail->isHTML(true);
					$mail->Subject = $subject;
					$mail->Body    = $message;
					$mail->send();
					//echo 'Message has been sent';
				} catch (Exception $e) {
					//echo 'Message could not be sent. Mailer Error: ', $mail->ErrorInfo;
				} */
				if($messageORG != '') {
				try {
					$mail->SMTPDebug = 2;
					$mail->isSMTP();
					$mail->CharSet = 'UTF-8';
					$mail->Host = 'smtp.yandex.ru';
					$mail->SMTPAuth = true;
					$mail->Username = 'robot@paxport.ru';
					$mail->Password = 'liz567890';
					$mail->SMTPSecure = 'ssl';
					$mail->Port = 465;
					$mail->setFrom('robot@paxport.ru', 'Mailer');
					$mail->addAddress('vestnik@childsurgeon.ru', '');
					$mail->addCC('solodilov@paxport.ru');
					$mail->isHTML(true);
					$mail->Subject = $subjectORG;
					$mail->Body    = $messageORG;
					$mail->send();
					//echo 'Message has been sent';
				} catch (Exception $e) {
					//echo 'Message could not be sent. Mailer Error: ', $mail->ErrorInfo;
				}
				}
				
					
			}
			if ($_POST['thesisStatus'] == '3') {
				$messageORG = '<html><head><title></title></head><body>
					<p>Тезисы №'.$_POST['thesisId'].'</p>
					<br />
					<br />
					<p><a href="http://mobmed.forms.paxport.tech/ppc/thesis/list/">Перейти для рецензирования в Личный Кабинет Организатора</a></p>
					<br />
					<br />
					<br />
					<br />
					<p>С уважением,</p>
					<p>Организационный комитет</p>
					<p>Форум детских хирургов России – 2018</p>

					</body></html>
				';
				$subjectORG = 'Исправленные тезисы №'.$_POST['thesisId'].' организатору. Форум детских хирургов России – 2018';
				try {
					$mail->SMTPDebug = 2;
					$mail->isSMTP();
					$mail->CharSet = 'UTF-8';
					$mail->Host = 'smtp.yandex.ru';
					$mail->SMTPAuth = true;
					$mail->Username = 'robot@paxport.ru';
					$mail->Password = 'liz567890';
					$mail->SMTPSecure = 'ssl';
					$mail->Port = 465;
					$mail->setFrom('robot@paxport.ru', 'Mailer');
					$mail->addAddress('vestnik@childsurgeon.ru', '');
					$mail->addCC('solodilov@paxport.ru');
					$mail->isHTML(true);
					$mail->Subject = $subjectORG;
					$mail->Body    = $messageORG;
					$mail->send();
					//echo 'Message has been sent';
				} catch (Exception $e) {
					//echo 'Message could not be sent. Mailer Error: ', $mail->ErrorInfo;
				}
			}
		?>
			<script>
			window.location = '/ppc/thesis/index/';
			</script>
			<?
		}
	
		?>
		<script>
		tinymce.init(
			{ 
				selector:'textarea',
				language: 'ru',
				max_chars: 3000
			}
		);
		
		</script>
		
		<div class="form-style-2" align="center">
		<form action="/ppc/thesis/index/" method="post">
			<input type="hidden" name="userId" id="userId" value="<?=$userId['id'];?>">
			<input type="hidden" name="thesisId" id="thesisId" value="<?=$thesis['id']?>">
			
			<div class="main-form-block-line">Тема:
				<select class="select-field" name="thesisThemeId" id="thesisThemeId" style="max-width:800px;margin-left:5px;">
					<?
					foreach($themes as $theme) {
						if($theme['id'] == $thesisText['theme_id']) {
							echo '<option value="' . $theme['id'] . '" selected>' . $theme['thesis_theme'] . '</option>';
						} else {
							echo '<option value="' . $theme['id'] . '">' . $theme['thesis_theme'] . '</option>';
						}
					}
					?>
				</select>
			</div>
			<div class="main-form-block-line">
				Наименование: <input class="input-field" name="thesisName" id="thesisName" placeholder="Введите наименование тезиса" value="<?=$thesisText['name'];?>" style="max-width:800px;margin-left:5px;">
			</div>
			<? for ($i = 0; $i<=(count($thesisAuthors) - 1 ); $i++) {
				if($i == 0) {
					$display = '';
					$required = 'required';
					$delete = 'style="display:none;"';
					$personActive = '1';
				} else {
					$display = 'display:none;';
					$required = '';
					$delete = '';
					$personActive = '0';
				}
				if($thesisAuthors[$i]['is_main'] != '1'){
					$checked = '';
				} else {
					$checked = 'checked';
				}
			?>
			<div class="main-form-block-line" id="person<?=$i?>">
			<input type="hidden" name="thesisAuthorId<?=$i?>" value="<?=$thesisAuthors[$i]['id']?>">
			<input type="hidden" id="personActive<?=$i?>" value="<?=$personActive?>">
				<table border="1" style="width:900px; margin-top:10px; margin-bottom:10px;">
					<tbody>
						<tr>
							<td class="form-name" align="center">
								<span>Фамилия</span>
							</td>
							<td class="form-name" align="center">
								<span>Имя</span>
							</td>
							<td class="form-name" align="center">
								<span>Отчество</span>
							</td>
							<td class="form-name" align="center">
								<span>Наименование организации</span>
							</td>
							<td rowspan="2">
								<span>
									<a href="#" onclick="deleteAuthor(<?=$i?>)" <?=$delete?>>Удалить</a>
								</span>
							</td>
						</tr>
						<tr>
							<td>
								<input class="no-border" name="fname<?=$i?>" id="fname<?=$i?>" placeholder="" style="max-width:220px;margin-left:5px;" <?=$required?> value="<?=$thesisAuthors[$i]['fname']?>">
							</td>
							<td>
								<input class="no-border" name="sname<?=$i?>" id="sname<?=$i?>" placeholder="" style="max-width:220px;margin-left:5px;" <?=$required?> value="<?=$thesisAuthors[$i]['sname']?>">
							</td>
							<td>
								<input class="no-border" name="lname<?=$i?>" id="lname<?=$i?>" placeholder="" style="max-width:220px;margin-left:5px;" <?=$required?> value="<?=$thesisAuthors[$i]['lname']?>">
							</td>
							<td>
								<input class="no-border" name="workspace<?=$i?>" id="workspace<?=$i?>" placeholder="" style="max-width:220px;margin-left:5px;" <?=$required?> value="<?=$thesisAuthors[$i]['workspace']?>">
							</td>
						</tr>
						<tr>
							<td class="form-name" align="center">
								<span>Индекс</span>
							</td>
							<td class="form-name" align="center">
								<span>Страна</span>
							</td>
							<td class="form-name" align="center">
								<span>Город</span>
							</td>
							<td class="form-name" align="center">
								<span>Статус автора</span>
							</td>
							<td rowspan="2">
								<span>
									<? if($i == 4) {
										$delete = 'style="display:none;"';
									} else {
										$delete = '';
									} ?>
									<a href="#" onclick="addAuthor()" <?=$delete?>>Добавить</a>
								</span>
							</td>
						</tr>
						<tr>
							<td>
								<input class="no-border" type="number" size="6" name="index<?=$i?>" id="index<?=$i?>" placeholder="" style="max-width:220px;margin-left:5px;" <?=$required?> value="<?=$thesisAuthors[$i]['w_index']?>">
							</td>
							<td>
								<input class="no-border" name="country<?=$i?>" id="country<?=$i?>" placeholder="" style="max-width:220px;margin-left:5px;" <?=$required?> value="<?=$thesisAuthors[$i]['country']?>">
							</td>
							<td>
								<input class="no-border" name="city<?=$i?>" id="city<?=$i?>" placeholder="" style="max-width:220px;margin-left:5px;" <?=$required?> value="<?=$thesisAuthors[$i]['city']?>">
							</td>
							<td style="padding:5px;">
								<input type="radio" name="publisher" id="publisher<?=$i?>" value="publisher<?=$i?>" <?=$checked?>> Докладчик
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<? } ?>
			
			
			<div class="main-form-block-line" style="max-width:900px;">
				<p style="height: 25px;">
					<span align="left" style="float: left;">Текст тезиса</span>
					<span align="right"style="float: right;"><span style="color:red;">ВАЖНО!</span> Допустимое количество знаков - 3000. При большем количестве знаков тезис не сохранится. </span>
				</p>
				<textarea class="input-field" name="thesisText" id="thesisText"><?=$thesisText['text']?></textarea>
			</div>
			
			<div class="main-form-block-line">
				<input type="hidden" class="input-field" name="thesisStatus" id="thesisStatus" value="">
			</div>
			
			<div class="main-form-block-line">
			<?
				if ($thesis['is_applied'] == '2') {
					$save = '2';
					$send = '3';
				} elseif($thesis['is_applied'] == '1') {
					$save = '1';
					$send = '1';
				} else {
					$save = '0';
					$send = '1';
				}
				if($thesis['is_applied'] != '3' || $thesis['is_applied'] != '4' || $thesis['is_applied'] != '1') {
					echo '<a href="#" onclick="submitForm('.$save.')" class="color green button">Сохранить</a> <a href="#" onclick="submitForm('.$send.')" class="color green button"> Отправить организатору </a>';
				}?>
				<input type="submit" value="Подтвердить" class="color green button" id="submitThesis" style="display:none;">
			</div>
		</form>
		</div>
		<?
	} else {
		$thesisId = null;
		
		?>
		<script>tinymce.init(
		{ 
			selector:'textarea',
			language: 'ru'
		});</script>

		<div class="form-style-2" align="center">
		<form action="/ppc/thesis/index/" method="post">
			<input type="hidden" name="userId" id="userId" value="<?=$userId['id']?>">
			<input type="hidden" name="newThesis" id="newThesis" value="1">
			
			<div class="main-form-block-line">Тема: 
				<select class="select-field" name="thesisThemeId" id="thesisThemeId" style="max-width:800px;margin-left:5px;">
					<?
					foreach($themes as $theme) {
						echo '<option value="' . $theme['id'] . '">' . $theme['thesis_theme'] . '</option>';
					}
					?>
				</select>
			</div>
			<div class="main-form-block-line">
				Наименование: <input class="input-field" name="thesisName" id="thesisName" placeholder="Введите наименование тезиса" style="max-width:800px;margin-left:5px;">
			</div>
			<? 
			for ($i = 0; $i<=4; $i++){ 
				if($i == 0) {
					$display = '';
					$required = 'required';
					$delete = 'style="display:none;"';
					$checked = 'checked';
					$personActive = '1';
				} else {
					$display = 'display:none;';
					$required = '';
					$delete = '';
					$checked = '';
					$personActive = '0';
				}
			?>
			<div class="main-form-block-line" id="person<?=$i?>" style="<?=$display?>">
			<input type="hidden" id="personActive<?=$i?>" value="<?=$personActive?>">
				<table border="1" style="width:900px; margin-top:10px; margin-bottom:10px;">
					<tbody>
						<tr>
							<td class="form-name" align="center">
								<span>Фамилия</span>
							</td>
							<td class="form-name" align="center">
								<span>Имя</span>
							</td>
							<td class="form-name" align="center">
								<span>Отчество</span>
							</td>
							<td class="form-name" align="center">
								<span>Наименование организации</span>
							</td>
							<td rowspan="2">
								<span>
									<a href="#" onclick="deleteAuthor(<?=$i?>)" <?=$delete?>>Удалить</a>
								</span>
							</td>
						</tr>
						<tr>
							<td>
								<input class="no-border" name="fname<?=$i?>" id="fname<?=$i?>" placeholder="" style="max-width:220px;margin-left:5px;" <?=$required?>>
							</td>
							<td>
								<input class="no-border" name="sname<?=$i?>" id="sname<?=$i?>" placeholder="" style="max-width:220px;margin-left:5px;" <?=$required?>>
							</td>
							<td>
								<input class="no-border" name="lname<?=$i?>" id="lname<?=$i?>" placeholder="" style="max-width:220px;margin-left:5px;" <?=$required?>>
							</td>
							<td>
								<input class="no-border" name="workspace<?=$i?>" id="workspace<?=$i?>" placeholder="" style="max-width:220px;margin-left:5px;" <?=$required?>>
							</td>
						</tr>
						<tr>
							<td class="form-name" align="center">
								<span>Индекс</span>
							</td>
							<td class="form-name" align="center">
								<span>Страна</span>
							</td>
							<td class="form-name" align="center">
								<span>Город</span>
							</td>
							<td class="form-name" align="center">
								<span>Статус автора</span>
							</td>
							<td rowspan="2">
								<span>
									<? if($i == 4) {
										$delete = 'style="display:none;"';
									} else {
										$delete = '';
									} ?>
									<a href="#" onclick="addAuthor()" <?=$delete?>>Добавить</a>
								</span>
							</td>
						</tr>
						<tr>
							<td>
								<input class="no-border" type="number" size="6" name="index<?=$i?>" id="index<?=$i?>" placeholder="" style="max-width:220px;margin-left:5px;" <?=$required?>>
							</td>
							<td>
								<input class="no-border" name="country<?=$i?>" id="country<?=$i?>" placeholder="" style="max-width:220px;margin-left:5px;" <?=$required?>>
							</td>
							<td>
								<input class="no-border" name="city<?=$i?>" id="city<?=$i?>" placeholder="" style="max-width:220px;margin-left:5px;" <?=$required?>>
							</td>
							<td style="padding:5px;">
								<input type="radio" name="publisher" id="publisher<?=$i?>" value="publisher<?=$i?>" <?=$checked?>> Докладчик
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<? } ?>
			
			
			<div class="main-form-block-line" style="max-width:900px;">
				<p style="height: 25px;">
					<span align="left" style="float: left;">Текст тезиса</span>
					<span align="right"style="float: right;"><span style="color:red;">ВАЖНО!</span> Допустимое количество знаков - 3000. При большем количестве знаков тезис не сохранится. </span>
				</p>
				<textarea class="input-field" name="thesisText" id="thesisText"></textarea>
			</div>
			
			<div class="main-form-block-line">
				<input type="hidden" class="input-field" name="thesisStatus" id="thesisStatus" value="1">
			</div>
			
			<div class="main-form-block-line">
				<a href="#" onclick="submitForm(0)" class="color green button">Сохранить</a> <a href="#" onclick="submitForm(1)" class="color green button"> Отправить организатору </a>
				<input type="submit" value="Подтвердить" class="color green button" id="submitThesis" style="display:none;">
			</div>
		</form>
		</div>
		<?
	}
?>
