<?php 
/* if(!empty($this->stepData))
    {
        echo '<pre>';
        print_r($this->stepData);
        echo '</pre>';
    }
else
    {
    echo 'something went wrong';
    } */
?>


<div class="thesis_body">
	<?php if(!empty($this->stepData['thesisList'])){?>
	<div class="popUpContent">
        <table>
        <?php foreach ($this->stepData['thesisList'] as $thesis){?>
            <tr>
                <td rowspan="3">
                	<form action="/ppc/thesis/edit/" method="POST">
                		<input type="hidden" name="thesisId" value="<?php echo $thesis['id'];?>" />
                    	<input type="submit" value="Abstract # <?php echo $thesis['id'];?>" />
                	</form>
                	<?php //(<a href="#" onclick="deleteThesis(<?php echo $thesis['id'];?><?php //)">delete abstract</a>)?>
                </td>
                <td rowspan="2">
                    Title: <?php echo $thesis['name'];?>
                </td>
                <td>
                    Type of presentation: <?php if($thesis['type'] == '1'){echo 'Oral';} elseif($thesis['type'] == '2'){ echo 'Poster';} elseif($thesis['type'] == '3'){ echo 'Symposium';} elseif($thesis['type'] == '4'){ echo 'Panel Discussion';} else {echo 'Not assigneted yet';}?>
                </td>
            </tr>
            <tr>
                <td>Status: <?php if($thesis['is_ready'] == '1'){echo 'New';} elseif($thesis['is_ready'] == '2'){echo 'Edited by reviewer';} elseif($thesis['is_ready'] == '3'){echo 'Edited by you';} elseif($thesis['is_ready'] == '4'){echo 'Accepted';}?></td>
            </tr>
            <tr>
                <td colspan="2">
                    Presenting author:
                    <?php 
                    foreach($this->stepData['personsList'] as $presentingAuthor){
                        //print_r($thesis);die;
                        if($presentingAuthor['id'] == $thesis['person_id'])
                        {
                           
                            echo $presentingAuthor['fname'] . ' ' . $presentingAuthor['lname'];
                        }
                    }
                    ?>
                </td>
                <?php if($thesis['sym'] != 0) {?>
                <td>
                Symposium: <?php echo $thesis['symName'];?>
                </td>
                <?php }?>
            </tr>
            
            <?php }?>
        </table>
    </div>
	<?php }?>
	<div id="newThesis">
		<?php if (count($this->stepData['thesisList']) <= 18){?><a href="#" onclick="newThesis()">Add new Abstract</a><?php }?>
		<div style="display: none;" id="newThesisPopUp">
			<div class="popUpContainer">
				<form action="/ppc/thesis/index/" method="post">
				<input type="hidden" name="newThesis" value="1" />
					<div class="popUpAbstract">
						<h1 class="title">
							Abstract Submission<span class="close" onclick="closePopUp();">&times;</span>
						</h1>
						<h2>
							<a href="https://ecp2019.ru/registration/oral-poster-presentations/" target="_blank">Guidelines for abstract submission</a>
						</h2>
						<table>
							<tr>
								<td colspan="2">Type of presentation:</td>
								<td colspan="2"><select name="type" id="types" required>
										<?php foreach($this->stepData['abstractTypes'] as $key => $value)
										{
										    echo '<option value="'.$key.'" '.$selected.'>'.$value.'</option>';
										}
										?>
								</select>
								</td>
								<td  colspan="2"></td>
							</tr>
							<tr>
								<td colspan="6">
									<table style="width:100%;">
										<tr>
											<td colspan="6"><i>Set by Scientific Commettee</i></td>
										</tr>
										<tr>
											<td></td>
											<td>Date:</td>
											<td colspan="2">Time:</td>
											<td>Payment:</td>
											<td>Status:</td>
										</tr>
										<tr>
											<td></td>
											<td><input type="date" readonly /></td>
											<td colspan="2"><input type="time" readonly /></td>
											<td><input type="text" readonly /></td>
											<td><input type="text" readonly /></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>Title:</td>
								<td colspan="6"><input maxlenght="125" placeholder="maximum of 125 characters including spaces" name="thesis_name" required />
								</td>
							</tr>
							<tr id="sym">
								<td colspan="2">
									Attach Abstract to Symposium <input type="checkbox" id="addSymposium" />
								</td>
								<td colspan="4">
								<?php
								if($this->stepData['symposiums'] != '') {?>
									<select name="" id="symSelect">
									<?php foreach ($this->stepData['symposiums'] as $symposium)
									{
									    echo '<option value="'.$symposium['id'].'">'.$symposium['name'].'</option>';
									}?>
									</select>
								<?php } else { echo 'No Symposiums for your account'; }?>
								</td>
							</tr>
						<tbody class="presentingAuthor">
							<tr class="presentationAuthor head">
								<td rowspan="4">Presenting Author:</td>
								<td colspan="2">Select presenting author</td>

								<td colspan="1">Country</td>
								<td colspan="1">City</td>
							</tr>
							<tr class="presentationAuthor body">
								<td colspan="2"> 
									<select name="main_author" id="select_presenting" required>
										<option>chose presenting author</option>
										<?php foreach($this->stepData['personsList'] as $person){?>
											<option value="<?php echo $person['id'] . ', ' . $person['lname'] . ', ' . $person['fname'] . ', ' . $person['citizenship'];?>"><?php echo $person['lname'] . ', ' . $person['fname'];?></option>
										<?php }?>
									</select>
								</td>
								<td colspan="1"><input type="text" id="citizenship0" readonly /></td>
								<td colspan="1"><input type="text" name="city0" required/></td>
							</tr>
							<tr class="presentationAuthor body">
								<td colspan="2">Name of the Organization</td>
								<td colspan="2">Position</td>
							</tr>
							<tr class="presentationAuthor body">
								<td colspan="2"><input type="text" name="company0" required/></td>
								<td colspan="2"><input type="text" name="position0" required/></td>
							</tr>
							<tr id="addFirstAuthor" style="display:none;">
								<td>
									<a href="#" onclick="addFirstAuthor()">Add Author</a>
								</td>
							</tr>
						</tbody>
							<?php for($i=1;$i<=4;$i++){?>
							<?php if($i >> 1){$display = 'style="display:none;"'; $disabled = 'disabled';}?>
						<tbody class="author" id="author_<?php echo $i;?>"  <?php echo $display;?>>
							<tr class="presentationAuthor head">
								<td rowspan="4">Author:<br><a href="#" onclick="removeAuthor(<?php echo $i;?>)">Remove author</a></td>
								<td>Surname</td>
								<td>First Name</td>
								<td>Country</td>
								<td>City</td>
								
							</tr>
							<tr class="presentationAuthor body">
								<td><input type="text" name="sname<?php echo $i;?>" <?php echo $disabled;?> required/></td>
								<td><input type="text" name="fname<?php echo $i;?>" <?php echo $disabled;?> required/></td>
								<td><select name="country<?php echo $i;?>" required>
								<option>Select country</option>
										<?php foreach($this->stepData['countryList'] as $country)
										{
										    echo '<option value="' . $country['name'] . '">' . $country['name'] . '</option>';
										}?>
								</select></td>
								<td><input type="text" name="city<?php echo $i;?>" <?php echo $disabled;?> required/></td>
								
							</tr>
							<tr class="presentationAuthor body">
								<td colspan="2">Name of the Organization</td>
								<td colspan="2">Position</td>
								
							</tr>
							<tr class="presentationAuthor body">
							<td colspan="2"><input type="text" name="company<?php echo $i;?>" <?php echo $disabled;?> required/></td>
								<td colspan="2"><input type="text" name="position<?php echo $i;?>" <?php echo $disabled;?> required/></td>
								
							</tr>
							<?php if($i<<4){?>
							<tr class="presentationAuthor body">
								<td colspan="5"><a href="#" onclick="addAuthor(<?php echo $i+1;?>)">Add Author</a></td>
							</tr>
							<?php }?>							
						</tbody>
							<?php }?>
							
						</table>
						<table class="abstractBody">
<tbody>
							<tr>
								<td>
									<h1 class="title">Abstract body</h1>
								</td>
							</tr>
							<tr>
								<td><textarea rows="5" placeholder="maximum of 350 words" name="thesis_text" id="thesisText" "maxlength="3000" required></textarea>
								</td>
							</tr>
							</tbody>
							<tbody id="pressParagraph" style="display:none;">
							<tr>
								<td>
									<h1 class="title">Press paragraph</h1>
								</td>
							</tr>
							<tr>
								<td><textarea rows="5" placeholder="maximum of 200 words" id="press" "maxlength="3000" name="pressParagraph"></textarea>
								</td>
							</tr>
							</tbody>
							<tbody id="generalSummary" style="display:none;">
							<tr>
								<td>
									<h1 class="title">General summary of the Symposium</h1>
								</td>
							</tr>
							<tr>
								<td><textarea rows="5" placeholder="maximum of 2000 letters" id="general" "maxlength="3000" name="generalSummary"></textarea>
								</td>
							</tr>
							</tbody>
							<tbody id="requirementsOther" style="display:none;">
							<tr>
								<td>
									<h1 class="title">Requirements & other information</h1>
								</td>
							</tr>
							<tr>
								<td><textarea rows="5" placeholder="" id="requirements" "maxlength="3000" name="requirements"></textarea>
								</td>
							</tr>
							</tbody>
						</table>
						<div class="submissionFooter">
							<input type="submit" id="submitButton" value="Save and send to Scientific Committee" />
						</div>
					</div>



				</form>
			</div>
		</div>
	</div>


</div>


<script>
$(document).ready(function(){
	/* $('#submitButton').live('click',function(){
		alert('Message was send');
		}); */
	$('#select_presenting').live('change', function(){
		var selectarr = $('#select_presenting').val();
		console.log(selectarr);
		var arr  = selectarr.split(", ");
		var citizenship = arr[3];
		$('#citizenship0').attr('value', citizenship);
		
	});

	$('#thesisText').live('keypress', function(){
		var text = $('#thesisText').val();
		var textArr = text.split(' ');
		var type = $('select[name=type]').val();
		if(type == 3)
		{
			var words = 500;
		} else {
			var words = 350;
		}
		if(textArr.length >= words)
		{
			alert('Abstract text can not be more then 350 words');
			$('#submitButton').attr('disabled', 'disabled');
		} else {
			$('#submitButton').attr('disabled', '');
		}
		});
		$('#press').live('keypress', function(){
		var text = $('#press').val();
		var textArr = text.split(' ');
		if(textArr.length >= 200)
		{
			alert('Press paragraph can not be more then 200 words');
			$('#submitButton').attr('disabled', 'disabled');
		} else {
			$('#submitButton').attr('disabled', '');
		}
		});

		$('#addSymposium').live('change', function(){
			if($('#addSymposium').is(':checked', true) == true) {
				$('#symSelect').attr('name', 'sym');
			} else {
				$('#symSelect').attr('name', '');
			}
		});
		
		$('select[name=type]').live('change', function(){
			var type = $('select[name=type]').val();
			if( type == 3)
			{
				$('#pressParagraph').show();
				$('#press').attr('required', 'required').attr('name', 'pressParagraph');
				$('#generalSummary').show();
				$('#general').attr('required', 'required').attr('name', 'generalSummary');
				$('#requirementsOther').hide();
				$('#thesisText').attr('placeholder', 'maximum of 500 words');
				$('#sym').hide();
				$('#symSelect').attr('name', '');
				
			} else if (type == 4) {
				$('#requirementsOther').show();
				$('#requirements').attr('required', 'required').attr('name', 'requirements');
				$('#pressParagraph').hide();
				$('#generalSummary').hide();
				$('#thesisText').attr('placeholder', 'maximum of 350 words');
				$('#sym').hide();
				$('#symSelect').attr('name', '');
			} else if (type == 1) {
				$('#sym').show();
				if($('#addSymposium').is(':checked', true) == true) {
					$('#symSelect').attr('name', 'sym');
				} else {
					$('#symSelect').attr('name', '');
				}
			} else {
				$('#pressParagraph').hide();
				$('#generalSummary').hide();
				$('#requirementsOther').hide();
				$('#thesisText').attr('placeholder', 'maximum of 350 words');
				$('#sym').hide();
				$('#symSelect').attr('name', '');
			}
		});
	
});
function editThesis(i)
{
	$('#editThesisPopUp_'+i).show();
}

function newThesis()
{
	$('#newThesisPopUp').show();
}
function closePopUp()
{
	$('#newThesisPopUp').hide();
}

function closePopUpId(i)
{
	$('#editThesisPopUp_'+i).hide();
}
function addFirstAuthor() {
	$('#addFirstAuthor').hide();
	$('#author_1').show();
	var inputs = $('#author_1').children().children().children('input[type=text]');
	inputs.attr('required', true);
	inputs.attr('disabled', false);
	inputs.attr('value', '');
}
function addAuthor(j)
{
	$('#author_'+j).show();
	var inputs = $('#author_'+j).children().children().children('input[type=text]');
	inputs.attr('required', true);
	inputs.attr('disabled', false);
	inputs.attr('value', '');
}
function removeAuthor(i)
{
	$('#author_'+i).hide();
	var inputs = $('#author_'+i).children().children().children('input[type=text]');
	inputs.attr('required', false);
	inputs.attr('disabled', true);
	inputs.attr('value', '');
	if($('#author_1').is(':hidden') == true) {
		$('#addFirstAuthor').show();
	}
	
}
function deleteThesis(i)
{
	$.ajax({
		type: 'POST',
		url: '/ppc/thesis/delabs/',
		data: 'thesisId='+i,
		
		success: function(result)
		{
			alert('Abstract was removed!');
			window.location = '/ppc/thesis/index/';
		}
	});
}
</script>
