<?
session_start ();
include_once 'orgauth.php';
include_once 'lkodbTable.php';

$mail = new PHPMailer(true); 
?>
<script type="text/javascript" src="/js/downloaddoc/FileSaver.js"></script>
<script type="text/javascript" src="/js/downloaddoc/jquery.wordexport.js"></script><?
/*
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
<title>Личный кабинет</title><link href="/css/reset.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/jquery-ui.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/main.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/ppc.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/form_style.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/buttons_style.css" media="screen" rel="stylesheet" type="text/css">
<!--[if IE 6]> <link href="/css/ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/jquery.bgiframe-2.1.1.js"></script>
<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/js/tinymce/jquery.tinymce.min.js"></script>
<script type="text/javascript" src="/js/cufon-yui.js"></script><style type="text/css">cufon{text-indent:0!important;}@media screen,projection{cufon{display:inline!important;display:inline-block!important;position:relative!important;vertical-align:middle!important;font-size:1px!important;line-height:1px!important;}cufon cufontext{display:-moz-inline-box!important;display:inline-block!important;width:0!important;height:0!important;overflow:hidden!important;text-indent:-10000in!important;}cufon canvas{position:relative!important;}}@media print{cufon{padding:0!important;}cufon canvas{display:none!important;}}</style>
<script type="text/javascript" src="/js/Myriad_Pro_400.font.js"></script>
<script type="text/javascript" src="/js/ajaxupload.js"></script>
<script type="text/javascript" src="/js/functions.js"></script>
<script type="text/javascript" src="/js/lang/ru.js"></script>
<script type="text/javascript" src="/js/ppc.js"></script>
<!--[if IE 6]> <script type="text/javascript" src="/js/jquery.ifixpng.js"></script><![endif]-->
<!--[if IE 6]> <script type="text/javascript" src="/js/ie6.js"></script><![endif]--><link rel="stylesheet" type="text/css" id="u0" href="http://mobmed.forms.paxport.tech/js/tinymce/skins/lightgray/skin.min.css"></head>
*/
		// echo '<pre>';
		// print_r($_SESSION);
		// echo '</pre>';
$auth = new OrgAuth();
if ( $_SESSION['orgAuth'] != '1') {
	if ( !empty ($_POST['login']) && !empty ($_POST['pass']) ) {
		$authRequest = $auth->auth($_POST['login'], $_POST['pass']);
		
		
		if ( $authRequest == '1' ) {
			echo 'Wellcome!';
			$_SESSION['orgAuth'] = '1';
			?>
			<script>window.location = 'http://ecp.forms.paxport.tech/ppc/thesis/list/';</script>
			<?
		} else {
			echo $authRequest;
		}
	} else {
		?>
			<div style="width:100%; min-height:1200px; background-color:rgba(0,0,0,0.2);">
				<div align="center" style="width:250px; height:200px; background-color:rgba(255,255,255,1); border:1px solid #000; padding:5px; margin:0 auto;">
					<form action="http://ecp.forms.paxport.tech/ppc/thesis/list/" method="post">
						<input name="login" placeholder="Login" /><br />
						<input name="pass" type="password" placeholder="Password" /><br />
						<input type="submit" value="Log In" />
					</form>
				</div>
			</div>
		<?
	}
} else {
	$db = new DB();
	//echo 'Hello!';
	$themes = $db->getThemes();
	$users = $db->getUsersIds();
	$getRecensorList = $db->getRecensorList();
	if (!empty ($_POST['thesisChange']) && $_POST['thesisChange'] == '1') {
		if (!empty($_POST['thesisThemeId']) && !empty($_POST['thesisName']) && !empty($_POST['thesisText']) && !empty($_POST['thesisId'])) {
			$name = addslashes($_POST['thesisName']);
			$text = addslashes($_POST['thesisText']);
			$updateText = $db->updateThesisText ($_POST['thesisId'], $_POST['thesisThemeId'], $name, $text);
			}
			echo '<pre>';
			print_r($_POST);
			echo '</pre>';
			//die;
		if (!empty($_POST['thesisStatus'])) {
			$status = ($_POST['thesisStatus'] == '4') ? '4' : '2';
			$publish = ($_POST['isPublish'] == true) ? '1' : '0';
			$paid = ($_POST['isPaid'] == true) ? '1' : '0';
			if ($_POST['isVerbal'] == true) {
				$verbal = '1';
				$verbalDateTime = $_POST['verbalDate'] . ' ' . $_POST['verbalTime'] . ':00' ;
			} else {
				$verbal = '0';
				$verbalDateTime = '';
			}
			$comment = (!empty($_POST['comment'])) ? $_POST['comment'] : '';
			$updateThesis = $db->updateThesisInfo($_POST['thesisId'], $status, $publish, $paid, $verbal, $verbalDateTime, $comment, $_POST['recensorId']);
			
			if ( ($status == '2' || $status == '4') && !empty($_POST['comment'])) {
				$recensor = $db->getRecensorById ($_POST['recensorId']);
				//print_r($recensor);die;
				$thesis = $db->getThesisById ($_POST['thesisId']);
				$user = $db->getUserById ($thesis['user_id']);
			
				if ( $status == '2' ) {
					$message = '<html><head><title></title></head><body>
						<p>Уважаемый участник!</p>
						<br />
						<br />
						<p>Для тезисов №'.$_POST['thesisId'].' рецензент '.$recensor[0]['name'].' ('.$recensor[0]['email'].') внес следующие комментарии:</p>
						<br />
						<p>Комментарии: ' . $_POST['comment'] . '</p>
						<br />
						<br />
						<br />
						<p>С уважением,</p>
						<p>Организационный комитет</p>
						<p>Форум детских хирургов России – 2018</p>

						</body></html>
					';
					$subject = 'Рецензия тезисов №'.$thesisId.' организатору. Форум детских хирургов России – 2018';
				} elseif ($status == '4') {
					if ( $verbal == '1' ) {
						$is_verbal = ' и устному докладу.';
						$is_verbal_subject = ' и время устного доклада';
						$is_verbalDateTime = '<p>Дата доклада: '.$_POST['verbalDate'].'</p><p>Время доклада: ' . $_POST['verbalTime'] . ':00</p>';
					} else {
						$is_verbal = '.';
						$is_verbal_subject = '.';
						$is_verbalDateTime = '';
					}
					$link = '<a href="http://mobmed.forms.paxport.tech/getthesis.php?thesisId='.$_POST['thesisId'].'">Скачать файл тезиса в формате *.doc</a>';

					$message = '<html><head><title></title></head><body>
						<p>Уважаемый участник!</p>
						<br />
						<br />
						<p>Тезисы №'.$_POST['thesisId'].', направленные Вами организатору, приняты к публикации'.$is_verbal.'</p>
						<br />
						'.$is_verbalDateTime.'
						<br />
						<br />
						<p>'.$link.'</p>
						<br />
						<p>С уважением,</p>
						<p>Организационный комитет</p>
						<p>Форум детских хирургов России – 2018</p>

						</body></html>
					';
					$subject = 'Подтверждение публикации тезисов №'.$_POST['thesisId'].$is_verbal_subject.' Форум детских хирургов России – 2018';	
				}
				
				try {
					//Server settings
					$mail->SMTPDebug = 2;                                 // Enable verbose debug output
					$mail->isSMTP(); 
					$mail->CharSet = 'UTF-8';
					// Set mailer to use SMTP
					$mail->Host = 'smtp.yandex.ru';  // Specify main and backup SMTP servers
					$mail->SMTPAuth = true;                               // Enable SMTP authentication
					$mail->Username = 'robot@paxport.ru';                 // SMTP username
					$mail->Password = 'liz567890';                           // SMTP password
					$mail->SMTPSecure = 'ssl';                            // Enable TLS encryption, `ssl` also accepted
					$mail->Port = 465;                                    // TCP port to connect to

					//Recipients
					$mail->setFrom('robot@paxport.ru', 'Форум детских хирургов России – 2018');
					$mail->addAddress($user['email'], $user['fname'].' '.$user['lname']);     // Add a recipient
					//$mail->addAddress('ellen@example.com');               // Name is optional
					//$mail->addReplyTo('info@example.com', 'Information');
				    $mail->addCC('solodilov@paxport.ru');
					//$mail->addBCC('bcc@example.com');

					//Attachments
					//$mail->addAttachment('/var/tmp/file.tar.gz');         // Add attachments
					//$mail->addAttachment('/tmp/image.jpg', 'new.jpg');    // Optional name

					//Content
					$mail->isHTML(true);                                  // Set email format to HTML
					$mail->Subject = $subject;
					$mail->Body    = $message;
					//$mail->AltBody = 'This is the body in plain text for non-HTML mail clients';

					$mail->send();
					echo 'Message has been sent';
				} catch (Exception $e) {
					echo 'Message could not be sent. Mailer Error: ', $mail->ErrorInfo;
				}
		
			}
			
		}
		?>
			<script>window.location = 'http://mobmed.forms.paxport.tech/ppc/thesis/list/';</script>
		<?
	}
	if (!empty($_POST['newThesisTheme'])) {
		$addThesisTheme = $db->newThesisTheme ($_POST['newThesisTheme']);
		?>
			<script>window.location = 'http://mobmed.forms.paxport.tech/ppc/thesis/list/';</script>
		<?
	}
	if (!empty($_POST['recName']) && !empty($_POST['recEmail'])) {
		$addThesisTheme = $db->newHUI ($_POST['recName'], $_POST['recEmail']);
		?>
			<script>window.location = 'http://mobmed.forms.paxport.tech/ppc/thesis/list/';</script>
		<?
	}
	//print_r($users);
	$recensors = $db->getRecensorList();
	foreach ($users as $user) {
		$thesisId = $db->getThesisIdByUserId ($user['id']);
		if(!empty($thesisId) && $thesisId['is_ready'] >= '1'){
		$thesis['id'] = $thesisId['id'];
		$thesis['user_id'] = $user['id'];
		$thesis['contact_fio'] = $user['fname']. ' ' .$user['lname'];
		$thesis['contact_email'] = $user['email'];
		$thesis['contact_phone'] = $user['phone'];
		$thesis['contact_company'] = $user['company'];
		$thesis['applied_status'] = $thesisId['is_applied'];
		$thesis['verbal_status'] = $thesisId['is_verbal'];
		$thesis['verbal_date_time'] = $thesisId['verbal_date'];
		if ( !empty($thesis['verbal_date_time']) ) {
			$thesisDateTime = explode(' ', $thesisId['verbal_date']);
			$thesis['verbal_date'] = $thesisDateTime[0];
			$thesis['verbal_time'] = $thesisDateTime[1];
		}
		$thesis['comment'] = $thesisId['comment'];
		$thesis['publishied_status'] = $thesisId['is_publishied'];
		$thesis['paid_status'] = $thesisId['is_paid'];
		if($thesisId['recensor_id'] != '0' || $thesisId['recensor_id'] != '' || $thesisId['recensor_id'] != null){
		$thesis['recensorId'] = $thesisId['recensor_id'];
		$recensor = $db->getRecensorById($thesis['recensorId']);
		//print_r($recensor);die;
		$thesis['recensorName'] = $recensor[0]['name'];
		}
		$thesis['authors'] = $db->getThesisAuthorsById ($thesisId['id']);
		$thesis['authors'] = $thesis['authors'];
		$thesisText = $db->getThesisTextById ($thesisId['id']);
		$thesis['name'] = $thesisText['name'];
		$thesis['text'] = $thesisText['text'];
		$thesisTheme = $db->getThemeById($thesisText['theme_id']);
		$thesis['theme'] = $thesisTheme['thesis_theme'];
		$thesis['result'] = true;
		} else {
			$thesis['result'] = false;
		}
		/* echo '<pre>';
		print_r($thesisId);
		echo '</pre>'; */
	$thesises[] = $thesis;
	}
	//$phpWord = new \PhpOffice\PhpWord\PhpWord();
	//$recensors = $db->getRecensorList();
	//print_r($recensors);
/* 	echo '<pre>';
	print_r($recensors);
	echo '</pre>'; */
	?>
	<script>
			function downloadDoc (id) {
				$("#thesisView"+id).wordExport();
			}
			function closeNax (id) {
				$('#'+id).hide();
				debugger;
			}
			function show (id) {
				tinymce.init({ 
					selector:'#thesisText'+id,
					language: 'ru',
					max_chars: 3000
				});
				$('#'+id).show();
			}
			function submitForm(i, k) {
				if(i == '4') {
					
					if( $('#isPaid'+k).attr('checked') == true) {
						if ($('#isPublish'+k).attr('checked') == true ) {
							$('#thesisStatus'+k).attr('value', i);
							$('#submitThesis'+k).click();
							
							
						} else {
							alert('Тезис не может быть принят, если он не оплачен и не принят к публикации');
						}
					} else {
						alert('Тезис не может быть принят, если он не оплачен и не принят к публикации');
					}
					
				} else {
					
				$('#thesisStatus'+k).attr('value', i);
				$('#submitThesis'+k).click();
				}
			}
		</script>
		<div style="margin: 0 auto; display:none;">
		Добавить рецензеров:
		<form action="http://mobmed.forms.paxport.tech/ppc/thesis/list/" method="post">
			<input name="recName" /><br />
			<input name="recEmail" /><br />
			<input type="submit" value="add" />
		</form>
		</div>
		<div>
			<table border="1" style="width:80%; margin: 0 auto;" class="thesis-table">
				<thead>
					<tr>
						<td class="form-name" align="center">
							<span>#</span>
						</td>
						<td class="form-name" align="center">
							<span>Контактное лицо</span>
						</td>
						<td class="form-name" align="center">
							<span>Данные авторов</span>
						</td>
						<td class="form-name" align="center">
							<span>Тема и название тезиса</span>
						</td>
						<td class="form-name" align="center">
							<span>Дата, время доклада</span>
						</td>
						<td class="form-name" align="center">
							<span>Статус, оплата,<br /> Рецензирование</span>
						</td>
					</tr>
				</thead>
				<tbody>
					<?
						foreach ($thesises as $thesis) {
							if ($thesis['result'] == true) {
								?>
									<tr>
										<td>
											<span><?=$thesis['id']?></span>
										</td>
										<td style="line-height: 25px; vertical-align: top;">
											<?
											echo iconv('UTF-8', 'ASCII', $thesis['contact_fio']);
											echo '<span>' . $thesis['contact_fio'] . '</span><br /><span>' . $thesis['contact_email'] . '</span><br /><span>' . $thesis['contact_phone'] . '</span>';
											if( !empty ($thesis['contact_company'])) { echo '<br /><span>' . $thesis['contact_company'] . '</span>'; }
											?>
										</td>
										<td>
											<? foreach($thesis['authors'] as $author) {
												$is_author = ($author['is_main'] == 1) ? ' - <b>докладчик</b>' : '';
												echo '<span>'.$author['fname'].' '.$author['sname'].' '.$author['lname'].'</span>: ' . $is_author . '<br />';
												echo '<span>'.$author['workspace'].'</span><br />';
												echo '<span>'.$author['w_index'].','.$author['country'].','.$author['city'].'</span>';
												echo '<hr />';
												} ?>
										</td>
										<td style="vertical-align:top;">
											<b>Тема:</b> <span><?=$thesis['theme']?></span><br />
											<b>Наименование:</b> <span><?=$thesis['name']?></span><br />
											<?
												if(isset($thesis['recensorName'])){
													echo '<b>Рецензент: </b> <span> '. $thesis['recensorName'] .' </span><br/>';
												}
											?>
										</td>
										<td style="max-width:50px; vertical-align:top;">
											<? 
											if($thesis['verbal_status'] != 0) {
												echo $thesis['verbal_date_time'];
											} else {
												echo '-';
											}
											?>
										</td>
										<td style="vertical-align:top;">
											<span> Статус: 
												<?
													if ( $thesis['applied_status'] == '4') {
														$status = '<span style="color:green;"> Принят</span>';
													} elseif ( $thesis['applied_status'] == '2') {
														$status = '<span style="color:sandybrown;"> Отредактирован</span>';
													} elseif ( $thesis['applied_status'] == '3') {
														$status = '<span style="color:red;"> Исправлен</span>';
													} else {
														$status = '<span style="color:red;"> Новый</span>';
													}
													echo $status;
												?>
											</span><br />
											<span> Оплата: 
												<?
													if ( $thesis['paid_status'] == '1') {
														$status = '<span style="color:green;"> Оплачен</span>';
													} elseif ( $thesis['paid_status'] == '0') {
														$status = '<span style="color:red;"> Не оплачен</span>';
													}
													
													echo $status;
													/* $whatdafak = mb_detect_encoding($recensors[1]['name']);
													$aaaaaa = mb_convert_encoding($recensors[1]['name'], "cp-1251");
													echo $whatdafak . ' <br /> ' . $aaaaaa; */
												?>
											</span><br />
											<span><a href="#" onclick="show(<?=$thesis['id']?>)">Редактировать</a></span><br />
											<span><a href="#" onclick="downloadDoc(<?=$thesis['id']?>)">Скачать</a></span>
											<div id="<?=$thesis['id']?>" style="position:fixed; top:0px; left:0px; width:100%; padding:5px; background-color: rgba(0,0,0,0.2);display:none; " >
												<div class="form-style-2" align="center" style="border:1px solid #000; background-color:#fff; width:990px; margin:0 auto;">
												<a href="#" onclick="closeNax(<?=$thesis['id']?>);return false;" style="float:right; margin: 3%;">Закрыть</a>
													<form action="http://mobmed.forms.paxport.tech/ppc/thesis/list/" method="post">
														<input type="hidden" name="userId" id="userId" value="<?=$thesis['user_id'];?>">
														<input type="hidden" name="thesisId" id="thesisId" value="<?=$thesis['id']?>">
														<input type="hidden" name="thesisChange" value="1" />
														
														<div class="main-form-block-line">
															<div class="authors">
															<?
																echo 'Авторы:';
																	foreach($thesis['authors'] as $author) {
																		$bold = ($author['is_main'] == 1) ? 'style="font-weight: bold;"' : '';
																		$underline = ($author['is_contact'] == 1) ? 'style="text-decoration: underline;"' : '';
																		echo ' <span '.$bold.$underline.'>'.$author['fname'].' '.$author['sname'].' '.$author['lname'].',</span> ';
																	} 
																echo '<br />Контактное лицо:';
																echo $thesis['contact_email'] . ', ' . $thesis['contact_fio'];
															?>
															</div>
														</div>
														
														<div class="main-form-block-line">Тема: 
															<select class="select-field" name="thesisThemeId" id="thesisThemeId" style="max-width:800px;margin-left:5px;">
																<?
																foreach($themes as $theme) {
																	if($theme['id'] == $thesisText['theme_id']) {
																		echo '<option value="' . $theme['id'] . '" selected>' . $theme['thesis_theme'] . '</option>';
																	} else {
																		echo '<option value="' . $theme['id'] . '">' . $theme['thesis_theme'] . '</option>';
																	}
																}
																?>
															</select>
														</div>
														
														<div class="main-form-block-line">
															Наименование тезисов: <input class="input-field" name="thesisName" id="thesisName" placeholder="Введите наименование тезиса" value="<?=$thesis['name'];?>" style="max-width:800px;margin-left:5px;">
														</div>
														
														<div class="main-form-block-line" style="max-width:900px; margin-top:10px; min-height:300px;">
															<span>Текст тезиса</span><br /><br />
															<textarea class="input-field" name="thesisText" id="thesisText<?=$thesis['id']?>"><?=$thesis['text'];?></textarea>
														</div>
														
														<div class="main-form-block-line">
															<input type="hidden" class="input-field" name="thesis_status" id="thesis_status" value="2">
														</div>
														
														<div>
															<div class="col-2-form" style="text-align: left;">
																<div class="main-form-block-line">
																<? $verbal = ($thesis['verbal_status'] == '1') ? 'checked' : '' ;?>
																	<input type="checkbox" name="isVerbal" <?=$verbal?>/><span> Устный доклад </span>
																</div>
																<div class="main-form-block-line" style="padding-left: 30px;">
																	<span>Дата:</span> <input type="date" name="verbalDate" value="<?=$thesis['verbal_date']?>"/><br />
																	<span>Время:</span> <input type="time" name="verbalTime" value="<?=substr($thesis['verbal_time'], 0, 5)?>"/>
																</div>
																
																<div class="main-form-block-line">
																<? $paid = ($thesis['paid_status'] == '1') ? 'checked' : '' ;?>
																	<input type="checkbox" name="isPaid" id="isPaid<?=$thesis['id']?>" <?=$paid?>/><span>	Оплачен		</span>												
																</div>
																
																<div class="main-form-block-line">
																<? $publish = ($thesis['publishied_status'] == '1') ? 'checked' : '' ;?>
																	<input type="checkbox" name="isPublish" id="isPublish<?=$thesis['id']?>" <?=$publish?>/><span>	Публикация	</span>													
																</div>
															</div>
															<div class="col-2-form">
																<div class="main-form-block-line">
																	<span style="float:left;">Комментарий:</span><br />
																	<textarea name="comment" style="width: 400px;"><?=$thesis['comment']?></textarea>													
																</div>
																<div class="main-form-block-line" style="text-align: left;">
																
																	Рецензор: <select class="select-field" name="recensorId">
																		<?
																			foreach ($recensors as $recensor) {
																				if($recensor['id'] == $thesis['recensorId']){
																					echo '<option value = "' . $recensor['id'] . '" selected>' . $recensor['name'] . '</option>';
																				} else {
																					echo '<option value = "' . $recensor['id'] . '">' . $recensor['name'] . '</option>';
																				}
																			}
																		?>
																	</select>
																</div>
															</div>
														</div>
														<div class="main-form-block-line">
															<input type="hidden" class="input-field" name="thesisStatus" id="thesisStatus<?=$thesis['id']?>" value="1">
														</div>
														
														<div class="main-form-block-line">
														<?
															
																$save = $thesis['applied_status'];
																$send = '2';
																$apply = '4';
															
														?>
															<a href="#" onclick="submitForm(<?=$save?>, <?=$thesis['id']?>)" class="color green button">Сохранить</a> <a href="#" onclick="submitForm(<?=$send?>, <?=$thesis['id']?>)" class="color green button"> Отправить на редактирование </a> <a href="#" onclick="submitForm(<?=$apply?>, <?=$thesis['id']?>)" class="color green button"> Принять </a>
															<input type="submit" value="Подтвердить" class="color green button" id="submitThesis<?=$thesis['id']?>" style="display:none;">
														</div>
													</form>
												</div>
											</div>
											<div id="thesisView<?=$thesis['id']?>" style="display:none;">
												<p align="center" style="font-size: 16px;font-weight: bold;">Тема: "<?=$thesis['theme']?>"</p>
												<p align="center" style="font-size: 18px;font-weight: bold;"><?=$thesis['name']?><br /></p>
												<p align="center">
												<?
												for ($k = 0; $k <= count($thesis['authors'])-1; $k++) {
													if (!empty($thesis['authors'][$k+1]) && ($thesis['authors'][$k]['workspace'] != $thesis['authors'][$k+1]['workspace'])) {
														$similiarWorkspace = '0';
														$k = 5;
													} else {
														$similiarWorkspace = '1';
													}
												}
												if ( $similiarWorkspace == '1') {
													if ( count($thesis['authors'] != 1) ) {
														foreach ($thesis['authors'] as $author) {
															echo $author['fname']. ' ' .substr($author['sname'], 0, 2). '. ' .substr($author['lname'], 0, 2).'., ';
															echo '1';
														}
													} else {
														echo $thesis['authors']['fname']. ' ' .substr($thesis['authors']['sname'], 0, 2). '. ' .substr($thesis['authors']['lname'], 0, 2).'.';
														echo '2';
													}
													echo '<br />'.$thesis['authors'][0]['workspace'].', '.$thesis['authors'][0]['w_index'];
												} else {
													foreach ($thesis['authors'] as $author) {
														echo $author['fname']. ' ' .substr($author['sname'], 0, 2). '. ' .substr($author['lname'], 0, 2).'., '.$author['workspace'].', '.$author['index'].'<br />';
														echo '3';
													}
												}
												?>
												</p>
												<p><br/></p>
												<p><?=$thesis['text']?></p>
												<p><br/></p>
												<p>
													<?
														echo '<span>' . $thesis['contact_fio'] . ' </span><span> (' . $thesis['contact_phone'] . ', ' . $thesis['contact_email'] . ')</span>';
														
													?>
												</p>
												<p><br/></p>
												
												
											</div>
										</td>
									</tr>
								<?
							}
						}
					?>
				</tbody>
			</table>
		</div>
	<?
}

/*
</body>
</html>
*/?>