<?php $this->headTitle('Payment'); ?>
<?php $this->inlineScript()->captureStart(); ?>
	$(window).load(function(){ ppc.payment.index.init(); });
<?php $this->inlineScript()->captureEnd(); ?>
<div id="services-payment">
	<?php echo $this->render('/payment/'.$this->lang.'/payment-help.phtml'); ?>
	<div id="payment-request-dialog">
		<div id="payment-dialog-title-auth" class="hidden"><?php echo $this->translate('Letter of authorization request'); ?></div>
		<div id="payment-dialog-title-bank" class="hidden"><?php echo $this->translate('Invoice request'); ?></div>
		<div id="payment-dialog-title-online" class="hidden"><?php echo $this->translate('Online payment settings'); ?></div>
		<div id="payment-dialog-body">
			<div id="payment-dialog-body-elements">
				<div id="payment-dialog-summ-line" class="payment-dialog-line summ-line">
					<label><?php echo $this->translate('Sum').' ('.$this->translate('RUR').')'; ?>:</label>
					<span class="bolder" id="payment-dialog-summ"></span>
				</div>
				<div id="payment-dialog-lang-line" class="payment-dialog-line">
					<label for="payment-dialog-lang">
						<?php echo $this->translate('Select language'); ?>:
					</label>
					<select id="payment-dialog-lang" name="payment-dialog-lang">
						<?php if ($this->lang == 'en') : ?>
							<option value="en" selected="selected"><?php echo $this->translate('English'); ?></option>
							<option value="ru"><?php echo $this->translate('Russian'); ?></option>
						<?php else : ?>
							<option value="ru" selected="selected"><?php echo $this->translate('Russian'); ?></option>
							<option value="en"><?php echo $this->translate('English'); ?></option>
						<?php endif; ?>
					</select>
				</div>
				<div id="payment-dialog-company-line" class="payment-dialog-line">
					<label for="payment-dialog-company">
						<?php echo $this->translate('Company name'); ?>:
					</label>
					<input type="text" id="payment-dialog-company" name="payment-dialog-company" value="<?php echo $this->escape($this->getAuthData('company'));?>" />
				</div>
			</div>
			<div id="payment-dialog-attention-line" class="payment-dialog-line">
				<span class="bolder"><?php echo $this->translate('Attention please'); ?>!</span><br />
				<?php echo $this->translate('For bank transfer on behalf of the legal entity and for payments over 50 000 US Dollars it is necessary to conclude a written contract.'); ?> <br />
				<?php ($this->lang == 'en') ? $blankUrl = 'http://www.reisebuero-welt.com/download/docs_services_en.pdf' : $blankUrl = 'http://www.welt.ru/download/docs_services.pdf'; ?>
				<a href="<?php echo $blankUrl; ?>"><?php echo $this->translate('Download blank'); ?></a>
			</div>
			<div id="payment-dialog-online-method-line" class="payment-dialog-line">
				<p><?php echo $this->translate('Payment method choice'); ?></p>
				<table>
					<tr>
						<td class="online-method-ch">
							<input type="radio" checked="checked" value="card" name="payment-dialog-online-method" />
						</td>
						<td class="online-method-name"><?php echo $this->translate('Credit card'); ?></td>
						<td class="online-method-pic"><img src="/img/credit_cards.gif" width="99" height="30" /></td>
					</tr>
					<tr>
						<td class="online-method-ch">
							<input type="radio" value="wm" name="payment-dialog-online-method" />
						</td>
						<td class="online-method-name"><?php echo $this->translate('Webmoney online payment system'); ?></td>
						<td class="online-method-pic"><img src="/img/webmoney.gif" width="96" height="39" /></td>
					</tr>
				</table>
			</div>
			<div id="payment-dialog-online-conf-line" class="payment-dialog-line">
				<?php //echo $this->translate('Please be informed that for online payment you will be moved on a website www.hotels-booking.ru.'); ?>
			</div>
			<div id="payment-dialog-success-line">
				<?php echo $this->translate('Your request is accepted. It will be processed soon and you will can download generated documents.'); ?>
			</div>
		</div>
		<div id="payment-dialog-loader" class="inline-ajax-loader">
			<div class="inline-ajax-loader-content">
				<?php echo $this->translate('Loading'); ?>&nbsp;<img src="/img/loader_s2.gif" />
			</div>
		</div>
		<div class="ui-fix-buttons hidden">
			<span><?php echo $this->translate('Continue'); ?></span>
			<span><?php echo $this->translate('Close'); ?></span>
		</div>
	</div>
	<div id="payment-online-warning">
		<?php echo $this->translate('#payment-online-warning'); ?>
	</div>
	<h2 id="services-payment-header" class="center-block-header">
		<?php echo $this->translate('Payment'); ?>
		<span class="info-link link" title="<?php echo $this->translate('Click here to receive information'); ?>" onclick="showInfo('payment');">
			<img src="/img/info32.gif" alt="<?php echo $this->translate('Click here to receive information'); ?>" />
		</span>
	</h2>
	<?php echo $this->render('payment/payment-attention.phtml'); ?>
	<div id="payment-docs">
		<ul>
			<li><a class="tab-links" href="#payment-docs-invoices"><?php echo $this->translate('Invoices'); ?></a></li>
			<li><a class="tab-links" href="#payment-docs-auth-letter"><?php echo $this->translate('Letters of authorization'); ?></a></li>
		</ul>
		<div id="payment-docs-invoices">
			<?php echo $this->partial('/payment/docs-list/invoice.phtml',array('docs'=>$this->invoices)); ?>
		</div>
		<div id="payment-docs-auth-letter">
			<?php echo $this->partial('/payment/docs-list/auth_letter.phtml',array('docs'=>$this->authLetters)); ?>
		</div>
	</div>	
	<div class="services-payment-body">
		<?php if(sizeof($this->services)>0) : ?>
		<form id="services-payment-select-form" name="services-payment-select-form" method="post" action="">
		<table id="services-payment-table" class="ppc-base-table">
			<thead>
				<tr>
					<th><?php echo $this->translate('Service'); ?></th>
					<th><?php echo $this->translate('Persons'); ?></th>
					<th><?php echo $this->translate('Sum').' ('.$this->translate('RUR').')'; ?></th>
					<?php foreach($this->methods as $method) : ?>
						<th><?php echo $method['name']; ?></th>
					<?php endforeach; ?>
				</tr>
				<tr id="services-payment-table-actions-row">
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<?php foreach($this->methods as $method) : ?>
						<th class="payment-table-method-actions">
							<?php if ($method['sys_name']=='online') : ?>
								<span id="payment-dialog-link-<?php echo $method['sys_name']; ?>-selected" class="service-payment-get-link link" title="<?php echo $this->translate('Pay selected services online'); ?>"><?php echo $this->translate('Pay selected online'); ?></span>
								<span id="payment-dialog-link-<?php echo $method['sys_name']; ?>-all" class="service-payment-get-link link" title="<?php echo $this->translate('Pay all services online'); ?>"><?php echo $this->translate('Pay all online'); ?></span>
							<?php elseif($method['sys_name']=='bank') : ?>
								<span id="payment-dialog-link-<?php echo $method['sys_name']; ?>-selected" class="service-payment-get-link link" title="<?php echo $this->translate('Get invoice for selected services'); ?>"><?php echo $this->translate('Get invoice for selected'); ?></span>
								<span id="payment-dialog-link-<?php echo $method['sys_name']; ?>-all" class="service-payment-get-link link" title="<?php echo $this->translate('Get invoice for all services'); ?>"><?php echo $this->translate('Get invoice for all'); ?></span>
							<?php elseif($method['sys_name']=='auth') : ?>
								<span id="payment-dialog-link-<?php echo $method['sys_name']; ?>-selected" class="service-payment-get-link link" title="<?php echo $this->translate('Get letter of authorization for selected services'); ?>"><?php echo $this->translate('Get for selected'); ?></span>
								<span id="payment-dialog-link-<?php echo $method['sys_name']; ?>-all" class="service-payment-get-link link" title="<?php echo $this->translate('Get letter of authorization for all services'); ?>"><?php echo $this->translate('Get for all'); ?></span>
							<?php endif; ?>
							
						</th>
					<?php endforeach; ?>
				</tr>
			</thead>
			<tbody>
				<?php foreach($this->services as $service) : ?>
					<tr id="services-payment-row-<?php echo $service['service_sys_name'].'-'.$service['id'];?>">
						<td class="pcc-base-table-name">
							<?php echo $service['caption']; ?>
						</td>
						<td class="pcc-base-table-persons">
							<ol class="service-list-persons">
								<?php foreach($service['persons'] as $person) : ?>
									<li><?php echo $person['name']; ?></li>
								<?php endforeach; ?>
							</ol>
						</td>
						<td class="pcc-base-table-summ">
							<?php echo $service['summ']; ?>
						</td>
						<?php foreach($this->methods as $key=>$method) : ?>
							<td class="pcc-base-table-payment-method">
								<?php if ($service['method']!='') : ?>
									<?php if ($service['method']==$method['sys_name']) : ?>
										<input type="checkbox" name="<?php echo $service['service_sys_name'].'-'.$service['id'];?>" 
										class="payment-ch-<?php echo $method['sys_name']; ?>" value="<?php echo $method['sys_name']; ?>" />
									<?php else : ?>
										&nbsp;
									<?php endif; ?>
								<?php else : ?>
									<?php ($key==0) ? $checked = 'checked="checked"' : $checked = ''; ?>
									<input type="radio" name="<?php echo $service['service_sys_name'].'-'.$service['id'];?>" 
										class="payment-radio-<?php echo $method['sys_name']; ?>" value="<?php echo $method['sys_name']; ?>" <?php echo $checked; ?> />
									<?php if ($key==($this->methodsSize-1)) : ?>
										<div class="relativier">
											<div class="payment-method-select link" title="<?php echo $this->translate('Choose method'); ?>" onclick="paymentsObj.setServicePayment('<?php echo $service['id'].'\',\''.$service['service_sys_name']; ?>');">
												<img src="/img/apply32.gif" />
											</div>
										</div>
									<?php endif; ?>
								<?php endif; ?>
							</td>
						<?php endforeach; ?>
					</tr>
				<?php endforeach; ?>
			</tbody>
		</table>
		<div class="services-payment-action">
			<a href="/ppc/payment/reset/" id="payment-reset-link">
				<span><?php echo $this->translate('Reset payment settings'); ?></span>
				<img src="/img/refresh32.gif" alt="<?php echo $this->translate('Reset payment settings'); ?>" width="32" height="32" />
			</a>
		</div>
		<div class="clearer"></div>
		</form>
		<?php else : ?>
			<div class="no-records">
				<?php echo $this->translate('You have no orders to pay'); ?>
			</div>
		<?php endif; ?>
	</div>
</div>	
