<?php $this->headTitle('Method of payment choice'); ?>
<?php $this->inlineScript()->captureStart(); ?>
	$(window).load(function(){ ppc.payment.select.init(); });
<?php $this->inlineScript()->captureEnd(); ?>
<div id="services-payment">
	<?php echo $this->render('/payment/'.$this->lang.'/payment-help.phtml'); ?>
	<h2 class="center-block-header">
		<?php echo $this->translate('Method of payment choice'); ?>
		<span class="info-link link" title="<?php echo $this->translate('Click here to receive information'); ?>" onclick="showInfo('payment');">
			<img src="/img/info32.gif" alt="<?php echo $this->translate('Click here to receive information'); ?>" />
		</span>
	</h2>
	<?php echo $this->render('payment/payment-attention.phtml'); ?>
	<div id="payment-docs">
		<ul>
			<li><a class="tab-links" href="#payment-docs-invoices"><?php echo $this->translate('Invoices'); ?></a></li>
			<li><a class="tab-links" href="#payment-docs-auth-letter"><?php echo $this->translate('Letters of authorization'); ?></a></li>
		</ul>
		<div id="payment-docs-invoices">
			<?php echo $this->partial('/payment/docs-list/invoice.phtml',array('docs'=>$this->invoices)); ?>
		</div>
		<div id="payment-docs-auth-letter">
			<?php echo $this->partial('/payment/docs-list/auth_letter.phtml',array('docs'=>$this->authLetters)); ?>
		</div>
	</div>
	<div class="services-payment-select-body">
		<?php if(sizeof($this->services)>0) : ?>
		<form id="services-payment-select-form" name="services-payment-select-form" method="post" action="">
		<table id="services-payment-select-table" class="ppc-base-table">
			<thead>
				<tr>
					<th><?php echo $this->translate('Service'); ?></th>
					<th><?php echo $this->translate('Persons'); ?></th>
					<th><?php echo $this->translate('Sum').' ('.$this->translate('RUR').')'; ?></th>
					<?php foreach($this->methods as $method) : ?>
						<th>
							<?php echo $method['name']; ?>
						</th>
					<?php endforeach; ?>
				</tr>
				<tr id="services-payment-table-actions-row">
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<?php foreach($this->methods as $method) : ?>
						<th class="centerer">
							<span id="services-payment-select-all-<?php echo $method['sys_name']; ?>" class="services-payment-select-all link"><?php echo $this->translate('Select All'); ?></span>
						</th>
					<?php endforeach; ?>
				</tr>
			</thead>
			<tbody>
				<?php foreach($this->services as $service) : ?>
					<tr>
						<td class="pcc-base-table-name">
							<?php echo $service['caption']; ?>
						</td>
						<td class="pcc-base-table-persons">
							<ol class="service-list-persons">
								<?php foreach($service['persons'] as $person) : ?>
									<li><?php echo $person['name']; ?></li>
								<?php endforeach; ?>
							</ol>
						</td>
						<td class="pcc-base-table-summ">
							<?php echo $service['summ']; ?>
						</td>		
						<?php foreach($this->methods as $key=>$method) : ?>
							<td class="pcc-base-table-payment-method centerer">
								<?php ($key==0) ? $checked = 'checked="checked"' : $checked = ''; ?>
								<input type="radio" name="<?php echo $service['service_sys_name'].'-'.$service['id'];?>" 
								value="<?php echo $method['sys_name']; ?>" class="payment-radio-<?php echo $method['sys_name']; ?>" <?php echo $checked; ?> />
							</td>
						<?php endforeach; ?>
					</tr>
				<?php endforeach; ?>
			</tbody>
		</table>
		<div class="services-payment-action clearfix">
			<input type="submit" value="<?php echo $this->translate('Continue'); ?>" class="base-submit" />
		</div>
		<div class="clearer"></div>
		</form>
		<?php else : ?>
			<div class="no-records">
				<?php echo $this->translate('You have no orders to pay'); ?>
			</div>
		<?php endif; ?>
	</div>
</div>	
