<div id="reg-fee-help" class="help-content">
	
</div>
<div id="visa-help" class="help-content">
	<h1 class="bolder centerer">
		Visa and Passport Requirements
	</h1>
	<p>
		To enter the Russian Federation (Russia) every foreign citizen should have:
	</p>
	<ul>
		<li>a valid Russian Entry Visa;</li>
		<li>
			a valid passport for entry to the Russian Federation (the expiry date must exceed the planned date of your departure from Russia by 6 months);
		</li>
		<li>
			a migration card. You’ll be provided with the form in airplane or at airport. Please, fill it in and keep with you during your stay in Russia. You will need it upon arrival and departure at the customs.
		</li>
	</ul>
	<p>
		Your passport and Entry Visa will be checked and verified by Passport Control Officer upon arrival and departure, at the hotel, at purchasing tickets and when traveling by train, ship, airplane or local/international carriers.
	</p>
	<br />
	<h2>Tourist visa</h2>
	<p class="bolder">Visa service support for Tourist visa is free of charge</p>
	<p>
		Tourist visa – («Tourist Voucher» and «Foreign Tourist Reception Confirmation») will be provided by Paxport Corporate 
	</p>
	<p>
		Please note:<br />
		The Paxport Corporate will send to you the visa support documents only after booking a room through Paxport Corporate and making payment for accommodation. 
	</p>
	<p>
		To obtain visa support for Tourist visa, please: <br />
		A legible photocopy of your passport should be uploaded in your Personal cabinet.
	</p>
	<p>
		To obtain a Tourist visa, the following documents should be presented to the Russian Embassy (Consulate) of your residence country:
	</p>
	<ul>
		<li>Tourist voucher; </li>
		<li>Foreign tourist reception confirmation;</li>
		<li>Confirmation of the hotel reservation;</li>
		<li>
			completed «Application form for Russian Entry Visa» (you can find it on the website of your Russian Embassy (Consulate)).
			<br /><br />
			<p class="bolder">
				Please, be informed that «Tourism» should be mentioned as purpose of your visit in the «Application form for Russian Entry Visa» at the Russian Embassy (Consulate).
			</p>
		</li>
		<li>
			valid national passport, validity exceeding planned date of departure from Russia by 6 months;
		</li>
		<li>2-3 passport-size photos.</li>
		<li>
			Other documents (please check the full list of the required documents on the website of your Russian Embassy (Consulate)).
		</li>
	</ul>
	<p class="bolder">
		Applying for visa.
	</p>
	<ol>
		<li>
			<span class="italic">Personal visit to the Russian Embassy (Consulate).</span><br /><br />
			Please consult the Russian Embassy (Consulate) personnel if you have any questions or call <?php echo $this->eventParams->coordNameLng; ?>, tel.: <?php echo $this->displayCoordPhone($this->eventParams['coord_phone'], ''); ?> or 
			by e-mail: <a href="mailto:<?php echo $this->eventParams['coord_email'].'?subject='.$this->eventParams->eventNameLng; ?>"><?php echo $this->eventParams['coord_email']; ?></a> 
			<br /><br />
		</li>
		<li>
			<span class="italic">Mailing visa application.</span>
			<br /><br />
			<p class="bolder">Please, check the possibility of mail application at the Russian Embassy (Consulate) in your country.</p>
			<ul>
				<li>
					Get the «Application form for Russian Entry Visa» from website of the Russian Embassy (Consulate) in your country, fill it in and send to the Russian Embassy (Consulate) by courier.
				</li>
				<li>
					Make sure to put in envelope: filled «Application form for Russian Entry Visa», passport and photos. Check with the Russian Embassy (Consulate) how to pay visa fee and provide payment confirmation.
				</li>
				<li>
					Upon processing of the application, the Russian Embassy (Consulate) will send the passport with visa back to your address.
				</li>
				<li>
					Usually visa application turnaround time is no longer than 14 days.
				</li>
			</ul>
		</li>
	</ol>
</div>
