<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<?php echo $this->headMeta(); ?>  
<?php echo $this->headTitle(); ?>
<?php $this->headLink()->appendStylesheet('/css/reset.css')
					   ->appendStylesheet('/css/jquery-ui.css')
					   ->appendStylesheet('/css/main.css')
					   ->appendStylesheet('/css/ppc.css')
					   ->appendStylesheet('/css/ie6.css','screen','IE 6');
?>
<?php echo $this->headLink(); ?>
<?php $this->headScript()->appendFile('/js/jquery.min.js')
						 ->appendFile('/js/jquery-ui.min.js')
						 ->appendFile('/js/jquery.bgiframe-2.1.1.js')
						 ->appendFile('/js/cufon-yui.js')
						 ->appendFile('/js/Myriad_Pro_400.font.js')
						 ->appendFile('/js/ajaxupload.js')
						 ->appendFile('/js/functions.js')
						 ->appendFile('/js/lang/'.Zend_Registry::get('lang').'.js')
						 ->appendFile('/js/ppc.js')
						 ->appendFile('/js/jquery.ifixpng.js','text/javascript',array('conditional' => 'IE 6'))
						 ->appendFile('/js/ie6.js','text/javascript',array('conditional' => 'IE 6'));
?>
<?php echo $this->headScript(); ?>
</head>
<body>
	<div id="container" class="ppc-container">
		<div id="mask"></div>
		<?php if (Zend_Auth::getInstance()->hasIdentity()) : ?>
			<?php echo $this->render('ppc/top.phtml'); ?>
			<div class="navigation-block-wrapper">
				<div class="navigation-block-outer clearer">
					<div class="navigation-block-inner clearfix">
						<?php echo $this->navigation()->menu()->render();?>
					</div>
				</div>
			</div>
		<?php endif;?>
		<div class="center-block clearer">
			<?php echo $this->layout()->content;?>
			<div class="clear-center"></div>
		</div>
		<?php if (Zend_Auth::getInstance()->hasIdentity()) : ?>
			<?php echo $this->render('ppc/bottom.phtml'); ?>
		<?php endif;?>
		<?php echo $this->placeholder('modal'); ?>
	</div>
<?php echo $this->inlineScript();?>
</body>
</html>