<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<?php echo $this->headMeta(); ?> 
<?php if (isset($this->settings) && $this->settings->event->only_booking_form == 1) : ?>
	<?php echo $this->headTitle($this->translate('Services order form', 'SET')); ?>
<?php else : ?>
	<?php echo $this->headTitle($this->translate('Registration form', 'SET')); ?>
<?php endif; ?>
<?php $this->headLink()->appendStylesheet('/css/reset.css','all')
					   ->appendStylesheet($this->baseUrl() . '/css/main.css','all')
					   ->appendStylesheet('/css/reg.css','all')
					   //   ->appendStylesheet('/js/jqtransform/jqtransformplugin/jqtransform.css','all')
					   ->appendStylesheet('/css/buttons_style.css','all') //Стили красивых кнопок
					   ->appendStylesheet('/css/form_style.css','all') //Стили форм
                        ->appendStylesheet('/css/jquery-ui.css','all')
                        ->appendStylesheet('/js/fancybox/jquery.fancybox.css','all')
					   ->appendStylesheet('/css/ie6.css','screen','lte IE 6');
?>
<?php echo $this->headLink(); ?>
<?php $this->headScript()->appendFile('/js/jquery.min.js')
						 ->appendFile('/js/jquery-ui.min.js')
						 ->appendFile('/js/jquery.ie-select-width.js','text/javascript',array('conditional' => 'lte IE 8'))
						 ->appendFile('/js/jquery.plugins.js')
						 ->appendFile('/js/jquery.scrollTo-min.js')
						 ->appendFile('https://maps.google.com/maps/api/js?sensor=false&region=RU&key=AIzaSyCh5VV-7IGMf_3mmoEat4QmXjbL49l_8kA&language=ru&v=3.8')
						 //->appendFile('/js/jqtransform/jqtransformplugin/jquery.jqtransform.js')
						 ->appendFile('/js/fancybox/jquery.fancybox-1.2.1.pack.js')//Фотогалерея
						 ->appendFile('/js/fancybox/jquery.easing.1.3.js')//Фотогалерея
						 ->appendFile('/js/functions.js')
						 ->appendFile('/js/lang/'.$this->lang.'.js')
						 ->appendFile('/js/reg.js')
						 ->appendFile('/js/jquery.bgiframe-2.1.1.js','text/javascript',array('conditional' => 'lte IE 6'))
						 ->appendFile('/js/jquery.ifixpng.js','text/javascript',array('conditional' => 'lte IE 6'))
						 ->appendFile('/js/ie6.js','text/javascript',array('conditional' => 'lte IE 6'));
?>
<?php echo $this->headScript() ?>
</head>
<body class="m-size">
	<div class="loader">
		<div class="loader_content">
			<img src="/img/loader_bar.gif" alt="<?php echo $this->translate('Loading'); ?>" />
		</div>
	</div>
	<div id="container" class="reg-container<?php if ($this->visaDisabled) echo ' no-visa'; ?>">
		<div class="main-form">
			<?php echo $this->layout()->messages; ?>
			<?php echo $this->layout()->content; ?>
		</div>
	</div>
<?php echo $this->inlineScript();?>
</body>
</html>
