<div id="order-info-help" class="help-content">
	<div class="dialog-title hidden"><?php echo $this->translate('Service information'); ?></div>
	<p>В этом разделе Вы можете увидеть все заказанные услуги.</p>
	<p>
		Описание:
		<ul id="order-info-help-actions">
			<li>
				<img src="/img/print32.gif" alt="Печать" width="32" height="32" />  
				- нажмите, чтобы распечатать подтверждение заказанных услуг 
			</li>
			<li>
				<img src="/img/edit32.gif" alt="Редактировать" width="32" height="32" />
				 – нажмите для внесения изменений в услуге  
			</li>
			<li>
				<img src="/img/delete32.gif" alt="Аннуляция" width="32" height="32" />
				– нажмите, чтобы аннулировать услугу 
			</li>
		</ul>
	</p>
	<p>
		Если Вы хотите отменить все услуги, заказанные для конкретного человека, пожалуйста, перейдите к разделу "Клиент и визовая поддержка". <br />
		Если у Вас возникли вопросы или Вы хотели бы заказать дополнительные услуги, пожалуйста, свяжитесь с нами, перейдя к разделу "Контакты".
	</p>
</div>