<span id="content-loaded"></span>
<table class="service-details-table">
<tr class="service-details-line">
	<td class="service-details-caption-cell"><?php echo $this->translate('Cultural program'); ?>:</td>
	<td><?php echo $this->serviceDetails['name']; ?></td>
</tr>
<?php if ($this->serviceDetails['start_date']==$this->serviceDetails['end_date']) : ?>	
	<tr class="service-details-line">
		<td class="service-details-caption-cell"><?php echo $this->translate('Date'); ?>:</td>
		<td><?php echo $this->serviceDetails['start_date']; ?></td>
	</tr>
<?php else : ?>
	<tr class="service-details-line">
		<td class="service-details-caption-cell"><?php echo $this->translate('Period'); ?>:</td>
		<td>
			<?php echo $this->serviceDetails['start_date']; ?> - <?php echo $this->serviceDetails['end_date']; ?>
		</td>
	</tr>
<?php endif; ?>
<?php if ($this->serviceDetails['start_time']!='00:00' && $this->serviceDetails['end_time']!='00:00') : ?>
	<tr class="service-details-line">
		<td class="service-details-caption-cell"><?php echo $this->translate('Time'); ?>:</td>
		<td>
			<?php if ($this->serviceDetails['start_time'] == $this->serviceDetails['end_time']) : ?>
				<?php echo $this->serviceDetails['start_time']; ?>
			<?php else : ?>
				<?php echo $this->serviceDetails['start_time']; ?> -
				<?php echo $this->serviceDetails['end_time']; ?>
			<?php endif; ?>
		</td>
	</tr>
<?php endif; ?>
</table>