<span id="content-loaded"></span>
<table class="service-details-table">
<tr class="service-details-line">
	<td class="service-details-caption-cell"><?php echo $this->translate('Hotel'); ?>:</td>
	<td><?php echo $this->serviceDetails['hotelName']; ?></td>
</tr>
<tr class="service-details-line">
	<td class="service-details-caption-cell"><?php echo $this->translate('Room'); ?>:</td>
	<td><?php echo $this->serviceDetails['hotelRoomName']; ?></td>
</tr>	
<tr class="service-details-line">
	<td class="service-details-caption-cell"><?php echo $this->translate('Check-in date'); ?>:</td>
	<td><?php echo Welt_Functions::dateFromMysql($this->serviceDetails['start_date']); ?></td>
</tr>
<tr class="service-details-line">
	<td class="service-details-caption-cell"><?php echo $this->translate('Check-out date'); ?>:</td>
	<td><?php echo Welt_Functions::dateFromMysql($this->serviceDetails['end_date']); ?></td>
</tr>	
<tr class="service-details-line">
	<td class="service-details-caption-cell"><?php echo $this->translate('Accommodation'); ?>:</td>
	<td>
		<?php if ($this->serviceDetails['accommodation']==1) : ?>
			<?php echo $this->translate('Single'); ?>
		<?php else : ?>
			<?php echo $this->translate('Double'); ?>
			<?php if ($this->serviceDetails['extra_bed']==1) : ?> 
				(<?php echo $this->translate('with extra bed'); ?>)
			<?php endif; ?>
		<?php endif; ?>	
	</td>
</tr>	
<?php if ($this->serviceDetails['accommodation']==2) : ?>
	<tr class="service-details-line">
		<td class="service-details-caption-cell"><?php echo $this->translate('Bed type'); ?>:</td>
		<td><?php echo $this->serviceDetails['bed_type']; ?></td>
	</tr>
<?php endif; ?>	
</table>