<span id="content-loaded"></span>
<table class="service-details-table meal-details-table">
<tr class="service-details-line">
	<td class="service-details-caption-cell"><?php echo $this->translate('Service'); ?>:</td>
	<td><?php echo $this->serviceDetails['mealName']; ?></td>
</tr>
<tr class="service-details-line">
	<td class="service-details-caption-cell"><?php echo $this->translate('Date'); ?>:</td>
	<td><?php echo Welt_Functions::dateFromMysql($this->serviceDetails['date']); ?></td>
</tr>
<tr class="service-details-line">
	<td class="service-details-caption-cell"><?php echo $this->translate('Included into registration fee'); ?>:</td>
	<td style="vertical-align:middle;">
		<?php if ($this->serviceDetails['incl_reg_fee']==1) : ?>
			<?php echo $this->translate('Yes'); ?>
		<?php else : ?>
			<?php echo $this->translate('No'); ?>
		<?php endif; ?>
	</td>
</tr>
<?php if (trim($this->serviceDetails['mealTypeName'])!='') : ?>
<tr class="service-details-line">
	<td class="service-details-caption-cell"><?php echo $this->translate('Selected meal type'); ?>:</td>
	<td><?php echo $this->serviceDetails['mealTypeName']; ?></td>
</tr>
<?php endif; ?>
</table>