<span id="content-loaded"></span>
<table class="service-details-table reg-fee-details-table">
<tr class="service-details-line">
	<td class="service-details-caption-cell">Registration fee type:</td>
	<td><?php echo $this->serviceDetails['regFeeTypeName']; ?></td>
</tr>
<tr class="service-details-line service-details-empty-line">
	<td>&nbsp;</td>
	<td>&nbsp;</td>
</tr>
<tr class="service-details-line service-details-line-summ">
	<td class="service-details-caption-cell">Summ:</td>
	<td>
		<?php if ($this->serviceDetails['summ']!=0) : ?>
			<?php echo $this->serviceDetails['summ']; ?>
		<?php else : ?>
			By request
		<?php endif; ?>
	</td>
</tr>
</table>