<span id="content-loaded"></span>
<table class="service-details-table transport-details-table">
<tr class="service-details-line">
	<td class="service-details-caption-cell"><?php echo $this->translate('Service'); ?>:</td>
	<td><?php echo $this->serviceDetails['transpServiceName']; ?></td>
</tr>
<?php if($this->serviceDetails['summ'] != 0) : ?>
	<tr class="service-details-line">
		<td class="service-details-caption-cell"><?php echo $this->translate('Transport type'); ?>:</td>
		<td><?php echo $this->serviceDetails['transpTypeName']; ?></td>
	</tr>	
<?php endif; ?>
<tr class="service-details-line">
	<td class="service-details-caption-cell"><?php echo $this->translate('Date'); ?>:</td>
	<td><?php echo Welt_Functions::dateFromMysql($this->serviceDetails['date']); ?></td>
</tr>
<tr class="service-details-line">
	<td class="service-details-caption-cell"><?php echo $this->translate('Time'); ?>:</td>
	<td><?php echo $this->serviceDetails['time']; ?></td>
</tr>	
<tr class="service-details-line">
	<td class="service-details-caption-cell"><?php echo $this->translate('Route'); ?>:</td>
	<td><?php echo $this->serviceDetails['route']; ?></td>
</tr>
<tr class="service-details-line">
	<td class="service-details-caption-cell"><?php echo $this->translate('Flight\Train number, train carriage number'); ?>:</td>
	<td><?php echo $this->serviceDetails['number']; ?></td>
</tr>
</table>