<tr id="ordered-excursion-row<?php echo $this->orderData['id']; ?>" class="ordered-excursion-row">
	<td class="ordered-excursion-row-name left-align"><?php echo $this->orderData['name']; ?></td>
	<td class="ordered-excursion-row-period">
		<?php if ($this->orderData['start_date'] == $this->orderData['end_date']) : ?>
			<?php echo $this->orderData['start_date']; ?>
		<?php else : ?>
			<?php echo $this->orderData['start_date'].' - '.$this->orderData['end_date']; ?>
		<?php endif; ?>
		<?php if ($this->orderData['start_time'] != '00:00' && $this->orderData['end_time'] != '00:00') : ?>
			&nbsp;(<?php echo $this->orderData['start_time']; ?> - <?php echo $this->orderData['end_time']; ?>)
		<?php endif; ?>
	</td>
	<td class="ordered-excursion-row-persons" width="200">
		<?php foreach ($this->orderData['persons'] as $person) : ?>
			<span id="<?php echo $person['id']; ?>" class="nobrer">
				<?php echo $this->escape($person['name']); ?>
			</span><br />
		<?php endforeach; ?>
	</td>
	<td class="ordered-excursion-row-summ">
		<?php if ($this->orderData['summ']!=0) : ?>
			<?php echo round($this->orderData['summ']); ?>
		<?php else : ?>
			<?php echo $this->translate('By request'); ?>
		<?php endif; ?>
	</td>
	<?php if (!isset($this->summary) || $this->summary!=1) : ?>
	<td>
		<?php if (!isset($this->orderData['status']) || $this->orderData['status']==0) : ?>
			<a class="delete-link-32" title="<?php echo $this->translate('Delete order'); ?>" onclick="deleteService(<?php echo $this->orderData['id']; ?>,'excursion','#excursion-loader','#ordered-excursion')">
				&nbsp;
			</a>
		<?php endif; ?>
	</td>
	<?php endif; ?>
</tr>