<div id="hotel-details-name">
	<span id=""><?php echo $this->hotelInfo['name']; ?></span>
	<img width="88" height="16" src="/img/<?php echo $this->hotelInfo['stars']; ?>stars.gif">
</div>
<?php if ($this->hotelInfo['fromWelt']==1) : ?>
	<script type="text/javascript">
		hotelMapObj.hotel = <?php echo Zend_Json::encode($this->hotelInfoShort); ?>;
	</script>
	<div id="hotel-details-caption">
		<img src="https://images.welt.ru/new/<?php echo $this->hotelInfo['id']; ?>.jpg" alt="<?php echo $this->hotelInfo['name']; ?>" />
		<?php echo $this->hotelInfo['caption']; ?>
	</div>
	<div id="hotel-details-additional">
		<div class="metro"><?php echo $this->translate('Nearest metro stations').' : '.$this->hotelInfo['metro_stations']; ?></div>
		<?php echo $this->translate('Address'); ?>: <?php echo $this->hotelInfo['address']; ?>
	</div>
	<?php if (is_array($this->hotelInfo['additionals']) && sizeof($this->hotelInfo['additionals'])>0) : ?>
		<table id="hotel-details-additionals-list" class="main-form-table">
		<?php foreach ($this->hotelInfo['additionals'] as $service) : ?>
			<tr>
				<td class="hotel-additional-name"><?php echo $service['service_name']; ?></td>
				<td><?php echo $service['service_value']; ?></td>
			</tr>
		<?php endforeach; ?>
		</table>
	<?php endif; ?>
<?php endif; ?>
<?php if (isset($this->hotelInfo['note'])) : ?>
<div id="hotel-details-note">
	<?php echo $this->hotelInfo['note']; ?>
</div>
<?php endif; ?>
