<tbody id="hotel-order<?php echo $this->orderData['id']; ?>" class="hotel-order">
	<tr class="hotel-order-capt-row">
		<td class="hotel-details-cell"><?php echo $this->translate('Hotel, room, type of accommodation'); ?></td>
		<td class="guests-cell"><?php echo $this->translate('Guests'); ?></td>
		<td class="dates-cell"><?php echo $this->translate('Dates'); ?></td>
		<td class="price-day-cell"><?php echo $this->translate('Room price a day'); ?></td>
		<td class="days-cell"><?php echo $this->translate('Quantity of days'); ?></td>
		<td class="price-breakf-cell"><?php echo $this->translate('Breakfast price a day'); ?></td>
		<td class="price-cell"><?php echo $this->translate('Sum').' ('.$this->translate('RUR').')'; ?></td>
		<?php if (!isset($this->summary) || $this->summary!=1) : ?>
			<td class="action-cell">&nbsp;</td>
		<?php endif; ?>
	</tr>
	<?php //Если заказ - не доп. кровать ?>
	<?php if (!isset($this->orderData['is_extra_bed']) || $this->orderData['is_extra_bed'] != 1) : ?>
	<?php $i = 0; ?>
	<?php foreach ($this->orderData['prices']['seasons'] as $season) : ?>
	<tr class="hotel-order-row">
		<?php if ($i == 0) : ?>
			<td class="hotel-details-cell" rowspan="<?php echo $this->orderData['prices']['seasonsCount']; ?> ">
				<span class="bolder"><?php echo $this->translate('Hotel'); ?>:</span> 
				<?php echo $this->orderData['hotelName']; ?><br />  
				<span class="bolder"><?php echo $this->translate('Room'); ?>:</span> 
				<?php echo $this->orderData['roomName']; ?><br />  
				<span class="bolder"><?php echo $this->translate('Accommodation type'); ?>:</span> 
				<?php if ($this->orderData['accommodation']==1) : ?>
					<?php echo $this->translate('Single'); ?>
				<?php else : ?>
					<?php echo $this->translate('Double'); ?>
					<?php if ($this->orderData['extraBed']==1) : ?>
					<?php echo '('.$this->translate('with extra bed, bed type').': '.$this->orderData['bedType'].')'; ?>
					<?php endif; ?>
				<?php endif; ?>
			</td>
			<td rowspan="<?php echo $this->orderData['prices']['seasonsCount']; ?> ">
				<?php foreach($this->orderData['persons'] as $person) : ?>
					<span><?php echo $this->escape($person['name']); ?></span><br />
				<?php endforeach; ?>
			</td>
		<?php endif; ?>
		<td>
			<?php echo $season['dateStart']; ?> - <?php echo $season['dateStop']; ?>
		</td>
		<td class="price-day-cell">
			<?php $curPrice = $season['price'.$this->orderData['prices']['priceAcc']]; ?>
			<?php if ($curPrice!=0) : ?>
				<?php echo $curPrice; ?>
			<?php else : ?>
				<?php echo $this->translate('By request'); ?>
			<?php endif; ?>
		</td>
		<td class="days-cell">
			<?php echo $season['nights']; ?>
		</td>
		<?php //Если завтрак одинаковый для всех сезонов ?>
		<?php if ($i == 0) : ?>
			<?php if ($this->orderData['prices']['breakfastConst']==1) : ?>
				<td class="price-breakf-cell" rowspan="<?php echo $this->orderData['prices']['seasonsCount']; ?> ">
					<?php if ($this->orderData['prices']['breakfastAv']==0) : ?>
						-
					<?php else : ?>
						<?php if ($this->orderData['prices']['breakfastIncl']==1) : ?>
							<?php echo $this->translate('Breakfast included into accommodation price'); ?>
						<?php else : ?>
							<?php if ($this->orderData['prices']['breakfastPrice']!=0) : ?>
								<?php echo $this->orderData['prices']['breakfastPrice']; ?>
							<?php else : ?>
								<?php echo $this->translate('By request'); ?>
							<?php endif; ?>	
						<?php endif; ?>
					<?php endif; ?>
				</td>
			<?php //Если завтрак разный для сезонов ?>
			<?php else : ?>	
			<td class="price-breakf-cell">
				<?php if ($season['breakfastAv']==0) : ?>
					-
				<?php else : ?>
					<?php if ($season['breakfastIncl']==1) : ?>
							<?php echo $this->translate('Breakfast included into accommodation price'); ?>
						<?php else : ?>
							<?php if ($season['breakfastPrice']!=0) : ?>
								<?php echo $season['breakfastPrice']; ?>
							<?php else : ?>
								<?php echo $this->translate('By request'); ?>
							<?php endif; ?>	
					<?php endif; ?>
				<?php endif; ?>
			</td>
			<?php endif; ?>
		<?php endif; ?>
		<td class="price-cell">
			<?php $curSumm = $season['summ'.$this->orderData['prices']['priceAcc']]; ?>
			<?php if ($curSumm!=0) : ?>
				<?php echo $curSumm; ?>
				<?php if ($season['breakfastIncl']!=1 && $season['breakfastPrice']!=0 && $season['breakfastAv']!=0) : ?>
					, 
					<?php if($this->orderData['breakfast']==1) : ?>
						<?php echo $this->translate('with breakfast'); ?>
					<?php else : ?>
						<?php echo $this->translate('without breakfast'); ?>
					<?php endif; ?>	
				<?php endif; ?>
			<?php else : ?>
				<?php echo $this->translate('By request'); ?>
			<?php endif; ?>	
		</td>
		<?php if ($i == 0 && (!isset($this->summary) || $this->summary!=1)) : ?>
			<td class="action-cell" rowspan="<?php echo $this->orderData['prices']['seasonsCount']; ?> ">
				<?php if (!isset($this->orderData['status']) || $this->orderData['status']==0) : ?>
					<span onclick="deleteService(<?php echo $this->orderData['id']; ?>,'hotel','#hotel-loader','#ordered-hotel')" 
					title="<?php echo $this->translate('Delete order'); ?>" class="delete-link-32 link">&nbsp;</span>
				<?php endif; ?>
			</td>
		<?php endif; ?>
	</tr>
	<?php $i++; ?>
	<?php endforeach; ?>
	<?php //Если заказ - доп. кровать ?>
	<? /* ---------------- Extra bed start -------------------- */ ?>
	<?php else : ?>
	<tr>
		<td class="hotel-details-cell">
			<span class="bolder"><?php echo $this->translate('Hotel'); ?>:</span> 
			<?php echo $this->orderData['hotelName']; ?><br />  
			<span class="bolder"><?php echo $this->translate('Room'); ?>:</span> 
			<?php echo $this->translate('Extra bed'); ?>
		</td>
		<td>
			<?php foreach($this->orderData['persons'] as $person) : ?>
				<span><?php echo $this->escape($person['name']); ?></span><br />
			<?php endforeach; ?>
		</td>
		<td>
			<?php echo $this->orderData['start_date'].' - '.$this->orderData['end_date']; ?>
		</td>
		<td class="price-day-cell">-</td>
		<td class="days-cell">
			<?php echo $this->orderData['nights']; ?>
		</td>
		<td class="price-breakf-cell">-</td>
		<td class="price-cell"><?php echo $this->orderData['summ']; ?></td>
		<?php if (!isset($this->summary) || $this->summary!=1) : ?>
			<td class="action-cell" rowspan="<?php echo $this->orderData['prices']['seasonsCount']; ?> ">
				&nbsp;
			</td>
		<?php endif; ?>
	</tr>
	<?php endif; ?>
	<? /* ---------------- Extra bed end -------------------- */ ?>
	<?php (!isset($this->summary) || $this->summary!=1) ? $colspan='9' : $colspan='8'; ?>	
	<tr class="hotel-order-summ-row">
		<td colspan="<?php echo $colspan; ?>">
			<span class="bolder"><?php echo $this->translate('Total'); ?></span>: 
			<?php (isset($this->orderData['is_extra_bed']) && $this->orderData['is_extra_bed'] == 1) ? $curOrderSumm = $this->orderData['summ'] :  $curOrderSumm = $this->orderData['prices']['summ']; ?>
			<?php if ($curOrderSumm!=0) : ?>
				<?php echo $curOrderSumm; ?>
				<?php echo $this->translate('RUR'); ?>
			<?php else : ?>
				<?php echo $this->translate('By request'); ?>
			<?php endif; ?>
		</td>
	</tr>
	<tr class="hotel-order-padding-row">
		<td colspan="<?php echo $colspan; ?>">&nbsp;</td>
	</tr>
</tbody>	
