<tr id="ordered-meal-row<?php echo $this->orderData['id']; ?>" class="ordered-meal-row">
	<td class="ordered-meal-row-name left-align"><?php echo $this->orderData['mealName']; ?></td>
	<td class="ordered-meal-row-date"><?php echo $this->orderData['date']; ?></td>
	<td class="ordered-meal-row-meal-type">
		<?php if ($this->orderData['with_meal_types'] == 1) : ?>
			<?php echo $this->orderData['mealTypeName']; ?>
		<?php else : ?>
			-
		<?php endif; ?>
	</td>
	<td class="ordered-meal-row-persons" width="200">
		<?php foreach ($this->orderData['persons'] as $person) : ?>
			<span id="<?php echo $person['id']; ?>" class="nobrer">
				<?php echo $this->escape($person['name']); ?>
			</span><br />
		<?php endforeach; ?>
	</td>
	<td class="ordered-meal-row-meal-sum">
		<?php if ($this->orderData['incl_reg_fee'] == 0) : ?>
			<?php echo round($this->orderData['summ']); ?>
		<?php else : ?>
			-
		<?php endif; ?>
	</td>
	<?php if (!isset($this->summary) || $this->summary!=1) : ?>
	<td>
		<?php if (!isset($this->orderData['status']) || $this->orderData['status']==0) : ?>
			<a class="delete-link-32" title="<?php echo $this->translate('Delete order'); ?>" onclick="deleteService(<?php echo $this->orderData['id']; ?>,'meal','#meal-loader','#ordered-meal')">
				&nbsp;
			</a>
		<?php endif; ?>
	</td>
	<?php endif; ?>
</tr>	