<div id="new-person<?php echo $this->num; ?>" class="new-person" data-num="<?php echo $this->num; ?>">
    <div class="block-body-outer">
        <div class="block-body-inner">
            <div class="form-style-2-heading">
                <div class="name">
                    <?php echo $this->translate('Person’s data'); ?>
                </div>
                <div class="actions">
                    <span id="delete-person<?php echo $this->num; ?>" class="link delete-person"><?php echo $this->translate('Delete'); ?></span>
                </div>
            </div>
            <div class="person-body"><?php echo $this->form; ?></div>
        </div>
    </div>
</div>


<script type="text/javascript" >
    $(document).ready(function(){

        //$('.new-person').jqTransform();

    });
</script>