<tr id="ordered-other-row<?php echo $this->orderData['id']; ?>" class="ordered-other-row">
    <td class="ordered-other-row-name left-align"><?php echo $this->orderData['name']; ?></td>
    <td class="ordered-other-row-period">
        <?php echo $this->orderData['date']; ?>
    </td>
    <td class="ordered-other-row-persons" width="200">
        <?php foreach ($this->orderData['persons'] as $person) : ?>
            <span id="<?php echo $person['id']; ?>" class="nobrer">
                <?php echo $this->escape($person['name']); ?>
            </span><br />
        <?php endforeach; ?>
    </td>
    <td class="ordered-other-row-summ">
        <?php if ($this->orderData['summ']!=0) : ?>
            <?php echo round($this->orderData['summ']); ?>
        <?php else : ?>
            <?php echo $this->translate('By request'); ?>
        <?php endif; ?>
    </td>
    <?php if (!isset($this->summary) || $this->summary!=1) : ?>
    <td>
        <?php if (!isset($this->orderData['status']) || $this->orderData['status']==0) : ?>
            <a class="delete-link-32" title="<?php echo $this->translate('Delete order'); ?>" onclick="deleteService(<?php echo $this->orderData['id']; ?>,'other','#other-loader','#ordered-other')">
                &nbsp;
            </a>
        <?php endif; ?>
    </td>
    <?php endif; ?>
</tr>