<tr id="ordered-transport-row<?php echo $this->orderData['id']; ?>" class="ordered-transport-row">
	<td class="ordered-transport-row-service"><?php echo $this->orderData['transpServiceName']; ?></td>
	<td class="ordered-transport-row-type">
		<?php if ($this->orderData['summ'] != 0) : ?>
			<?php echo $this->orderData['transpTypeName']; ?>
		<?php else : ?>
			-
		<?php endif; ?>	
	</span></td>
	<td class="ordered-transport-row-date nobrer"><?php echo Welt_Functions::dateFromMysql($this->orderData['date']); ?></td>
	<td class="ordered-transport-row-time nobrer"><?php echo $this->orderData['time']; ?></td>
	<td class="ordered-transport-row-station"><?php echo $this->orderData['station']; ?></td>
	<td class="ordered-transport-row-number">
		<?php echo $this->escape($this->orderData['number']); ?>
		<?php 
			if (trim($this->orderData['train_car'])!='')
			{
				if (trim($this->orderData['number'])!='') 
				{
					echo '&nbsp;('.$this->translate('train carriage').': '.$this->escape($this->orderData['train_car']).')';
				}
				else
				{
					echo $this->translate('train carriage').': '.$this->escape($this->orderData['train_car']);
				}
			}
		?>
	</td>
	<td class="ordered-transport-row-persons">
		<?php foreach ($this->orderData['persons'] as $person) : ?>
			<span id="<?php echo $person['id']; ?>" class="nobrer">
				<?php echo $this->escape($person['name']); ?>
			</span><br />
		<?php endforeach; ?>
	</td>
	<td class="ordered-transport-row-summ">
		<?php
        if($this->orderData['summ'] != 0) {
            echo round($this->orderData['summ']);
        } else {
            echo $this->translate('По запросу');
        }
        ?>
	</td>
	<?php if (!isset($this->summary) || $this->summary!=1) : ?>
	<td>
		<?php if (!isset($this->orderData['status']) || $this->orderData['status']==0) : ?>
			<a class="delete-link-32" title="<?php echo $this->translate('Delete order'); ?>" onclick="deleteService(<?php echo $this->orderData['id']; ?>,'transport','#transport-loader','#ordered-transport')">
				&nbsp;
			</a>
		<?php endif; ?>
	</td>
	<?php endif; ?>
</tr>