<div id="persons-help" class="help-content">
	<div class="dialog-title hidden"><?php echo $this->translate('Persons and Visa support'); ?></div>
	<p>
		Если Вы запрашивали визовую поддержку в регистрационной форме, пожалуйста, заполните все поля, нажав на кнопку
		 <img src="/img/add24_green.gif" width="24" height="24" alt="Заполнить/редактировать информацию" /> или загрузите копию паспорта, нажав  
		 <img src="/img/upload24.gif" width="24" height="24" alt=Загрузить" />.
	</p>
	<br />
	<p>
		Если Вы не запрашивали визовую поддержку в регистрационной форме, но она Вам нужна, пожалуйста, свяжитесь с нами (раздел «Контакты»), и заполните все поля, нажав на кнопку 
		<img src="/img/add24_green.gif" width="24" height="24" alt="Заполнить/редактировать информацию" /> 
		, или загрузите копию паспорта, нажав 
		<img src="/img/upload24.gif" width="24" height="24" alt="Загрузить" />.
	</p>
	<p>
		Если Вы хотите аннулировать все услуги, заказанные на конкретного человека, пожалуйста, нажмите
		<img src="/img/delete24.gif" width="24" height="24" alt="Аннуляция" />.
	</p>
	<br />
	<p>
		Если у вас есть какие-либо вопросы, пожалуйста, обращайтесь к нам (раздел «Контакты»), и мы с радостью Вам поможем.
	</p>
</div>