<div>
	<hr />
	Мы будем рады ответить на все интересующие Вас вопросы!<br />
	Телефон: +7 (495) 933-78-78<br />
	Факс: +7 (495) 933-78-77<br />
	E-mail: info@welt.ru<br />
	С уважением,<br /> 
	Коллектив ООО «Райзебюро ВЕЛЬТ»
</div>