<div>
	<p>Уважаемый <b><?php echo $this->fio ?></b>!</p>
	<p>
		Вы запросили восстановление пароля для Личного Кабинета.
	</p>
	<p>
		<b>Ваш email:</b>&nbsp;&nbsp;<?php echo $this->email ?><br />
		<b>Ваш пароль:</b>&nbsp;&nbsp;<?php echo $this->password ?>
	</p>
	<p>
		<a href="<?php echo Zend_Registry::get('settings')->system->path; ?>ppc">
			<?php echo Zend_Registry::get('settings')->system->path;?>ppc
		</a>
	</p>
	<?php echo $this->render('footer.phtml'); ?>
</div>