<?php
$f = $this->form;
$docs = $this->docs;
$fillClass = 'link fill-abstract';
$deleteClass = 'link delete-abstract';
$bodyClass = 'abstract-body';
$statusVal = $f->status->getValue();
if (in_array($statusVal, array(Application_Form_Abstracts::STATUS_NOT_ADDED, Application_Form_Abstracts::STATUS_TO_DEL)))
{
	$deleteClass .= ' hidden';
}
else
{
	$fillClass .= ' hidden';
}
if (!in_array($statusVal, array(Application_Form_Abstracts::STATUS_TO_ADD, Application_Form_Abstracts::STATUS_EXIST)))
{
	$bodyClass .= ' hidden';
}
?>
<div id="abstract-f<?php echo $this->num; ?>" class="abstract-f" data-num="<?php echo $this->num; ?>">
    <div class="block-body-outer">
        <div class="block-body-inner">
            <div class="abstract-header">
                <div class="name">
                    <?php echo $this->translate('Участник') . ' ' . $this->person['name']; ?>
                </div>
                <div class="actions">
                    <span id="fill-abstract<?php echo $this->num; ?>" class="<?php echo $fillClass; ?>"><?php echo $this->translate('Добавить тезис'); ?></span>
                    <span id="delete-abstract<?php echo $this->num; ?>" class="<?php echo $deleteClass; ?>"><?php echo $this->translate('Удалить тезис'); ?></span>
                </div>
            </div>
            <div class="<?php echo $bodyClass; ?>"><?php echo $f; ?></div>
        </div>
    </div>
</div>