<?php
$headerAttrs = ' class="main-form-block-header';
if ($this->lang == 'ru') $headerAttrs .= ' ru';
$headerAttrs .= '"';
if ($this->fromPpc!=1) $headerAttrs .= ' id="reg-form-header"';
$langSw = FALSE;
if ($this->settings->system->lang->switch->reg == 1 && $this->eventParams['multilang'] == 1)
{
    $langSw = TRUE;
}
?>
<div <?php echo $headerAttrs; ?>>
	<h2>
		<?php echo $this->translate($this->stepTitle); ?>
		<?php if (isset($this->helpLinkParams) && is_array($this->helpLinkParams)) : ?>
			<a class="info-link" title="<?php echo $this->translate('Click here to receive information'); ?>" onclick="showInfo('<?php echo $this->helpLinkParams['name']; ?>','<?php echo $this->translate($this->helpLinkParams['title']); ?>');">
				<img src="/img/info32.gif"  class="info-img" alt="<?php echo $this->translate('Click here to receive information'); ?>" />
			</a>
		<?php endif; ?>
	</h2>
	<?php if ($this->fromPpc!=1) : ?>
		<?php ($langSw) ? $headerRightId='reg-form-header-right-wlang' : $headerRightId='reg-form-header-right'; ?>
		<div id="<?php echo $headerRightId; ?>">
			<?php if ($langSw) : ?>
				<div id="reg-form-header-lang">
					<?php if ($this->lang == 'en') : ?>
						<a href="<?php echo $this->myBaseUrl(); ?>syslang/ru/">Русская версия</a>
					<?php else : ?>
						<a href="<?php echo $this->myBaseUrl(); ?>syslang/en/">English version</a>
					<?php endif; ?>
				</div>
			<?php endif;?>
			<?php if ($this->lang != 'ru' ) : ?>
				1 USD = <?php echo Welt_Functions::getCurrency('USD'); ?> RUR<br />
				1 EURO = <?php echo Welt_Functions::getCurrency('EURO'); ?> RUR
			<?php endif;?>
		</div>
		<?php if ($this->settings->event->form_phone->display == 1) : ?>
			<div id="reg-form-header-phone">
				<img src="/img/phone16.gif" alt=" " />
				<?php echo $this->displayCoordPhone($this->eventParams['coord_phone'], ''); ?>
				(<?php
                echo $this->eventParams->coordNameLng;

                echo ',  <a href="mailto:'.$this->eventParams['coord_email'].'">'.$this->eventParams['coord_email'].'</a>';
                //print_r(this->eventParams);
                ?>)
			</div>
		<?php endif; ?>
		<?php if ($this->settings->display_logo != 0) : ?>
			<div id="reg-logo"></div>
		<?php endif; ?>
		<div id="welt-logo"></div>
	<?php endif; ?>
</div>
