<?php $this->placeholder('953970f6-cadc-11da-8d0d-505054503030')->captureStart(); ?>
	<div class="excursion-help-item">
		<div class="excursion-help-item-header">Moscow City Tour</div>
		<div class="excursion-help-item-body">
			<p class="bolder">Duration - 3 hours</p>
			<p class="bolder">Route:</p>
			<p>
				Red Square, Zamoskvorechye, St. Sofya Embankment, Christ the Savior Cathedral, The Moskva River Embankment, The monument dedicated to the 300 anniversary of Russian Navy, St. Nikolas Church, Leo Tolstoy Street, Pirogovskaya street, New Maiden Convent, The observation platfom of Sparrow Hills, The Moscow State University, Mosfilm street, Ambassadorial Campus, Minskaya street, Victory Park, Triumphal Arch, Bagration Bridge, The White House, New Arbat street, Arbat Square, Boulevard Ring, Tverskaya Street, Manezh Square.
			</p>
			<p class="bolder">Description:</p>
			<p>
				The capital of the Russian Federation, Moscow, a unique complex of attractions, the opportunity to become acquainted with the traditions of Russian people, attracts guests from all over the world. The historical centre of Moscow, the Kremlin and its cathedrals, monasteries, fortresses and preserved boyar’s palaces, demonstrates the unique culture and art of the late Middle Ages in Russia. Moscow is one of the rare cases of a city preserving; its beauty in perpetuity, whatever events unfold over time. To know more about Moscow’s history, our city sightseeing tour is a must.
			</p>
		</div>
	</div>
<?php $this->placeholder('953970f6-cadc-11da-8d0d-505054503030')->captureEnd(); ?>


<?php $this->placeholder('a55408ff-cae7-11da-8d0d-505054503030')->captureStart(); ?>
	<div class="excursion-help-item">
		<div class="excursion-help-item-header">Tretyakov Art Gallery</div>
		<div class="excursion-help-item-body">
			<p class="bolder">Duration - 3 hours</p>
			<p class="bolder">Description:</p>
			<p>
				The State Tretyakov Gallery is a museum of world significance, with collections running into many thousands of works of art, from Old Russia icons to contemporary paintings. The collection of the Tretyakov brothers was opened to the public as a private museum in 1874 and it immediately became widely popular.
			</p>
			<p>
				It includes such great masterpieces as the famous Old Testament, Trinity, the only original icon by Andrei Rublev, a number of other icons attributed to Rublev and Theophanes the Greek, and a collection of outstanding works of 16th century Russian icon painting. Another section of the gallery is devoted to the second half of the 19th century, and paintings of Russian realist art produced by the famous artists community of Peredvizhniki.
			</p>
		</div>
	</div>
<?php $this->placeholder('a55408ff-cae7-11da-8d0d-505054503030')->captureEnd(); ?>


<?php $this->placeholder('2dd03a30-d582-11dd-b386-0015170f33dc')->captureStart(); ?>
	<div class="excursion-help-item">
		<div class="excursion-help-item-header">KREMLIN + ARMOURY CHAMBER</div>
		<div class="excursion-help-item-body">
			<p>Sightseeing time: 4 h.</p>
			<p>The Armoury schedule: 10:00, 12:00, 14:30, 16:30.</p>
			<p>
				The sightseeing price for Russian groups and tourists is calculated upon request.
			</p>
			<p>
				The Moscow Kremlin is one of the largest architectural ensembles in the world. It is home to the Moscow Kremlin State Museum of History and Culture.
			</p>
			<p>
				The first Kremlin walls were built in the mid-12th century. Two hundred years later, Moscow became the capital of a small princedom and since that time, the Kremlin has been the residence of Russia`s rulers. Today, part of the Kremlin is occupied by presidential offices; this area is closed to visitors. But during our tour, you will visit the majestic whitestone cathedrals of Blagoveshchensky (the Annunciation); Arkhangelsky (built in the name of Archangel Michael); and Uspensky (the Assumption), where every tsar and emperor of Russia was crowned; the Church of the Deposition of Our Lady`s Robe; the Patriarch`s Chambers with the Church of the Twelve Apostles; and the Ivan the Great Bell Tower Ensemble.
			</p>
			<p>
				They all have stunning architecture and magnificent inner decoration. You will be amazed, too, by the size of the Tsar Kolokol, the 200-tonne Tsar Bell. The art of casting was highly developed in Moscow many centuries ago; the Tsar Cannon is another fine example of the early masters` skills.
			</p>
			<p>
				The Cathedral of the Assumption, built by architect Aristotle Fioravanti in 1475-1479, was the most important church in the country. All Russian tsars were crowned there. The Cathedral of the Annunciation was the private church of the Grand Princes of Muscovy and, later, of Russian tsars.
			</p>
			<p>
				The Cathedral of the Archangel, built by architect Aleviz Novy in 1505-1508, was the burial vault of the Grand Princes of Muscovy, of princes and Russian tsars up to the early 18th century. The Church of the Deposition of Our Lady`s Robe, built by Pskov craftsmen in 1484-1485, was the home church of the Russian metropolitans and, later, of the Russian patriarchs. The Patriarch's Chambers with the Church of the Twelve Apostles were built in 1653-1655 for Patriarch Nikon, the first Russian "faith reformer."
			</p>
			<p>
				The Ivan the Great Bell Tower Ensemble was created during the 16th and 17th centuries. Between 1505 and 1508, Italian architect Bon Friasin directed construction. A hundred years later, a new tier was added and the tower reached 81 metres in height. In 1532-1552, a church was built next to the Bell Tower to the design of architect Petroch Maly. At the end of the 17th century, this church was transformed into an Assumption Belfry. The first floor houses a museum exhibition hall.
			</p>
			<p>
				You also visit the Armoury and the Diamond Fund. The Armoury was first established as an arms and armour workshop attached to the royal court. Jewellers and icon painters arrived later. The work of the Kremlin masters ceased under Peter the Great, and in the 18th century, the Armoury became a royal treasury. It was the first museum in Moscow.
			</p>
			<p>
				Now the Armoury is a world–renowned museum, a unique treasure–house containing a wealth of articles of decorative and applied arts of Russia, European countries and of the Orient of the 4th to 20th centuries. The Armoury is located in a building specially erected for it by architect Konstantin Ton in 1840–1851.
			</p>
			<p>
				Now, it displays ancient arms, the tsars’ crown jewels and many magnificent works of art. Here, you will see unique specimens of Russian and foreign craftsmanship, royal regalia and gifts from ambassadors. You will admire the famous golden "cap" of Vladimir Monomakh, used to crown all Russian tsars until Peter I, and the imperial crown of Catherine I, made of gilded silver. The Armoury has the finest collection of old English silverware in the world, made by London silversmiths of the 16th and 17th centuries, Faberge Easter eggs and a unique collection of carriages spanning the 16th and 18th centuries. The collection makes it one of the most impressive museums in Moscow.
			</p>
		</div>
	</div>
<?php $this->placeholder('2dd03a30-d582-11dd-b386-0015170f33dc')->captureEnd(); ?>


<?php $this->placeholder('a55408cd-cae7-11da-8d0d-505054503030')->captureStart(); ?>
    <div class="excursion-help-item">
        <div class="excursion-help-item-header">KREMLIN + ARMOURY CHAMBER + DIAMOND FUND</div>
        <div class="excursion-help-item-body">
            <p>
                Sightseeing time: 4 h.
            </p>
            <p>
                The Armoury schedule: 10:00, 12:00, 14:30, 16:30.
            </p>
            <p>
                The Diamond Fund schedule: 10:00, 12:00, 14:30, 16:30.
            </p>
            <p>
                The sightseeing price for Russian groups and tourists is calculated upon request.
            </p>
            <p>
                The Moscow Kremlin is one of the largest architectural ensembles in the world. It is home to the Moscow Kremlin State Museum of History and Culture.
            </p>
            <p>
                The first Kremlin walls were built in the mid-12th century. Two hundred years later, Moscow became the capital of a small princedom and since that time, the Kremlin has been the residence of Russia`s rulers. Today, part of the Kremlin is occupied by presidential offices; this area is closed to visitors. But during our tour, you will visit the majestic whitestone cathedrals of Blagoveshchensky (the Annunciation); Arkhangelsky (built in the name of Archangel Michael); and Uspensky (the Assumption), where every tsar and emperor of Russia was crowned; the Church of the Deposition of Our Lady`s Robe; the Patriarch`s Chambers with the Church of the Twelve Apostles; and the Ivan the Great Bell Tower Ensemble.
            </p>
            <p>
                They all have stunning architecture and magnificent inner decoration. You will be amazed, too, by the size of the Tsar Kolokol, the 200-tonne Tsar Bell. The art of casting was highly developed in Moscow many centuries ago; the Tsar Cannon is another fine example of the early masters` skills.
            </p>
            <p>
                The Cathedral of the Assumption, built by architect Aristotle Fioravanti in 1475-1479, was the most important church in the country. All Russian tsars were crowned there. The Cathedral of the Annunciation was the private church of the Grand Princes of Muscovy and, later, of Russian tsars.
            </p>
            <p>
                The Cathedral of the Archangel, built by architect Aleviz Novy in 1505-1508, was the burial vault of the Grand Princes of Muscovy, of princes and Russian tsars up to the early 18th century. The Church of the Deposition of Our Lady`s Robe, built by Pskov craftsmen in 1484-1485, was the home church of the Russian metropolitans and, later, of the Russian patriarchs. The Patriarch's Chambers with the Church of the Twelve Apostles were built in 1653-1655 for Patriarch Nikon, the first Russian "faith reformer."
            </p>
            <p>
                The Ivan the Great Bell Tower Ensemble was created during the 16th and 17th centuries. Between 1505 and 1508, Italian architect Bon Friasin directed construction. A hundred years later, a new tier was added and the tower reached 81 metres in height. In 1532-1552, a church was built next to the Bell Tower to the design of architect Petroch Maly. At the end of the 17th century, this church was transformed into an Assumption Belfry. The first floor houses a museum exhibition hall.
            </p>
            <p>
                You also visit the Armoury and the Diamond Fund. The Armoury was first established as an arms and armour workshop attached to the royal court. Jewellers and icon painters arrived later. The work of the Kremlin masters ceased under Peter the Great, and in the 18th century, the Armoury became a royal treasury. It was the first museum in Moscow.
            </p>
            <p>
                Now the Armoury is a world–renowned museum, a unique treasure–house containing a wealth of articles of decorative and applied arts of Russia, European countries and of the Orient of the 4th to 20th centuries. The Armoury is located in a building specially erected for it by architect Konstantin Ton in 1840–1851.
            </p>
            <p>
                Now, it displays ancient arms, the tsars’ crown jewels and many magnificent works of art. Here, you will see unique specimens of Russian and foreign craftsmanship, royal regalia and gifts from ambassadors. You will admire the famous golden "cap" of Vladimir Monomakh, used to crown all Russian tsars until Peter I, and the imperial crown of Catherine I, made of gilded silver. The Armoury has the finest collection of old English silverware in the world, made by London silversmiths of the 16th and 17th centuries, Faberge Easter eggs and a unique collection of carriages spanning the 16th and 18th centuries. The collection makes it one of the most impressive museums in Moscow.
            </p>
            <p>
                The Diamond Fund’s amazing exhibition displays unique state treasures, including a large imperial crown of gold and silver, 4,936 diamonds and pearls made for the coronation of Catherine the Great; the huge, world-famous Orlov (189.62 carat) and Shah (88.7 carat) diamonds; and the Big Bouquet, a magnificent piece of jewellery set with diamonds and emeralds from the 18th century. The exhibition also features a collection of Yakut diamonds and masterpieces by modern jewellers.
            </p>
        </div>
    </div>
<?php $this->placeholder('exc_msk_kreml_plus_armory_plus_diamond')->captureEnd(); ?>


<?php $this->placeholder('cb778d3a-d0b3-11dc-a7e1-0015170f33dc')->captureStart(); ?>
	<div class="excursion-help-item">
		<div class="excursion-help-item-header">Kremlin: Territory + Cathedrals + Patriarch's Palace</div>
		<div class="excursion-help-item-body">
			<p>Sightseeing time: 3 h.</p>
			<p>
				The Moscow Kremlin situated in the very heart of the capital of Russia has been included in the UNESCO World Heritage List. Its monumental walls, golden-domed cathedrals and ancient palaces proudly tower above the Moscow river making up the architectural ensemble of incomparable sublimity. The Kremlin now is the official residence of the President of the Russian Federation, as well as a state historical and cultural museum-preserve. 
			</p>
			<p>
				The territory of Kremlin features such renowned cultural monuments as the treasury house «Armoury Chamber», majestic ensemble of the Cathedral Square and the Patriarch’s palace with the Twelve Apostles’ Church. 
			</p>
			<p>
				The architectural ensemble of the Cathedral Square comprises the Assumption, Annunciation and Archangels’ Cathedrals, each of them contributing on its own to the history of our state. The Assumption Cathedral hosted the inaugurations of the Russian Tsars, Emperors and heads of the Russian Orthodox Church, the Annunciation Cathedral served as the home church of Moscow Great Princes and Tsars and was part of the Great Princes’ Palace, whilst the Archangel’s Cathedral is the dynastic necropolis of Moscow rulers. 
			</p>
			<p>
				The Patriarch’s Palace erected in 1633-1635 for Patriarch Nikon served as patriarch’s residence and hosted the meetings of the Holy Council, tsar’s and ambassadorial fests. Now it is a museum showing valuable items of the history and culture of the XVII century.
			</p>
		</div>
	</div>
<?php $this->placeholder('cb778d3a-d0b3-11dc-a7e1-0015170f33dc')->captureEnd(); ?>


<?php /* ------------------------- SPB --------------------------------------------------------------------------------- */ ?>
<?php $this->placeholder('138fad2e-caec-11da-8d0d-505054503030')->captureStart(); ?>
	<div class="excursion-help-item">
		<div class="excursion-help-item-header">ST PETERSBURG CITY TOUR</div>
		<div class="excursion-help-item-body">
			<p>Sightseeing time: 3 h.</p>
			<p>
				Nevsky Prospect, Kazan Cathedral, Stroganov Palace, Admiralty, Palace Square, Bazil Island Spit, Peter and Paul Fortress, Naval Museum, St. Petersburg University, Menshikov Palace, Academy of Fine Arts, Senate Square, monument to Peter the Great (the Bronze Horseman), Isaac`s Square, Mariinsky Palace, monument to Nicolas II, St. Isaac`s Cathedral, Palace Embankment, Marsovo Fields, Summer Gardens, Robespierre Embankment, Rastrelly Square, Smolny Cathedral, Anichkov Palace, monument to Catherine the Great, Square of Arts, State Russian Museum, Koniushennaya Square, Our Saviour-on-the-Spilled Blood, Griboyedov Canal.
			</p>
			<p>
				St. Petersburg is the second-largest city of Russia after Moscow. As European cities go, St. Petersburg is young. It was founded 302 years ago in 1703 by Peter the Great. Sixty-five rivers and canals, spanned by 360 bridges, criss-cross the city, located on 42 islands. It is not incidental that St. Petersburg is also called the Venice of the North. Our well-trained and experienced guides will colour your impressions and make your stay in St. Petersburg unforgettable.
			</p>
		</div>
	</div>
<?php $this->placeholder('138fad2e-caec-11da-8d0d-505054503030')->captureEnd(); ?>


<?php $this->placeholder('8c20af28-caee-11da-8d0d-505054503030')->captureStart(); ?>
	<div class="excursion-help-item">
		<div class="excursion-help-item-header">PETER AND PAUL FORTRESS</div>
		<div class="excursion-help-item-body">
			<p>Sightseeing time: 3 h.</p>
			<p>
				Peter and Paul Fortress in St. Petersburg was founded by Peter the Great in 1703. Besides the ancient fortifications, one of the great attractions is Peter and Paul Cathedral, built by the architect Trezini in 1733, with the burial vault of Peter the Great and other Russian tsars. Soon after its foundation, the fortress became the first political prison in Russia, reserved for the most important state prisoners. The museum in Trubetskoy bastion prison is open for the public.
			</p>
		</div>
	</div>
<?php $this->placeholder('8c20af28-caee-11da-8d0d-505054503030')->captureEnd(); ?>


<?php $this->placeholder('138fad3d-caec-11da-8d0d-505054503030')->captureStart(); ?>
	<div class="excursion-help-item">
		<div class="excursion-help-item-header">STATE HERMITAGE MUSEUM</div>
		<div class="excursion-help-item-body">
			<p>Sightseeing time: 3 h.</p>
			<p>
				The Hermitage Museum in St. Petersburg ranks among the most famous museums in the world. The whole complex of Winter Palace, Small Hermitage, Old Hermitage, New Hermitage and the Hermitage Theatre is known as the "State Hermitage". The setting is magnificent and lavish; malachite, jasper, agate and marble provide a fine backdrop to the treasures.
			</p>
			<p>
				The Hermitage collection shows the development of art and material culture in the West and the East from prehistoric times to the present day. There are remarkable collections of paintings, prints, sculptures as well as tapestries, carpets, objects d`art, archeological finds, furniture and unique articles of jewellery.
			</p>
		</div>
	</div>
<?php $this->placeholder('138fad3d-caec-11da-8d0d-505054503030')->captureEnd(); ?>

