<div id="transport-help" class="help-content">
	
</div>
<?php if (!empty($this->excsIds)) : ?>
<div id="excursion-help" class="help-content">
	<?php
	echo $this->render('index/helps/' . Zend_registry::get('lang') . '/excs.phtml');
	foreach ($this->excsIds as $excId)
	{
		echo $this->placeholder($excId);
	}
	?>
</div>	
<?php endif; ?>