<div id="payment-help" class="help-content">
	<p class="bolder">Information about payment:</p>
	<p>
		<span class="bolder">Bank wire transfer:</span>  with confirmation of the reservation we will send to you the invoice. Please be kindly informed that according to the Russian Legislation any payment from non-residents that we get by bank transfer should be based on a signed Agreement. In this case we will send to you also the Agreement.
	</p>
	<p>
		<span class="bolder">Online payment:</span> you can pay for all services you ordered by credit card online.
	</p>
</div>