.modal {
	position: absolute;
	top:expression(eval(document.documentElement.scrollTop)+200) !important;
}
.base-btn span {
	display:inline-block;
}
/**
 * Регистрация и ЛК клиента : Проблема с блоками у форм
 */
div.main-form-links-inner {
	width:26em;
}
div.reg-container table.main-form-table {
	background-color:#F2F2F2;
}
/**
 * Регистрация
 */
.main-form-block .block-body-inner {
	width: 70em;
}
.contacts-block .block-body-inner {
	width: 60em;
}
#pdn-block .block-body-inner {
	width: 60em;
}
#ordered-transport {
	margin-top:2em;
}
#ordered-excursion {
	margin-top:2em;
}
#main-form-step3 div.submit-block {
	margin-top:4em;
}
#hotel-breakfast-line {
	width:61%;
	overflow:hidden;
}
#hotel-block #hotel-price-block {
	width:61%;
	margin-left:14.8em;
}
/**
 * ЛК клиента : Шаблон
 */
div.center-block {
	height: 100%;
}
/**
 * ЛК клиента : Шапка и навигационное меню
 */
div.navigation-block-inner {
	float:left;
	white-space:nowrap;
}
div.div.top-block-textlogo {
	margin-left:0px;
}
.navigation li {
	behavior:url("/css/ie6hover.htc");
}
.navigation ul {
	behavior:url("/css/ie6hover.htc");
}
.navigation li.hover ul {
	display:block !important;
}
.navigation li.hover .main-menu-link {
	border-right:1px solid #808080;
	border-left:1px solid #808080;
	background:#ffffff;
}
.navigation ul {
	left:10px;
	width:156px;
}
/**
 * ЛК клиента : Информация по заказу
 */
#services-list-table td.pcc-base-table-actions {
	width:12em;
}
#order-info-payment-widget {
	width:14em;
}
/**
 * ЛК клиента : Персоны
 */
#persons-form-links span {
	background-color:#ffffff;
}
#persons-form-uploads-inner span {
	background-color:#F2F2F2;
}
div.person-doc div,div.person-doc span,div.person-doc img {
	background-color:#ffffff;
}
#persons-form .main-form-select {
	zoom:1;
}
#persons-visa-attention {
	margin-top:1em;
}
#persons-list-table td.persons-list-docs {
	width:20em;
}
