/*################################## Общее ###############################################*/
div.loader {
	top:400px;
}
div.service-help-outer {
	width:100%;
}
div.service-help {
	text-align:center;
	cursor:help;
	height:32px;
	width:12em;
	margin:0 auto;
	margin-bottom:1em;
}
div.service-help span {
	font-size:1.3em;
	color:#0000FF;
	border-bottom:1px dashed #0000FF;
}
div.service-help img {
	/*margin:0em 0em -0.8em 0.3em;*/
}
table.orders-table th {
	background: #dbe6f0;
	border:1px solid #808080;
}
table.orders-table td {
	background:#ffffff;
	border:1px solid #808080;
}
table.orders-table .action-cell {
	width:32px;
	padding:8px;
	text-align:center;
}
#reg-form-header {
	height:7em;
	z-index:999;
	position:relative;
}
#reg-form-header #reg-logo {
	display: block;
	position: absolute;
	top: -15px;
	left: 0;
	width: 200px;
	height: 100px;
	background-image: url("../img/event_logo.png");
	background-repeat: no-repeat;
}
#reg-form-header.ru #reg-logo {
	background-image: url("../img/event_logo_ru.png");
}
#reg-form-header #welt-logo{
	display: none;
	position: absolute;
	top: -10px;
	right: 5px;
	width: 185px;
	height: 60px;
	/*background-image: url("../img/logo_welt_form.gif");*/
	background-repeat: no-repeat;
}
#reg-form-header.ru #welt-logo {
	/*background-image: url("../img/logo_welt_form_ru.gif");*/
}
#reg-form-header.nologo {
	background: none;
}
#reg-form-header h2 {
	padding-top:1em;
}
#reg-form-header-right,#reg-form-header-right-wlang {
	position:absolute;
	right:5px;
	float:right;
	line-height:1.4em;
	text-align:right;
}
#reg-form-header-right {
	top:15px;
}
#reg-form-header-right-wlang {
	top:5px;
}
#reg-form-header-lang {
	margin-bottom:1em;
}
#reg-form-header-lang a {
	border-bottom: 1px dashed #32548D;
    color: #32548D;
    font-size: 1.2em;
}
#reg-form-header-phone {
	position: absolute;
	top:-10px;
	left:0;
	width:100%;
	text-align:center;
	color:#464646;
}
#reg-form-header-phone img {
	margin: 0 0.4em -0.25em 0;
}
.base-btn {
	cursor: pointer;
    display: inline-block;
    height: 41px;
    line-height: 41px;
    overflow: visible;
    padding: 0px 0px 0px 25px;
	background: url("../../img/base_btn_left.png") no-repeat scroll 0 0 transparent;
}
.base-btn span {
	border: medium none;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.7em;
    height: 41px;
    line-height: 41px;
    padding: 0px 26px 0px 0px;
	background: url("../../img/base_btn_right.png") no-repeat scroll 100% 0 transparent;
	color:#003399;
}
#intro-text strong, .info-text strong {
	font-weight: bolder;
}
#intro-text p[align="center"], .info-text[align="center"] {
	text-align: center;
}
#intro-text p[align="left"], .info-text[align="left"] {
	text-align: left;
}
#intro-text p[align="justify"], .info-text[align="justify"] {
	text-align: justify;
}
/*################################## Сообщения об ошибках ###############################################*/
.errors {
	color:#ff0000;
	line-height:1.5em;
}
/*################################## Registration information ###############################################*/
#reg-info-block, #main-form-step0 .submit-block {
	width: 70em;
}
#reg-info-block div.block-body-inner div.main-form-block-line {
	width:90%;
	margin:0 auto;
	float:none;
	clear:both;
}
#reg-info-block #reg-info-header {
	margin-bottom:1em;
	font-size:1.2em;
	font-weight:bolder;
	text-align:center;
}
#reg-info-block p, #reg-info-block ul {
	padding-bottom:1em;
	font-size:1.15em;
	text-align:justify;
}
#reg-info-block ul {
	margin-left: 2em;
}
#reg-info-block ul, #reg-info-block ul li {
	list-style: disc;
}
#reg-info-block p.centerer {
	text-align:center;
}
/*################################## Main contacts ###############################################*/

.contacts-block label {
	width:18em;
	margin-right: 2em;
}
.contacts-block .main-form-input-text {
	width: 24em;
}
.contacts-block select {
	width: 24.4em;
}
.contacts-block .contacts-title-line {
	margin:5px 0px 13px 0px;
}
.contacts-title-line span {
	//padding-top:3px;
	float:left;
	margin:0em 1em 0em 0.5em;
}
.contacts-title-line input {
	float:left;
}
.contacts-title-line span {
	//margin-top:3px;
	margin-top:0px;
}
.contacts-block .errors {
	margin-left:23.2em;
	margin-bottom:1em;
	width:30em;
}
#contacts-payment-line select {
	width:22.8em;
}
#contacts-form-note {
    margin-top: 1em;
    text-align: center;
}
/*################################## Persons ###############################################*/
#email {
	display:none;
}
.persons-block {
	white-space:normal;
	width: 70em;
	margin:0 auto;
}
.persons-block #reg-form-header {
	height: 6.5em;
}
.persons-block .block-body-inner {
	padding-top: 1em;
}
#added-persons table {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 1em;
}
#added-persons table td {
	height: 38px;
}
#added-persons table .actions {
	padding: 0.5em;
    white-space: nowrap;
    width: 34px;
}
#added-persons table .name {
	text-align: left;
}
#added-persons .visa .link {
	text-decoration: underline;
}
#persons-submit {
	width: 70em;
	margin-top:2em;
}
.persons-block ul {
	margin-left:2em;
}
.persons-block ul li{
	list-style:disc;
}
.persons-body {
	margin-top:1em;
	padding-bottom:1em;
}
.person-add {
	margin: 1.5em 0 0 0;
	float: right;
	clear: both;
}
.person-add .person-loader {
	margin-right: 1em;
	display: none;
}
.person-add .person-loader img {
	margin-bottom: -2px;
}
/**
 * Рег. сбор
 */
#part-info {
	margin-bottom: 25px;
}
#reg-fee-prices .type-name {
	width: 90px;
    font-weight: bold;
}
#reg-fee-caption {
	width:82%;
	margin:0 auto;
	float:none;
	clear:both;
	padding-top:1.5em;
	padding-left:1em;
}
#reg-fee-caption div.reg-fee-details {
	width:45%;
	float:left;
}
#reg-fee-caption div.first {
	margin-right:3em;
}
#reg-fee-caption div.clearer {
	padding-top:1em;
}
#reg-fee-caption ul {
	padding-top:0.5em;
}
#reg-fee-caption ul,#reg-fee-caption li {
	list-style:disc;
}
#reg-fee-caption li {
	margin-left:1.5em;
}
/**
 * Виза
 */
#visa-help h1, #visa-help h2 {
	color: #26416C;
    font-weight: bolder;
    margin-bottom: 1em;
    text-align: center;
}
#visa-help h1 {
	font-size: 1.3em;
}
#visa-help h2 {
	font-size: 1.3em;
}
#visa-help ul,#visa-help ol {
	margin-bottom: 1em;
}
/* Форма добавления новых персон */
.new-person {
	margin-top: 3em;
}
.new-person:first-child {
	margin-top: 0;
}
.new-person .person-header {
	padding: 0 1.5em 0.1em 1em;
	height: 24px;
	line-height: 24px;
	font-size: 1.2em;
}
.new-person .person-header .name {
	float: left;
	padding-left: 28px;
	background: url('../img/user24.gif') no-repeat left center;
}
.new-person .person-header .actions {
	float: right;
}
.new-person .person-header .delete-person {
	display: inline-block;
	background: url('../img/delete24.gif') no-repeat scroll right center;
	padding-right: 26px;
}
.new-person .person-body {
/*	border-top: 1px solid #808080;*/
    clear: both;
    margin-top: 0.5em;
    padding-top: 1.5em;
}
#persons-form {
	font-size: 12px;
}
#persons-form #smbt {
	position: absolute;
	top: -3000px;
}
#persons-form label {
	width: 320px;
	margin-right: 18px;
}
#persons-form select {
	width: 320px;
}
#persons-form .main-form-input-text, #persons-form textarea {
	width: 314px;
}
#persons-form select {
	width: 320px;
	float: none;
}
#persons-form .block-h {
	text-align:center;
	margin-top: 20px;
	margin-bottom: 5px;
	font-weight: bolder;
}
#persons-form .fields-h {
	width: 314px;
	margin-left: 338px;
	margin-top: 15px;
}
#persons-form .errors {
	width: 340px;
	margin-left: 340px;
	margin-top: 0.4em;
	margin-bottom: 0.1em;
	list-style: none;
}
#persons-form .errors li {
	list-style: none;
}
#persons-attention {
	width: 440px;
}
#added-persons-cont {
	margin-bottom: 1.5em;
}
.attention-block {
	background: url("../../img/alert48_yellow.gif") no-repeat scroll 10px center #F6F6F4;
    border: 1px solid #808080;
    font-size: 1.1em;
    margin: 0 auto;
    padding: 1em 2em 0.5em 75px;
    text-align: justify;
    margin-bottom: 2.5em;
}
.attention-block p {
	padding-bottom: 0.5em;
}
.other-val label {
	display: none;
}
.other-val input {
	display: none;
	margin-left: 338px;
}
#persons-form .visa-line select {
	width: 290px;
}
.ru #persons-form .visa-line select {
	width: 320px;
}
.ru #persons-form .info-link-small {
	display: none;
}
#persons-form .multi-line label {
	width: 300px;
	white-space: normal;
	margin-left: 20px;
}
#persons-form .multi-line input, #persons-form .multi-line select {
	margin-top: 28px;
}
/*################################## Hotel ###############################################*/
#hotel-block .attention {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 1.2em;
	font-size: 1.1em;
    text-align: center;
}
#hotel-block .attention a {
	text-decoration: underline;
}
.hotel-block {
	width:70em;
	margin:0 auto;
	margin-bottom:4em;
}
#hotel-block .big-input-line {
	margin-top:10px;
}
#hotel-block .big-input-line select {
	width:33.8em;
}
#hotel-block .big-input-line label {
	width:13.5em;
}
#hotel-block #hotel-breakfast-line div {
	line-height:1.8em;
}
.hotel-block .two-cell-line label {
	width:15em;
}
table.hotel-table {
	margin-bottom:1.5em;
}
#hotel-block .big-input-line #hotel-name {
	/*width:32em;*/
}
#hotel-sdate, #hotel-edate {
	width:8em;
} 
#hotel-accommodation,#hotel-bed-type,#hotel-breakfast {

    /*width:10em;*/
}
#hotel-extra-bed-label {
	margin-left:10em;
}
#hotel-extra-bed {
	margin-left:0.1em;
}
.hotel-block .hotel-tourist-line-first {
	margin-top:1em;
}
.hotel-block div.persons-select-block-outer {
	width:41em;
}
.hotel-block div.persons-select-block-inner label {
	width:10.5em;
	text-align:right;
}
#hotel-help-tooltip {
	display:none;
}
#hotel-block #hotel-price-block {
    clear: both;
    float: right;
    font-size: 1.2em;
    line-height: 2.2em;
    margin: 1em 7.6em 0 0;
    text-align: left;
    width: 61%;
	border-top: 1px solid #7d7d7d;
}
#hotel-block #hotel-price-note {
    /*color: #737373;*/
    font-size: 0.8em;
    margin: -0.9em 0 0 0;
}
#ordered-hotel tr.hotel-order-capt-row td {
    font-weight: bolder;
    text-align: center;
	background: #DBE6F0;
}
#ordered-hotel tr.hotel-order-padding-row td {
    border:none;
	background:white;
}
#ordered-hotel tr.hotel-order-summ-row td {
	text-align:right;
}
#ordered-hotel td.hotel-details-cell {
	text-align:left;
}
/* Диалог с информацией о выбранной гостинице */
#hotel-details-dialog {
	text-align:left;
	margin-bottom:1em;
}
#hotel-details-dialog #hotel-details-name {
	padding-top:0.5em;
	margin-bottom:1em;
	font-size:1.4em;
	color: #32548D;
}
#hotel-details-dialog #hotel-details-name img {
	margin-bottom: -0.2em;
    padding-left: 0.5em;
}
#hotel-details-dialog #hotel-details-caption {
	margin-bottom:1em;
}
#hotel-details-dialog #hotel-details-caption img {
	float:left;
	padding:0em 1em 0em 0em;
}
#hotel-details-dialog img.float-left {
	float:left;
	padding:0em 1em 0em 0em;
}
#hotel-details-dialog #hotel-details-additionals-list {
	margin-top:2em;
}
#hotel-details-dialog #hotel-details-additionals-list td.hotel-additional-name {
	text-align:left;
	width:65%;
}
#hotel-details-additional .metro {
	display: none;
}
#hotel-details-dialog #hotel-details-note {
	padding-top:0em;
}
#hotel-details-note {
	padding-top:2em;
}
#hotel-details-note p {
	padding-top: 1em;
}
#hotel-details-note ul {
	margin-left:2.6em;
	list-style:disc;
}
#hotel-details-note ul li {
	list-style:disc;
}
#hotel-details-dialog a {
	color: #0000E6;
}
#hotel-details-dialog .details-link {
	margin-top: 1em;
}
#hotel-map {
	display: none;
	width: 600px;
	height: 350px;
	margin: 0 auto;
	margin-top: 2em;
}
#cur-hotel-att {
	width: 470px;
	margin-left: 170px;
	text-align: justify;
	padding: 3px 0 3px 0;
}
/*################################## Transport ###############################################*/
.transport-block {
	width:70em;
	margin-bottom:4em;
}
.transport-block .main-form-block-line label {
	width:20em;
}
.transport-block .two-cell-line .main-form-input-text {
	width:12em;
}
.transport-block .two-cell-line label {
	width:14em;
}
.transport-block .two-cell-line #transport-date {
	width:10.5em;
}
#transport-desc {
	margin-bottom:2em;
}
#transport-desc p {
	font-size:1.1em;
}
.transport-block h3 {
	font-size:1.2em;
	font-weight:bolder;
	width:95%;
	margin:0 auto;
	margin-bottom:1em;
}
.transport-block p {
	width:95%;
	margin:0 auto;
	margin-bottom:0.5em;
}
.transport-block .big-line label {
	width:16em;
}
.transport-block .big-line select {
	width:31em;
}
.transport-table {
	margin-top:1em;
}
.transport-table .transport-table-service {
	width:35%;
}
.transport-table .transport-table-type {
	width:25%;
}
.transport-block .table-note-line {
	width:93%;
	margin-top:1em;
	margin-bottom:1.5em;
}
.transport-block .persons-select-area {
	margin-top:2em;
}
#transport-station {
	width:12.4em;
}
.block-body-inner .transport-number-line{
	margin-bottom:1.3em;
	text-align:right;
}
#transport-help-tooltip {
	display:none;
}
#ppc-order-loader {
	width:400px;
	top:-10px;
	left:27%;
}
.main-form .city-ch {
	display:inline-block;
	width: 150px;
	float: right;
	margin: -3px 15px 0 0;
}
.main-form .city-ch select {
	display: inline-block;
	width: 100%;
	float:none;
}
/*################################################# Meals #########################################################*/
.meal-block {
	width:70em;
}
.meal-block .service-help-outer {
	margin:2em 0 2em 0;
}
.meal-block label {
	width: 15em;
}
.meal-block select {
	width: 30em;
}
#meal-help-tooltip {
	display:none;
}
.meal-block .meal-name {
	width: 60%;
}
/*################################################# Others #########################################################*/
.other-block .capt-block {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 13px;
	float: none;
	text-align: justify;
}
.other-block .capt-block p {
	padding-bottom: 7px;
}
.other-block .capt-block .padd {
	padding-left: 20px;
}
.other-block .other-table .service-name {
	text-align: left;
} 
.other-block label {
	width: 130px;
}
.other-block select {
	width: 30em;
}
.other-block .table-note-line {
	width:93%;
	margin-top:1em;
	margin-bottom:1.5em;
}
/*################################## Optional programs (excursions) ###############################################*/
.excursion-block {
	width:70em;
}
.excursion-block h3 {
	font-size:1.2em;
	font-weight:bolder;
	width:95%;
	margin:0 auto;
	margin-bottom:1em;
}
.excursion-block .excursion-name {
	width: 45%;
}
.excursion-block .excursion-periods {
	width: 15em;
	white-space:nowrap;
}
.excursion-block .excursion-price ul {
	margin-left:1.5em;
	list-style:disc;
}
.excursion-block .excursion-price ul li {
	list-style:disc;
}
.excursion-block .table-note-line {
	width:93%;
	margin-top:1em;
	margin-bottom:2em;
}
.excursion-block label {
	width:15em;
}
.excursion-block select.excursion-select {
	width:30em;
}
.excursion-block .persons-select-area {
	margin-top:2em;
}
#excursion-accommodation-line {
	margin-top:0.7em;
}
#excursion-bed-type-label {
	margin-right: 1em;
    width: 12.5em;
	padding-left:4em;
}
#excursion-accommodation,#excursion-hotel-bed-type {
	width:10em;
}
#excursion-extra-bed-label {
	width:20.5em;
}
#ordered-excursion {
	margin-top:1em;
}
#excursion-help-tooltip {
	display:none;
}
.excursion-block div.service-help {
	margin-bottom:1.5em;
}
#excursion-help div.excursion-help-item {
	margin-bottom:3em;
}
#excursion-help div.excursion-help-item-header,#excursion-help div.big-header {
	margin-bottom:1em;
	font-size:1.3em;
	color:#26416c;
	font-weight:bolder;
	text-align:center;
}
#excursion-help div.big-header {
	margin: 1.5em 0 1.5em 0;
}
#excursion-help div.excursion-help-item .time, #excursion-help div.excursion-help-item .price {
	margin:0.5em 0 1em 0;
	text-decoration:underline;
}
#excursion-help div.excursion-help-item .time {
	float:left;
}
#excursion-help div.excursion-help-item .price {
	float:right;
	font-weight:bolder;
}
#excursion-help div.excursion-help-item .excursion-help-item-body p {
	text-align:justify;
}
#excursion-help div.excursion-help-item .excursion-help-item-body p.centerer{
	text-align: center;
}
#excursion-help div.excursion-help-item .excursion-help-item-body .images {
	text-align:center;
}
#excursion-help div.excursion-help-item .images img {
	margin-right:0.5em;
}
#excursion-help img.float-left {
	float:left;
	padding:0em 1em 0em 0em;
}
#excursion-help img.float-right {
	float:right;
	padding:0em 0em 0em 1em;
}
#excursions-attention {
	width: 95%;
	margin: 0 auto;
	margin-bottom: 1.5em;
}
#excursions-attention p {
	margin-bottom: 1em;
	text-align: justify;
}
#excursions-attention p.centerer {
	text-align: center;
}
.serv-att-block p {
    font-size: 1.1em;
    margin-bottom: 10px;
    padding: 0 15px;
    text-align: justify;
}
/*################################## Pdn ###############################################*/
#pdn-block div.pdn-block-inner {
	width:80%;
	margin:0 auto;
}
#pdn-text {
	height:25em;
	padding:1em;
	overflow:auto;
	border:1px solid #808080;
	background:#ffffff;
}
#pdn-text p {
	text-align:justify;
	text-indent:20px;
	margin-top:1em;
}
#pdn-text p.pdn-first {
	text-indent:0px;
	margin-top:0em;
	margin-bottom:1em;
}
#pdn-text ol {
	margin-left:2.5em;
}
#pdn-text ol li {
	list-style:disc;
}
#pdn-block label,#pdn-block input {
	/*float:right;*/

}
#pdn-block label {
	width:auto;
} 
#pdn-block div.pdn-agr-conf-line {
	margin-top:1em;
}
/*################################## Summary information ###############################################*/
#summary-block {
	width:70em;
}
#summary-block #summary-information {
	margin-bottom:2em;
	font-size:1.2em;
	text-align:center;
}
#summary-block div.summary-table-person {
	white-space:nowrap;
}
div.summary-table-container {
	width:100%;
	margin:0 auto;
	margin-bottom:3.5em;
}
table.summary-table th {
	background: #dbe6f0;
	border:1px solid #808080;
}
table.summary-table td {
	background:#ffffff;
	border:1px solid #808080;
}
table.summary-table td.summary-table-persons {
	width:200px;
	white-space:nowrap;
}
table.summary-table div.summary-table-person {
	margin:0.5em 0em 0.5em 0em;
	text-align:left;
	padding-left:1em;
}
#summary-block #visa-table {
	width:70%;
	margin:0 auto;
}
#summary-block  #reg-fee-table  {
	width:70%;
	margin:0 auto;
}
#summary-block  #reg-fee-table td.price-cell {
	width:10em;
}
#summary-block .visa-attention {
	color:#ff0000;
	text-align:left;
}
#hotel-summary {
	margin-bottom:1em;
}
/*################################## Jquery tooltip ###############################################*/
#tooltip {
	position: absolute;
	z-index: 9000;
	border: 1px solid #111;
	background-color: #ffffff;
	padding: 0.5em 1em 0.5em 1em;
	font-size:1.3em;
	text-align:left;
	width:25em;
}
#tooltip h3, #tooltip div { margin: 0; }
#tooltip p {
	text-indent:1.5em;
	text-align:justify;
	margin-bottom:0.5em;
}

/**
 * CUR_PROJECT
 */
.excursion-table th {
	line-height:2.5em;
}
.excursion-table .info-link img {
	margin-bottom:-0.8em;
}



#ui-datepicker-div {
	display: none;
}

/*################################## Css для средней по ширине версии формы ###############################################*/
.m-size #reg-info-block, .m-size #container .submit-block, .m-size .main-form-block{
	width: 700px;
}
.m-size .persons-select-block-outer {
	/*width: 350px;*/
    padding: 0 24%;
}
.m-size .persons-select-block-inner label {
	width: 300px;
}
/* Persons */
.m-size #persons-tourists .persons-input-text {
	width: 108px;
}
.m-size .no-visa #persons-tourists .persons-input-text {
	width: 150px;
}
.m-size #persons-tourists .person-sex-select {
	width: 82px;
}
.m-size .no-visa #persons-tourists .person-sex-select {
	width: 90px;
}
.m-size #persons-tourists .person-citizenship-select {
	width: 130px;
}
.m-size .no-visa #persons-tourists .person-citizenship-select {
	width: 160px;
}
/* Hotel */
.m-size #hotel-block .big-input-line label, .m-size #hotel-block .two-cell-line label {
	width: 150px;
	margin-right: 1.5em;
}
.m-size #hotel-block .big-input-line select  {
/*	width: 466px;*/
}
.m-size #hotel-block .big-input-line #hotel-name   {
	/*width: 438px;*/
}
.m-size #hotel-block .attention {
	width: 90%;
}
.m-size #hotel-block #hotel-extra-bed-label {
	width: 200px;
	margin-left: 95px;
	margin-right: 7px;
}
.m-size #hotel-block .persons-select-block-inner label {
	width: 140px;
	margin-right: 7px;
}
.m-size .hotel-block div.persons-select-block-outer {
	width: 550px;
}
/* Services */
.m-size .transport-block .big-line label, .transport-block .two-cell-line label {
	width: 150px;
	margin-right: 1.5em;
}

.m-size .transport-block .two-cell-line #transport-date {
	width: 117px;
}
.m-size .transport-block .two-cell-line .main-form-input-text  {
	width: 140px;
}
.m-size #transport-station {
	width: 146px;
}
.m-size .excursion-block label {
	width: 140px;
}
.m-size .excursion-block .persons-select-block-inner label {
	width: 300px;
}
.m-size #summary-block {
	width: 700px;
}
.m-size #summary-block #summary-information {
	width: 95%;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: left;
}
.m-size .result-message-inner {
	width: 600px;
}
#result-payment {
	width: 350px;
	margin: 0 auto;
	margin-top: 30px;
	background: #ffffff;
    border: 1px solid #515151;
    padding: 7px 10px;
}
#result-payment .payment-link {
	float: left;
	margin-right: 20px;
	text-decoration: underline;
	font-size: 1.3em;
	white-space: nowrap;
	text-align: center;
	line-height: 1.5em;
	min-width: 100px;
}
#result-payment .note {
	margin-top: 8px;
	color: #333333;
	text-align: center;
}
.m-size .meal-block label{
	width: 130px;
}

/*################################## Css для самой маленькой по ширине версии формы ###############################################*/
.s-size #reg-info-block, .s-size #container .submit-block, .s-size .main-form-block{
	width: 620px;
}
.s-size .persons-select-block-outer {
	width: 350px;
}
.s-size .persons-select-block-inner label {
	width: 300px;
}
/* Persons */
.s-size #persons-form label {
	width: 250px;
}
.s-size #persons-form .errors {
	margin-left: 270px;
}
/* Hotel */
.s-size #hotel-block .big-input-line label, .s-size #hotel-block .two-cell-line label  {
	width: 150px;
	margin-right: 10px;
}
.s-size #hotel-block .big-input-line select  {
	width: 426px;
}
.s-size #hotel-block .big-input-line #hotel-name {
	width: 398px;
}
.s-size #hotel-sdate, .s-size #hotel-edate {
	width: 105px;
}
.s-size #hotel-block .attention {
	width: 90%;
}
.s-size #hotel-block #hotel-extra-bed-label {
	width: 200px;
	margin-left: 6px;
	margin-right: 7px;
}
.s-size #hotel-block .persons-select-block-inner label {
	width: 140px;
	margin-right: 7px;
}
.s-size .hotel-block div.persons-select-block-outer {
	width: 550px;
}
.s-size #hotel-block #hotel-price-block {
	width: 68%;
	margin: 10px 37px 0 0;
}
/* Services */
.s-size  .right-input {
	width: 97px !important;
}
.s-size .transport-block .big-line select {
	width: 410px;
}
.s-size .transport-block .big-line label, .transport-block .two-cell-line label {
	width: 150px;
	margin-right: 10px;
}

.s-size .transport-block .two-cell-line #transport-date {
	width: 117px;
}
.s-size .transport-block .two-cell-line .main-form-input-text  {
	width: 140px;
}
.s-size #transport-station {
	width: 146px;
}
.s-size .excursion-block label {
	width: 140px;
	margin-right: 10px;
}
.s-size .excursion-block select.excursion-select {
	width: 410px;
}
.s-size .excursion-block .persons-select-block-inner label {
	width: 300px;
}
/* Meal */
.s-size .meal-block label {
	width: 140px;
	margin-right: 10px;
}
.s-size .meal-block select {
	width: 410px;
}
/* Summary */
.s-size #summary-block {
	width: 620px;
}
.s-size #summary-block #summary-information {
	width: 95%;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: left;
}
/* Contacts & other */
.s-size .result-message-inner {
	width: 600px;
}
.s-size .contacts-block .main-form-input-text {
	width: 300px;
}
.s-size select {
	width: 305px;
}
.s-size #contacts-payment-line select {
	width: 277px;
}
.s-size .contacts-block .errors {
	margin-left: 265px;
	margin-bottom: 7px;
	margin-top: 4px;
	width: 320px;
}

/*################################## Тезисы ###############################################*/
.abstract-f {
    margin-top: 3em;
}
.abstract-f .block-title {
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
}
.abstract-f .block-title .note {
    font-weight: normal;
    font-size: 12px;
}
.abstract-f:first-child {
    margin-top: 0;
}
.abstract-f .abstract-header {
    padding: 0 1.5em 0.1em 1em;
    height: 24px;
    line-height: 24px;
    font-size: 1.2em;
}
.abstract-f .abstract-header .name {
    float: left;
    padding-left: 28px;
    background: url('../img/user24.gif') no-repeat left center;
}
.abstract-f .abstract-header .actions {
    float: right;
}
.abstract-f .abstract-header .actions .link {
    display: inline-block;
    padding-right: 22px;
}
.abstract-f .abstract-header .delete-abstract {
    background: url('../img/toggle_minus.gif') no-repeat scroll right 5px;
}
.abstract-f .abstract-header .fill-abstract {
    background: url('../img/toggle_plus.gif') no-repeat scroll right 5px;
}
.abstract-f .abstract-header .actions .hidden {
    display: none;
}
.abstract-f .abstract-body {
    border-top: 1px solid #808080;
    clear: both;
    margin-top: 0.5em;
    padding-top: 1.5em;
}
.abstract-f .errors {
    width: 340px;
    margin-left: 260px;
    margin-top: 5px;
    margin-bottom: 1px;
    list-style: none;
    clear: both;
}
.abstract-f label {
    width: 240px;
    margin-right: 15px;
}
.abstract-f .main-form-input-text {
    width: 314px;
    float: none;
}
.abstract-f select {
    width: 320px;
    float: none;
}
.contribs-block {
    clear: both;
    float: none;
    width: 94%;
    margin: 0 auto;
}
.contrib-block {
    clear: both;
}
.contrib-block .block {
    float: left;
    width: 155px;
}
.contrib-block .num {
    width: 25px;
    padding-top: 24px;
    font-size: 13px;
}
.contrib-block label, .contrib-block .main-form-input-text {
    width: 90%;
    float: none;
}
.contrib-block .main-form-input-text {
    margin-top: 6px;
}
.abstract-texts {
    clear: both;
    float: none;
    width: 94%;
    margin: 0 auto;
}
.a-text-block label, .a-text-block .main-form-input-text {
    width: 625px;
    float: none;
}
.a-text-block .main-form-input-text {
    margin-top: 6px;
    height: 100px;
    font-size: 12px;
}
.abstract-f .abstract-texts .errors {
    margin-left: 2px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
}

 .t-dnone{
    display:none;
}
.p-bol{
    font-weight:bolder;padding:10px 50px 10px 20px ;
}

