<div class="clear"></div>


<?php


$f = $this->element;
$lang = Zend_Registry::get('lang');
echo $f->renderElem('personId', 'hidden');

echo $f->renderElem('status', 'hidden');


echo $f->renderElem('theme');
echo $f->renderElem('section');
echo $f->renderElem('form');?>
<p class="p-bol">Первый язык – язык, на котором написаны тезисы. Желательно привести перевод названия, транскрипцию фамилий, наименование организации и город для корректной публикации в сборнике тезисов. Пожалуйста, НЕ используйте одни заглавные буквы</p>

<?php echo $f->renderElem('title');
echo $f->renderElem('title2');
echo $f->renderElem('authors');
echo $f->renderElem('authors2');
echo $f->renderElem('company');
echo $f->renderElem('company2');
echo $f->renderElem('city');
echo $f->renderElem('city2');
echo $f->renderElem('notes');
echo $f->renderElem('lector');







//if($_SERVER['REMOTE_ADDR']=='192.168.2.98'  || $_SERVER['REMOTE_ADDR']=='192.168.2.186')
//{
    $personsDocsTable = new Welt_DbTable_PersonsDocuments();
    $docs=$personsDocsTable->getPersonDocsList($f->personId->getValue());

//};



?>


<div class="block-title main-form-block-line">
	<div class="note">
		<?php //echo $this->translate('Общий объем представляемого материала не более 250 слов.'); ?>
		<?php
		/*
		echo $this->translate(
			'Общий объем представляемого материала не более %s слов.',
			array(Application_Form_Abstracts::MAX_TEXTS_SYMBOLS)
		);
		 */
		?>
	</div>
</div>
<div class="abstract-texts">
<?php

echo $f->renderElem('goalText', 'a-text-block');?>


<?php //if($_SERVER['REMOTE_ADDR']=='192.168.2.98'  || $_SERVER['REMOTE_ADDR']=='192.168.2.186'):?>

<div class="main-form-block-line">
    <?php if(sizeof($docs)):?>
    <label>Загруженные файлы:</label><div style="width:384px;float:right;">
    <?php foreach($docs as $doc):?>
        <div>
      <a href="/uploads/<?php echo$doc['file_name'].".".$doc['extension']?>">  <?php echo $doc['file_name'].".".$doc['extension'];?></a>
        <a class="del-doc" style="color:red" data="<?php echo $doc['id']?>">[X]</a></div>

    <?php endforeach;?>
    </div>
    <div class="clear"></div>
    <?php endif;?>
</div>
<?php echo $f->renderElem('passport'.$f->num); ?>



<?php //endif;?>
<div class="main-form-block-line" style="margin-top: 10px;">
	<?php //echo $this->translate('Оргкомитет рассмотрит возможность использования представленного Вами материала соответственно форме выбранного доклада. Докладчик будет извещен о решении.'); ?>
</div>
</div>
<div class="clear"></div>