<div class="clear"></div>
<?php
$f = $this->element;
echo $f->renderElem('lname');
echo $f->renderElem('fname');
echo $f->renderElem('patronymic');
echo $f->renderElem('bage_fio');
echo $f->renderElem('email');
echo $f->renderElem('sex');
echo $f->renderElem('citizenship');
echo $f->renderElem('city');
echo $f->renderElem('company_name');
echo $f->renderElem('post');
echo $f->renderElem('post_adress');
echo $f->renderElem('pt');
?>

<?php if (!is_null($f->visa)) : ?>
<br/><div class="main-form-block-line visa-line">
    <label for="<?php echo $f->visa->getId(); ?>">
        <?php echo $f->visa->getLabel(); ?>
    </label>
    <?php echo '<span style="z-index: 100; position: relative; top: 20px;">'.$f->visa; ?>
    <a title="<?php echo $this->translate('Click here to receive information'); ?>" class="info-link-small" onclick="showInfo('visa','Visa support information');">
        <img alt="<?php echo $this->translate('Click here to receive information'); ?>" src="/img/info24.gif">
    </a>
	</span>
</div>
<?php endif; ?>
<div class="clear"></div>