	<div class="main-form-block contacts-block">
	<?php echo $this->element->getView()->header; ?>
	<div class="block-body-outer">
		<div class="block-body-inner">
			<?php //Если тип регистрации - открытая ?>
			<?php if ($this->element->getView()->settings->reg->type == 0) : ?>
				<div class="main-form-block-line">
					<label for="<?php echo $this->element->email->getId() ?>">
						<?php echo $this->element->email->getLabel() ?>
					</label>
					<?php echo $this->element->email ?>
				</div>
				<div class="main-form-block-line">
					<label for="<?php echo $this->element->password->getId() ?>">
						<?php echo $this->element->password->getLabel() ?>
					</label>
					<?php echo $this->element->password ?>
				</div>
				<div class="main-form-block-line">
					<label for="<?php echo $this->element->passwordConf->getId() ?>">
						<?php echo $this->element->passwordConf->getLabel() ?>
					</label>
					<?php echo $this->element->passwordConf ?>
				</div>
			<?php endif; ?>
			<div class="main-form-block-line">
				<label for="<?php echo $this->element->fname->getId() ?>">
					<?php echo $this->element->fname->getLabel() ?>
				</label>
				<?php echo $this->element->fname ?>
			</div>
			<div class="main-form-block-line">
				<label for="<?php echo $this->element->lname->getId() ?>">
					<?php echo $this->element->lname->getLabel() ?>
				</label>
				<?php echo $this->element->lname ?>
			</div>
			<div class="main-form-block-line">
				<label for="<?php echo $this->element->phone->getId() ?>">
					<?php echo $this->element->phone->getLabel() ?>
				</label>
				<?php echo $this->element->phone ?>
			</div>
			<?php if ($this->element->getView()->lang=='en') : ?>
				<div class="main-form-block-line contacts-title-line">
					<label><?php echo $this->element->title->getLabel() ?></label>
					<?php $i=0; ?>
					<?php foreach($this->element->title->getMultiOptions() as $option)  : ?>
						<?php if ((isset($this->element->title->curValue) && $this->element->title->curValue==$option) || $i==0) : ?>
							<input type="radio" value="<?php echo $option; ?>" id="contacts-title" name="title" checked="checked" />
						<?php else :?>
							<input type="radio" value="<?php echo $option; ?>" id="contacts-title" name="title" />
						<?php endif; ?>
						<?php $i++;?>
						<span>
							<?php echo $option; ?>
						</span>
					<?php endforeach; ?>
				</div>
			<?php endif; ?>
			<div class="main-form-block-line">
				<label for="<?php echo $this->element->company->getId() ?>">
					<?php echo $this->element->company->getLabel() ?>
				</label>
				<?php echo $this->element->company ?>
			</div>
			<div class="main-form-block-line hidden">
				<label for="<?php echo $this->element->address->getId() ?>">
					<?php echo $this->element->address->getLabel() ?>
				</label>
				<?php echo $this->element->address ?>
			</div>
			<div class="main-form-block-line">
				<label for="<?php echo $this->element->fax->getId() ?>">
					<?php echo $this->element->fax->getLabel() ?>
				</label>
				<?php echo $this->element->fax ?>
			</div>
			<div id="contacts-payment-line" class="main-form-block-line">
				<label for="<?php echo $this->element->payment->getId() ?>">
					<?php echo $this->element->payment->getLabel() ?>
				</label>
				<?php echo $this->element->payment ?>
				<a class="info-link-small" title="<?php echo $this->translate('Click here to receive information'); ?>" onclick="showInfo('payment','<?php echo $this->translate('Payment information'); ?>');"><img src="/img/info24.gif" alt="<?php echo $this->translate('Click here to receive information'); ?>" /></a>
			</div>
		</div>
		</div>
	</div>
	<div id="pdn-block" class="main-form-block">
		<div class="main-form-block-header">
			<h2><?php echo $this->translate('Consent to Personal Data Processing'); ?></h2>
		</div>
		<div class="block-body-outer">
		<div class="block-body-inner"> 
		<div class="pdn-block-inner">
			<div class="main-form-block-line">
				<div id="pdn-text">
					<?php echo Zend_Layout::getMvcInstance()->getView()->render('/index/'.Zend_Registry::get('lang').'/pdn.phtml') ?>
				</div>
			</div>
			<div class="main-form-block-line pdn-agr-conf-line">

				<label id="pdn-agr-label" for="<?php echo $this->element->pdnAgr->getId() ?>">
					<?php echo $this->element->pdnAgr->getLabel() ?>
				</label>
                <?php echo $this->element->pdnAgr ?>
			</div>
			<div class="main-form-block-line">

				<label id="pdn-delete-label" for="<?php echo $this->element->pdnDelete->getId() ?>">
					<?php echo $this->element->pdnDelete->getLabel() ?>
				</label>
                <?php echo $this->element->pdnDelete ?>
			</div>
		</div>
		</div>
		</div>
		<div id="contacts-form-note"><span class="required">*</span> - <?php echo $this->translate('Fields marked * are obligatory'); ?></div>
	</div>
	<div class="submit-block">
        <input id="prev-step" class="color green button" value="<?php echo $this->translate('Previous step'); ?>" type="button">

        <button id="next-step-btn" style="margin-left: 54%;" class="color green button" onclick="$('#main-form-step5').submit();"><?php echo $this->translate('Finish'); ?></button>

	</div>

    <script type="text/javascript">
        $(document).ready(function(){

            $('#prev-step').click(function() {
                window.location='<?php echo 'http://'.$_SERVER['HTTP_HOST'].'/step4/'; ?>';
            });

        });

    </script>