<?php $this->headTitle('Contacts'); ?>
<div id="ppc-contacts">
	<h2 id="contacts-header" class="center-block-header"><?php echo $this->translate('Contacts'); ?></h2>
	<div id="ppc-contacts-body" class="center-block-bordered-content">
		<p class="ppc-contacts-first"><?php echo $this->translate('If you have any questions please contact us'); ?>:</p>
		<p>
			<?php echo $this->eventParams->coordNameLng; ?>, email:   
			<a href="mailto:<?php echo $this->eventParams['coord_email'].'?subject='.$this->eventParams->eventNameLng; ?>"><?php echo $this->eventParams['coord_email']; ?></a> ,
			<?php echo $this->translate('phone'); ?>: <?php echo $this->displayCoordPhone($this->eventParams['coord_phone'], $this->eventParams['coord_phone_ext']); ?>
		</p>
	</div>
</div>
