<?php $this->headTitle('Main'); ?>
<?php $this->inlineScript()->captureStart(); ?>
	$(window).load(function(){ ppc.orderInfo.init(); });
<?php $this->inlineScript()->captureEnd(); ?>
<div id="ppc-order-info">
<?php echo $this->render('/index/'.$this->lang.'/order-info-help.phtml'); ?>
<h2 class="center-block-header">
	<?php echo $this->translate('Service information'); ?>
	<span class="info-link link" title="<?php echo $this->translate('Click here to receive information'); ?>" onclick="showInfo('order-info');">
		<img src="/img/info32.gif" alt="<?php echo $this->translate('Click here to receive information'); ?>" />
	</span>
</h2>
<div class="base-widgets-outer clearfix">
<div class="base-widgets-inner clearfix">
	<div class="base-widget-container first-widget">
		<div class="base-widget">
			<ul class="base-widget-left">
				<li><?php echo $this->translate('Registration date'); ?>:</li>
				<li><?php echo $this->translate('Request number'); ?>:</li>
				<li><?php echo $this->translate('Persons'); ?>:</li>
			</ul>
			<ul class="base-widget-right">
				<li><?php echo Welt_Functions::dateFromMysql($this->appData['created']); ?></li>
				<li>
					<?php if (trim($this->appData['tour_number'])!='') : ?>
						<?php echo $this->appData['tour_number']; ?>
					<?php else : ?>
						-
					<?php endif; ?>
				</li>
				<li><?php echo $this->appData['counts']['personsCount']; ?></li>
			</ul>
		</div>	
	</div>
	<div class="base-widget-container">
		<div class="base-widget" id="order-info-payment-widget">
			<ul class="base-widget-left">
				<li><?php echo $this->translate('Total sum'); ?>:</li>
				<li><?php echo $this->translate('Already paid'); ?>:</li>
				<li><?php echo $this->translate('Sum to pay'); ?>:</li>
			</ul>
			<ul class="base-widget-right">
				<li>
					<?php if($this->appData['summ']!=0) : ?>
						<?php echo $this->appData['summ']; ?>
					<?php else : ?>
						<?php echo $this->translate('By request'); ?>
					<?php endif; ?>
				</li>
				<li>
					<?php echo $this->appData['paid_summ']; ?>
				</li>
				<li>
					<?php if($this->appData['summ_to_pay']===0) : ?>
						<?php echo $this->translate('By request'); ?>
					<?php else : ?>
						<?php echo $this->appData['summ_to_pay']; ?>
					<?php endif; ?>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>
<div class="order-info-services">
	<?php echo $this->render('index/services-list.phtml'); ?>
</div>	
</div>
