<div class="services-list">
	<div id="services-details-dialog">
		<span class="dialog-title hidden"><?php echo $this->translate('Service details'); ?></span>
		<div id="service-details-loader" class="inline-ajax-loader">
			<div class="inline-ajax-loader-content">
				<?php echo $this->translate('Loading'); ?>&nbsp;<img src="/img/loader_s2.gif" />
			</div>
		</div>
		<div id="services-details-dialog-content"></div>
	</div>
	<div id="services-edit-dialog">
		<span class="dialog-title hidden"><?php echo $this->translate('Service edit request'); ?></span>
		<div class="services-edit-dialog-success">
			<?php echo $this->translate('Your request is accepted. It will be processed soon.'); ?>
		</div>
		<div id="service-edit-loader" class="inline-ajax-loader">
			<div class="inline-ajax-loader-content">
				<?php echo $this->translate('Loading'); ?>&nbsp;<img src="/img/loader_s2.gif" />
			</div>
		</div>
		<div id="services-edit-dialog-content"></div>
		<div class="ui-fix-buttons hidden">
			<span><?php echo $this->translate('Send request'); ?></span>
			<span><?php echo $this->translate('Close'); ?></span>
		</div>
	</div>
	<div id="service-cancel-dialog" class="ppc-modal-dialog">
		<?php echo $this->translate('Your request is accepted. It will be processed soon.'); ?>
	</div>
	<span class="service-canceled-text hidden">
		<br />(<?php echo $this->translate('request for cancellation has been sended'); ?>)
	</span>
	<h2><?php echo $this->translate('Services list'); ?></h2>
	<div class="services-list-body">
		<?php if ($this->eventParams['regFinished'] === false) : ?>
			<div class="services-list-actions clearfix">
				<a href="/ppc/order/reg.form/" title="<?php echo $this->translate('Add new services/persons'); ?>" id="service-add-link" class="add-link-green-32 link"><?php echo $this->translate('Add new services/persons'); ?></a>
			</div>
		<?php endif; ?>
		<?php if(sizeof($this->servicesData)>0) : ?>
		<table id="services-list-table" class="ppc-base-table">
			<thead>
				<tr>
					<th><?php echo $this->translate('Service name'); ?></th>
					<th><?php echo $this->translate('Period (date)'); ?></th>
					<th><?php echo $this->translate('Persons'); ?></th>
					<th><?php echo $this->translate('Sum').' ('.$this->translate('RUR'); ?>)</th>
					<th class="pcc-base-table-details"><?php echo $this->translate('Details'); ?></th>
					<th colspan="3">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			<?php foreach($this->servicesData as $serviceOrder) : ?>
				<?php $addClass=''; ?>
				<?php ($serviceOrder['status']==8 || $serviceOrder['status']==10) ?  $addClass.='canceled-service-line' : $addClass.=''; //Если подан запрос на аннуляцию или услуга анулированна со штрафом?>
				<tr id="services-list-line-<?php echo $serviceOrder['service_sys_name']; ?>-<?php echo $serviceOrder['id']; ?>" class="services-list-line <?php echo $addClass; ?>">
					<td class="pcc-base-table-name">
						<?php echo $serviceOrder['caption']; ?>
						<?php if($serviceOrder['status']==10) :  ?>
							(<?php echo $this->translate('canceled with penalty'); ?>)
						<?php endif; ?>
						<?php if($serviceOrder['status']==8) : ?>
							<br />(<?php echo $this->translate('request for cancellation has been sended'); ?>)
						<?php endif; ?>
					</td>
					<td class="pcc-base-table-period">
						<?php if (isset($serviceOrder['start_date']) && isset($serviceOrder['end_date'])) : ?>
							<?php if ($serviceOrder['start_date']==$serviceOrder['end_date']) : ?>
								<?php echo $serviceOrder['start_date']; ?>
							<?php else : ?>
								<?php echo Welt_Functions::dateFromMysql($serviceOrder['start_date']); ?> - 
								<?php echo Welt_Functions::dateFromMysql($serviceOrder['end_date']); ?>
							<?php endif; ?>
						<?php else : ?>
							<?php if (isset($serviceOrder['date'])) : ?>
								<?php echo Welt_Functions::dateFromMysql($serviceOrder['date']); ?>
							<?php else : ?>
								-
							<?php endif;?>
						<?php endif;?>
					</td>
					<td class="pcc-base-table-persons">
						<ol class="service-list-persons">
							<?php foreach($serviceOrder['persons'] as $person) : ?>
							<li><?php echo $person['name']; ?></li>
							<?php endforeach; ?>
						</ol>
					</td>
					<td class="pcc-base-table-summ">
						<?php if (isset($serviceOrder['summ'])) : ?>
							<?php if ($serviceOrder['summ']!=0) : ?>
								<?php echo $serviceOrder['summ']; ?>
							<?php else : ?>
								<?php if ($serviceOrder['specParams']['canBeFree'] == 1) : ?>
									-
								<?php else : ?>
									<?php echo $this->translate('By request'); ?>
								<?php endif; ?>
							<?php endif; ?>
						<?php else : ?>
							-
						<?php endif; ?>
					</td>
					<td class="pcc-base-table-details">
						<?php if ($serviceOrder['specParams']['haveDetails'] == 1) : ?>
							<div class="service-details-link-block clearfix">
								<span class="details-small link" onclick="servicesObj.showDetails('<?php echo $serviceOrder['id'].'\',\''.$serviceOrder['service_sys_name']; ?>');">
									<?php echo $this->translate('Show details'); ?>
								</span>
							</div>
							<div class="service-details"></div>
						<?php endif; ?>
					</td>
					<td class="pcc-base-table-action">
						<?php if($serviceOrder['status'] == 2) :  ?> 
						<?php if ($serviceOrder['specParams']['haveConfirmation'] == 1) : ?>
							<?php if ($serviceOrder['confirmation']) : ?>
								<a href="/ppc/docs/download/id/<?php echo $serviceOrder['confirmation']['id'];?>/type/confirmation/" class="print-link-32 link" title="<?php echo $this->translate('Print confirmation'); ?>"></a>
							<?php else : ?>
								<span class="print-link-32-hidden"></span>
							<?php endif; ?>
						<?php endif; ?>
						<?php endif; ?>
					</td>
					<td class="pcc-base-table-action">
						<?php if ($serviceOrder['status'] == 2 && $serviceOrder['specParams']['canBeEdit'] == 1) : ?>
							<span class="edit-link-32 link" title="<?php echo $this->translate('Service edit'); ?>" onclick="servicesObj.serviceEditDialogShow('<?php echo $serviceOrder['id'].'\',\''.$serviceOrder['service_sys_name']; ?>');"></span>
						<?php else : ?>
							&nbsp;
						<?php endif; ?>
					</td>
					<td class="pcc-base-table-action">
						<?php if ($serviceOrder['status'] == 2 && $serviceOrder['specParams']['canBeCancel'] == 1) : ?>
							<span class="delete-link-32 link" title="<?php echo $this->translate('Service cancelation'); ?>" onclick="servicesObj.serviceCancelRequest('<?php echo $serviceOrder['id'].'\',\''.$serviceOrder['service_sys_name']; ?>');"></span>
						<?php else : ?>
							&nbsp;
						<?php endif; ?>
					</td>
				</tr>
			<?php endforeach; ?>
			</tbody>
		</table>
		<?php else : ?>
			<div class="no-records">
				<?php echo $this->translate('You have no orders'); ?>
			</div>
		<?php endif; ?>	
	</div>
</div>