<h2>Внимание! Регистрация на мероприятие завершена.</h2>
<p> 
	Регистрация на мероприятие "<?php echo $this->eventParams->eventNameLng; ?>" завершена. 
	Период проведения: <?php echo $this->eventParams['event_sdate']; ?> - <?php echo $this->eventParams['event_edate']; ?>.
</p>
<br />
<p>
	Если у Вас есть вопросы, пожалуйста, напишите нам: <a href="mailto:<?php echo $this->eventParams['coord_email'].'?subject='.$this->eventParams->eventNameLng; ?>"><?php echo $this->eventParams['coord_email']; ?></a>.
</p>
