<p class="pdn-first">
Я, в соответствии с требованиями ст.9 Федерального закона Российской Федерации от «27» июля 2006 г. № 152-ФЗ 
«О персональных данных», подтверждаю свое согласие на обработку ООО «Пакспорт Корпорейт» (далее - Компания) 
моих персональных данных в целях:
</p>
<ol>
<li>заключения и исполнения договора на оказание мне услуг Компанией;</li>
<li>
	проведения периодических маркетинговых исследований, а также информирования меня о новых видах услуг Компании, 
	об изменении условий сотрудничества, для обновления актуальности информации об услугах Компании, 
	для проведения анализа удовлетворенности Клиента, для направления адресных предложений услуг Компании;
</li>

<li>комплексного мониторинга деятельности Компании, мониторинга качества бизнес-процессов Компании;</li>
<li>
	бухгалтерского учета и контроля финансово-хозяйственной деятельности Компании и исполнения финансовых 
	обязательств по заключенным договорам;
</li>
<li>предоставления доступа к интернет-ресурсам Компании;</li>
<li>поддержания контакта Компанией со мной.</li>
</ol>
<p>
Предоставляю Компании право осуществлять все действия (операции) с моими персональными данными, включая сбор, 
систематизацию, накопление, хранение, обновление, изменение, использование, обезличивание, распространение, 
блокирование, уничтожение для достижения вышеперечисленных целей. Оператор вправе обрабатывать мои персональные 
данные посредством внесения их в электронную базу данных, включения в отчетные формы.
</p>
<p>
Я проинформирован и согласен, что в целях исполнения договора между мной и Компанией ПДн, переданные мной Компании, 
в случае необходимости могут быть переданы третьим лицам с целью их обработки в интересах формирования туристского 
продукта или оказания мне услуг, а также для достижения иных целей, определяющих предмет договора между мной 
и Компанией. Компания в соответствии с настоящим согласием имеет право в моих интересах обрабатывать мои ПДн методом 
смешанной (в том числе автоматизированной) обработки, систематизировать, хранить, распространять и передаваться с 
использованием сети общего пользования Интернет третьим лицам (авиа и железнодорожным перевозчикам, отелям, консульским 
учреждениям и т.п.), в том числе с использованием трансграничной передачи данных на территории иностранных государств, 
не обеспечивающих адекватной защиты прав субъектов персональных данных. До меня доведена информация о правах, которые 
установлены для меня, как субъекта персональных данных, Федеральным законом РФ № 152-ФЗ от 27.07.2006 года 
«О персональных данных».
</p>
<p>
Я оставляю за собой право отозвать свое согласие посредством составления письменного заявления, которое может быть направлено мной в адрес Компании по электронной почте.
</p>
<p>
В случае получения моего письменного заявления об отзыве настоящего согласия на обработку ПДн, Компания обязана 
прекратить их обработку и исключить персональные данные из базы данных, в том числе электронной.
</p>
<p>
Настоящим согласием я обязываю Компанию после окончания оказания мне услуг или достижения вышеперечисленных целей 
незамедлительно прекратить обработку моих ПДн. Компания должна уничтожить содержание моих ПДн в информационной системе 
и на материальных носителях в срок, не превышающий трех рабочих дней со дня достижения цели обработки моих ПДн. 
Я согласен, чтобы дополнительного уведомления об этих обстоятельствах мне не направлялись.
</p>