<p>
	Благодарим Вас за заполнение Электронной формы заказа! Вы незамедлительно получите сообщение по электронной почте со ссылкой на Ваш Личный Кабинет, а также Подтверждение о бронировании номера(ов) в гостинице.
</p>
<br />
<p>Подтверждение дополнительных услуг будет Вам направлено в течение 24 часов (за исключением выходных и праздничных дней).</p>
<br />
<p>
	Специалисты Пакспорт Корпорейт сделают все возможное, чтобы Вы остались довольны обслуживанием!
</p>