<div class="bottom-block-outer">
	<div class="bottom-block-inner">
		<ul class="bottom-list">
			<li style="padding:0 10px; border-right: 1px solid black">&copy; «<?php echo $this->translate('Paxport Corporate'); ?>» <?php echo date('Y'); ?> </li>
            <li style="padding:0 10px; border-right: 1px solid black">+7 (495) 374-63-94</li>
			<li style="padding:0 10px;"> e-mail: <a href="mailto:<?php echo Zend_Registry::get('settings')->system->admin->email1; ?>"><?php echo Zend_Registry::get('settings')->system->admin->email1; ?></a></li>
		</ul>
	</div>
</div>