<div class="top-block">
	<div class="top-block-textlogo<?php if ($this->settings->display_logo == 0) echo ' nologo'; ?>">
		<div class="main-text muriad">
			<?php echo $this->eventParams->eventNameLng; ?><br />
			<?php
			$datesText = $this->displayPeriod($this->eventParams['event_sdate'], $this->eventParams['event_edate']);
			?>
			(<span id="top-blok-text-dates"><?php echo $datesText; ?></span>)
		</div>
		<div class="cabinet-text muriad">
			<?php echo $this->translate('Participant Personal Cabinet'); ?>
		</div>
	</div>
	<div class="top-block-logo">
		<?php if ($this->settings->display_logo == 1) : ?>
		<a href="/ppc" title="<?php echo $this->translate('Participant Personal Cabinet'); ?>">
			<?php if ($this->lang == 'ru') : ?>
				<img src="/img/event_logo_ru.png" alt=" " />
			<?php else : ?>
				<img src="/img/event_logo.png" alt=" " />
			<?php endif; ?>
		</a>
		<?php endif; ?>
	</div>
	<div class="top-block-right">
		<div class="top-block-right-user"> 
			<div class="top-block-right-text">
				<?php echo $this->getAuthData('fio'); ?>
			</div>
			<div class="top-block-right-links">
				<a href="/ppc/user/profile/" title="<?php echo $this->translate('Profile'); ?>"><?php echo $this->translate('Profile'); ?></a>
				<span class="delimiter">|</span>
				<a href="/ppc/user/logout/" title="<?php echo $this->translate('Exit'); ?>"><?php echo $this->translate('Exit'); ?></a>
			</div>	
		</div>
		<div class="top-block-right-logo">
			<?php if($this->langSw) : ?>
				<div id="ppc-user-lang">
					<?php if ($this->lang == 'en') : ?>
						<a href="<?php echo $this->myBaseUrl(); ?>syslang/ru/">Русская версия</a>
					<?php else : ?>
						<a href="<?php echo $this->myBaseUrl(); ?>syslang/en/">English version</a>
					<?php endif; ?>
				</div>
			<?php endif; ?>
            <div>
                <img src="http://forms.paxport.tech/paxport_logo.png" width="126" height="22" style="padding: 8px;" alt="Paxport Corporate" />
            </div>
			<?php if ($this->lang != 'ru' ) : ?>
				<div class="top-block-right-logo-text">
					1 USD = <?php echo Welt_Functions::getCurrency('USD').' '.'RUR'; ?><br />
					1 EURO = <?php echo Welt_Functions::getCurrency('EURO').' '.'RUR'; ?>
				</div>	
			<?php endif;?>
		</div>
	</div>
</div>
